<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트 Farm</title>
        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_alarm {
                    display: none;
                }
            }
            @media screen and (min-width:1080px) {
                .mobile_alarm {
                    display: none;
                }
            }
        </style>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/cs.css">
        <link rel="stylesheet" href="/css/style02.css">
        <%-include('general/head') %>
        </head>

        <body>
            <div class="web_alarm">
                <%-include('general/header') %>
                </div>
                <div class="mobile_alarm">
                    <section class="detail_title">

                        <h2>알림설정</h2>
                        <script type="text/javascript">
                            function goBack() {
                                window
                                    .history
                                    .back();
                            }
                        </script>
                        <div class="btnback">
                            <a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="">
                            </a>
                        </div>
                    </section>
                </div>
                <main id="content" class="content">
                    <div class="alarm_web_title">
                        <h2>고객센터</h2>
                        <div class="contents">
                            <div class="w_sidemenu">
                                <ul>
                                    <a href="notice">
                                        <li class="menu">공지사항</li>
                                    </a>
                                    <a href="faq">
                                        <li class="menu">fAQ</li>
                                    </a>
                                    <a href="cs-center">
                                        <li class="menu">고객센터</li>
                                    </a>
                                    <a href="alarm">
                                        <li class="clicked_menu">알림설정</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="alarmBox">

                        <h3>알림 받기</h3>
                        <input type="checkbox" id="prod_detail_toggle">
                        <label for="prod_detail_toggle">
                            <span>아이콘</span></label>
                    </div>

                    <p class="alarmS">알림 거절 시 상품배송 및 문의 등의 정보성알림을 포함한 모든 알림을 받아보실 수 없습니다.</p>

                    <div class="alarmBox">
                        <h3>광고성 정보 수신 동의</h3>
                        <input type="checkbox" id="prod_detail_toggle">
                        <label for="prod_detail_toggle">
                            <span>아이콘</span></label>
                    </div>
                    <p class="alarmS">신규 서비스 및 고객 맞춤 혜택 정보를 받을 수 있습니다.</p>
                </main>
                <script type="text/javascript" src="/js/header.js"></script>
            </body>
        </html>