<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트팜:: 건강부터 쇼핑까지, 다이어트팜</title>

        <link rel="stylesheet" href="/css/myPage.css">

        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_benefits {
                    display: none;
                }
                .mobile_benefits{position: fixed;
                            min-width: 360px;
                            width: 100%;
                            height: 80px;
                            top: 0;
                            background-color: #fff;
                            z-index: 9999;
                            margin-bottom: 20px;}
                 .content{padding-top:90px}
            }
            @media screen and (min-width:1080px) {
                .mobile_benefits {
                    display: none;
                }
            #content{max-width:1080px;margin:0 auto;width:1080px}
            }
            .kakao_event img {
                width: 100%;
                height: auto;
            }
        </style>
        <%-include(webroot + 'views/general/head') %>
<%-include(webroot + 'views/general/openGraph.ejs') %>
        </head>

        <body>
            <div class="web_benefits">
                <%-include(webroot + 'views/general/header') %>
                </div>
                <!--//web_invite-->
                <div class="mobile_benefits">
                    <section class="detail_title">
                        <h2>이벤트</h2>
                        <script type="text/javascript">
                            function goBack() {
                                window
                                    .history
                                    .back();
                            }
                        </script>
                        <div class="btnback">
                            <a onclick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px"></a>
                        </div>
                    </section>
                </div>
                <main id="content" class="content" style="padding-left:15px;padding-right:15px">
                  <div class="benefits">
                    <a href="/membership">
                        <div class="event01">
                            <img src="/images/membership_icon_banner@2x.png">
                            <p>회원 혜택</p>
                        </div>
                    </a>
                    <a href="/n_member">
                        <div class="event02">
                            <img src="/images/new_icon_banner@2x.png">
                            <p>신규가입 혜택</p>
                        </div>
                    </a>
                    <a href="/f_invite">
                        <div class="event03">
                            <img src="/images/invite_icon_banner@2x.png">
                            <p>친구초대 이벤트</p>
                        </div>
                    </a>
                    <a href="/f_purchase">
                        <div class="event04">
                            <img src="/images/first_icon_banner@2x.png">
                            <p>첫 구매 이벤트</p>
                        </div>
                    </a>
                    <a href="/m_save">
                        <div class="event05">
                            <img src="/images/3_event_banner@2x.png">
                            <p>구매 적립금 이벤트</p>
                        </div>
                    </a>
                    <a href="/k_friend">
                        <div class="event06">
                            <img src="/images/kakao_icon_banner@2x.png">
                            <p>카카오채널 친구 추가 이벤트</p>
                        </div>
                    </a>
                    <a href="/b_event">
                        <div class="event07">
                            <img src="/images/birthday_icon_banner@2x.png">
                            <p>생일 축하 이벤트</p>
                        </div>
                    </a>
                    <a href="/r_event">
                        <div class="event08">
                            <img src="/images/review_icon_banner@2x.png">
                            <p>리뷰 적립 이벤트</p>
                        </div>
                    </a>
                  </div>
                </main>
                <%-include(webroot + 'views/general/footer') %>
                </body>
            </html>