<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/shoppingcart.css">
    <link rel="stylesheet" href="/css/style02.css" />
    <style type="text/css">
        @media screen and (min-width:360px)and (max-width:1079px) {.web_shoppingcart{display:none}}
        @media screen and (min-width:1080px){.mobile_shoppingcart{display:none} }
        </style>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
        <script src="/js/jquery.bpopup-0.1.1.min.js"></script>
        <!-- main.js -->
<script src="./js/common.js"></script>
    <%-include('general/head') %>
</head>
<body>
    <div class="web_shoppingcart">
    <%-include('general/header_web') %>
    </div>
   
    <section class="detail_title">
        <h2>장바구니</h2>
          <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px"> </a>
            </div>
       </section>
        <main id="content" class="content">
          <section id="shpcart_select">
           <div class="group" style="margin-top:13px">
            <input type="checkbox" id="secret">
            <label for="secret" class="secret">&nbsp;&nbsp;&nbsp;전체선택</label>
                        </div>
            <div class="shpcart_select_del_web">
                <button>선택삭제</button>
            </div>
        </section>
        <div class="line"></div>
        <div class="shop_null" style="display:none">
            <p>장바구니에 담긴 상품이 없습니다</p>
        </div>
     <div class="shop_active" style="">
        <section id="shplist">
            <!-- brand 1 -->
            <div class="brand_1">
                <h3>아임월</h3>
                <div class="shoplist_info">
                    <div class="shoplist_ctn">
                        <input type="radio" id="shoplist_part_selt">
                        <div class="shopcart_thum">
                        </div>
                        <p class="product_name">(아임월) 굿밸런스 라이트밀 도시락</p>
                        <a href="#"><img src="/images/x_icon_login.png" style="width:12px"></a>
                    </div>
                    <div class="shoplist_price_web">
                        <div class="shoplinst_count">
                            <p>라이트밀 도시락 5종</p>
                            <div class="number-input">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus" style="top:-10px"></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                            <div class="price_web">
                                60,720원
                            </div>
                            
                        </div>
                      </div>
                </div>
                <div class="p_price">
                    <p class="product_p">상품금액 </p>
                    <p>9,900원</p>
                </div>
                <div>
                  <table class="detail_price">
                                    <tr>
                                        <td><span>상품금액</span></td>
                                        <td class="price">9,900원</td>
                                    </tr>
                                      <tr>
                                        <td><span>배송비</span></td>
                                        <td class="price">4,000원</td>
                                    </tr>
                                      <tr>
                                        <td><span>주문금액</span></td>
                                        <td class="price">13,900원</td>
                                    </tr>
                  </table>
            </div>
            </div>
    
            <div class="line"></div>
            <!-- brand2 -->
            <div class="brand_1">
                <h3>바디나인</h3>
                <div class="shoplist_info">
                    <div class="shoplist_ctn">
                        <input type="radio" id="shoplist_part_selt">
                        <div class="shopcart_thum">
                            <!--<img src="./images/shopcart_thum.jpg" alt="쇼핑썸네일"> -->
                        </div>
                        <p class="product_name">(아임월) 굿밸런스 라이트밀 도시락</p>
                        <a href="#"><img src="/images/x_icon_login.png" style="width:12px"></a>
                    </div>
                    <div class="shoplist_price_web">
                        <div class="shoplinst_count">
                            <p>라이트밀 도시락 5종</p>
                            <div class="number-input">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus" style="top:-10px"></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                            <div class="price_web">
                                60,720원
                            </div>
                        </div>
                  
                    </div>
                </div>
             <div class="p_price">
                    <p class="product_p">상품금액 </p>
                    <p>9,900원</p>
                </div>
                <div>
                  <table class="detail_price">
                                    <tr>
                                        <td><span>상품금액</span></td>
                                        <td class="price">9,900원</td>
                                    </tr>
                                      <tr>
                                        <td><span>배송비</span></td>
                                        <td class="price">4,000원</td>
                                    </tr>
                                      <tr>
                                        <td><span>주문금액</span></td>
                                        <td class="price">13,900원</td>
                                    </tr>
                  </table>
            </div>
            </div>
    
            <div class="brand_1">
                <h3></h3>
                <div class="shoplist_info">
                    <div class="shoplist_ctn">
                        <input type="radio" id="shoplist_part_selt">
                        <div class="shopcart_thum">
                            <!--<img src="./images/shopcart_thum.jpg" alt="쇼핑썸네일"> -->
                        </div>
                        <p class="product_name">(아임월) 굿밸런스 라이트밀 도시락</p>
                        <a href="#"><img src="/images/x_icon_login.png" style="width:12px"></a>
                    </div>
                    <div class="shoplist_price_web">
                        <div class="shoplinst_count">
                            <p>라이트밀 도시락 5종</p>
                            <div class="number-input">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus" style="top:-10px"></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                            <div class="price_web">
                                60,720원
                            </div>
                        </div>
                     </div>
                </div>
             <div class="p_price">
                    <p class="product_p">상품금액 </p>
                    <p>9,900원</p>
                </div>
                <div>
                  <table class="detail_price">
                                    <tr>
                                        <td><span>상품금액</span></td>
                                        <td class="price">9,900원</td>
                                    </tr>
                                      <tr>
                                        <td><span>배송비</span></td>
                                        <td class="price">4,000원</td>
                                    </tr>
                                      <tr>
                                        <td><span>주문금액</span></td>
                                        <td class="price">13,900원</td>
                                    </tr>
                  </table>
            </div>
            </div>
    
            <div class="line"></div>
            <!-- brand 3-->
            <div class="brand_1">
                <h3>아임월</h3>
                <div class="shoplist_info">
                    <div class="shoplist_ctn">
                        <input type="radio" id="shoplist_part_selt">
                        <div class="shopcart_thum">
                            <!--<img src="./images/shopcart_thum.jpg" alt="쇼핑썸네일"> -->
                        </div>
                        <p class="product_name">(아임월) 굿밸런스 라이트밀 도시락</p>
                        <a href="#"><img src="/images/x_icon_login.png" style="width:12px"></a>
                    </div>
                    <div class="shoplist_price_web">
                        <div class="shoplinst_count">
                            <p>라이트밀 도시락 5종</p>
                            <div class="number-input">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus" style="top:-10px"></button>
                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                            <div class="price_web">
                                60,720원
                            </div>
                        </div>
                    </div>
                </div>
             <div class="p_price">
                    <p class="product_p">상품금액 </p>
                    <p>9,900원</p>
                </div>
                <div>
                  <table class="detail_price">
                                    <tr>
                                        <td><span>상품금액</span></td>
                                        <td class="price">9,900원</td>
                                    </tr>
                                      <tr>
                                        <td><span>배송비</span></td>
                                        <td class="price">4,000원</td>
                                    </tr>
                                      <tr>
                                        <td><span>주문금액</span></td>
                                        <td class="price">13,900원</td>
                                    </tr>
                  </table>
            </div>
            </div>
    
        </section>
    </div>
        <div class="line"></div>
    
        <section id="shoplist_t_price_web">
           <div class="shopBox01">
               <h3>배송지</h3>
               <p>서울 강남구 테헤란로 8길 11-4 202호</p>
               <p><span>박민지 &nbsp;&nbsp;&nbsp;010-3288-0568</span></p>
               <button type="button" class="shopBtn01" id="my-button">배송지 변경</button>
               <div id="element_to_pop_up">
               <a class="b-close"><img src="/images/x_icon_login.png"></a>
     
            <h2>배송지 관리</h2>
          <h3>배송지 변경</h3>
    
        <section class="delivery_manage_list">
           
    <input id="check" type="checkbox">
     
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                    <li class="type_second"><span class="tema">기본배송지</span></li>
                </ul>
                <ul class="edit_remove">
                    <li class="edit_first"><a>수정</a></li>
                    <li><img src="/images/l_icon_category@2x.png"></li>
                    <li class="edit_second"><a>삭제</a></li>
                </ul>
            </div>
            <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
            <p class="customer_info">박민지<img src="/images/l_icon_category@2x.png">010-3288-0568</p>
        </section>
    
        <div class="del_line_thick"></div>
        <section class="delivery_manage_list">
           <input id="check" type="checkbox">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                </ul>
                <ul class="edit_remove">
                    <li class="basic"><a>기본배송지로 설정</a><img src="/images/l_icon_category@2x.png"></li>
                    <li class="edit_first"><a>수정</a>
                        <img src="/images/l_icon_category@2x.png">
                    </li>
                    <li class="edit_second"><a>삭제</a></li>
                </ul>
            </div>
            <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
            <p class="customer_info">박민지<img src="/images/l_icon_category@2x.png">010-3288-0568</p>
        </section>
    
        <div class="del_line_thick"></div>
    
        <section class="delivery_manage_list">
            <input id="check" type="checkbox">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                </ul>
                <ul class="edit_remove">
                    <li class="basic"><a>기본배송지로 설정</a><img src="/images/l_icon_category@2x.png"></li>
                    <li class="edit_first"><a>수정</a></li>
                    <li><img src="/images/l_icon_category@2x.png"></li>
                    <li class="edit_second"><a>삭제</a></li>
                </ul>
            </div>
            <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
            <p class="customer_info">박민지<img src="/images/l_icon_category@2x.png">010-3288-0568</p>
        </section>
    
        <div class="del_line_thick"></div>
    
       <div class="btn_area">
            <button type="button" id="btnRegister">확인</button>
            </div>
            <!--//btnJoin-->
                </div>
           </div>
               <div class="shopBox02">
               <table class="final">
                   <tr>
                       <td class="t1">상품 금액</td>
                       <td class="price">223,600원</td>
                   </tr>
                    <tr>
                       <td class="t1">상품 할인 금액</td>
                       <td class="price">-76,400원</td>
                   </tr>
                    <tr>
                       <td class="t1">배송비</td>
                       <td class="price">+0원</td>
                   </tr>
                    <tr class="total">
                       <td class="t1">총 결제 금액</td>
                       <td class="price">147,200원</td>
                   </tr>
               </table>
           </div>
           <div class="total_mobile">
               <ul>
            <li class="t1">총 결제 금액</td>
            <li class="price">147,200원</td>
            </ul>
           </div>
        </section>
     
        <div class="btn_area_web">
        <button type="button" class="purchaseBtn" style="border:none">구매하기</button>
        </div>
        </main>
    <script>
        //웹 햄버거 버튼 
             $(document).ready(function(){
            $("#gnbAllMenu").hide();
            $("#btnGnbOpen").click(function(){
                $("#gnbAllMenu").slideToggle("fast");
            });
        });
    
           $(document).ready(function() {
                $(".m_slides_sub").hide();
                $(".m_ba_slides_n_w li").hover(function(){
                    $("ul:not(:animated)",this).slideDown("700");
    
                    $(".m_ba_slides_n_w li a").removeClass("active");
                },
                function() {
                    $("ul",this).slideUp("700");
                   });
    
                $("#memberMenu").bind("moseover mouseenter",function(){
                    $("#memMenu").show();
              });
               $("#memMenu").bind("moseout mouseleave",function(){
                    $("#memMenu").hide();
              });
    
                $("#NotmemberMenu").bind("moseover mouseenter",function(){
                    $("#NotmemMenu").show();
              });
               $("#NotmemMenu").bind("moseout mouseleave",function(){
                    $("#NotmemMenu").hide();
              });
            });
        </script>
         <script>
            //배송지 변경 모달창
            ;(function($) {
        $(function() {
            $('#my-button').bind('click', function(e) {
                e.preventDefault();
                $('#element_to_pop_up').bPopup({
                    modalColor:'gray'
                });
            });
            
            $('#my-button2').bind('click', function(e) {
                e.preventDefault();
                $('#element_to_pop_up').bPopup({
                   
                });
            });
            
         });
     })(jQuery);
       </script>
       <script>
        $(document).ready(function(){
    //최상단 체크박스 클릭
    $(".checkall").click(function(){
        //클릭되었으면
        if($(".checkall").prop("checked")){
            //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 true로 정의
            $("input[name=chk]").prop("checked",true);
            //클릭이 안되있으면
        }else{
            //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 false로 정의
            $("input[name=chk]").prop("checked",false);
        }
    })
})

       </script>
       
</body>
</html>