<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트팜:: 건강부터 쇼핑까지, 다이어트 토탈서비스</title>
    <link rel="stylesheet" href="/css/style_web.css">

    <%-include(webroot + 'views/general/head') %>
<%-include(webroot + 'views/general/openGraph.ejs') %>

        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_shoppingcart {
                    display: none;
                }
            }

            @media screen and (min-width:1080px) {
                .mobile_shoppingcart {
                    display: none;
                }

                #content {
                    max-width: 1080px;
                    margin: 0 auto;
                    width: 1080px
                }
            }

            /* i_modal style */
            @media screen and (max-width:1079px) {
                .i_modal .close {
                    color: #aaa;
                    font-size: 28px;
                }

                .modalTop_ctn {
                    align-items: center;
                    justify-content: space-between;
                }

                .modalTop_ctn span {
                    padding-right: 10px;
                }

                /* Modal Content/Box */
                .i_modal .modal-content {
                    background-color: #fefefe;
                    margin: 15% auto;
                    /* 15% from the top and centered */
                    height: 450px;
                    min-width: 360px;
                    width: 100%;

                }

                .modal-content h3 {
                    margin-left: 15px
                }

                .modalTop_ctn .order_delMag {
                    text-align: center;
                    font-size: 16px;
                }
            }
            @media screen and (min-width:1080px) {
                
            }
        </style>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
        <script src="/js/jquery.bpopup-0.1.1.min.js"></script>

</head>

<body>
    <div class="web_shoppingcart">
        <%-include(webroot + 'views/general/header') %>
    </div>

    <section class="detail_title">
        <h2>장바구니</h2>
        <div class="btnback">
            <a onclick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt=""
                    style="width:17px">
            </a>
        </div>
    </section>
    <main id="content" class="content">
        <section id="shpcart_select">
            <div class="group" style="margin-top:13px">
                <input type="checkbox" class="required" required="required" id="checkAll" v-model="checkAll"
                    v-on:change="onCheckAllChange()">
                <label for="checkAll"><span>전체선택</span></label>
            </div>
            <div class="shpcart_select_del_web">
                <button v-on:click="deleteSelectedItems" class="deleteSelectBtn">선택삭제</button>
            </div>
        </section>
        <div class="line"></div>
        <div class="shop_null" style="display:none">
            <p>장바구니에 담긴 상품이 없습니다</p>
        </div>
        <div class="shop_active">
            <section id="shplist">
                <!-- brand 1 -->
                <template v-for="(dGroup, i) in deliveryGroupList">

                    <div class="brand_1">
                        <h3 v-if="dGroup.brandName != ''">{{ dGroup.brandName }}</h3>
                        <h3 v-if="dGroup.brandName == ''">{{ dGroup.companyName }}</h3>

                        <template v-for="(product, j) in dGroup.products">
                            <div class="shoplist_info flow-column" v-for="(option, k) in product.options">
                                <div class="shoplist_ctn">
                                    <div>
                                        <input type="checkbox" class="required" required="required"
                                        v-bind:id="'option'+ i + '_' + j + '_' +  k" name="optionSelect"
                                        v-model="option.isSelected" v-on:change="updateOrderInfo(option)"
                                        v-bind:checked="option.isSelected">
                                    <label v-bind:for="'option'+ i + '_' + j + '_' +  k"><span></span></label>
                                    </div>
                                    <div class="flow-column">
                                        <div class="shopcart_info">
                                            <div class="shopcart_thum">
                                                <a v-bind:href="'/product/' + product.productCode"
                                                    style="position: relative"><img
                                                        v-bind:src="RESOURCE_SERVER + product.url"></a>
                                            </div>
                                            <div class="shopcart_product flow-column">
                                                <div class="flow-column">
                                                    <p class="product_name">{{ product.productName }}</p>
                                                    <p class="option_desc">{{ option.optionDesc }}</p>
                                                    <p class="price_web">{{ numberFormat(option.optionDiscountPrice) }}원
                                                    </p>
                                                    <span onclick="closeRegisterModal()" class="close"><img src="/images/x_icon_login.png"
                                                            @click="deleteItem(i, j, k)" style="width:12px"
                                                            class="delete_btn"></span>
                                                </div>
                                                <div class="shoplist_count">
                                                    <div class="number-input">
                                                        <button class="minus"
                                                            v-on:click="changeOptionCount(false, i, j, k)"
                                                            style="top:-7px">
                                                        </button>
                                                        <input class="quantity" min="0" name="quantity" value="1"
                                                            v-model="option.optionCount" type="number" readonly>
                                                        <button class="plus"
                                                            v-on:click="changeOptionCount(true, i, j, k)"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p_price">
                                            <p class="product_p">상품금액
                                            </p>
                                            <p>{{ numberFormat( option.optionDiscountPrice * option.optionCount ) }}원
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <div v-if="dGroup.groupPrice != 0 ">
                            <table class="detail_price">
                                <tr>
                                    <td>
                                        <span>상품금액</span>
                                    </td>
                                    <td class="price product-total-price">{{ numberFormat(dGroup.groupPrice) }}원</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>배송비</span>
                                    </td>
                                    <td class="price total-delivery-cost">{{ numberFormat(dGroup.totalDeliveryCost) }}원
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>주문금액</span>
                                    </td>
                                    <td class="price payment-total-amount">{{ numberFormat(dGroup.groupPrice +
                                        dGroup.totalDeliveryCost) }}원</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="line"></div>
                </template>
                <template v-if="deliveryGroupList.length == 0">
                    <p class="shoplist-null">
                        장바구니에 담긴 상품이 없습니다
                    </p>
                    <div class="line"></div>
                </template>
            </section>
        </div>

        <section id="shoplist_t_price_web">
            <delivery-info-modal v-if="deliveryInfoModal" v-bind:order-dto="orderDTO" v-on:delivery-selected="onDeliveryInfoSelected"></delivery-info-modal>
            <div class="shopBox01">
                <h3>배송지</h3>
                <template v-if="orderDTO.delivery != undefined">
                    <p>{{ orderDTO.delivery.address }}</p>
                    <p>
                        <span>{{ orderDTO.delivery.userName }} &nbsp;&nbsp;&nbsp; {{ orderDTO.delivery.userCellNo }}</span>
                    </p>                    
                </template>
                <button type="button" id="my-button" class="shopBtn01" onclick="openInfoModal()">배송지 변경</button>
                
            </div>
            <div class="shopBox02">
                <table class="final">
                    <tr>
                        <td class="t1">상품 금액</td>
                        <td class="price product-total-price">{{ numberFormat(orderDTO.paymentTotalAmount) }}원</td>
                    </tr>
                    <tr>
                        <td class="t1">상품 할인 금액</td>
                        <td class="price ">- 0원</td>
                    </tr>
                    <tr>
                        <td class="t1">배송비</td>
                        <td class="price total-delivery-cost">{{ numberFormat(orderDTO.totalDeliveryCost) }}원</td>
                    </tr>
                    <tr class="total">
                        <td class="t1">총 결제 금액</td>
                        <td class="price payment-total-amount">{{ numberFormat(orderDTO.paymentTotalAmount +
                            orderDTO.totalDeliveryCost) }}원</td>
                    </tr>
                </table>
            </div>
            <div class="total_mobile">
                <ul>
                    <li class="t1">총 결제 금액</td>
                    <li class="price payment-total-amount">{{ numberFormat(orderDTO.paymentTotalAmount +
                        orderDTO.totalDeliveryCost) }}원</td>
                </ul>
            </div>
        </section>

        <div class="btn_area_web">

            <button type="button" class="purchaseBtn" v-on:click="onSubmit()" style="border:none">구매하기</button>
        </div>
    </main>
    <script src="/js/components/deliveryInfoModalComponent.js"></script>
    <script src="/js/orderDTO/OrderDTO.js"></script>
    <script src="/js/orderDTO/DeliveryGroupDTO.js"></script>
    <script src="/js/lib/deliveryCostCounter.js"></script>
    <script src="/js/cart.js"></script>
    
</body>

</html>