<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트 Farm</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="/css/myPage.css">
        <link rel="stylesheet" href="/css/style_web.css">
        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_coupon {
                    display: none;
                }
                .mobile_coupon{position: fixed;
                            min-width: 360px;
                            width: 100%;
                            height: 80px;
                            top: 0;
                            background-color: #fff;
                            z-index: 9999;
                            margin-bottom: 20px;}
                 #content{padding-top:80px}
            }
            @media screen and (min-width:1080px) {
                .mobile_coupon{
                    display: none;
                }
            }
        </style>
        <%-include('general/head') %>
        </head>

        <body>
            <div class="mobile_coupon">
                <section class="detail_title">
                    <h2>쿠폰</h2>
                    <script type="text/javascript">
                        function goBack() {
                            window
                                .history
                                .back();
                        }
                    </script>
                    <div class="btnback">
                        <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px"></a>
                    </div>
                </section>
            </div>
                <%-include('general/header') %>
                <div class="main_contents_wrap">
                        <div class="main_contents mypage_myinfo">
                            <h3>마이팜</h3>
                            <div class="main_contents_elements_wrap">
                                <div class="mypage_member_info">
                                    <img src="/images/basket_ico.png" alt="바구니 아이콘">
                                    <h3>김수아님</h3>
                                    <p>내정보<span><i class="fas fa-chevron-right"></i></span></p>
                                </div>

                                <div class="mypage_point_info frame400">
                                    <h3>포인트<img src="/images/point.png" alt="포인트 아이콘"></h3>
                                    <p>000원<span><i class="fas fa-chevron-right"></i></span></p>
                                </div>

                                <div class="mypage_coupon_info frame400">
                                    <h3>쿠폰<img src="/images/coupon_ico.png" alt="쿠폰 아이콘"></h3>
                                    <p>0개<span><i class="fas fa-chevron-right"></i></span></p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="mypage_content_wrap forCouponPage">
                <nav class="content_lnb">
                    <ul>
                        <li>
                            <a href="/orderlist">주문내역</a>
                        </li>
                        <li style="white-space:nowrap">
                            <a href="/delivery-management">배송지 관리</a>
                        </li>
                        <li>
                            <a href="/p_review">상품 리뷰</a>
                        </li>
                        <li>
                            <a href="/p_inquiry">상품 문의</a>
                        </li>
                        <li>
                            <a href="/s_inquiry">판매자 문의</a>
                        </li>
                        <li>
                            <a href="/point">포인트</a>
                        </li>
                        <li class="on">
                            <a href="/coupon">쿠폰</a>
                        </li>
                    </ul>
                </nav>
                

    <main id="content" class="coupon">
        <div class="contents">
            <h2 class="web_coupon_tit">쿠폰</h2>
            <div class="coupon_web_top">
                <input type="text" placeholder="쿠폰 코드를 입력해주세요">
                <button type="button" class="coupon_enroll">쿠폰 등록</button>
            </div>
            <div class="coupon_table_top">
                <ul>
                    <li>날짜</li>
                    <li>내용</li>
                    <li>최소 사용금액</li>
                    <li>할인</li>
                    <li>상태</li>
                </ul>
            </div>
            <div class=coupon_list>
                <ul>
                    <template v-for="(coupon, index) in couponList">

                        <li class="y_coupon" v-on:click="applyCoupon(index)">

                            <div class="couponBox01">
                                <template v-if="coupon.amount != undefined">
                                    <h3>{{ numberFormat(coupon.amount) }}원 할인</h3>
                                </template>
                                <template v-if="coupon.rate != undefined">
                                    <h3>{{ numberFormat(coupon.rate) }}% 할인</h3>
                                </template>
                                <template v-if="coupon.couponType == 'D'">
                                    <h3>배송비 무료</h3>
                                </template>
                                <p class="sale"><span>{{ coupon.couponName }}</span></p>
                                <p class="condition">{{ numberFormat(coupon.conditionalAmount) }}원 이상 구매 시</p>
                                <p class="range">{{ formatDate(coupon.startDate)}} ~ {{formatDate(coupon.expireDate)}}</p>
                            </div>
                            <div class="couponBox02">
                                <a href="">
                                    <img src="/images/c_icon_coupon@2x.png">
                                    <p class="download">쿠폰 사용</p>
                                </a>
                            </div>
                        </li>
                    </template>
                    
                </ul>
            </div>
            <div class="couponBtn">
                <button type="button" id="modal_btn" class="cBtn">쿠폰 등록</button>
            </div>
            <div class="black_bg"></div>
            <div class="modal_wrap" id="modal_coupon">
                <div class="modal_close"><a href="#">close</a></div>
                <div>
                    <p class="coupon_modal_tit">쿠폰 등록</p>
                    <input type="text">
                    <button type="button" class="btn_enroll">등록</button>
                </div>
            </div>
        </div>
    </main>
</div>
    <script>
        window.onload = function() {
        
        function onClick() {
            document.querySelector('.modal_wrap').style.display ='block';
            document.querySelector('.black_bg').style.display ='block';
        }   
        function offClick() {
            document.querySelector('.modal_wrap').style.display ='none';
            document.querySelector('.black_bg').style.display ='none';
        }
        
        document.getElementById('modal_btn').addEventListener('click', onClick);
        document.querySelector('.modal_close').addEventListener('click', offClick);
        
    };
    </script>
    <script src="/js/mypage/coupon.js"></script>
    <%-include('general/footer') %>
        
    </body>
</html>