<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>배송조회</title>
        <link rel="stylesheet" href="/css/delivery.css">
        <!-- 폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
            rel="stylesheet">
    </head>

    <body>

        <section class="detail_title">
            <h2>배송지 관리</h2>
            <div class="btnback">
                <a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px">
                </a>
            </div>
        </section>

        <section class="delivery_manage_list">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                    <li class="type_second">
                        <span class="tema">기본배송지</span></li>
                </ul>
                <ul class="edit_remove">
                    <li class="edit_first">
                        <a>수정</a>
                    </li>
                    <li><img src="/images/l_icon_category.png"></li>
                    <li class="edit_second">
                        <a>삭제</a>
                    </li>
                </ul>
            </div>
            <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
            <p class="customer_info">박민지<img src="/images/l_icon_category.png">010-3288-0568</p>
        </section>

        <div class="del_line_thick"></div>

        <section class="delivery_manage_list">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                </ul>
                <ul class="edit_remove">
                    <li class="basic">
                        <a>기본배송지로 설정</a><img src="/images/l_icon_category.png"></li>
                    <li class="edit_first">
                        <a>수정</a>
                        <img src="/images/l_icon_category.png">
                    </li>
                    <li class="edit_second">
                        <a>삭제</a>
                    </li>
                </ul>
            </div>
            <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
            <p class="customer_info">박민지<img src="/images/l_icon_category.png">010-3288-0568</p>
        </section>

        <div class="del_line_thick"></div>

        <section class="delivery_manage_list">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                </ul>
                <ul class="edit_remove">
                    <li class="basic">
                        <a>기본배송지로 설정</a><img src="/images/l_icon_category.png"></li>
                    <li class="edit_first">
                        <a>수정</a>
                    </li>
                    <li><img src="/images/l_icon_category.png"></li>
                    <li class="edit_second">
                        <a>삭제</a>
                    </li>
                </ul>
            </div>
            <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
            <p class="customer_info">박민지<img src="/images/l_icon_category.png">010-3288-0568</p>
        </section>

        <div class="del_line_thick"></div>

        <section class="delivery_manage_list">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                </ul>
                <ul class="edit_remove">
                    <li class="basic">
                        <a>기본배송지로 설정</a><img src="/images/l_icon_category.png"></li>
                    <li class="edit_first">
                        <a>수정</a>
                        <img src="/images/l_icon_category.png">
                    </li>
                    <li class="edit_second">
                        <a>삭제</a>
                    </li>
                </ul>
            </div>

            <div class="btn_area">
                <button type="button" id="btnRegister">배송지 등록</button>
            </div>
            <!--//btnJoin-->
        </section>
    </body>
</html>