<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다이어트팜:: 엄선된 건강 식단 마켓</title>
    <link rel="stylesheet" href="css/dietfarm.css">
</head>
<body>
    <div id="warp">
        <div id="visual-page">
            <div id="background">
                <img src="images/first_landing_img.png">
            </div>
            <h1 id="logo"><img src="images/dietfarm_logo.png"></h1>
            <div class="visual-box">
                <div id="sns">
                    <a href="https://www.instagram.com/diet_farm/" target="_blank" rel="noopener noreferrer" class="button"><img src="images/landing_instagram_ico.png"><img src="images/landing_instagram_hover_ico.png" class="hover"></a>
                    <a href="https://www.facebook.com/dietfarm/" target="_blank" rel="noopener noreferrer" class="button"><img src="images/landing_facebook_ico.png"><img src="images/landing_facebook_hover_ico.png" class="hover"></a>
                    <a href="https://blog.naver.com/diet_farm/" target="_blank" rel="noopener noreferrer" class="button"><img src="images/landing_blog_ico.png"><img src="images/landing_blog_hover_ico.png" class="hover"></a>
                </div>
                <h2 class="title">내 몸을 위한<br>고품격 프리미엄<br>다이어트 건강식단</h2>
                <p class="sub-title">오직 다이어트팜에서만 파는 상품 만나보세요!</p>
                <div class="download-button-area">
                    <a href="https://play.google.com/store/apps/details?id=com.dietFarm" target="_blank" rel="noopener noreferrer" class="button"><img src="images/first_google_play_bt.png"><img src="images/first_google_play_hover_bt.png" class="hover"></a>
                    <a href="" target="_blank" rel="noopener noreferrer" class="button"><img src="images/first_app_store_bt.png"><img src="images/first_app_store_hover_bt.png" class="hover"></a>
                </div>
            </div>
            <div id="scroll">
                <img src="images/Scroll.png">
                <img src="images/scroll_arrow_ico.png">
            </div>
        </div>
        <div id="check-page">
            <h2 id="check"><img src="images/check_ico.png"></h2>
            <div id="event-slide">
                <div id="event-list">
                    <div class="item">
                        <h3 class="item-title">첫 구매 감사 이벤트</h3>
                        <div class="item-img"><img src="images/get_ico.png"></div>
                        <p class="item-text">10% 쿠폰! 3% 적립금!</p>
                    </div>
                    <div class="item">
                        <h3 class="item-title">친구 초대 이벤트</h3>
                        <div class="item-img"><img src="images/invitation_ico.png"></div>
                        <p class="item-text">친구 초대하고 나도 친구도<br>2000포인트!</p>
                    </div>
                    <div class="item">
                        <h3 class="item-title">고품질 상품</h3>
                        <div class="item-img"><img src="images/high_quality_ico.png"></div>
                        <p class="item-text">엄격한 기준으로 선정된 상품!</p>
                    </div>
                    <div class="item">
                        <h3 class="item-title">회원가입 이벤트</h3>
                        <div class="item-img"><img src="images/landing_join_ico.png"></div>
                        <p class="item-text">다이어트팜 회원가입시<br>5000원 쿠폰+ 무료배송</p>
                    </div>
                </div>
                <div class="slide-button">
                    <div class="btn page-1 active"></div>
                    <div class="btn page-2"></div>
                    <div class="btn page-3"></div>
                    <div class="btn page-4"></div>
                </div>
            </div>
        </div>
        <div id="download-page">
            <div id="banner-img">
                <img src="images/last_landing_img.png">
                <h2>신선한 식재료는 필수!<br>다이어트팜은 고객의 건강을 우선으로 생각합니다</h2>
            </div>
            <div class="banner-download">
                <p>지금 바로 다이어트팜에서 만나요</p>
                <div class="button-box">
                    <a href="https://play.google.com/store/apps/details?id=com.dietFarm" target="_blank" rel="noopener noreferrer" class="button"><img src="images/last_google_play_bt.png"><img src="images/last_google_play_hover_bt.png" class="hover"></a>
                    <a href="" target="_blank" rel="noopener noreferrer" class="button"><img src="images/last_app_store_bt.png"><img src="images/last_app_store_hover_bt.png" class="hover"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>