<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <link rel="stylesheet" href="/css/faq.css">
    <%-icnlude('general/head') %>

</head>

<body>

    <section class="detail_title">
        <h2>FAQ</h2>

        <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt=""> </a>
        </div>
    </section>

    <main id="content" class="content">
        <div class="faq">
            <div class="faqBox">
                <div class="Faq01">
                    <div class="innerbox">
                        <div class="faq_title">
                            <p><span>주문/결제</span></p>
                        </div>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="faqBox">
                <div class="Faq01">
                    <div class="innerbox">
                        <div class="faq_title">
                            <p><span>주문/결제</span></p>
                        </div>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="faqBox">
                <div class="Faq01">
                    <div class="innerbox">
                        <div class="faq_title">
                            <p><span>주문/결제</span></p>
                        </div>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="faqBox">
                <div class="Faq01">
                    <div class="innerbox">
                        <div class="faq_title">
                            <p><span>주문/결제</span></p>
                        </div>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!--//faq-->
    </main>
    <%-include('general/footer') %>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("tr.faq_q").click(function() {
                if ($(this).next('tr').css("display") != "none") {
                    $(this).next('tr').hide();
                    $(this).removeClass("current");
                } else {
                    $("tr.faq_a").css('display', 'none');
                    $("tr.faq_q").removeClass("current");
                    $(this).next('tr').show();
                    $(this).addClass("current");
                }
            });
        });
    </script>

</body></html>