<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <link rel="stylesheet" href="/css/faq.css">
    <%-icnlude('general/head') %>

</head>

<body>

    <section class="detail_title">
        <h2>FAQ</h2>

        <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt=""> </a>
        </div>
    </section>

    <main id="content" class="content">
        <div class="faq">
            <div class="faqBox">
                <div class="Faq01">
                    <div class="innerbox">
                        <div class="faq_title">
                            <p><span>주문/결제</span></p>
                        </div>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="faqBox">
                <div class="Faq01">
                    <div class="innerbox">
                        <div class="faq_title">
                            <p><span>주문/결제</span></p>
                        </div>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="faqBox">
                <div class="Faq01">
                    <div class="innerbox">
                        <div class="faq_title">
                            <p><span>주문/결제</span></p>
                        </div>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="faqBox">
                <div class="Faq01">
                    <div class="innerbox">
                        <div class="faq_title">
                            <p><span>주문/결제</span></p>
                        </div>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="faq_q">
                                    <td class="title">
                                        결제 실패 상태가 뭔가요?
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표">
                                    </td>
                                </tr>
                                <tr class="faq_a faq_a01">
                                    <td>
                                        <div class="faq_a_box">
                                            <p>안녕하세요&nbsp;</p>
                                            <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                            <p></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!--//faq-->
    </main>
    <!--//
<footer id="footer">
  <div class="footer_container">
      <div class="footer_links">
        <div class="footer_link--wrapper">
          <div class="footer_link--items1">
            
            <ul>
                <li style="font-size:12px;font-weight:bold;color:#6B6B6B;margin-bottom:15px">고객센터</li>
                <li><span>070-4366-3299</span></li>
                <li>월~금 10:00~17:00</li>
                <li>점심시간 12:00~13:00</li>
                <li>토,일,공휴일 휴무</li>
            </ul>
           </div>
        <div class="footer_link--wrapper">
          <div class="footer_link--items2">
          
           <ul>
               <li style="font-size:12px;font-weight:bold;color:#6B6B6B;margin-bottom:15px">공지사항</li>
               <li>&lt;포인트 정책&gt;</li>
               <li>&lt;고객센터 운영시간&gt;</li>
           </ul>
         </div>
         </div>
        </div>
        <div class="footer_link--wrapper">
          <div class="footer_link--items3">
          <ul>
             <li style="font-size:12px;font-weight:bold;color:#6B6B6B;margin-bottom:15px">계좌번호</li>
              <li><span>농협</span></li>
              <li style="margin-bottom:15px"><span>317-0021-9321-31</span></li>
              <li>예금주 (주)데이터플로</li>
          </ul>           
          </div>
           </div>
           <div class="footer_link--wrapper">
          <div class="footer_link--items4">
              <ul class="cs">
                  <li style="font-size:10px;color:#000 ;border:1px solid #878787;padding-bottom:8px;padding-left:34px;padding-right:36px;padding-top:4px;border-radius:5px;margin-bottom:4px"><img src="/images/talk_icon1_footer.png" style="margin-right:5px;position:relative;top:4px">채널톡 문의</li>
                  <li style="font-size:10px;color:#000 ;border:1px solid #424242;padding-bottom:8px;padding-left:34px;padding-right:36px;padding-top:4px;border-radius:5px"><img src="/images/talk_icon2_footer.png" style="margin-right:5px;position:relative;top:4px">판매자 문의(주문건)</li>
              </ul>
            </div>
         </div>
      </div>
      <section class="footer_bottom">
         <ul class="menu">
				<li><a href="">사업자정보확인</a></li>
				<li><a href="">이용약관</a></li>
				<li><a href="">개인정보처리방침</a></li>
			</ul>
			<ul class="addr">
				<li><span style="font-weight:bold;color:#000">(주)데이터플로</span> 대표 : 유승열</li>
				<li>사업자등록번호 : 509-81-05501</li>
				<li>통신판매업 신고번호 : </li>
				<li>건강기능식품 판매업 : 제 2021-0105159 호</li>
				<li>개인정보보호책임자 : 유승열</li>
				<li class="addr01">주소 : 서울시 강남구 테헤란로8길 11-4 신도빌딩, 2층 202호</li>
				<li>팩스 : 070-7500-7691</li>
				<li>이메일 : <span>dietfarm119@gmail.com</span></li>
				<li>입점문의 : <span>입점문의하기</span></li>
				<li>제휴문의 : <span>dietfarm119@gmail.com</span></li>				
		   </ul>
       </section>

   </div> 
</footer>  -->
    < type="text/javascript">
        jQuery(document).ready(function() {
            $("tr.faq_q").click(function() {
                if ($(this).next('tr').css("display") != "none") {
                    $(this).next('tr').hide();
                    $(this).removeClass("current");
                } else {
                    $("tr.faq_a").css('display', 'none');
                    $("tr.faq_q").removeClass("current");
                    $(this).next('tr').show();
                    $(this).addClass("current");
                }
            });
        });
    </>

</body></html>