<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트 Farm</title>
        <link rel="stylesheet" href="/css/signup.css">
        <%-include('general/head') %>
        </script>

    </head>
    <body>

        <section class="detail_title">
            <h2>아이디 찾기 완료</h2>
            <div class="btnback">
                <a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="">
                </a>
            </div>
        </section>

        <main id="content" class="content">
            <div class="idSearchComp">
                <ul class="words">
                    <h3>입력하신 정보와 일치하는 아이디입니다</h3>
                    <li>아이디 확인 후, 로그인 또는 비밀번호 찾기를 해주세요.</li>
                </ul>
                <ul class="id_info">
                    <li>
                        <span>dataflow</span></li>
                    <li>가입일 : 2021-02-09</li>
                </ul>
            </div>
            <div class="buttons">
                <button type="button" class="btnpwdSearch">비밀번호 찾기</button>
                <button type="button" class="btnSignup">회원가입</button>
            </div>

        </main>
        <%-include('general/footer') %>
        </body>
    </html>