<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />
    <title>다이어트 Farm</title>
    <%-include('general/head') %>
    <link rel="stylesheet" href="/css/style02.css">
</head>
<style type="text/css">
    nav a:nth-child(1) {
        color: #F99319;
    }

    .bx-wrapper {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .main_pager_wrapper {
        position: absolute;
        right: 10%;
        top: 6.6%;
        z-index: 777;
        width: 60px;
        height: auto;
        text-align: center;
        /* display: flex; */
        /*  
        justify-content: space-between;
        align-items: center; */
        background: #fff;
        border-radius: 20px;
        padding: 6px;
        font-size: 12px;
    }

    .main_pager_wrapper span {
        font-weight: 700;
    }

    .main_pager_wrapper>.mr10 {
        letter-spacing: 2px;
    }

    #mHeader .tab_wrap {
        width: 100%;
        padding-bottom: 40px;
        border-bottom: 2px solid #E6E6E6;
        background: #fff;
        z-index: 99;
    }

    #mHeader .tab_cont {
        display: none;
        min-height: 360px;
    }

    #mHeader .tab_cont.active {
        display: block;
        background: #fff;
        position: absolute;
        width: 100%;
    }
@media screen and (min-width:360px)and (max-width:1079px) {.web_index{display:none}}
@media screen and (min-width:1080px){.mobile_index{display:none}
.footer_inq_info{display:none} }
</style>

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style02.css">
<!-- font awesome -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<script>
    $(function() {
        $('ul.tab_wrap li').click(function() {
            var activeTab = $(this).attr('data-tab');
            $('.tab_wrap li').removeClass('active');
            $('.tab_cont').removeClass('active');
            $(this).addClass('active');
            $('#' + activeTab).addClass('active');
        })
    });
</script>
<body>
    <div class="web_index">
        <%-include('general/header_web') %>
     </div><!--//web_index-->
     
    <div class="mobile_index">
     <article class="skip_menu">
        <a href="#"><span>바로가기1</span></a>
        <a href="#"><span>바로가기2</span></a>
        <a href="#"><span>바로가기3</span></a>
    </article>
    <%-include('general/header') %>
    </div>
    <main id="content" class="content">
        <section class="main_img">
            <ul class="bxslider">
                <li><img src="images/dietfarmbread.jpg"></li>
                <li><img src="images/dietfarmbread.jpg"></li>
                <li><img src="images/dietfarmbread.jpg"></li>
                <li><img src="images/dietfarmbread.jpg"></li>
            </ul>
        </section>
        <!--//메인 이미지-->
        <script>
            $(document).ready(function() {
                $('.slider').bxSlider();
                $('.bxslider').bxSlider({
                    mode: 'horizontal',
                    auto: true,
                    pause: 4000,
                    controls: false,
                    easing: '',
                    pager: false,
                    touchEnabled: true,
                });
                $('.multiple_bxslider').bxSlider({
                    mode: 'horizontal',
                    auto: true,
                    slideWidth: 1080,
                    infiniteLoop: true,
                    controls: true,
                    pager: false,
                    minSlides: 3,
                    maxSlides: 3,
                    slideMargin: 7,
                    touchEnabled: true
                });
  
            });
        </script>
        <div class="catgor_wrap">
            <div class="category">
                <ul>
                    <li class="cate01"><a href="#"><span><img src="/images/chicken_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/meal_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/chicken_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/drink_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/drink_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/meal_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/meal_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/meal_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/meal_icon_category.png"></span></a>
                    </li>
                    <li><a href="#"><span><img src="/images/meal_icon_category.png"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--//catgor_wrap-->
        <!-- multiple slide -->
        <div class="sp_wrap">
            <section class="s_price">
                <h2>2월 특가</h2>
                <ul class="multiple_bxslider">
                    <li><a href="#"><img src="images/dietfarmbread.jpg">
                            <span class="title">제품이름</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="images/dietfarmbread.jpg">
                            <span class="title">제품이름맛있는 도시락한개</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="images/dietfarmbread.jpg">
                            <span class="title">제품이름맛있는 도시락한개</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="images/dietfarmbread.jpg">
                            <span class="title">제품이름맛있는 도시락한개</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="images/dietfarmbread.jpg">
                            <span class="title">제품이름맛있는 도시락한개</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="images/dietfarmbread.jpg">
                            <span class="title">제품이름</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="images/dietfarmbread.jpg">
                            <span class="title">제품이름</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="images/dietfarmbread.jpg">
                            <span class="title">제품이름</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                </ul>
            </section>
        </div>
        <!--//sp_wrap(2월 특가)-->
  
        <div class="blank_sec">
            <ul>
                <li><a href="#"><img src="images/blank1.jpg" style="width:520px;height:520px"></a></li>
                <li><a href="#"><img src="images/blank2.jpg" style="width:520px;height:520px"></a></li>
            </ul>
        </div>
        <div class="best_wrap">
            <section class="w_best">
                <h2>위클리 베스트</h2>
                <ul>
                    <li>
                        <a href="#">
                            <div class="thum">
                                <img src="/images/wheat_bread.jpg" alt="위클리 베스트1">
                                <!-- 찜하기 -->
                                <div class="ico_zzim">
                                    <div class="btn_zzim_sty">
                                        <a class="btn_zzim_check" href="#">
                                            <span class="blind"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
  
                            <div class="desc">
                                <p class="title">제품이름</p>
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="thum"><img src="/images/greek_yogurt.jpg" alt="위클리 베스트1">
                                <div class="ico_zzim">
                                    <div class="btn_zzim_sty">
                                        <a href="#">
                                            <span class="blind"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="title">제품이름</p>
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="thum"><img src="/images/spoon_salad.jpg" alt="위클리 베스트1">
                                <div class="ico_zzim">
                                    <div class="btn_zzim_sty">
                                        <a href="#">
                                            <span class="blind"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="title">제품이름</p>
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="thum"><img src="/images/wheat_bread.jpg" alt="위클리 베스트1">
                                <div class="ico_zzim">
                                    <div class="btn_zzim_sty">
                                        <a href="#">
                                            <span class="blind"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="title">제품이름</p>
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <!--//best_wrap-->
  
  
  
        <div class="m_best" id="web_only">
            <div class="m_bestn_w">
                <h2>위클리 베스트</h2>
                <div class="w_bestn_tit_w">
  
                </div>
                <!--//타이틀-->
                <!--카테고리 이미지 및 우측 리스트-->
                <ul>
                    <li class="m_bestn_mn_box">
                        <div class="m_bestn_mn_img"><a href="#"><img src="images/side.jpg"></a></div>
                    </li>
                    <li>
                        <!--리스트-->
                        <div class="m_bestn_list">
                            <ul class="m_bestn_nlst">
  
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!--//카테고리 이미지 및 우측 리스트-->
            </div>
        </div>
        <div class="m_best">
            <div class="m_bestn_w">
                <h2>단백질이 필요할 때!</h2>
                <div class="w_bestn_tit_w">
  
                </div>
                <!--//타이틀-->
                <!--카테고리 이미지 및 우측 리스트-->
                <ul>
                    <li class="m_bestn_mn_box">
                        <div class="m_bestn_mn_img"><a href="#"><img src="images/side2.jpg"></a></div>
                    </li>
                    <li>
                        <!--리스트-->
                        <div class="m_bestn_list">
                            <ul class="m_bestn_nlst">
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                            </ul>
                        </div>
                    </li>
                </ul>
                <!--//카테고리 이미지 및 우측 리스트-->
            </div>
        </div>
  
  
        <div class="banner">
            <img src="images/banner01.PNG">
        </div>
  
        <div class="m_best">
            <div class="m_bestn_w">
                <h2>당충전이 필요할 때!</h2>
                <div class="w_bestn_tit_w">
  
                </div>
                <!--//타이틀-->
                <!--카테고리 이미지 및 우측 리스트-->
                <ul>
                    <li class="m_bestn_mn_box">
                        <div class="m_bestn_mn_img"><a href="#"><img src="images/side3.jpg"></a></div>
                    </li>
                    <li>
                        <!--리스트-->
                        <div class="m_bestn_list">
                            <ul class="m_bestn_nlst">
  
                                <li class="tb_mw_wrap " \>
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!--//카테고리 이미지 및 우측 리스트-->
            </div>
        </div>
        <div class="m_best">
            <div class="m_bestn_w">
                <h2>수분이 필요할 때!</h2>
                <div class="w_bestn_tit_w">
  
                </div>
                <!--//타이틀-->
                <!--카테고리 이미지 및 우측 리스트-->
                <ul>
                    <li class="m_bestn_mn_box">
                        <div class="m_bestn_mn_img"><a href="#"><img src="images/side3.jpg"></a></div>
                    </li>
                    <li>
                        <!--리스트-->
                        <div class="m_bestn_list">
                            <ul class="m_bestn_nlst">
  
                                <li class="tb_mw_wrap " \>
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap ">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
  
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tb_mw_wrap">
                                    <a href="#" onclick="#">
                                        <div class="mbestn_zzim_img tb_mw">
  
                                            <p class="m_bestn_img tb_mw">
                                                <img src="images/dietfarmbread.jpg" class="tb_m">
                                            </p>
                                            <div class="desc">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <!--//카테고리 이미지 및 우측 리스트-->
            </div>
        </div>
    </main>

    <%-include('general/footer') %>

    <script src="/js/index.js"></script>
    <script>
        // 햄버거 메뉴
        $(document).ready(function() {

            $('.btnMenu>a').on('click', function() {
                $('.sideMenu').show().animate({
                    left: 0
                });
            });
            $('.slideMenu_close>a').on('click', function() {
                $('.sideMenu').animate({
                    left: -100 + '%'
                }, function() {
                    $('.sideMenu').hide();
                });
            });
        });


        // 햄버거 2단계 메뉴
        $(document).ready(function() {
            $("dt.faq_q").click(function() {
                if ($(this).next('dd').css("display") != "none") {
                    $(this).next('dd').hide();
                    $(this).removeClass("current");
                } else {
                    $("dd.faq_a").css('display', 'none');
                    $("dt.faq_q").removeClass("current");
                    $(this).next('dd').show();
                    $(this).addClass("current");
                }
            });
        });

         $(document).ready(function() {

            $('.btnMenu>a').on('click', function() {
                $('.gnb').hide();
            });
        });
        $('.slideMenu_close>a').on('click', function() {
            $('.gnb').show();
        });
    </script>
      <script>
     	$(document).ready(function(){
		$("#gnbAllMenu").hide();
		$("#btnGnbOpen").click(function(){
			$("#gnbAllMenu").slideToggle("fast");
		});
	});

	   $(document).ready(function() {
            $(".m_slides_sub").hide();
            $(".m_ba_slides_n_w li").hover(function(){
                $("ul:not(:animated)",this).slideDown("700");

                $(".m_ba_slides_n_w li a").removeClass("active");
            },
            function() {
                $("ul",this).slideUp("700");
               });

		    $("#memberMenu").bind("moseover mouseenter",function(){
				$("#memMenu").show();
		  });
		   $("#memMenu").bind("moseout mouseleave",function(){
				$("#memMenu").hide();
		  });

		    $("#NotmemberMenu").bind("moseover mouseenter",function(){
				$("#NotmemMenu").show();
		  });
		   $("#NotmemMenu").bind("moseout mouseleave",function(){
				$("#NotmemMenu").hide();
		  });
        });
    </script>
    
   
</body></html>