<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
         content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>
        <meta property="og:url" content="http://dietfarm.co.kr/">
        <meta property="og:title" content="다이어트팜:: 엄선된 건강 식단 마켓 ">

        <meta property="og:type" content="website">
        <meta property="og:image" content="http://13.209.123.102:8000/representative/076c22a7679141346852332fdc987558_1624262108770.png">
        <meta property="og:description" content="엄격한 기준에 따라 선정한 건강 다이어트 식단을 마음껏 골라보세요
        믿을 수 있는 맛과 면역력 향상에 좋은 상품들을 최대한 편리하고 저렴하게 소개해 드립니다.
        모든 상품은 신선도를 위해 냉장/상온 으로 분리 포장하여 배송하고 있습니다. 
        - 엄선한 프리미엄 /도시락,샐러드
        - 1인가구 및 건강 다이어트를위한 /간편식
        - 건강한 다이어트를위한 식품/닭가슴살
        - 가족의 면역력 향상을 고려한 /건강간식
        - 맛있고 건강한 식생활을 위한 음료/소스
        - 항상 가족이 안심하고 드실 수 있는 /신선식품
         다이어트관에 유용한 다양한 기능 및 월별, 주별, 일별 그래프 현황 을 제공합니다.
        - 체중관리 및 기록 
        - 물마시기 기록
        - 만보기 제공">
        <meta name="naver-site-verification" content="b264699251c1f4fc308e0f177d9fe27ac9704fd5" />
        <title>다이어트팜:: 엄선된 건강 식단 마켓</title>

        <%-include('general/head') %>

        <style type="text/css">
            nav a:nth-child(1) {color:#F99319}
            .bx-wrapper {-moz-box-shadow: none !important;-webkit-box-shadow: none !important;
            box-shadow: none !important} 

            .main_pager_wrapper {position: absolute;right: 10%;top: 6.6%;z-index: 777;width: 60px;
                height: auto;text-align: center;background: #fff;border-radius: 20px;padding: 6px;
                font-size: 12px}

            .main_pager_wrapper span {font-weight: 700}

            .main_pager_wrapper > .mr10 {letter-spacing: 2px}

            #mHeader .tab_wrap {width: 100%;padding-bottom: 20px;border-bottom: 2px solid #E6E6E6;
                background: #fff;z-index: 99}

            #mHeader .tab_cont {display: none;min-height: 360px}

            #mHeader .tab_cont.active {display: block;background: #fff;position: absolute;
                width: 100%}
            @media screen and (max-width:1079px) {
                .slider_item img {width: 100%;height: 450px;object-fit: cover}
                .swiper-slide img {display: block;width: 100%;height:400px}                
            }
            .showing {z-index: 9999;opacity: 1}
            @media screen and (min-width:1080px) {
                .water{margin-bottom:100px}
                .black_bg{
                display:block;
                position:absolute;
                width:100%;
                height:360px;
                ;
                top:0;
                left: 0;
                z-index: 1000;}
                .sp_wrap {margin-top: 65px}
                .swiper-slide img {display: block;width: 100%;height:360px;object-fit:cover;}
                .slider_main_wrap img {width: 1080px; height: 370px;z-index:100} 
            }

            /* swiper bundle */
            .swiper-container { width: 100%;height: 100%;z-index: 0;}
          
            .swiper-slide {text-align: center;font-size: 18px;                /* Center slide text vertically */
                display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
                -webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;
                justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;
                align-items: center
            }
            
            
            .swiper-pagination {width: 64px; height: 26px;border-radius: 13px;background: #fff;line-height: 26px; 
                left: 88%; bottom: 25px}
            .swiper-pagination {font-size: 16px; font-weight: 500; font-family: 'Noto Sans KR', sans-serif;}


        </style>
        <link rel="stylesheet" href="/css/myPage.css">
</head>
<body>
        <!--//로그인 모달영역시작-->
        <div class="popup_layer_wrapper">
            <!-- <div id="popup_layer"></div> -->
        </div>
          <!--//로그인 모달영역끝-->

            <%-include('general/header') %>
                <main id="content" class="content_main">
                    <div class="swiper-container mySwiper">
                    <!--//  <div class="black_bg"> </div>-->
                        <div class="swiper-wrapper main_slider">
                            <!-- <div class="swiper-slide"><a href=""><img src="/images/m_img1.jpg" alt="1/7"></a></div>
                             -->

                     </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!--//메인 이미지-->
                    <div class="catgor_wrap">
                        <div class="category">
                            <ul>
                                <!--
                                <li>
                                    <a href="">
                                        <span><img src="/images/salad_icon_category@2x.png"></span>
                                        <p>도시락/샐러드</p>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <div class="banner01">
                        <a href="/products/SALES_011/event"><img src="/images/low_price_banner@2x.png" style="width:100%;border-bottom:8px solid #F1F1F1"></a>
                    </div>
                    <!--//catgor_wrap-->

                    <!-- multiple slide -->

                    <h2 class="mtpSlideTit">오픈특가</h2>

                    <div class="responsive">
                        <!-- <div><a href=""><img src="/images/blank1.jpg" alt="상품 이미지1"></a>
                        <div class="desc">
                                            <p class="title">제품이름</p>
                                            <ul>
                                                <li class="sale">23,400원</li>
                                                <li class="cost">26,000원</li>
                                                <li class="ratio">10%</li>
                                            </ul>
                                        </div>
                        </div> -->
                    </div>
                    <h2 class="event_title">이벤트</h2>
                    <div class="blank_sec">
                        <ul>
                            <li>
                                <a href="/product/P00879"><img src="/images/banner01.PNG" style="width:300px; height:400px;">
                                    <p>자세히보기<img src="/images/arrow_ico_join.png" style="width:10px;height:20px;position:relative;top:3px;left:10px"></p>
                                </a>
                            </li>
                            <li>
                                <a href="/f_invite"><img src="/images/banner02.png" style="width:450px;height:400px">
                                    <p style="margin-left: 144px !important;">자세히보기<img src="/images/arrow_ico_join.png" style="width:10px;height:20px;position:relative;top:3px;left:10px"></p>
                                </a>
                            </li>
                            <li>
                                <a href="/product/P00744"><img src="/images/banner03.png" style="width:300px;height:400px">
                                    <p>자세히보기<img src="/images/arrow_ico_join.png" style="width:10px;height:20px;position:relative;top:3px;left:10px"></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="best_wrap">
                        <section class="w_best">
                            <h2>위클리 베스트</h2>
                            <ul>
                                <!-- <li>
                                    <a href="#">
                                      <div class="thum"><img src="/images/greek_yogurt.jpg" alt="위클리 베스트1">
                                         </div>
                                        <div class="like"></div>
                                        <div class="desc">
                                            <p class="title">제품이름</p>
                                            <ul>
                                                <li class="sale">23,400원</li>
                                                <li class="cost">26,000원</li>
                                                <li class="ratio">10%</li>
                                            </ul>
                                        </div>
                                    </a>
                                </li> -->

                            </ul>
                        </section>
                    </div>
                    <!--//best_wrap-->
                    <div class="body_bottom">
                        <div class="protein">
                            <div class="body_sub_tit">
                                <h3>단백질이 필요할 때!</h3>
                                <p class="etc">
                                    <a href="/products/SALES_004/event">더보기<img src="/images/rightarrow_icon_join.png"></a>
                                </p>
                            </div>
                            <ul>
                                <!-- <li>
                                    <a href="#">
                                        <div class="thum">
                                            <img src="/images/dietfarmbread.jpg" alt="">
                                        </div>
                                        <div class="like"></div>
                                        <div class="desc">
                                            <p class="title">제품이름</p>
                                            <ul>
                                                <li class="sale">23,400원</li>
                                                <li class="cost">26,000원</li>
                                                <li class="ratio">10%</li>
                                            </ul>
                                        </div>
                                    </a>
                                </li> -->

                            </ul>
                        </div>
                        <div class="sweet">
                            <div class="body_sub_tit">
                                <h3>당충전이 필요할 때!</h3>
                                <p class="etc">
                                    <a href="/products/SALES_005/event">더보기<img src="/images/rightarrow_icon_join.png"></a>
                                </p>
                            </div>

                            <ul>

                                <!-- <li>
                                    <a href="#">
                                        <div class="thum">
                                            <img src="/images/dietfarmbread.jpg" alt="">
                                        </div>
                                        <div class="like"></div>
                                        <div class="desc">
                                            <p class="title">제품이름</p>
                                            <ul>
                                                <li class="sale">23,400원</li>
                                                <li class="cost">26,000원</li>
                                                <li class="ratio">10%</li>
                                            </ul>
                                        </div>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                        <div class="long-banner">
                            <a href="/products/SALES_011/event"><img src="/images/low_price_banner.png"></a>
                        </div>
                <div class="water">
                    <div class="body_sub_tit">
                        <h3>수분이 필요할 때!</h3>
                        <p class="etc">
                            <a href="/products/SALES_006/event">더보기<img src="/images/rightarrow_icon_join.png"></a>
                        </p>
                    </div>
                    <ul>
                        <!-- <li>
                            <a href="#">
                                <div class="thum">
                                    <img src="/images/dietfarmbread.jpg" alt="">
                                </div>
                                <div class="like"></div>
                                <div class="desc">
                                        <p class="title">제품이름</p>
                                        <ul>
                                            <li class="sale">23,400원</li>
                                            <li class="cost">26,000원</li>
                                            <li class="ratio">10%</li>
                                        </ul>

                                    <div class="item-2">
                                        <img src="/images/m_img2.jpg" alt="">
                                    </div>
                                    <div class="item-3">
                                        <img src="/images/m_img3.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </section>
         </div>
        </main>

        <script src="/js/index.js"></script>
        <script src="/js/common.js"></script>
        <%-include('general/footer') %>




    </body>
</html>
