<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <style type="text/css">
        .bx-wrapper {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    </style>

    <%-include('general/head') %>
</head>

<body>
    <article class="skip_menu">
        <a href="#"><span>바로가기1</span></a>
        <a href="#"><span>바로가기2</span></a>
        <a href="#"><span>바로가기3</span></a>
    </article>
    <%-include('general/header')%>



    <main id="content" class="content">
        <section class="main_img">
            <ul class="bxslider">
            </ul>
        </section>
        <!--//메인 이미지-->
 <div class="catgor_wrap">
    <div class="category">
      <ul>
            <li class="cate01"><a href="#"><span><img src="/images/meal_icon_category.png" ></span></a>
            </li>
            <li><a href="#"><span><img src="/images/meal_icon_category.png" ></span></a>
            </li>
            <li><a href="#"><span><img src="/images/chicken_breast_icon_category.png"></span></a>
            </li>
            <li><a href="#"><span><img src="/images/drink_icon_category.png"></span></a>
            </li>
            <li><a href="#"><span><img src="/images/drink_icon_category.png" ></span></a>
            </li>
            <li><a href="#"><span><img src="/images/seafood_icon_category.png" ></span></a>
            </li>
      </ul>  
     </div>
    </div><!--//catgor_wrap-->
    
    <!-- multiple slide -->
   <div class="sp_wrap">
   <section class="s_price">
      <h2>2월 특가</h2>
      <ul class="multiple_bxslider">
        <li><a href="#"><img src="/images/greek_yogurt.jpg" style="width:100%"><span class="title">제품이름</span><br><span class="price">0원</span></a></li>
        <li><a href="#"><img src="/images/wheat_bread.jpg" style="width:100%"/><span class="title">제품이름</span><br><span class="price">0원</span></a></li>
        <li><a href="#"><img src="/images/spoon_salad.jpg" style="width:100%"/><span class="title">제품이름</span><br><span class="price">0원</span></a></li>
        <li><a href="#"><img src="/images/wheat_bread.jpg" style="width:100%"/><span class="title">제품이름</span><br><span class="price">0원</span></a></li>
        <li><a href="#"><img src="/images/greek_yogurt.jpg" style="width:100%"/><span class="title">제품이름</span><br><span class="price">0원</span></a></li>
        <li><a href="#"><img src="/images/spoon_salad.jpg" style="width:100%"/><span class="title">제품이름</span><br><span class="price">0원</span></a></li>
        <li><a href="#"><img src="/images/greek_yogurt.jpg" style="width:100%"/><span class="title">제품이름</span><br><span class="price">0원</span></a></li>
        <li><a href="#"><img src="/images/wheat_bread.jpg" style="width:100%"/><span class="title">제품이름</span><br><span class="price">0원</span></a></li>
      </ul>
   </section>
        </div>
   <div class="best_wrap">
    <section class="w_best">
        <h2>위클리 베스트</h2>
        <ul>
        <li>    
        <a href="#">
            <div class="thum"><img src="/images/wheat_bread.jpg" alt="">
            </div>
            <div class="desc">
                <p class="title">제품이름</p>
                <p class="price">0원</p>
            </div>
            </a>
        </li>
        <li>    
        <a href="#">
            <div class="thum"><img src="/images/greek_yogurt.jpg" alt="">
            </div>
            <div class="desc">
                <p class="title">제품이름</p>
                <p class="price">0원</p>
            </div>
            </a>
       </li>
       <li>    
        <a href="#">
            <div class="thum"><img src="/images/spoon_salad.jpg" alt="">
            </div>
            <div class="desc">
                <p class="title">제품이름</p>
                <p class="price">0원</p>
            </div>
            </a>
       </li>
       <li>    
        <a href="#">
            <div class="thum"><img src="/images/wheat_bread.jpg" alt="">
            </div>
            <div class="desc">
                <p class="title">제품이름</p>
                <p class="price">0원</p>
            </div>
            </a>
       </li>
        </ul>
    </section>
    </div><!--//best_wrap-->
    
    <div class="p_wrap">
    <section class="protein">
        <h2>단백질이 필요할 때!
        <button class="btn"><a href="#">더보기 ></a></button></h2>
        <ul>

        </ul>
    </section>
    </div>
    <div class="s_wrap">
        <section class="sweets">
            <h2>당충전이 필요할 때!</h2>
            <ul>

            </ul>
        </section>
    </div>
    
    <div class="w_wrap">
        <section class="water">
            <h2>수분이 필요할 때!</h2>
            <ul>
            </ul>
        </section>
    </div>
    
 </main>   <!--//컨텐츠-->
 
    <%- include('general/footer') %>
   <script>
        // 햄버거 메뉴
        $(document).ready(function () {

            $('.btnMenu>a').on('click', function () {
                $('.sideMenu').show().animate({
                    left: 0
                });
            });
            $('.slideMenu_close>a').on('click', function () {
                $('.sideMenu').animate({
                    left: -100 + '%'
                }, function () {
                    $('.sideMenu').hide();
                });
            });
        });

        
        // 햄버거 2단계 메뉴
       $(document).ready(function(){
           $("dt.faq_q").click(function() {
               if($(this).next('dd').css("display") != "none") {
                   $(this).next('dd').hide();
                   $(this).removeClass("current");
               } else {
                   $("dd.faq_a").css('display','none');
                   $("dt.faq_q").removeClass("current");
                   $(this).next('dd').show();
                   $(this).addClass("current");
               }
           });
       });

       $(document).ready(function(){

           $('.btnMenu>a').on('click', function(){
               $('.gnb').hide();
           });
       });
       $('.slideMenu_close>a').on('click',function(){
           $('.gnb').show();
       });
    </script>
    <script src="/js/index.js"></script>
</body>
</html>