<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, address=no, email=no"/>
    <meta name="format-detection" content="no"/>
    <meta name="description" content="페이지 설명">

    <title>다이어트팜:: 건강부터 쇼핑까지, 다이어트팜</title>

    <%-include(webroot + 'views/general/head') %>
    <%-include(webroot + 'views/general/openGraph.ejs') %>
    <style type="text/css">
        nav a:nth-child(1) {color:#F99319}
        .bx-wrapper {-moz-box-shadow: none !important; -webkit-box-shadow: none !important;
        box-shadow: none !important} 
        .main_pager_wrapper {position: absolute;right: 10%;top: 6.6%;z-index: 777;width: 60px;
            height: auto;text-align: center;background: #fff;border-radius: 20px;padding: 6px;
            font-size: 12px}
        .main_pager_wrapper span {font-weight: 700}
        .main_pager_wrapper > .mr10 {letter-spacing: 2px}
        #mHeader .tab_wrap {width: 100%;padding-bottom: 20px;border-bottom: 2px solid #E6E6E6;
            background: #fff;z-index: 99}
        #mHeader .tab_cont {display: none;min-height: 360px}
        #mHeader .tab_cont.active {display: block;background: #fff;position: absolute;
            width: 100%}
            
        .swiper-container { width: 100%;height: 100%; min-height: 400px; z-index: 0;}
        @media screen and (max-width:1079px) {
            #popup-cookie2{

            width: 300px;
            background-color:#f1f1f1;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-size: 14px;
            overflow-x: hidden;
            border-radius: 5px;
            overflow-y: hidden;
        }
            #popup-cookie2 img{
                width:300px
            }
            .swiper-container{
                margin-top: 150px;
            }
            .slider_item img {width: 100%;height: 450px;object-fit: cover}
            .swiper-slide img {display: block;width: 100%;height:400px}                
        }
        .showing {z-index: 9999;opacity: 1}
        @media screen and (min-width:1080px) {
            #popup-cookie2 img{
                width:800px
            }
            .popUp{display:none}
            .swiper-container{
                margin-top:-2px;
                min-height: 363px;
            }
            .water{margin-bottom:100px}
            .black_bg{
            display:block;
            position:absolute;
            width:100%;
            height:360px;
            top:0;
            left: 0;
            z-index: 1000;}
            .sp_wrap {margin-top: 65px}
            .swiper-slide img {display: block;width: 100%;height:360px;object-fit:cover;}
            .slider_main_wrap img {width: 1080px; height: 370px;z-index:100} 
            #popup-cookie2{
                width: 800px;
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                font-size: 14px;
                overflow-x: hidden;
                border-radius: 5px;
                overflow-y: hidden;

            }
        }
        /* swiper bundle */
        
        .swiper-slide {text-align: center;font-size: 18px;                /* Center slide text vertically */
            display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;
            -webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;
            justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;
            align-items: center
        }
  
        #popup2{
            position: fixed;
            top:0; left: 0; bottom: 0; right: 0;
            background: rgba(0, 0, 0, 0.7);
            z-index:99999
        }
        .clfix{display:flex;justify-content: space-around;margin-top:-10px}
        .clfix a:first-child{width:50%;height:45px;background-color:#F1F1F1;text-align: center;padding-top:14px;color:#4E4E4E}
        .clfix a:last-child{width:50%;height:45px;background-color:#fff;text-align: center;padding-top:14px;color:#4E4E4E}
        .swiper-pagination {width: 64px; height: 26px;border-radius: 13px;background: #fff;line-height: 26px; 
        left: 74%; bottom: 25px}
        .swiper-pagination {font-size: 16px; font-weight: 500; font-family: 'Noto Sans KR', sans-serif;}
      </style>
      <link rel="stylesheet" href="/css/myPage.css">
      <script type="text/javascript">
    
     
     </script>
  

</head>
<body>
   
        <!-- <button type="button" id="appleid-signin" data-color="black" data-border="true" data-type="sign in" class="btnApple"><img src="">애플 계정으로 시작하기</button> -->
        <main id="content" class="content_main">
                <%-include(webroot + 'views/general/header') %>
                    <div class="swiper-container mySwiper">
                    <!--//  <div class="black_bg"> </div>-->
                        <div class="swiper-wrapper main_slider">
                            <!-- <div class="swiper-slide"><a href=""><img src="/images/m_img1.jpg" alt="1/7"></a></div>
                             -->

                     </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <!--//메인 이미지-->
                    <div class="catgor_wrap">
                        <div class="category">
                            <ul>
                                <!--
                                <li>
                                    <a href="">
                                        <span><img src="/images/salad_icon_category@2x.png"></span>
                                        <p>도시락/샐러드</p>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="banner01">
                        <a href="/products/SALES_011/event"><img src="/images/low_price_banner@2x.png" style="width:100%;border-bottom:8px solid #F1F1F1"></a>
                    </div> -->
                </div>
                <div class="timedeal-list">
     
                    <timedeal-product v-for="(timedeal, index) in timedealProductList" v-bind:product="timedeal"></timedeal-product>
                </div>
                    <!-- multiple slide -->

                    <h2 class="mtpSlideTit">오픈 특가</h2>

                    <div class="open-sale">

                    </div>
                    <h2 class="event_title">이벤트</h2>
                    <div class="blank_sec">
                        <ul>
                            <li>
                                <a href="/product/P00879"><img src="/images/doctor_img_event@2x.png" style="width:300px; height:400px;"></a>
                            </li>
                            <li>
                                <a href="/f_invite"><img src="/images/friend_img_event@2x.png" style="width:450px;height:400px"></a>
                            </li>
                            <li>
                                <a href="/product/P00982"><img src="/images/rara_img_event@2x.png" style="width:300px;height:400px"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="best_wrap">
                        <section class="w_best">
                            <h2>위클리 베스트</h2>
                            <ul>
                                <!-- <li>
                                    <a href="#">
                                      <div class="thum"><img src="/images/greek_yogurt.jpg" alt="위클리 베스트1">
                                         </div>
                                        <div class="like"></div>
                                        <div class="desc">
                                            <p class="title">제품이름</p>
                                            <ul>
                                                <li class="sale">23,400원</li>
                                                <li class="cost">26,000원</li>
                                                <li class="ratio">10%</li>
                                            </ul>
                                        </div>
                                    </a>
                                </li> -->

                            </ul>
                        </section>
                    </div>
                    <!--//best_wrap-->
                    <div class="body_bottom">
                        <div class="protein">
                            <div class="body_sub_tit">
                                <h3>단백질이 필요할 때!</h3>
                                <p class="etc">
                                    <a href="/products/SALES_004/event">더보기<img src="/images/rightarrow_icon_join.png"></a>
                                </p>
                            </div>
                            <ul>
                                <!-- <li>
                                    <a href="#">
                                        <div class="thum">
                                            <img src="/images/dietfarmbread.jpg" alt="">
                                        </div>
                                        <div class="like"></div>
                                        <div class="desc">
                                            <p class="title">제품이름</p>
                                            <ul>
                                                <li class="sale">23,400원</li>
                                                <li class="cost">26,000원</li>
                                                <li class="ratio">10%</li>
                                            </ul>
                                        </div>
                                    </a>
                                </li> -->

                            </ul>
                        </div>
                        <div class="sweet">
                            <div class="body_sub_tit">
                                <h3>당충전이 필요할 때!</h3>
                                <p class="etc">
                                    <a href="/products/SALES_005/event">더보기<img src="/images/rightarrow_icon_join.png"></a>
                                </p>
                            </div>

                            <ul>

                                <!-- <li>
                                    <a href="#">
                                        <div class="thum">
                                            <img src="/images/dietfarmbread.jpg" alt="">
                                        </div>
                                        <div class="like"></div>
                                        <div class="desc">
                                            <p class="title">제품이름</p>
                                            <ul>
                                                <li class="sale">23,400원</li>
                                                <li class="cost">26,000원</li>
                                                <li class="ratio">10%</li>
                                            </ul>
                                        </div>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                        <div class="long-banner">
                            <a href="/products/SALES_011/event"><img src="/images/low_price_banner.png"></a>
                        </div>
                <div class="water">
                    <div class="body_sub_tit">
                        <h3>수분이 필요할 때!</h3>
                        <p class="etc">
                            <a href="/products/SALES_006/event">더보기<img src="/images/rightarrow_icon_join.png"></a>
                        </p>
                    </div>
                    <ul>
                        <!-- <li>
                            <a href="#">
                                <div class="thum">
                                    <img src="/images/dietfarmbread.jpg" alt="">
                                </div>
                                <div class="like"></div>
                                <div class="desc">
                                        <p class="title">제품이름</p>
                                        <ul>
                                            <li class="sale">23,400원</li>
                                            <li class="cost">26,000원</li>
                                            <li class="ratio">10%</li>
                                        </ul>
                                    <div class="item-2">
                                        <img src="/images/m_img2.jpg" alt="">
                                    </div>
                                    <div class="item-3">
                                        <img src="/images/m_img3.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </li> -->
                    </ul>
                </div>
               </section>
            </div>
          </div>
          <%-include(webroot + 'views/general/footer') %>
        
         
          <!--//<div class="popUp">
         <div class="popup_layer_wrapper" id="popup-cookie">
          <div class="popup_box">
            <div class="popup_cont">
                <div class="index-modal">
                    <div class="sale_coupon"><img src="/images/app_deit_farm_logo@2x.png" style="width:72px;height:72px">
                    <p>장보기를 <br>더 쉽고 빠르게 <br>경험하세요!</p>
                    </div>
                    <a href="https://dietfarm.page.link/pzok">
                        <p class="app02">다이어트팜 앱으로 보기 ></p>
                    </a>
                    <p><span><a href="javascript:;" onclick="todaycloseWin();">모바일웹으로 볼게요.</a></span></p>
                </div>
            </div>
            </div>
            </div>
       
            </div>
       
         <div class="popUp">
            <install-modal v-if="installModal"> </install-modal>
         </div>
      -->
        </main>
    
        <script src="/js/components/timedealComponent.js"></script>
        <script src="/js/index.js"></script>

    </body>
</html>