<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />
    <title>다이어트 Farm</title>
    <%-include('general/head') %>

<style type="text/css">
    nav a:nth-child(1) {
        color: #F99319;
    }

    .bx-wrapper {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .main_pager_wrapper {
        position: absolute;
        right: 10%;
        top: 6.6%;
        z-index: 777;
        width: 60px;
        height: auto;
        text-align: center;
        /* display: flex; */
        /*  
        justify-content: space-between;
        align-items: center; */
        background: #fff;
        border-radius: 20px;
        padding: 6px;
        font-size: 12px;
    }

    .main_pager_wrapper span {
        font-weight: 700;
    }

    .main_pager_wrapper>.mr10 {
        letter-spacing: 2px;
    }

    #mHeader .tab_wrap {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 2px solid #E6E6E6;
        background: #fff;
        z-index: 99
    }

    #mHeader .tab_cont {
        display: none;
        min-height: 360px;
    }

    #mHeader .tab_cont.active {
        display: block;
        background: #fff;
        position: absolute;
        width: 100%;
    }
    @media screen and (max-width:1079px){
   .slider_item img{width:100%;height:450px;object-fit:cover;}
    }
    .showing{z-index:9999;opacity:1}
    .catgor_wrap{padding-top:450px}
    @media screen and (min-width:1080px){
    .sp_wrap{padding-top:65px}

    /* 웹 메인 슬라이더  */

    #slider_main {position: relative; width: 100%; margin: 0 auto; overflow: hidden;} 
    .slider_main_wrap {
        position: relative;
        width: 1080px; height: 370px;
        background: #ccc;
        z-index: 0;
    }
    .main_slide_pager {
        position: absolute;
        right: 25px; bottom: 25px;
        width: 64px; height: 26px; 
        background: #fff; 
        border-radius: 13px; 
        text-align: center; 
        font-size: 16px; font-weight: 500; font-family: 'Noto Sans KR', sans-serif;
        letter-spacing: 3px;
        line-height: 26px; 
    }
    .slider_main_wrap div {
        position: absolute;
        top: 0; left: 0;
        display: none;
    }
    .slider_main_wrap img {width: 1080px; height: 370px;}
    }
    </style>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/style02.css">
</head>
<body>
    <%-include('general/header') %>
    <main id="content" class="content_main">
        <div id="slider_main">
            <div class="slider_main_wrap" val="1" mx="4">
                <div class="slider_item1"><img src="/images/dietfarmbread.jpg" alt="슬라이더1"></div>
                <div class="slider_item2"><img src="/images/blank1.jpg" alt="슬라이더1"></div>
                <div class="slider_item3"><img src="/images/blank2.jpg" alt="슬라이더1"></div>
                <div class="slider_item4"><img src="/images/dietfarmbread.jpg" alt="슬라이더1"></div>
            </div>
            <div class="main_slide_pager">1/7</div>
        </div>
        <!--//메인 이미지-->
        <div class="catgor_wrap">
            <div class="category">
                <ul>
                    <li><a href="#"><span><img src="/images/salad_icon_category@2x.png"></span><p>도시락/샐러드</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/meal_icon_category@2x.png"></span><p>간편식</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/chicken_icon_category@2x.png"></span><p>닭가슴살</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/snack_icon_category@2x.png"></span><p>건강간식</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/drink_icon_category@2x.png"></span><p>음료/소스</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/fruit_icon_category@2x.png"></span><p>신선식품</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/vegan_icon_category@2x.png"></span><p>비건</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/baby_icon_category@2x.png"></span><p>베이비/키즈</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/pet_icon_category@2x.png"></span><p>나의반려</p></a>
                    </li>
                    <li><a href="#"><span><img src="/images/all_icon_category@2x.png"></span><p>전체보기</p></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--//catgor_wrap-->
        <!-- multiple slide -->
        <div class="sp_wrap">
            <section class="s_price">
                <h2>오픈 특가</h2>
                <ul class="multiple_bxslider">
                    <li><a href="#"><img src="/images/dietfarmbread.jpg" style="width:100%">
                            <span class="title">제품이름</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="/images/dietfarmbread.jpg">
                            <span class="title">제품이름맛있는 도시락한개</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="/images/dietfarmbread.jpg">
                            <span class="title">제품이름맛있는 도시락한개</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="/images/dietfarmbread.jpg">
                            <span class="title">제품이름맛있는 도시락한개</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="/images/dietfarmbread.jpg">
                            <span class="title">제품이름맛있는 도시락한개</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="/images/dietfarmbread.jpg">
                            <span class="title">제품이름</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="/images/dietfarmbread.jpg">
                            <span class="title">제품이름</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                    <li><a href="#"><img src="/images/dietfarmbread.jpg">
                            <span class="title">제품이름</span><br><span class="price">
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </span></a></li>
                </ul>
            </section>
        </div>
        <!--//sp_wrap(2월 특가)-->
  
        <div class="blank_sec">
            <ul>
                <li><a href="#"><img src="/images/blank1.jpg" style="width:520px;height:520px"></a></li>
                <li><a href="#"><img src="/images/blank2.jpg" style="width:520px;height:520px"></a></li>
            </ul>
        </div>
        <div class="best_wrap">
            <section class="w_best">
                <h2>위클리 베스트</h2>
                <div class="side">
                    <img src="/images/side.jpg">
                </div>
                <ul>
                     <li>
                        <a href="#">
                            <div class="thum"><img src="/images/greek_yogurt.jpg" alt="위클리 베스트1">
                                <div class="ico_zzim">
                                    <div class="btn_zzim_sty">
                                        <a href="#">
                                            <span class="blind"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="title">제품이름</p>
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    
                </ul>
            </section>
        </div>
        <!--//best_wrap-->
        <div class="body_bottom">
            <div class="protein">
               <div class="body_sub_tit">
                <h3>단백질이 필요할 때!</h3>
                <p><a href="">더보기<img src="/images/rightarrow_icon_join.png"></a></p>
               </div>
                <div class="side">
                    <img src="images/side.jpg">
                </div>
                <ul>
                    <li>    
                        <a href="#">
                            <div class="thum">
                                <img src="/images/dietfarmbread.jpg" alt="">
                            </div>
                            <div class="desc">
                                <p class="title">제품이름</p>
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div class="sweet">
                <div class="body_sub_tit">
                <h3>당충전이 필요할 때!</h3>
                <p><a href="">더보기<img src="/images/rightarrow_icon_join.png"></a></p>
                </div>
                <div class="side">
                    <img src="images/side3.jpg">
                </div>
                <ul>
                    <li>    
                        <a href="#">
                            <div class="thum">
                                <img src="/images/dietfarmbread.jpg" alt="">
                            </div>
                            <div class="desc">
                                <p class="title">제품이름</p>
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </div>
                        </a>
                    </li>   
                </ul>
            </div>
            <div class="water">
                <div class="body_sub_tit">
                <h3>수분이 필요할 때!</h3>
                <p><a href="">더보기<img src="/images/rightarrow_icon_join.png"></a></p>
                </div>
                <div class="side">
                    <img src="images/side3.jpg">
                </div>
                <ul>
                    <li>    
                        <a href="#">
                            <div class="thum">
                                <img src="/images/dietfarmbread.jpg" alt="">
                            </div>
                            <div class="desc">
                                <p class="title">제품이름</p>
                                <ul>
                                    <li class="sale">23,400원</li>
                                    <li class="cost">26,000원</li>
                                    <li class="ratio">10%</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                        
                </ul>
            </div>
        </div>
     
    </main>
    <%-include('general/footer') %>
    <script type="text/javascript">
        imgslide(); //페이지가 로딩될 때 함수 실행
        function imgslide(){
            $val = $(".slider_main_wrap").attr("val"); // 현재 이미지 번호 가져오기
            $mx = $(".slider_main_wrap").attr("mx"); //총 이미지 개수 가져오기
            $(".slider_item"+$val).hide(); //현재 이미지를 사라지게 하기
            if( $val == $mx ){ $val = 1; } //현재이미지가 마지막 번호라면 1번으로 되돌립니다.
            else{ $val++; } //마지막 번호가 아니라면 카운트를 증가시켜줍니다
            $(".slider_item"+$val).fadeIn(500); //변경된 번호의 이미지영역을 나타나게 합니다.괄호 안에 숫자는 페이드인 되는 시간을 나타냅니다.
            $(".slider_main_wrap").attr('val',$val); //변경된 이미지영역의 번호를 부여합니다.
            setTimeout('imgslide()',3000); //1초 뒤에 다시 함수를 호출합니다.(숫자값 1000당 1초)
        }
    </script>
    <script src="/js/index.js"></script>
</body>
</html>