<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트 Farm</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/myPage.css">
        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_invite {
                    display: none;
                }
                .mobile_invite{
                    position: fixed;
                    min-width: 360px;
                    width: 100%;
                    height: 80px;
                    top: 0;
                    background-color: #fff;
                    z-index: 9999;
                    margin-bottom: 20px;
                }
              #content{padding-top:60px}
            }
            @media screen and (min-width:1080px) {
                .mobile_invite {
                    display: none;
                }
            }
            .buttons img{width:20px}
        </style>
        <%-include('general/head') %>
        </head>

        <body>
            <div class="web_invite">
                <%-include('general/header') %>
                </div>
                <!--//web_invite-->
                <div class="mobile_invite">
                    <section class="detail_title">
                        <h2>친구 초대</h2>
                        <script type="text/javascript">
                            function goBack() {
                                window
                                    .history
                                    .back();
                            }
                        </script>
                        <div class="btnback">
                            <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px"></a>
                        </div>
                    </section>
                </div>
                <main id="content" class="content">
                    <div class="invite_img">
                        <img src="/images/friend_invite@2x.png" width="100%">
                    </div>
                       <div class="buttons" style="display:flex;margin-top:-70px;margin-left:15px;margin-right:15px;margin-bottom:40px">
                          <button type="button" id="btnKakao"><img src="/images/kakao_icon_event@2x.png"><a href="https://dietfarm.page.link/?link=https://dietfarm.com/id=" + Utils.getUserId(applicationContext) + "&apn=com.dietFarm">초대하기</a></button>
                            <button type="button" id="sh-link" class="btnURL"><img src="/images/url_icon_friend@2x.png"><a href="">복사하기</a></button>
                        </div>
                  
                </main>
                <%-include('general/footer') %>
                    
                </body>
            </html>