<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>다이어트팜</title>
    <link rel="stylesheet" href="src/style/font.css">
    <link rel="stylesheet" href="src/style/style.css">
    <link rel="shortcut icon" href="src/image/app_logo.png" type="image/x-icon">
</head>
<body>
    <div id="fixed">
        <div id="download">
            <div id="img-box"><img src="src/image/app_logo.png" alt="icon" id="img-logo"></div>
            <h4>다운로드</h4>
            <p>가입시<br>2000원 쿠폰 + 3% 적립</p>
            <div id="download-buttons">
                <a href="https://play.google.com/store/apps/details?id=com.dietFarm" id="android-download" target="_blank">
                    <p>안드로이드</p>
                    <span class="download-icon-arrow"></span>
                    <span class="download-icon-bar"></span>
                </a>
            </div>
        </div>
        <div id="nav-box">
            <div class="nav-button"></div>
            <div class="nav-button"></div>
            <div class="nav-button"></div>
            <div class="nav-button"></div>
        </div>
    </div>
    <div id="warp">
        <div id="scroll">
            <div id="visual-page" class="full">
                <img src="src/image/landing.png" alt="background-img" id="background-img">
                <div class="center">
                    <div class="logo"><img src="src/image/dietfarm_logo.png" alt="logo"></div>
                    <div class="text-image-group">
                        <div class="text-area">
                            <h2>내 몸을 위한<br>고품격 프리미엄<br>다이어트 식품</h2>
                        </div>
                        <div class="image-area">
                        </div>
                    </div>
                </div>
                <div id="scroll-alert">
                    <img src="src/image/landing_scroll.png" alt="scroll-arrow">
                    <p>Scroll</p>
                </div>
                <div id="sns">
                    <a href="https://www.instagram.com/diet_farm/" target="_blank"><img src="src/image/sns/landing_instagram.png" alt="instagram"></a>
                    <a href="https://www.facebook.com/dietfarm/" target="_blank"><img src="src/image/sns/landing_facebook.png" alt="facebook"></a>
                    <!-- <a href="#"><img src="src/image/sns/landing_youtube.png" alt="youtube"></a> -->
                    <a href="https://blog.naver.com/diet_farm" target="_blank"><img src="src/image/sns/landing_blog.png" alt="blog"></a>
                </div>
            </div>
            <div class="full">
                <div class="center">
                    <div class="logo"><img src="src/image/dietfarm_logo.png" alt="logo"></div>
                    <div class="text-image-group">
                        <div class="text-area">
                            <h2>첫 구매<br>감사 이벤트</h2>
                            <h3>10% 쿠폰! 3% 적립금!</h3>
                        </div>
                        <div class="image-area">
                            <img src="src/image/ico/buy_ico.png" alt="buy_ico">
                        </div>
                    </div>
                </div>
            </div>
            <div class="full">
                <div class="center">
                    <div class="logo"><img src="src/image/dietfarm_logo.png" alt="logo"></div>
                    <div class="text-image-group">
                        <div class="text-area">
                            <h2>친구 초대하고<br>나도 친구도<br>2000포인트!</h2>
                        </div>
                        <div class="image-area">
                            <img src="src/image/ico/join_ico.png" alt="join_ico">
                        </div>
                    </div>
                </div>
            </div>
            <div class="full">
                <div class="center">
                    <div class="logo"><img src="src/image/dietfarm_logo.png" alt="logo"></div>
                    <div class="text-image-group">
                        <div class="text-area">
                            <h2>엄격한<br>기준으로<br>선정된 상품!</h2>
                        </div>
                        <div class="image-area">
                            <img src="src/image/ico/product_ico.png" alt="product_ico">
                        </div>
                    </div>
                </div>
            </div>
            <div class="full">
                <div class="center">
                    <div class="logo"><img src="src/image/dietfarm_logo.png" alt="logo"></div>
                    <div class="text-image-group column">
                        <div class="text-area">
                            <h2>다이어트팜 회원가입시<br>5000원 쿠폰+ 무료배송</h2>
                        </div>
                        <div class="image-area">
                            <img src="src/image/ico/coupon_ico.png" alt="coupon_ico">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub">
                <div class="center">
                    <h3>다이어트팜 설치하기<span>&gt;&gt;</span></h3>
                </div>
            </div>
        </div>
    </div>
    <script src="src/script/script.js"></script>
</body>
</html>