<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm 로그인</title>
    <%-include('general/head')%>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style02.css">
    <link rel="stylesheet" href="css/signup.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        Kakao.init('ed5593bb84a351edac6197d384fd3e1e');
        console.log(Kakao.isInitialized());
    </script>
    <style type="text/css">
        @media screen and (max-width:1079px) {.web_login{display:none}}
        @media screen and (min-width:1080px){.mobile_login{display:none} }
    </style>
     
</head>
<body>
     <div class="web_login">
        <%-include('general/header') %>
   </div><!--//웹 로그인헤더-->
 <div class="mobile_login">
    <section class="detail_title">
        <h2>로그인</h2>
        <script type="text/javascript">
            function goBack() {
                window.history.back();
            }
        </script>
        <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="images/leftarrow_ico_my.png" alt="" style="width:17px"> </a>
        </div>
    </section>
    </div> <!--//모바일 로그인헤더-->
    <div class="contents">
    <h2 class="web_login_title">로그인</h2>
    <div class="main-container">
        <div class="main-wrap">

            <section class="login-input-section-wrap">
                <div class="login-input-wrap">
                    <input placeholder="아이디를 입력해주세요" id="loginFormUserId" type="text">
                </div>
                <div class="login-input-wrap password-wrap">
                    <input placeholder="비밀번호를 입력해주세요" id="loginFormUserPassword" type="password">
                </div>
                <div class="login-button-wrap">
                    <button id="btnLogin">로그인</button>
                </div>
                <section class="Easy-sgin-in-wrap">
                    <ul>
                        <li class="login01"><a href="#">아이디 찾기 </a>
                        <li><img src="images/l_icon_category@2x.png"></li>
                        <li><a href="images/l_icon_category.png"></a></li>
                        <li class="login02"><a href="#">비밀번호 찾기 </a>
                        <li><img src="images/l_icon_category@2x.png"></li>
                        <li class="login03"><a href="/sign-up-form">회원가입</a>
                    </ul>
                </section>
                <section class="sns_login">
                    <p>SNS계정으로 간편 로그인하세요.</p>
                    <ul>
                        <li><img src="/images/kakao_login@2x.png"></li>
                        <li><img src="/images/naver_login.png"></li>
                    </ul>
                </section>
            </section>
        </div>
    </div>
 </div>
 <script type="text/javascript" src="/js/header.js"></script>
    <script src="/js/login.js"></script>
</body></html>
