<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트팜:: 건강부터 쇼핑까지, 다이어트 토탈서비스</title>
        <%-include(webroot + 'views/general/head')%>
            
            <style type="text/css">
                @media screen and (max-width:1079px) {
                    .web_login {
                        display: none;
                    }
                }
                @media screen and (min-width:1080px) {
                    .mobile_login {
                        display: none;
                    }
                }
            </style>

        </head>
        <body>
            <main id="content">
            <div class="web_login">
                <%-include(webroot + 'views/general/header') %>
                </div>
                <!--//웹 로그인헤더-->
                <div class="mobile_login">
                    <section class="detail_title">
                        <h2>로그인</h2>
                        <div class="btndelete">
                            <a href="#" value="취소"  onClick="history.back(); return false"><img src="images/x_icon_login@2x.png" alt="" style="width:13.95px;position:relative;left:15px">
                            </a>
                        </div>
                    </section>
                </div>
                <!--//모바일 로그인헤더-->
                <div class="contents">
                    <h2 class="web_login_title">로그인</h2>
                    <div class="main-container">
                        <div class="main-wrap" style="margin-top:-45px">

                            <section class="login-input-section-wrap">
                                <section class="sns_login">
                                    <p>SNS계정으로 간편 로그인하세요.</p>
                                    <ul>
                                        <li onclick="loginWithKakaoApi()"><img src="/images/kakao_login@2x.png"></li>
                                        <li id="naver_id_login" class="naver_id_login"><img src="/images/naver_login.png"></li>
                                        <li id="apple_id_login" class="apple_id_login"><img src="/images/apple_logo@2x.png" style="background-color:black;border-radius:40px;width:44px;height:44px;padding:9px"></li>
                                    </ul>
                                </section>
                                <div class="login-input-wrap">
                                    <input placeholder="아이디를 입력해주세요" id="loginFormUserId" type="text">
                                </div>
                                <div class="login-input-wrap password-wrap">
                                    <input placeholder="비밀번호를 입력해주세요" id="loginFormUserPassword" type="password">
                                </div>
                                <div class="login-button-wrap">
                                    <button id="btnLogin">로그인</button>
                                </div>
                                <section class="Easy-sgin-in-wrap">
                                    <ul>
                                        <li class="login01">
                                            <a href="#">아이디 찾기
                                            </a>
                                        <li><img src="images/l_icon_category@2x.png"></li>
                                        <li>
                                            <a href="images/l_icon_category.png"></a>
                                        </li>
                                        <li class="login02">
                                             <a href="#">비밀번호 찾기</a>
                                        </li>
                                      
                                        
                                    </ul>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </main>
                <script src="/js/login.js"></script>
                <script src="/js/myPage.js"></script>
            </body>
        </html>