<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm - 회원탈퇴</title>
    <style type="text/css">
        @media screen and (min-width:360px)and (max-width:1079px) {.web_with{display:none}}
       @media screen and (min-width:1080px){.mobile_with{display:none} }    
           </style>
    <%-include('general/head') %>
    <link rel="stylesheet" href="./css/style02.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/signup.css">

<body>
 <div class="mobile_with">
    <section class="detail_title">
        <h2>회원탈퇴</h2>
        <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="" style="position:relative;top:-40px"> </a>
        </div>
    </section>
 </div>
 <div class="web_with">
    <%-include('general/header_web') %>   
 </div>
    <div class="contents">
           <div class="delete">
            <h3 class="web_title">회원탈퇴</h3>
            <p>회원탈퇴 전 유의사항을 확인해주세요.</p>
            <ul>
                <h3>[회원탈퇴 안내]</h3>
                <li>1. 회원탈퇴 하시면 서비스 부정방지를 위해 회원 정책에 따라 일정기간(30)일 회원 재가입이 불가합니다.</li>
                <li>2. 회원 탈퇴시 그동안 발급된 포인트, 쿠폰 주문내역확인 등은 이용불가하게 됩니다.</li>
                <li>3. 탈퇴 즉시 개인정보가 삭제되면, 어떠한 방법으로도 복원 할 수 없습니다.</li>
            </ul>
            <span><input type="checkbox" class="check">위 유의사항을 모두 확인 하였습니다.</span>
            <div class="y_btn">
                <button>확인</button>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function(){
       $("#gnbAllMenu").hide();
       $("#btnGnbOpen").click(function(){
           $("#gnbAllMenu").slideToggle("fast");
       });
   });

      $(document).ready(function() {
           $(".m_slides_sub").hide();
           $(".m_ba_slides_n_w li").hover(function(){
               $("ul:not(:animated)",this).slideDown("700");

               $(".m_ba_slides_n_w li a").removeClass("active");
           },
           function() {
               $("ul",this).slideUp("700");
              });

           $("#memberMenu").bind("moseover mouseenter",function(){
               $("#memMenu").show();
         });
          $("#memMenu").bind("moseout mouseleave",function(){
               $("#memMenu").hide();
         });

           $("#NotmemberMenu").bind("moseover mouseenter",function(){
               $("#NotmemMenu").show();
         });
          $("#NotmemMenu").bind("moseout mouseleave",function(){
               $("#NotmemMenu").hide();
         });
       });
   </script>
</body></html>