<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
	<meta name="format-detection" content="telephone=no, address=no, email=no" />
	<meta name="format-detection" content="no" />
   
    <title>다이어트 Farm</title>
    <link rel="stylesheet" href="css/myPage.css">
    <%-include('general/head') %>
    </head>
<body>
    <article class="skip_menu">
        <a href="#"><span>바로가기1</span></a>
        <a href="#"><span>바로가기2</span></a>
        <a href="#"><span>바로가기3</span></a>
    </article>
    <div id="headerwrap">
        <div id="header">
            <h1>마이페이지</h1>
        </div>
        <!--header-->
    </div>
    <%-include('general/head') %>
	    
 <main id="content" class="content">
 <div class="myPage">
 <div class="myPage01">
  <ul style="border:none;">
      <li style="font-size:16px;font-weight:bold;">박민지님</li>
      <li><a href="myInfoUserCheck.html">내정보&nbsp;&nbsp;<img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
  </ul>
  </div>
  
  <div class="myPage02">
   <ul>
       <li>포인트</li>
       <li><a href="#">300원&nbsp;&nbsp;<img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
   </ul>
    <ul style="border:none">
       <li>쿠폰</li>
        <li><a href="">2장&nbsp;&nbsp;<img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
   </ul>
  </div>
  <div class="myPage03">
      <ul>
          <li>주문내역</li>
          <li><a href="order_list.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
       <ul>
          <li>배송지 관리</li>
          <li><a href="addr_modify.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
       <ul>
          <li>상품 리뷰</li>
          <li><a href="product_review.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
       <ul>
          <li>상품 문의</li>
          <li><a href="product_inquiry.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
       <ul style="border:none">
          <li>판매자 문의 (주문건)</li>
          <li><a href="seller_inquiry.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
  </div>
  <div class="myPage04">
     <ul>
          <li>공지사항</li>
          <li><a href="notice.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
      <ul>
          <li>FAQ</li>
          <li><a href="faq.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
      <ul>
          <li>고객센터</li>
          <li><a href="cs_center.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
      <ul style="border:none">
          <li>알림설정</li>
          <li><a href="alarm.html"><img src="images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
      </ul>
  </div>
  <div class="myPage05">
      <ul style="border:none">
          <li><a href="#">로그아웃</a></li>  
     </ul>
  </div>
    <div class="myPage06">
      <ul style="border:none">
          <li>버전정보 1.00.0</li>
          <li><a href="#">업데이트</a></li>  
     </ul>
  </div>
  
  </div> 
     </main>    

  <footer id="footer">
      
   <div class="footer_container">
      <div class="footer_links">
        <div class="footer_link--wrapper">
          <div class="footer_link--items1">
            <h2>고객센터</h2>
         <span>&nbsp;&nbsp;&nbsp;&nbsp;070-4366-3299</span>
         <p class="p1">&nbsp;&nbsp;월~금 10:00~17:00</p>
         <p>점심시간 12:00~13:00</p>
         <p>&nbsp;&nbsp;토,일,공휴일 휴무</p>
          </div>
          <div class="footer_link--items">
            <a href="#"><img src="images/talk_ico_footer.png" style="width:55%;margin-left:15px;margin-top:50px"></a>
          </div>
        </div>
        <div class="footer_link--wrapper">
          <div class="footer_link--items2">
            <h2>계좌번호</h2>
           <span>&nbsp;예금주 (주)데이터플로</span>
         <p>농협 317-0021-9321-31</p>
         <p>우리 333-3333-3333-33</p>
         <p>국민 333-3333-3333-33</p>
         <p>신한 333-3333-3333-33</p>
         <p>기업 333-3333-3333-33</p>
         <p>&nbsp;&nbsp;&nbsp;&nbsp;토,일,공휴일 휴무</p>
          </div>
          <div class="footer_link--items3">
            <h2>공지사항</h2>
            <p><a href="#">&nbsp;&nbsp;1월 연휴 배송안내</a> </p>
            <p><a href="#">&nbsp;추석 연휴 배송안내</a></p>
          </div>
        </div>
      </div>
      <section class="footer_bottom">
         <ul class="menu">
				<li><a href="">사업자정보확인</a></li>
				<li><a href="">이용약관</a></li>
				<li><a href="">개인정보처리방침</a></li>
			</ul>
			<ul class="addr">
				<li>(주)데이터플로 대표 : 유승열</li>
				<li>사업자등록번호 : 509-81-05501</li>
				<li>통신판매업 신고번호 : </li>
				<li>건강기능식품 판매업 : 제 2021-0105159 호</li>
				<li>개인정보보호책임자 : 유승열</li>
				<li class="addr01">주소 : 서울시 강남구 테헤란로8길 11-4 신도빌딩, 2층 202호</li>
				<li>팩스 : 070-7500-7691</li>
				<li>이메일 : <span>dietfarm119@gmail.com</span></li>
				<li>입점문의 : <span>입점문의하기</span></li>
				<li>제휴문의 : <span>dietfarm119@gmail.com</span></li>
			</ul>
	    </section>
  </div> 
     </footer>
<script>
        // 햄버거 메뉴
        $(document).ready(function () {

            $('.btnMenu>a').on('click', function () {
                $('.sideMenu').show().animate({
                    left: 0
                });
            });
            $('.slideMenu_close>a').on('click', function () {
                $('.sideMenu').animate({
                    left: -100 + '%'
                }, function () {
                    $('.sideMenu').hide();
                });
            });
        });

        
        // 햄버거 2단계 메뉴
       $(document).ready(function(){
           $("dt.faq_q").click(function() {
               if($(this).next('dd').css("display") != "none") {
                   $(this).next('dd').hide();
                   $(this).removeClass("current");
               } else {
                   $("dd.faq_a").css('display','none');
                   $("dt.faq_q").removeClass("current");
                   $(this).next('dd').show();
                   $(this).addClass("current");
               }
           });
       });

       $(document).ready(function(){

           $('.btnMenu>a').on('click', function(){
               $('.gnb').hide();
           });
       });
       $('.slideMenu_close>a').on('click',function(){
           $('.gnb').show();
       });
    </script>
    
</body>
</html>