<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <style type="text/css">
        #mHeader .tab_cont {
            display: none;
            min-height: 360px;
        }

        #mHeader .tab_cont.active {
            display: block;
            background: #fff;
            position: absolute;
            width: 100%
        }
        #header .gnb{display:none}
        @media screen and (min-width:360px) and (max-width:1079px){}
        @media screen and (min-width:1080px){.mobile_myinfo{display:none}}
    </style>
    <link rel="stylesheet" href="/css/myPage.css">
    <link rel="stylesheet" href="/css/style.css">
    <%-include('general/head') %>

    </script>
</head>

<body>
    <article class="skip_menu">
        <a href="#"><span>바로가기1</span></a>
        <a href="#"><span>바로가기2</span></a>
        <a href="#"><span>바로가기3</span></a>
    </article>
    <div class="mobile_myinfo">
        <section class="detail_title">
            <h2 class="title">마이페이지</h2>
            <script type="text/javascript">
                function goBack() {
                    window.history.back();
                }
            </script>
            <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px"> </a>
            </div>

            <div class="btncart"><a href="#" onclick="mCart('on');"><img src="/images/cart_ico_main.png" alt="" style="width:21px;left:15px"></a>
            </div>
        </section>
    </div><!--//모바일 헤더 끝-->
    <main id="content" class="content">
        <div class="myPage">
            <div class="myPage01">
            <% if (!isLoggedIn) { %>
                <h3>로그인 해주세요.</h3>
                <h4>신규 회원가입시 2,000P 적립금 지급!</h4>
                <div class="buttons">
                    <button type="button" class="btnLogin" onClick="javascript:location.href='/login-form';"><img src="/images/login_icon_my.png" style="position:relative;margin-right:7px">로그인</button>
                    <button type="button" class="btnSignup" onClick="javascript:location.href='/sign-up-form';"><img src="/images/join_icon_my.png" style="position:relative;margin-right:7px">회원가입</button>
                </div>
            <% } else if (isLoggedIn) { %>
                <ul style="border:none;">
                    <li style="font-size:16px;font-weight:bold;">박민지님</li>
                    <li><a href="javascript:location.href='/myinfo-usercheck';">내정보&nbsp;&nbsp;<img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
            <% } %>
            </div>
            <div class="myPage01_2">
                <ul style="border:none">
                    <li>친구 초대</li>
                    <li><a href="/invite">2,000P 받기</a></li>
                </ul>
            </div>
            <div class="myPage02">
                <ul>
                    <li>포인트</li>
                    <li><a href="javascript:location.href='/point';">300원&nbsp;&nbsp;<img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
                <ul style="border:none">
                    <li>쿠폰</li>
                    <li><a href="javascript:location.href='/coupon';">2장&nbsp;&nbsp;<img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
            </div>
            <div class="myPage03">
                <ul>
                    <li>주문내역</li>
                    <li><a href="javascript:location.href='/orderlist';"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
                <ul>
                    <li>배송지 관리</li>
                    <li><a href="/delivery-management"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
                <ul>
                    <li>상품 리뷰</li>
                    <li><a href="javascript:location.href='/p_review';"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
                <ul>
                    <li>상품 문의</li>
                    <li><a href="javascript:location.href='/p_inquiry';"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
                <ul style="border:none">
                    <li>판매자 문의 (주문건)</li>
                    <li><a href="javascript:location.href='/s_inquiry';"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
            </div>
            <div class="myPage04">
                <ul>
                    <li>공지사항</li>
                    <li><a href="javascript:location.href='/notice';"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
                <ul>
                    <li>FAQ</li>
                    <li><a href="javascript:location.href='/faq';"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
                <ul>
                    <li>고객센터</li>
                    <li><a href="javascript:location.href='/cs-center';"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
                <ul style="border:none">
                    <li>알림설정</li>
                    <li><a href="javascript:location.href='/alarm';"><img src="/images/arrow_ico_join.png" style="width:11px;height:18px"></a></li>
                </ul>
            </div>
            <div class="myPage05">
                <ul style="border:none">
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
            <div class="myPage06">
                <ul style="border:none">
                    <li>버전정보 1.00.0</li>
                    <li><a href="#">업데이트</a></li>
                </ul>
            </div>

        </div>
    </main>
  <%-include('general/footer') %>

</body></html>