<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문상세</title>
    <link rel="stylesheet" href="./css/style02.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/mypageAll.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="./js/main.js"></script>
</head>

<body>
    <!-- 모바일 섹션 point -->
    <section class="detail_title">
        <h2>포인트</h2>
        <script type="text/javascript">
            function goBack() {
                window.history.back();
            }
        </script>
        <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="뒤로가기"
                    style="width:17px"> </a>
        </div>

            <div id="cp" class="current_point">
                <p>현재 포인트</p>
                <h2><img src="./images/point_iocn_my.png" style="width: 16px;position:relative;top:3px" alt=""> 3,000원
                </h2>
            </div>
    </section>
    <main id="content" class="content">
    <div class="point_line"></div>

    <section class="point_history">
        <div class="point_history_left">
            <ul>
                <li class="save">적립</li>
                <li class="amount">+500원</li>
            </ul>
        </div>
        <div class="point_history_right">
            <ul>
                <li class="date">2020.11.09</li>
                <li class="type">구매 적립</li>
                <li class="brand">바디나인</li>
            </ul>
        </div>
    </section>
    <div class="point_history_line"></div>
    <section class="point_history">
        <div class="point_history_left">
            <ul>
                <li class="save">적립</li>
                <li class="amount">+500원</li>
            </ul>
        </div>
        <div class="point_history_right">
            <ul>
                <li class="date">2020.11.09</li>
                <li class="type">구매 적립</li>
                <li class="brand">바디나인</li>
            </ul>
        </div>
    </section>
    <div class="point_history_line"></div>
    <section class="point_history">
        <div class="point_history_left">
            <ul>
                <li class="save">적립</li>
                <li class="amount">+500원</li>
            </ul>
        </div>
        <div class="point_history_right">
            <ul>
                <li class="date">2020.11.09</li>
                <li class="type">구매 적립</li>
                <li class="brand">바디나인</li>
            </ul>
        </div>
    </section>
    <div class="point_history_line"></div>
    <section class="point_history">
        <div class="point_history_left">
            <ul>
                <li class="save">적립</li>
                <li class="amount">+500원</li>
            </ul>
        </div>
        <div class="point_history_right">
            <ul>
                <li class="date">2020.11.09</li>
                <li class="type">구매 적립</li>
                <li class="brand">바디나인</li>
            </ul>
        </div>
    </section>
    <div class="point_history_line"></div>
    <section class="point_history">
        <div class="point_history_left">
            <ul>
                <li class="save">적립</li>
                <li class="amount">+500원</li>
            </ul>
        </div>
        <div class="point_history_right">
            <ul>
                <li class="date">2020.11.09</li>
                <li class="type">구매 적립</li>
                <li class="brand">바디나인</li>
            </ul>
        </div>
    </section>
    <div class="point_history_line"></div>
    </main>
    <!-- 모바일 섹션 end -->

    <%-include('general/header') %>

        <!-- web main -->
        <main id="main">
            <div class="main_contents">
    
                <div class="left">
                    <h3>마이팜</h3>
                    <div class="left_ctn">
                        <ul>
                            <li><i class="fas fa-shopping-basket"></i></li>
                            <li><span>김수아님</span></li>
                            <li>내정보 <span><i class="fas fa-chevron-right"></i></span></li>
                        </ul>
                    </div>
                </div>
    
                <div class="center">
                    <h3>포인트</h3>
                    <p>1000 원 <span><i class="fas fa-chevron-right"></i></span></p>
                </div>
    
                <div class="right">
                    <h3>쿠폰</h3>
                    <p>3개 <span><i class="fas fa-chevron-right"></i></span></p>
                </div>
    
            </div>
        </main>
    
        <section id="web_contents">
            <div class="contents_ctn">
    
                <nav class="content_lnb">
                    <ul>
                        <li><a href="http://localhost:3000/orderlist">주문내역</a></li>
                        <li><a href="http://localhost:3000/mypagedelivery-management">배송지 관리</a></li>
                        <li><a href="http://localhost:3000/mypageproductreview">상품 리뷰</a></li>
                        <li><a href="http://localhost:3000/mypageproductinquiry">상품 문의</a></li>
                        <li><a href="http://localhost:3000/mypagesellerinquiry">판매자 문의</a></li>
                        <li class="on"><a href="javascript:void(0);">포인트</a></li>
                        <li><a href="javascript:void(0);">쿠폰</a></li>
                    </ul>
                </nav>
    
                <div class="body_contents">
                    <h3 class="orderList">포인트</h3>
    
                    <div class="order_list_ctn">
                        <table class="pointList">
                            <th>날짜</th>
                            <th>내용</th>
                            <th>유효기간</th>
                            <th>금액</th>
                            <tr class="pointList_ctt">
                                <td>2021.02.18</td>
                                <td>회원 가입 축하 적립</td>
                                <td>2021.12.31</td>
                                <td>+1,000원</td>
                            </tr>
                            <tr class="pointList_ctt">
                                <td>2021.02.18</td>
                                <td>구매 사용</td>
                                <td>2021.12.31</td>
                                <td>-1,000원</td>
                            </tr>
                            <tr class="pointList_ctt">
                                <td>2021.02.18</td>
                                <td>구매 적립</td>
                                <td>2021.12.31</td>
                                <td>+1,000원</td>
                            </tr>
                        </table>
                        <ul class="pager">
                            <li><i class="fas fa-chevron-left"></i></li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li><i class="fas fa-chevron-right"></i></li>
                        </ul>
                    </div> <!-- order_list_ctn -->
    
                </div> <!-- body_contents -->
            </div> <!-- contents_ctn -->
        </section> <!-- content -->

    <%-include('general/footer') %>
</body>

</html>