<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역</title>
    <link rel="stylesheet" href="./css/style02.css">
    <link rel="stylesheet" href="./css/style03.css">
    <link rel="stylesheet" href="./css/mypageAll.css">
    <link rel="stylesheet" href="./css/style_web.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <!-- main.js -->
    <script src="./js/main.js"></script>

</head>

<body>
    <!-- 모바일 섹션 -->
    <section class="detail_title" style="display: none;">
        <h2>주문상세</h2>
        <a href="#"><img src="./images/leftarrow_ico_my.png"></a>
    </section>
    
    <!-- mobile main -->
    <main id="content" class="content">
        <div class="order">
            <div class="orderBox">
                <div class="order01">
                    <div class="innerbox">

                        <div class="dateNo">
                            <p class="date">2020.10.13</p>
                            <p class="no">2020101920201019</p>
                        </div>
                        <div class="orderDetails">
                            <div class="order_title">
                                <p><span>아임월<img src="./images/call_icon_order.png" style="width:20%;margin-left:10px"></span></p>
                                <ul>
                                    <li><a href="seller_inquiry.html">문의하기<img src="./images/arrow_ico_join.png" style="width:7px;position:relative;left:4px;top:1px"></a></li>
                                </ul>
                            </div>
                            <!--//order_title-->
                            <div class="buttons">
                                <button type="button" class="btnConfirm">구매확정</button>
                                <button type="button" class="btnTracking" style="margin-left:10px">배송조회</button>
                            </div>
                            <!--//buttons-->
                            <div class="orderBox02">
                                <a href="product_details.html"><img src="./images/dietfarmbread.jpg" align="left" style="width:50px;height:62px;margin-right:20px"></a>
                                <ul class="order00">
                                    <li class="ship_state">배송중</li>
                                    <li class="product">굿밸런스 라이트밀 도시락</li>
                                    <li class="price">60,720원</li>
                                    <li class="quantitiy">수량 : 2개</li>
                                    <li class="option">옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                                </ul>
                            </div>
                            <div class="orderBox02">
                                <a href="#"><img src="./images/dietfarmbread.jpg" align="left" style="width:50px;height:62px;margin-right:20px"></a>
                                <ul class="order00">
                                    <li class="ship_state">배송중</li>
                                    <li class="product">굿밸런스 라이트밀 도시락</li>
                                    <li class="price">60,720원</li>
                                    <li class="quantity">수량 : 2개</li>
                                    <li class="option" style="margin-bottom:23px">옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                                </ul>
                            </div>
                        </div>
                        <!--//orderDetails-->

                        <div class="orderDetails">
                            <div class="order_title">
                                <p><span>다신샵<img src="./images/call_icon_order.png" style="width:20%;margin-left:10px"></span></p>
                                <ul>
                                    <li><a href="seller_inquiry.html">문의하기<img src="./images/arrow_ico_join.png" style="width:7px;position:relative;left:4px;top:1px"></a></li>
                                </ul>
                            </div>
                            <!--//order_title-->
                            <div class="buttons">
                                <button type="button" class="btnConfirm">구매확정</button>
                                <button type="button" class="btnTracking" style="margin-left:10px">배송조회</button>
                            </div>
                            <!--//buttons-->
                            <div class="orderBox02">
                                <a href="product_details.html"><img src="./images/dietfarmbread.jpg" align="left" style="width:50px;height:62px;margin-right:20px"></a>
                                <ul class="order00">
                                    <li class="ship_state">배송중</li>
                                    <li class="product">굿밸런스 라이트밀 도시락</li>
                                    <li class="price">60,720원</li>
                                    <li class="quantitiy">수량 : 2개</li>
                                    <li class="option">옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                                </ul>
                            </div>
                            <div class="orderBox02">
                                <a href="#"><img src="./images/dietfarmbread.jpg" align="left" style="width:50px;height:62px;margin-right:20px"></a>
                                <ul class="order00">
                                    <li class="ship_state">배송중</li>
                                    <li class="product">굿밸런스 라이트밀 도시락</li>
                                    <li class="price">60,720원</li>
                                    <li class="quantity">수량 : 2개</li>
                                    <li class="option" style="margin-bottom:23px">옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                                </ul>
                            </div>
                        </div>
                        <!--//orderDetails-->

                        <!--  -->
                        <table>
                            <tbody>
                                <tr class="order_q">
                                    <td class="title00">
                                        주문자 정보
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표" style="width:14px;height:14px;">
                                    </td>
                                </tr>
                                <tr class="order_a">
                                    <td>
                                        <div class="order_a_box">
                                            <table style="border:none;">
                                                <tr>
                                                    <td><span>주문자</span></td>
                                                    <td>박민지</td>
                                                </tr>
                                                <tr>
                                                    <td><span>연락처</span></td>
                                                    <td>010-1234-5678</td>
                                                </tr>
                                                <tr>
                                                    <td><span>이메일</span></td>
                                                    <td>minji777@dataflow.co.kr</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="order_q">
                                    <td class="title00">
                                        배송지 정보
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표" style="width:14px;height:14px;">
                                    </td>
                                </tr>
                                <tr class="order_a">
                                    <td>
                                        <div class="order_a_box">
                                            <table style="border:none;">
                                                <tr>
                                                    <td><span>받는분</span></td>
                                                    <td>박민지</td>
                                                </tr>
                                                <tr>
                                                    <td><span>주소</span></td>
                                                    <td>서울 강남구 테헤란로8길 11-4, 2층</td>
                                                </tr>
                                                <tr>
                                                    <td><span>연락처</span></td>
                                                    <td>010-1234-5678</td>
                                                </tr>
                                                <tr>
                                                    <td><span>배송 메모</span></td>
                                                    <td>항상 안전운전 하세요~</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="paymentInfo">
                            <table>
                                <tbody>
                                    <tr class="order_q">
                                        <td class="title00">
                                            결제 정보
                                            <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표" style="width:14px;height:14px;">
                                        </td>
                                    </tr>
                                    <tr class="order_a">
                                        <td>
                                            <div class="order_a_box">
                                                <table style="border:none;">
                                                    <tr>
                                                        <td><span>결제 방법</span></td>
                                                        <td style="width:90px">카드 결제</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>총 상품금액</span></td>
                                                        <td>80,400원</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>쿠폰 할인</span></td>
                                                        <td>-3,210원</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>포인트 할인</span></td>
                                                        <td>0원</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>배송비 할인</span></td>
                                                        <td>0원</td>
                                                    </tr>
                                                    <tr>
                                                        <td>총 결제 금액</td>
                                                        <td>77,190원</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <table>
                            <tbody>
                                <tr class="order_q">
                                    <td class="title00">
                                        포인트 혜택
                                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표" style="width:14px;height:14px;">
                                    </td>
                                </tr>
                                <tr class="order_a">
                                    <td>
                                        <div class="order_a_box">
                                            <table style="border:none;">
                                                <tr>
                                                    <td><span>구매적립</span></td>
                                                    <td style="width:75px">888원</td>
                                                </tr>
                                                <tr>
                                                    <td><span>리뷰적립</span></td>
                                                    <td>300원</td>
                                                </tr>
                                                <tr>
                                                    <td>총 적립 금액</td>
                                                    <td>1188원</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn_area">
                            <button type="button" id="btnReorder" style="margin: 0 0 50px 0;">전체 재구매</button>
                        </div>
                    </div> <!-- inner box -->

                </div>
            </div>

        </div>
        <!--//order-->
    </main>
    <!-- mobile main end -->

    <%-include('general/header_web') %>
    <main id="main">
        <div class="main_contents">

            <div class="left">
                <h3>마이팜</h3>
                <div class="left_ctn">
                    <ul>
                        <li><i class="fas fa-shopping-basket"></i></li>
                        <li><span>김수아님</span></li>
                        <li>내정보 <span><i class="fas fa-chevron-right"></i></span></li>
                    </ul>
                </div>
            </div>

            <div class="center">
                <h3>포인트</h3>
                <p>1000 원 <span><i class="fas fa-chevron-right"></i></span></p>
            </div>

            <div class="right">
                <h3>쿠폰</h3>
                <p>3개 <span><i class="fas fa-chevron-right"></i></span></p>
            </div>

        </div>
    </main>

        <section id="web_contents">
            <div class="contents_ctn">

                <nav class="content_lnb">
                    <ul>
                        <li class="on"><a href="http://localhost:3000/orderlist">주문내역</a></li>
                        <li><a href="http://localhost:3000/mypagedelivermag">배송지 관리</a></li>
                        <li><a href="http://localhost:3000/mypageproductreview">상품 리뷰</a></li>
                        <li><a href="http://localhost:3000/mypageproductinquiry">상품 문의</a></li>
                        <li><a href="http://localhost:3000/mypagesellerinquiry">판매자 문의</a></li>
                        <li><a href="http://localhost:3000/mypageorderlistpoint">포인트</a></li>
                        <li><a href="javascript:void(0);">쿠폰</a></li>
                    </ul>
                </nav>

                <div class="body_contents">
                    <h3 class="orderList_detail">주문상세</h3>
                    <div class="order_detail_ctn">

                        <div class="order_detail_top">
                            <p>2020.1013</p>
                            <p>20202020202020</p>
                        </div>

                        <div class="thick_line"></div>


                        <div class="order_detail_list">
                            <ul class="brand_info_liq">
                                <li>아임월 <span>010-0000-0000</span></li>
                                <li><a href="http://localhost:3000/mypagesellerinquiry"> 문의하기<span><img src="./images/arrow_icon_order.png" alt="주문상세보기" style="height: 12px;"></span></a></li>
                            </ul>
                            <ul class="order_detail_list_btn">
                                <li><button>구매확정</button></li>
                                <li><button>배송조회</button></li>
                            </ul>
                        </div>

                        <div class="line"></div>

                        <div class="orderList_detail_list">
                            <div class="order_info_ctn">
                                <div class="thum"></div>
                                <ul>
                                    <li class="state">배송중</li>
                                    <li class="name_price">굿밸런스 라이트밀 도시락</li>
                                    <li class="name_price">60,720원</li>
                                    <li class="quan_option">수량: 2개</li>
                                    <li class="quan_option">옵션: 한입닭&큐브닭 9종 혼합 36팩</li>
                                </ul>
                            </div>
                        </div>

                        <div class="line"></div>

                        <div class="orderList_detail_list">
                            <div class="order_info_ctn">
                                <div class="thum"></div>
                                <ul>
                                    <li class="state">배송중</li>
                                    <li class="name_price">굿밸런스 라이트밀 도시락</li>
                                    <li class="name_price">60,720원</li>
                                    <li class="quan_option">수량: 2개</li>
                                    <li class="quan_option">옵션: 한입닭&큐브닭 9종 혼합 36팩</li>
                                </ul>
                            </div>
                        </div>


                        <div class="thick_line"></div>

                    </div>

                    <div class="order_detail_ctn">

                        <div class="order_detail_list">
                            <ul class="brand_info_liq">
                                <li>아임월 <span>010-0000-0000</span></li>
                                <li><a href="http://localhost:3000/mypagesellerinquiry"> 문의하기<span><img src="./images/arrow_icon_order.png" alt="주문상세보기" style="height: 12px;"></span></a></li>
                            </ul>
                            <ul class="order_detail_list_btn">
                                <li><button>구매확정</button></li>
                                <li><button>배송조회</button></li>
                            </ul>
                        </div>

                        <div class="line"></div>

                        <div class="orderList_detail_list">
                            <div class="order_info_ctn">
                                <div class="thum"></div>
                                <ul>
                                    <li class="state">배송중</li>
                                    <li class="name_price">굿밸런스 라이트밀 도시락</li>
                                    <li class="name_price">60,720원</li>
                                    <li class="quan_option">수량: 2개</li>
                                    <li class="quan_option">옵션: 한입닭&큐브닭 9종 혼합 36팩</li>
                                </ul>
                            </div>
                        </div>

                        <div class="line"></div>

                        <div class="orderList_detail_list">
                            <div class="order_info_ctn">
                                <div class="thum"></div>
                                <ul>
                                    <li class="state">배송중</li>
                                    <li class="name_price">굿밸런스 라이트밀 도시락</li>
                                    <li class="name_price">60,720원</li>
                                    <li class="quan_option">수량: 2개</li>
                                    <li class="quan_option">옵션: 한입닭&큐브닭 9종 혼합 36팩</li>
                                </ul>
                            </div>
                        </div>

                        <div class="thick_line"></div>




                    </div> <!-- order_detail_ctn -->
                    <section class="info_customer">

                        <div class="info_customer_first">
                            <h3>주문자 정보</h3>
                            <div class="first_subtitle_ctn">
                                <ul class="first_subtitle">
                                    <li>주문자</li>
                                    <li>연락처</li>
                                    <li>이메일</li>
                                </ul>
                                <ul class="first_subtitle_cts">
                                    <li>박민지</li>
                                    <li>010-1234-5678</li>
                                    <li>minji777@dataflow.co.kr</li>
                                </ul>
                            </div>
                        </div>

                        <div class="info_customer_second">
                            <ul class="web_del_info_title open_close">
                                <li>
                                    <h3>배송지 정보</h3>
                                </li>
                                <li><i class="far fa-chevron-down"></i></li>
                            </ul>
                            <div class="second_subtitle_ctn toggle">
                                <ul class="second_subtitle">
                                    <li>받는분</li>
                                    <li>주소</li>
                                    <li>연락처</li>
                                    <li>배송 메모</li>
                                </ul>
                                <ul class="sub_title_cts">
                                    <li>박민지</li>
                                    <li>서울 강남구 테헤란로8길 11-4,2층</li>
                                    <li>010-7894-4562</li>
                                    <li>항상 안전운전하세요~</li>
                                </ul>
                            </div>
                        </div>

                        <div class="info_customer_third">
                            <ul class="web_del_info_title open_close2">
                                <li>
                                    <h3>결제 정보</h3>
                                </li>
                                <li><i class="far fa-chevron-down"></i></li>
                            </ul>
                            <div class="third_subtitle_ctn toggle2">
                                <ul class="third_subtitle">
                                    <li>결제방법</li>
                                    <li>총 상품금액</li>
                                    <li>쿠폰 할인</li>
                                    <li>포인트 할인</li>
                                    <li>배송비</li>
                                    <li class="total_price">총 결제 금액</li>
                                </ul>
                                <ul class="sub_title_cts result">
                                    <li>카드결제</li>
                                    <li>80,400원</li>
                                    <li>-3,210원</li>
                                    <li>0원</li>
                                    <li>0원</li>
                                    <li>0원</li>
                                </ul>
                            </div>
                        </div>

                        <div class="info_customer_fourth">
                            <ul class="web_del_info_title open_close3">
                                <li>
                                    <h3>포인트 혜택</h3>
                                </li>
                                <li><i class="far fa-chevron-down"></i></li>
                            </ul>
                            <div class="fourth_subtitle_ctn toggle3">
                                <ul class="fourth_subtitle">
                                    <li>구매적립</li>
                                    <li>리뷰적립</li>
                                    <li class="total_price">총 적립 금액</li>
                                </ul>
                                <ul class="sub_title_cts result">
                                    <li>888원</li>
                                    <li>300원</li>
                                    <li>1188원</li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <div class="btn_area">
                        <button type="button" id="btnReorder" style="position: absolute; left: 30%;">전체 재구매</button>
                    </div>
                </div>
            </div>
        </section>
        <!--//order-->

    </div>
    </div><!-- contents_ctn -->
    </section> <!-- content -->

    <%-include('general/footer_web') %>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("tr.order_q").click(function() {
                if ($(this).next('tr').css("display") != "none") {
                    $(this).next('tr').hide();
                    $(this).removeClass("current");
                } else {
                    $("tr.order_a").css('display', 'current');
                    $("tr.order_q").removeClass("current");
                    $(this).next('tr').show();
                    $(this).addClass("none");
                }
            });
        });
    </script>

</body>
</html>