<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>판매자문의, 다이어트팜:: 다이어트 건강식단 플랫폼</title>
        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_p_inquiry {
                    display: none;
                }
                .mobile_p_inquiry {
                    position: fixed;
                    min-width: 360px;
                    width: 100%;
                    height: 80px;
                    top: 0;
                    background-color: #fff;
                    z-index: 9999;
                    margin-bottom: 20px;
                }
                .contents {
                    padding-top: 90px;
                }
            }
            @media screen and (min-width:1080px) {
                .mobile_p_inquiry {
                    display: none;
                }
            }
        </style>


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="/css/style_web.css">
        <link rel="stylesheet" href="/css/product.css">
        <link rel="stylesheet" href="/css/myPage.css">
        <!-- main.js -->
        <%-include('general/head') %>
</head>

<body>
    <!-- 모바일 섹션 -->
    <div class="mobile_p_inquiry">
        <section class="detail_title">
            <h2>판매자 문의</h2>
            <div class="btnback">
                <a href="#" value="취소" onclick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="">
                </a>
            </div>
        </section>
    </div>
    <div class="web_p_inquiry">
        <%-include('general/header') %>
    </div>
    <main id="mypage_seller_inq_ctt">
        <mypage-component v-bind:total-point-amount="totalPointAmount"></mypage-component>
        <div class="mypage_content_wrap">
            <nav class="content_lnb">
                <ul>
                    <li>
                        <a href="/orderlist">주문내역</a>
                    </li>
                    <li style="white-space:nowrap">
                        <a href="/delivery-management">배송지 관리</a>
                    </li>
                    <li>
                        <a href="/p_review">상품 리뷰</a>
                    </li>
                    <li >
                        <a href="/p_inquiry">상품 문의</a>
                    </li>
                    <li class="on" style="white-space:nowrap">
                        <a href="/s_inquiry">판매자 문의</a>
                    </li>
                    <li>
                        <a href="/point">포인트</a>
                    </li>
                    <li>
                        <a href="/coupon">쿠폰</a>
                    </li>
                </ul>
            </nav>     
            <div class="contents">
                <div class="body_contents tab6">
                    <h3 class="orderList_detail">판매자 문의</h3>
                    <div class="order_detail_ctn">
                        <div
                        class="tabMenu_review"
                        style="margin-top:-20px;border-bottom: 1px solid #f1f1f1;">
                        <ul class="tab_wrap">
                            <li class="active on" data-tab="tab1">
                                <span>진행중인 문의</span></li>
                            <li data-tab="tab2" id="possible">
                                <span>완료된 문의</span></li>
                            <span></span>
                        </ul>
                        </div>
                        <div id="tab1" class="tab_cont active">
                            <div class="review_list_null" v-if="waitingAskList == undefined || waitingAskList.length == 0">
                                <img src="/images/note_icon_review.png">
                                <p class="no_review">아직 작성된 문의가 없습니다.</p>
                            </div>
                        <div class="s_inquiry_box" v-for="ask in waitingAskList">
                        <div class="inquiry_product">
                            <div class="inquiry_product_head">
                                <h4>아임월</h4>
                                <p>
                                    <a href="">전화걸기<img src="/images/rightarrow_icon_join@2x.png" width="7px"></a>
                                </p>
                            </div>
                            <img v-bind:src="RESOURCE_SERVER + ask.product.url" style="width:50px;height:62px">
                            <div class="inquiry_detail">
                                <ul>
                                    <li>주문번호 {{ ask.orderNumber }}</li>
                                    <li>{{ ask.product.productName }}</li>
                                    <li>{{ getOptionName(ask.product.options)}} </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box_top">
                            <p>미답변</p>
                            <ul>
                                <li>{{ formatDate(ask.createDate) }}</li>
                                <li><img src="images/l_icon_category.png"></li>
                                <li>수정</li>
                                <li><img src="images/l_icon_category.png"></li>
                                <li>삭제</li>
                            </ul>
                        </div>
                        <div class="box_btm">
                            <p>
                                <span>{{ ask.product.productName }}</span></p>
                            <p v-html="ask.content"></p>
                        </div>
                        </div>
                    
                        </div>

            <div id="tab2" class="tab_cont">
             <div class="review_list_null" v-if="doneAskList == undefined || doneAskList.length == 0">
                    <img src="/images/note_icon_review.png">
                    <p class="no_review">아직 답변 완료된 문의가 없습니다.</p>
                </div>
                <div class="s_inquiry_box" v-for="ask in doneAskList">
                    <div class="inquiry_product">
                        <div class="inquiry_product_head">
                            <h4>아임월</h4>
                            <p>
                                <a href="">전화걸기<img src="/images/rightarrow_icon_join@2x.png" width="7px"></a>
                            </p>
                        </div>
                        <img v-bind:src="RESOURCE_SERVER + ask.product.url" style="width:50px;height:62px">
                        <div class="inquiry_detail">
                            <ul>
                                <li>주문번호 {{ ask.orderNumber }}</li>
                                <li>{{ ask.product.productName }}</li>
                                <li>{{ getOptionName(ask.product.options)}} </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box_top">
                        <p>미답변</p>
                        <ul>
                            <li>{{ formatDate(ask.createDate) }}</li>
                            <li><img src="images/l_icon_category.png"></li>
                            <li>수정</li>
                            <li><img src="images/l_icon_category.png"></li>
                            <li>삭제</li>
                        </ul>
                    </div>
                    <div class="box_btm">
                        <p>
                            <span>{{ ask.product.productName }}</span></p>
                        <p v-html="ask.content"></p>
                    </div>
                    <div class="p_answer">
                        <p v-html="ask.answer"></p>
                        <ul>
                            <li>판매자</li>
                            <li><img src="images/l_icon_category.png"></li>
                            <li>{{ formatDate(ask.updateDate)}}</li>
                            <li><img src="images/l_icon_category.png"></li>
                            <li>
                                <a href="">신고</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                    
                        <!--//order-->
                        <div class="page_wrap">
                            <div class="page_nation">
                                <a class="arrow pprev" href="#"></a>
                                <a class="arrow prev" href="#"></a>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#">7</a>
                                <a href="#">8</a>
                                <a href="#">9</a>
                                <a href="#">10</a>
                                <a class="arrow next" href="#"></a>
                                <a class="arrow nnext" href="#"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- modal window -->
    <section
        id="ex1"
        class="modal deliver_mag_modal"
        style="max-width: 100%;display: none;">
        <header class="deliver_magHeader">
            <ul style="font-size: 18px;">
                <li>
                    <h2>문의 수정하기 > (아임월) 굿밸런스 라이트밀 도시락</h2>
                </li>
                <li class="clsWindow">
                    <i class="fal fa-times"></i>
                </li>
            </ul>
        </header>

        <div class="deliver_mag_modal_ctt">
            <input
                type="text"
                placeholder="문의하실 내용을 입력해주세요"
                style="padding-bottom:120px;padding-top:20px">

            <div class="btn_area_modal" style="width: 330px; margin: 0 auto;">
                <button type="button" id="btnRegister_modal">수정</button>
            </div>
        </div>
    </section>

    <!-- modal window end -->
    <script src="/js/mypage/mypageComponent.js"></script>
    <script src="/js/mypage/sellerInquiry.js"></script>
    <%-include('general/footer') %>
    </body>

</html>