<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역, 다이어트팜:: 다이어트 건강식단 플랫폼</title>
    <style>
        @media screen and (max-width:1079px) {
            .web_orderlist {
                display: none;
            }
            .order_list_box_w {
                display: none;
            }
            .order_a{border-bottom:1px solid #f1f1f1}
            .order_a:last-child{border:none}
            .mobile_orderlist{position: fixed;
                            min-width: 360px;
                            width: 100%;
                            height: 80px;
                            top: 0;
                            background-color: #fff;
                            z-index: 9999;
                            margin-bottom: 20px;}
                 #content{padding-top:60px}
        }
        @media screen and (min-width:1080px) {
            .mobile_orderlist {
                display: none;
            }
            .order_a{border-bottom:1px solid #f1f1f1}
            
        }
    </style>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_web.css">
    <link rel="stylesheet" href="/css/myPage.css">
    <%-include('general/head') %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <!--//모달창 시작-->
    <div id="x_modal" class="cancel_modal modal-overlay">
        
        <!-- Modal content -->
        <div class="modal-content">
            <div class="cancel_header">
                <h2>주문취소</h2>
                <span class="close" onclick="closeCancelModal()">&times;</span>
            </div>
            <div class="cancel_body">
                <div class="cancel_order_num cancel_body_element">
                    <h3>주문번호</h3>
                    <p>00000000</p>
                </div>
                <div class="cancel_prod cancel_body_element">
                    <h3>상품</h3>
                    <p>상품 이름</p>
                </div>
                <div class="cancel_opt cancel_body_element">
                    <h3>옵션</h3>
                    <p>상품 옵션</p>
                </div>
                <div class="cancel_type cancel_body_element">
                    <h3>취소유형</h3>
                    <select name="#" id="#">
                        <option value="#">선택</option>
                        <option value="#">선택</option>
                        <option value="#">선택</option>
                    </select>
                </div>
                <div class="cancel_content cancel_body_element">
                    <h3>내용</h3>
                    <input type="text" placeholder="문의하실 내용을 입력해주세요">
                </div>
                <div class="thick_line"></div>
            </div>
            <div class="cancel_footer">
                <div class="cancelRegister_btn">
                    <a href="#" onclick="requestOrderCancel()">등록</a>
                </div>
            </div>
        </div>
    </div>
    <div class="web_orderlist">
        <%-include('general/header') %>
    </div>

    <div class="mobile_orderlist">
        <section class="detail_title">
            <h2>주문내역</h2>
            <a href="#" 
                value="취소"
                onclick="history.back(); return false"
            >
                <img src="/images/leftarrow_ico_my.png" style="width:17px;margin-left:10px;margin-top:2px">
            </a>
        </section>
    </div>
    <main id="content" class="content" style="width: 1080px; margin: 0 auto;">
        <div class="mypage_web_side">
            <div class="main_contents_wrap">
                <div class="main_contents mypage_myinfo">
                    <h3>마이팜</h3>
                    <div class="main_contents_elements_wrap">
                        <div class="mypage_member_info">
                            <img src="/images/basket_ico.png" alt="바구니 아이콘">
                            <% if (!isLoggedIn) { %>
                               <h3><%=sessionUser.userName %>님</h3>
                               <p><a href="javascript:location.href='/myinfo-usercheck';">내정보<span><i class="fas fa-chevron-right"></i></span></a></p> 
                            <% } %>
                       
                        </div>

                        <div class="mypage_point_info frame400">
                            <h3>포인트<img src="/images/point.png" alt="포인트 아이콘"></h3>
                            <% if (isLoggedIn) { %>
                                <p v-if="">원<span><i class="fas fa-chevron-right"></i></span></p>
                            <% } %>
                        
                         </div>

                        <div class="mypage_coupon_info frame400">
                            <h3>쿠폰<img src="/images/coupon_ico.png" alt="쿠폰 아이콘"></h3>
                            <p>0개<span><i class="fas fa-chevron-right"></i></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="web_body">
                <nav class="content_lnb">
                    <ul>
                        <li class="on">
                            <a href="javascript:location.href='/orderlist';">주문내역</a>
                        </li>
                        <li style="white-space:nowrap">
                            <a href="javascript:location.href='/delivery-management';">배송지 관리</a>
                        </li>
                        <li>
                            <a href="javascript:location.href='/p_review';">상품 리뷰</a>
                        </li>
                        <li>
                            <a href="javascript:location.href='/p_inquiry';">상품 문의</a>
                        </li>
                        <li>
                            <a href="javascript:location.href='/s_inquiry';">판매자 문의</a>
                        </li>
                        <li>
                            <a href="javascript:location.href='/point';">포인트</a>
                        </li>
                        <li>
                            <a href="javascript:location.href='/coupon';">쿠폰</a>
                        </li>
                    </ul>
                </nav>
                <div class="mypage_order_info_wrap">
                    <div class="order_list_box_w">
                    <h3>주문내역</h3>
                    <table class="cell">
                        <th>주문/결제</th>
                        <th>배송중</th>
                        <th>배송완료</th>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    </table>
                    </div>
                    <div class="orderHistory_wrap">
                    <template v-for="(order, oIdx) in orderList">
                    <div class="orderHistory">
                        <div class="orderBox">
                            <div class="order01">

                                <div class="order_list_title">
                                    <p class="t1">{{ order.orderNumber }}&nbsp;&nbsp;<img src="/images/l_icon_category.png" style="position:absolute;top:8px">&nbsp;
                                        <span>{{ formatDate(order.paymentDate) }}</span>
                                    </p>
                                    <ul>
                                        <li class="t2">
                                            <a v-bind:href="'/ol_detail/' + order.orderNumber">주문상세보기<img src="/images/arrow_icon_order.png" style="width:7px;margin-left:5px"></a>
                                        </li>
                                    </ul>
                                </div>
                                <table style="border:0">
                                    <tbody>
                                        <tr class="order_a" V-for="(product, pIdx) in order.products">
                                            <td>
                                                <div class="order_list_box">
                                                    <div class="order_img">
                                                        <a v-bind:href="'/product/' + product.productCode">
                                                            <img v-bind:src="RESOURCE_SERVER + product.url" align="left" style="width:50px;height:62px;margin-right:8px">
                                                        </a>
                                                    </div>
                                                    <div class="orderDetail">
                                                        <ul class="order0">
                                                            <li>{{ product.productName }}</li>
                                                            <li>{{ numberFormat(product.retailPrice) }}</li>
                                                            <li>
                                                                <span>
                                                                    {{ convertOrderStatus(product.orderStatus) }}

                                                                </span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <div class="review_line"></div>
                                            <td class="orderlist_btn">
                                                <div class="order_list_btn">
                                                    <ul>
                                                        <template v-if="product.orderStatus == 'P'" >
                                                            <li>
                                                                <button type="button" class="btnA" onclick="OpenCancelModal()">취소신청</button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="btnB" onclick="location.href='/s_inquiry'">판매자문의</button>
                                                            </li>
                                                        </template>
                                                        <template v-if="product.orderStatus == 'X'" >
                                                            <li>
                                                                <button type="button" class="btnA">취소신청철회</button>
                                                            </li>
                                                        </template>
                                                        <template v-if="'SDF'.includes(product.orderStatus)">
                                                            <li>
                                                                <button type="button" class="btnA">구매확정</button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="btnB">배송조회</button>
                                                            </li>
                                                        </template>
                                                        <template v-if="'AC'.includes(product.orderStatus)">
                                                            <li>
                                                                <button type="button" class="btnA">리뷰작성</button>
                                                            </li>
                                                            <li>
                                                                <button type="button" class="btnB">재주문</button>
                                                            </li>
                                                            
                                                        </template>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!--//orderHistory-->
                    <div class="grayLine" v-if="oIdx != orderList.length -1"></div>
                    </template>
                    
                    </div>
                    <div class="page_wrap">
                    <div class="page_nation">
                        <a class="arrow pprev" href="#"></a>
                        <a class="arrow prev" href="#"></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                        <a class="arrow next" href="#"></a>
                        <a class="arrow nnext" href="#"></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- modal window -->
    <div id="ex1" class="modal">

        <header class="detail_title01 orderlistModal">
            <ul>
                <li>
                    <h2>배송조회</h2>
                </li>
                <li class="ordlist_clsWindow">
                    <i class="fal fa-times"></i>
                </li>
            </ul>
            <h2 class="title">(아임월) 다이어트 굿 밀도시락어쩌구저쩌구</h2>
        </header>

        <div class="circle_line">
            <div class="line2"></div>
            <ul>
                <li><img src="/images/one_icon_order.png"></li>
                <li><img src="/images/one_icon_order.png"></li>
                <li><img src="/images/one_icon_order.png"></li>
                <li><img src="/images/one_icon_order.png"></li>
                <li><img src="/images/one_icon_order.png"></li>
            </ul>
        </div>
        <div class="d_state">
            <ul>
                <li>상품인수</li>
                <li>상품이동중</li>
                <li>배송지도착</li>
                <li>배송출발</li>
                <li>배송도착</li>
            </ul>
        </div>
        <div class="d_date">
            <ul>
                <li>2.23</li>
                <li>2.23</li>
                <li>2.23</li>
                <li>2.23</li>
                <li>2.23</li>
            </ul>
        </div>

        <div class="addr">
            <div class="addr01">
                <ul>
                    <li class="p">보내는분</li>
                    <li class="a">용산</li>
                </ul>
            </div>
            <div class="addr02">
                <ul>
                    <li class="p">받는분</li>
                    <li class="a">역삼(대)</li>
                </ul>
            </div>
        </div>
        <div class="d_num">
            <ul>
                <li class="d">운송장번호</li>
                <li class="num">롯데택배 236308075290</li>
            </ul>
        </div>

        <div class="delivery_list_null">
            <img src="/images/cart_icon_order.png">
            <p class="no_list">배송 준비 중입니다.</p>
        </div>
    </div>
    <!-- modal -->
    <!-- body_contents tab3 -->
    <%-include('general/footer') %>

        
<script src="/js/orderList.js"></script>
</body>

</html>