<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포인트, 다이어트팜:: 다이어트 건강식단 플랫폼</title>

    <style>

        .current_point h2{
            text-align: center;
        }
        @media screen and (max-width:1079px) {
            main{
                padding-top: 80px;
            }
            .web_point {
                display: none;
            }
            .mobile_point{position: fixed;
                        min-width: 360px;
                        width: 100%;
                        height: 100px;
                        top: 0;
                        background-color: #fff;
                        z-index: 9999;
                        margin-bottom: 20px;}
                .contents{padding-top:70px}
        }
        @media screen and (min-width:1080px) {
            .mobile_point {
                display: none;
            }
        }
    </style>
    <link rel="stylesheet" href="/css/myPage.css">
    <link rel="stylesheet" href="/css/style_web.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <%-include('general/head') %>
</head>
<body>
<div class="mobile_point">
    <section class="detail_title">
        <h2>포인트</h2>
        <script type="text/javascript">
            function goBack() {
                window
                    .history
                    .back();
            }
        </script>
        <div class="btnback">
            <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="뒤로가기" style="width:17px">
            </a>
        </div>

        
    </section>
</div>
<div class="web_point">
    <%-include('general/header') %>
    </div>

    <main id="mypage_point_ctt">
        <div class="main_contents_wrap">
            <div class="main_contents mypage_myinfo">
                <h3>마이팜</h3>
                <div class="main_contents_elements_wrap">
                    <div class="mypage_member_info">
                        <img src="/images/basket_ico.png" alt="바구니 아이콘">
                        <% if (!isLoggedIn) { %>
                           <h3><%=sessionUser.userName %>님</h3>
                           <p><a href="javascript:location.href='/myinfo-usercheck';">내정보<span><i class="fas fa-chevron-right"></i></span></a></p> 
                        <% } %>
                   
                    </div>

                    <div class="mypage_point_info frame400">
                        <h3>포인트<img src="/images/point.png" alt="포인트 아이콘"></h3>
                        <% if (isLoggedIn) { %>
                            <p v-if="">{{ totalPointAmount }}원<span><i class="fas fa-chevron-right"></i></span></p>
                        <% } %>
                    
                     </div>

                    <div class="mypage_coupon_info frame400">
                        <h3>쿠폰<img src="/images/coupon_ico.png" alt="쿠폰 아이콘"></h3>
                        <p>0개<span><i class="fas fa-chevron-right"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="mypage_content_wrap">
                <nav class="content_lnb point_content_lnb">
                    <ul>
                        <li>
                            <a href="/orderlist">주문내역</a>
                        </li>
                        <li style="white-space:nowrap">
                            <a href="/delivery-management">배송지 관리</a>
                        </li>
                        <li>
                            <a href="/p_review">상품 리뷰</a>
                        </li>
                        <li>
                            <a href="/p_inquiry">상품 문의</a>
                        </li>
                        <li style="white-space:nowrap">
                            <a href="/s_inquiry">판매자 문의</a>
                        </li>
                        <li class="on">
                            <a href="/point">포인트</a>
                        </li>
                        <li>
                            <a href="/coupon">쿠폰</a>
                        </li>
                    </ul>
                </nav>
                <!-- <div class="contents">
                <div id="cp" class="current_point">
                    <p>현재 포인트</p>
                    <h2><img
                        src="/images/point_iocn_my.png"
                        style="width:16px;position:relative;top:3px"
                        alt="">
                        {{ totalPointAmount }} 원</h2>
                </div>
                <h2 class="point_title_web">포인트</h2>

                <div class="point_history_web">
                    <ul>
                        <li>날짜</li>
                        <li>내용</li>
                        <li>유효기간</li>
                        <li>금액</li>
                    </ul>
                </div>

                <template v-for="(point, index) in pointList">
                    
                    <section class="point_history">
                        <div class="point_history_left">
                            <ul>
                                <li class="save">적립</li>
                                <li class="due">{{ formatDate(point.applyDate)}}</li>
                                <template v-if="'EDX'.includes(point.pointType)">
                                    <li class="amount plus">+ {{numberFormat(point.point) }}원</li>

                                </template>
                                <template v-else>    
                                    <li class="amount minus">- {{numberFormat(point.point)}}원</li>
                                </template>
                            </ul>
                        </div>
                        <div class="point_history_right">
                            <ul>
                                <li class="date">{{ formatDate(point.applyDate)}}</li>
                                <li class="type">{{ parsePointType(point.pointType) }}</li>
                                <li class="brand">바디나인</li>
                            </ul>
                        </div>
                    </section>
                    <div class="point_history_line"></div>
                </template>
                    <div class="page_wrap">
                    <div class="page_nation">
                        <a class="arrow pprev" href="#"></a>
                        <a class="arrow prev" href="#"></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                        <a class="arrow next" href="#"></a>
                        <a class="arrow nnext" href="#"></a>
                    </div>
                </div>
            </div> -->
                <div class="contents point_list">
                <div class="point_current_situation">
                    <h3>현재 포인트</h3>
                    <h4>{{ totalPointAmount }}원</h4>
                </div>
                <!-- <table>
                    <th class="headerName_date">날짜</th>
                    <th class="headerName_content">내용</th>
                    <th class="headerName_validity">유효기간</th>
                    <th class="headerName_price">금액</th>
                    <tr class="point_content">
                        <td>2021.02.18</td>
                        <td>회원 가입 축하 적립</td>
                        <td class="savePoint_brand">바디나인</td>
                        <td class="indication_validity">2021.12.31 </td>
                        <td class="point_sortation">적립</td>
                        <td>+1,000원</td>
                    </tr>
                </table> -->
                <div class="point_info_content">
                    <h3 class="orderList_detail">포인트</h3>
                    <ul class="point_list_header">
                        <li class="headerName_date">날짜</li>
                        <li class="headerName_content">내용</li>
                        <li class="headerName_validity">유효기간</li>
                        <li class="headerName_price">금액</li>
                    </ul>
                    <ul class="point_list_body">
                        <li class="point_content" v-for="(point, index) in pointList">
                            <div class="point_content_element mobile_right">
                                <ul>
                                    <li class="content_date">{{formatDate(point.applyDate)}}</li>
                                    <li class="content_content">{{ parsePointType(point.pointType) }}</li>
                                    <!-- <li class="savePoint_brand">{{ point }}</li> -->
                                </ul>
                            </div>
                            <div class="point_content_element mobile_left">
                                <ul>
                                    <li class="content_validity">{{formatDate(point.applyDate)}}</li>
                                    <li class="point_sortation">
                                        <template v-if="'EXD'.includes(point.pointType)">사용</template>
                                        <template v-else>적립</template>
                                    </li>
                                    <li v-bind:class="{ 'content_price' : 1, 'minus': 'EXD'.includes(point.pointType) }">
                                        <template v-if="'EXD'.includes(point.pointType)">-</template>
                                        <template v-else>+</template>
                                        {{ numberFormat(point.point) }}원
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="page_wrap">
                    <div class="page_nation">
                        <a class="arrow pprev" href="#"></a>
                        <a class="arrow prev" href="#"></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10</a>
                        <a class="arrow next" href="#"></a>
                        <a class="arrow nnext" href="#"></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>
    <%-include('general/footer') %>
    <script src="/js/mypage/point.js"></script>
    </body>
</html>