<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 리뷰, 다이어트팜:: 다이어트 건강식단 플랫폼</title>
    <style>
        @media screen and (max-width:1079px) {
            .web_p_review {
                display: none;
            }
            .mobile_p_review{
                position: fixed;
                min-width: 360px;
                width: 100%;
                height: 80px;
                top: 0;
                background-color: #fff;
                z-index: 9999;
                margin-bottom: 20px;
            }
            .contents{padding-top:80px}
        }
        @media screen and (min-width:1080px) {
            .mobile_p_review {
                display: none;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/css/myPage.css">
    <link rel="stylesheet" href="/css/style_web.css">
    <%-include('general/head') %>

</head>
<body>
    <!-- mobile main -->
    <div class="mobile_p_review">
        <section class="detail_title">
            <h2>상품 리뷰</h2>
            <script type="text/javascript">
                function goBack() {
                    window
                        .history
                        .back();
                }
            </script>
            <div class="btnback">
                <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="">
                </a>
            </div>
        </section>
    </div>
    <div class="web_p_review">
        <%-include('general/header') %>
    </div>

    <main id="myPage_review_ctt">
        <div class="main_contents_wrap">
            <div class="main_contents mypage_myinfo">
                <h3>마이팜</h3>
                <div class="main_contents_elements_wrap">
                    <div class="mypage_member_info">
                        <img src="/images/basket_ico.png" alt="바구니 아이콘">
                        <h3>김수아님</h3>
                        <p>내정보<span><i class="fas fa-chevron-right"></i></span></p>
                    </div>

                    <div class="mypage_point_info frame400">
                        <h3>포인트<img src="/images/point.png" alt="포인트 아이콘"></h3>
                        <p>000원<span><i class="fas fa-chevron-right"></i></span></p>
                    </div>

                    <div class="mypage_coupon_info frame400">
                        <h3>쿠폰<img src="/images/coupon_ico.png" alt="쿠폰 아이콘"></h3>
                        <p>0개<span><i class="fas fa-chevron-right"></i></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mypage_content_wrap">
            <nav class="content_lnb">
            <ul>
                <li>
                    <a href="/orderlist">주문내역</a>
                </li>
                <li style="white-space:nowrap">
                    <a href="/delivery-management">배송지 관리</a>
                </li>
                <li class="on">
                    <a href="/p_reveiw">상품 리뷰</a>
                </li>
                <li>
                    <a href="/p_inquiry">상품 문의</a>
                </li>
                <li>
                    <a href="/s_inquiry">판매자 문의</a>
                </li>
                <li>
                    <a href="/point">포인트</a>
                </li>
                <li>
                    <a href="/coupon">쿠폰</a>
                </li>
            </ul>
            </nav>
        
            <div class="contents tab5">
            <h3 class="orderList_detail">상품 리뷰</h3>
            <div class="order_detail_ctn">

                <div class="tabMenu_review"
                    style="margin-top:-20px; border-bottom: 1px solid #f1f1f1;">
                    <ul class="tab_wrap">
                        <li class="active on" data-tab="tab1">
                            <span>작성 가능한 리뷰 ({{ writableReviewList.length}})</span></li>
                        <li data-tab="tab2" class="" id="possible">
                            <span>작성한 리뷰 ({{ reviewList.length}})</span></li>
                        <span></span>
                    </ul>
                </div>

                <div id="tab1" class="tab_cont active">
                    <div class="review_list_null" v-if="reviewList == undefined || reviewList.length == 0">
                        <img src="/images/note_icon_review.png">
                        <p class="no_review">아직 작성된 리뷰가 없습니다.</p>
                    </div>
                    <section class="review_list_ctn">
                        <template v-for="writable in writableReviewList">
                            <div class="review_item_box">
                                <div class="box_top">
                                <img v-bind:src="RESOURCE_SERVER + writable.product.url" style="width:50px;height:62px">
                                <ul>
                                    <li>
                                        <span>[{{ writable.product.companyName }}]</span></li>
                                    <li>{{writable.product.productName }}</li>
                                    <li>
                                        <span>{{ getOptionName(writable.product.options) }}</span></li>
                                </ul>
                            </div>
                                <button type="button" id="modal_btn">리뷰쓰기</button>
                            </div>
                        </template>

                    </section>
                </div>
                <div id="tab2" class="tab_cont">
                    <div class="review_list_null" v-if="reviewList == undefined || reviewList.length == 0">
                        <img src="/images/note_icon_review.png">
                        <p class="no_review">아직 작성된 리뷰가 없습니다.</p>
                    </div>
                    <div class="reviews" v-for="(review, index) in reviewList">
                        <div class="review_box_wrap">
                            <div class="review_item_box02">
                                <div class="box_wrap">
                                    <img v-bind:src="RESOURCE_SERVER + review.product.url" style="width:50px;height:62px">
                                    <ul>
                                        <li>
                                            <span>[{{ review.product.companyName }}]</span></li>
                                        <li>{{review.product.productName}} </li>
                                        <li>
                                            <span>{{ getOptionName(review.product.options) }}</span></li>
                                    </ul>
                                </div>
                                <div class="edit_del_icon">
                                    <p class="editBtn_click start3"><img src="/images/one_icon_review.png" alt="수정,삭제 아이콘">
                                    </p>
                                    <div class="review_edit_del_btn_ctn fade3">
                                        <button class="review_editBtn">수정하기</button><br>
                                        <button class="review_delBtn">삭제하기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="review_complete">
                                <p>{{ formatDate(review.createDate) }}</p>
                                <div id="star_grade" class="star_grade">
                                    <div class="starRev">
                                        <template v-for="count in (review.gpa * 2)">
                                            <span class="starR1 on" v-if="count % 2 == 1">별1_왼쪽</span>
                                            <span class="starR2 on" v-if="count % 2 == 0">별1_오른쪽</span>
                                        </template>
                                        <template v-for="count in (10 - (review.gpa * 2))">
                                            <template v-if="(10 - (review.gpa * 2)) % 2 == 1">
                                                <span class="starR1" v-if="count % 2 == 0">별1_왼쪽</span>
                                                <span class="starR2" v-if="count % 2 == 1">별1_오른쪽</span>
                                            </template>
                                            <template v-if="(10 - (review.gpa * 2)) % 2 == 0">
                                                <span class="starR2" v-if="count % 2 == 0">별1_오른쪽</span>
                                                <span class="starR1" v-if="count % 2 == 1">별1_왼쪽</span>
                                            </template>
                                                
                                        </template>
                                    </div>
                                    <p style="font-size:14px" v-html="review.content"></p>
                                </div>
                            </div>
                        </div>
                        <!--//review_complete-->
                    </div>

                </div>
            </div>
            </div>
        </div>
    </main>
    <%-include('general/footer') %>
    <script src="/js/mypage/product_review.js"></script>
</body>
    
</html>