<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>주문상세</title>
        <style>
            @media screen and (max-width:1079px) {
                .web_ol_detail {
                    display: none;
                }
                .orderDetails p span img{width:15px;margin-left:10px}
            }
            @media screen and (min-width:1080px) {
                .mobile_ol_detail {
                    display: none;
                }
            }
        </style>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/myPage.css">
        <link rel="stylesheet" href="/css/style_web.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <%-include('general/head') %>
        </head>

        <body>
            <div class="web_ol_detail">
                <%-include('general/header') %>
                </div>
                <div class="mobile_ol_detail">
                    <section class="detail_title">
                        <h2>주문상세</h2>
                        <a href="#"><img src="/images/leftarrow_ico_my.png"></a>
                    </section>
                </div>
                <input type="hidden" id="orderNumber" value="<%=orderNumber%>">
                <main>
                <div class="main_contents">
                    <div class="web_contents">
                        <div class="left">
                            <h3>마이팜</h3>
                            <div class="left_ctn">
                                <ul>
                                    <li><img src="/images/basket_ico.png"></li>
                                    <li>
                                        <span>김수아님</span></li>
                                    <li>내정보
                                        <span>
                                            <i class="fas fa-chevron-right"></i></span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="center">
                            <h3>포인트<img src="/images/point.png"></h3>
                            <p>1000 원
                                <span>
                                    <i class="fas fa-chevron-right"></i></span></p>
                        </div>

                        <div class="right">
                            <h3>쿠폰<img src="/images/Coupon_ico.png"></h3>
                            <p>3개
                                <span>
                                    <i class="fas fa-chevron-right"></i></span></p>
                        </div>
                    </div>
                </div>
                <nav class="content_lnb">
                    <ul>
                        <li>
                            <a href="/orderlist">주문내역</a>
                        </li>
                        <li class="on" style="white-space:nowrap">
                            <a href="/delivery-management">배송지 관리</a>
                        </li>
                        <li>
                            <a href="/p_review">상품 리뷰</a>
                        </li>
                        <li>
                            <a href="/p_inquiry">상품 문의</a>
                        </li>
                        <li>
                            <a href="/s_inquiry">판매자 문의</a>
                        </li>
                        <li>
                            <a href="/point">포인트</a>
                        </li>
                        <li>
                            <a href="/coupon">쿠폰</a>
                        </li>
                    </ul>
                </nav>
                <div class="contents">
                    <div class="order">
                        <div class="orderBox">
                            <div class="order01">
                                <div class="innerbox">

                                    <div class="dateNo">
                                        <p class="date">{{ formatDate(order.paymentDate) }}</p>
                                        <p class="no">{{ order.orderNumber }}</p>
                                    </div>
                                    <template v-for="product in order.products">
                                        <div class="orderDetails">
                                            <div class="order_title">
                                                <p>
                                                    <span>{{ product.companyName}}<img src="/images/call_icon_order.png" style="width:15px;margin-left:10px;margin-top:2px"></span></p>
                                                <ul>
                                                    <li>
                                                        <a href="/s_inquiry">문의하기<img
                                                            src="/images/arrow_ico_join.png"
                                                            style="width:7px;position:relative;left:4px;top:1px"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--//order_title-->
                                            <div class="order_datail_btn">
                                                <ul>
                                                    <template v-if="product.orderStatus == 'P'" >
                                                        <li>
                                                            <button type="button" class="btnConfirm">취소신청</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btnConfirm" onclick="location.href='/s_inquiry'">판매자문의</button>
                                                        </li>
                                                    </template>
                                                    <template v-if="product.orderStatus == 'X'" >
                                                        <li>
                                                            <button type="button" class="btnConfirm">취소신청철회</button>
                                                        </li>
                                                    </template>
                                                    <template v-if="'SDF'.includes(product.orderStatus)">
                                                        <li>
                                                            <button type="button" class="btnConfirm">구매확정</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btnConfirm">배송조회</button>
                                                        </li>
                                                    </template>
                                                    <template v-if="'AC'.includes(product.orderStatus)">
                                                        <li>
                                                            <button type="button" class="btnConfirm">리뷰작성</button>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="btnConfirm">재주문</button>
                                                        </li>
                                                        
                                                    </template>
                                                </ul>
                                            </div>
                                            <!--//
                                            <div class="buttons">
                                                <button type="button" class="btnConfirm">구매확정</button>
                                                <button type="button" class="btnTracking" style="margin-left:10px">배송조회</button>
                                            </div>
                                            -->
                                            <!--//buttons-->
                                            <template v-for="(option, oIdx) in product.options"> 
                                                
                                                <div class="orderBox02">
                                                    <a href="product_details.html">
                                                        <img v-bind:src="RESOURCE_SERVER + product.url" align="left" style="width:50px;height:62px;margin-right:20px;margin-top:10px">
                                                    </a>
                                                    <ul class="order00">
                                                        <li class="ship_state">{{ convertOrderStatus(product.orderStatus) }}</li>
                                                        <li class="product">{{ product.productName }}</li>
                                                        <li class="price">{{ product.optionTotalPrice }}원</li>
                                                        <li class="quantitiy">수량 : {{ option.opitonCount}}개</li>
                                                        <li class="option">옵션 : {{ option.optionDesc }}</li>
                                                    </ul>
                                                </div>
                                                
                                            </template>
                                        </div>
                                    </template>
                                  
                                    <table>
                                        <tbody>
                                            <tr class="order_q">
                                                <td class="title00">
                                                    주문자 정보
                                                    <img
                                                        class="downArrow"
                                                        src="/images/downarrow_ico_main.png"
                                                        alt="화살표"
                                                        style="width:14px;height:14px;">
                                                </td>
                                            </tr>
                                            <tr class="order_a">
                                                <td>
                                                    <div class="order_a_box">
                                                        <table style="border:none;">
                                                            
                                                            <tr>
                                                                <td>
                                                                    <span>주문자</span></td>
                                                                <td><template v-if="order.userName != undefined">{{ order.userName }}</template></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span>연락처</span></td>
                                                                <td>{{ order.userCellNo }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span>이메일</span></td>
                                                                <td>{{ order.userEmail }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr class="order_q">
                                                <td class="title00">
                                                    배송지 정보
                                                    <img class="downArrow" src="/images/downarrow_ico_main.png"
                                                        alt="화살표" style="width:14px;height:14px;">
                                                </td>
                                            </tr>
                                            <tr class="order_a">
                                                <td>
                                                    <div class="order_a_box">
                                                        <table style="border:none;" v-if="order.delivery != undefined">
                                                            <tr>
                                                                <td>
                                                                    <span>받는분</span></td>
                                                                <td>{{ order.delivery.userName }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span>주소</span></td>
                                                                <td>{{ order.delivery.address }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span>연락처</span></td>
                                                                <td>{{ order.delivery.userCellNo }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span>배송 메모</span></td>
                                                                <td>{{ order.deliveryDesc }}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="paymentInfo">
                                        <table>
                                            <tbody>
                                                <tr class="order_q">
                                                    <td class="title00">
                                                        결제 정보
                                                        <img
                                                            class="downArrow"
                                                            src="/images/downarrow_ico_main.png"
                                                            alt="화살표"
                                                            style="width:14px;height:14px;">
                                                    </td>
                                                </tr>
                                                <tr class="order_a">
                                                    <td>
                                                        <div class="order_a_box">
                                                            <table style="border:none;">
                                                                <tr>
                                                                    <td>
                                                                        <span>결제 방법</span></td>
                                                                    <td style="width:90px">카드 결제</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span>총 상품금액</span></td>
                                                                    <td>{{numberFormat(order.paymentTotalAmount)}}원</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span>쿠폰 할인</span></td>
                                                                    <td>-{{numberFormat(order.paidCouponAmount)}}원</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span>포인트 할인</span></td>
                                                                    <td>{{numberFormat(order.paidPointAmount)}}원</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span>배송비 할인</span></td>
                                                                    <td>0원</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>총 결제 금액</td>
                                                                    <td>{{ numberFormat(order.paidRealAmount) }}원</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table>
                                        <tbody>
                                            <tr class="order_q">
                                                <td class="title00">
                                                    포인트 혜택
                                                    <img
                                                        class="downArrow"
                                                        src="/images/downarrow_ico_main.png"
                                                        alt="화살표"
                                                        style="width:14px;height:14px;">
                                                </td>
                                            </tr>
                                            <tr class="order_a">
                                                <td>
                                                    <div class="order_a_box">
                                                        <table style="border:none;">
                                                            <tr>
                                                                <td>
                                                                    <span>구매적립</span></td>
                                                                <td style="width:75px">{{ order.accumulatePoint }} 원</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span>리뷰적립</span></td>
                                                                <td>300원</td>
                                                            </tr>
                                                            <tr>
                                                                <td>총 적립 금액</td>
                                                                <td>{{ }}원</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn_area">
                                        <button type="button" id="btnReorder" style="margin: 0 0 50px 0;">전체 재구매</button>
                                    </div>
                                </div>
                                <!-- inner box -->

                            </div>
                        </div>

                    </div>
                </main>
                    <!--//order-->
                </div>
    <%-include('general/footer') %>
    <script src="/js/orderDetail.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("tr.order_q").click(function () {
                if ($(this).next('tr').css("display") != "none") {
                    $(this)
                        .next('tr')
                        .hide();
                    $(this).removeClass("current");
                } else {
                    $("tr.order_a").css('display', 'current');
                    $("tr.order_q").removeClass("current");
                    $(this)
                        .next('tr')
                        .show();
                    $(this).addClass("none");
                }
            });
        });
    </script>

</body>
</html>