<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>다이어트 Farm</title>
        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_notice_detail {
                    display: none;
                }
            }
            @media screen and (min-width:1080px) {
                .mobile_notice_detail {
                    display: none;
                }
                #footer {
                    clear: both;
                }
            }
        </style>
        <link rel="stylesheet" href="/css/style.css">
             <%-include('general/head') %>

        </head>

        <body>
            <input type="hidden" id="boardNo" value="<%=boardNo %>">
            <div class="web_notice_detail">
                <%-include('general/header') %>
                </div>
                <div class="mobile_notice_detail">
                    <section class="detail_title">
                        <h2>공지사항</h2>
                        <div class="btnback">
                            <a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px">
                            </a>
                        </div>
                    </section>
                </div>
                <main id="content" class="cs_content">
                    <div class="notice_web_title">
                        <h2>고객센터</h2>
                        <div class="w_sidemenu">
                            <ul>
                                <a href="/notice">
                                    <li class="clicked_menu">공지사항</li>
                                </a>
                                <a href="/faq">
                                    <li>fAQ</li>
                                </a>
                                <a href="/cs-center">
                                    <li>고객센터</li>
                                </a>
                                <a href="/alarm">
                                    <li>알림설정</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="noticeBox">
                        <h4>공지사항</h4>
                        <div class="nBox_wrap">
                            <ul>
                                <h3 style="font-size:16px;font-weight:bold">{{ notice.title }}</h3>
                                <li>{{ notice.createDate }}</li>
                            </ul>
                        </div>
                        <p v-html="notice.content">
                        </p>
                        <div class="notice_detail_web_bottom">
                            <button type="button" class="noticeBtn" onclick="location.href='/notice'">목록</button>
                            <div class="nv_list">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="#"><img src="/images/downarrow_icon_category.png">이전글</a>
                                        </td>
                                        <td>포인트 정책 안내
                                            <span>2020.10.20</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#"><img src="/images/downarrow_icon_category.png">다음글</a>
                                        </td>
                                        <td>포인트 정책 안내
                                            <span>2020.10.20</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <%-include('general/footer') %>
                    <script src="/js/notice_detail.js"></script>
                    
                </body>
            </html>