<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style02.css" />
    <link rel="stylesheet" href="/css/order.css"/>
    <%-include('general/head') %>
    <style type="text/css">
         @media screen and (min-width:360px)and (max-width:1079px) {.web_order_complete{display:none}}
    @media screen and (min-width:1020px){.mobile_order_complete{display:none} }
        </style>
</head>

<body>
    <div class="web_order_complete">
        <%-include('general/header_web') %>
    </div>
    
  
    <section class="detail_title">
        <h2 style="margin-left:-15px">주문완료</h2>
        <a href="#"><img src="/images/leftarrow_ico_my.png" style="width:17px;display:none"></a>
    </section>
      <main id="content" class="content">
          <div class="order_complete_info">
              <h3>주문이 완료되었습니다.</h3>
              <div class="order_complete_wrap">
                  <table>
                      <tr class="order_no">
                          <td><span>주문번호</span></td>
                          <td>2020101920201019
                          </td>
                      </tr>
                      <tr>
                          <td><span>배송지</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                          <td style="line-height:24px">서울 강남구 테헤란로 8길 11-4 202호<br>박민지 010-1234-5678</td>
  
                      </tr>
                      <tr>
                          <td><span>결제정보</span></td>
                          <td>
                              <ul>
                                  <li>신용카드</li>
                                  <li>우리카드(1234 **** 8888 567*)</li>
                                  <li>일시불</li>
                                  <li>2020-11-12 11:30:39</li>
                              </ul>
                          </td>
                      </tr>
                      <tr>
                          <td><span>결제금액</span></td>
                          <td style="color:#31845B">100,0000원</td>
                      </tr>
                      <tr>
                          <td><span>포인트</span></td>
                          <td style="color:#31845B;">150p</td>
                      </tr>
                  </table>
               <!--// <p style="text-align:center;color:#878787;margin-bottom:38px">- 포인트는 구매확정 후 적립됩니다.</p>-->
            </div>
          </div>
          <div class="warn">
              <p>- 동일 주문건이라도 2개 이상의 브랜드를 주문하신 경우 각각 개별 배송됩니다.</p>
              <p>- 구매 확정 후 포인트가 지급되면 리뷰를 작성할 수 있습니다.<br>&nbsp;&nbsp;단, 구매 확정 후에는 교환/환불이 불가하오니 구매 확정은 신중히 부탁드립니다.</p>
              <p>- 배송완료 후 영업일 기준, 7일이 지나도 구매확정이 되지 않으면 자동구매확정이 이루어집니다.</p>
          </div>
          <div class="btn_area">
              <a href="index.html"><button type="button" id="btnOrder">홈으로</button></a>
          </div>
      </main>

      <script>
           $(document).ready(function(){
          $("#gnbAllMenu").hide();
          $("#btnGnbOpen").click(function(){
              $("#gnbAllMenu").slideToggle("fast");
          });
      });
  
         $(document).ready(function() {
              $(".m_slides_sub").hide();
              $(".m_ba_slides_n_w li").hover(function(){
                  $("ul:not(:animated)",this).slideDown("700");
  
                  $(".m_ba_slides_n_w li a").removeClass("active");
              },
              function() {
                  $("ul",this).slideUp("700");
                 });
  
              $("#memberMenu").bind("moseover mouseenter",function(){
                  $("#memMenu").show();
            });
             $("#memMenu").bind("moseout mouseleave",function(){
                  $("#memMenu").hide();
            });
  
              $("#NotmemberMenu").bind("moseover mouseenter",function(){
                  $("#NotmemMenu").show();
            });
             $("#NotmemMenu").bind("moseout mouseleave",function(){
                  $("#NotmemMenu").hide();
            });
          });
      </script>
      
      </body></html>