<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>다이어트 Farm</title>
    <style type="text/css">
    @media screen and (min-width:360px)and (max-width:1079px) {.web_order_info{display:none}}
    @media screen and (min-width:1080px){.mobile_order_info{display:none} }
    </style>
    <link rel="stylesheet" href="./css/order.css">
    <link rel="stylesheet" href="/css/style02.css">
    <%-include('general/head') %>
</head>

<body>
   <div class="web_order_info">
    <%-include('general/header_web') %>
   </div>
   <section class="detail_title">
    <h2>주문하기</h2>
<a href="#"><img src="/images/leftarrow_ico_my.png" style="width:17px" class="btnback"></a>
</section>

<main id="contents" class="content">
<div class="order">
<div class="orderBox">
<div class="order01">
<div class="innerbox">
    <table>
        <tbody>
            <tr class="order_q">
                <td class="title">
                    주문상품<span>(3)</span>
                    <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표"
                    style="width:14px;height:14px;">
                </td>
            </tr>
            <div class="thick_line"></div>
            <tr class="order_a">
                <td>
                <div class="company_product">
                <div class="title">
                <h3>아임월</h3>
                </div>
                <div class="product_info">
                <div class="info01">
                <img src="/images/dietfarmbread.jpg" style="width:56.25px;height:62px">
                 <ul>
                     <li>(아임월)굿밸런스 라이트밀 도시락</li>
                     <li>라이트밀 도시락 5종</li>
                     <li class="mobile">1개</li>
                     <li class="mobile">60,720원</li>
                 </ul>  
                 </div>
                  <div class="info02">
                      <ul>
                          <li>1개</li>
                          <li>60,720원</li>
                          <li><a href="#"><img src="/images/x_icon_login.png"></a></li>
                      </ul>
                  </div>
                   
                 </div>   
                  <div class="product_info">
                <div class="info01">
                <img src="/images/dietfarmbread.jpg" style="width:56.25px;height:62px">
                 <ul>
                    <li>(아임월)굿밸런스 라이트밀 도시락</li>
                     <li>라이트밀 도시락 5종</li>
                     <li class="mobile">1개</li>
                     <li class="mobile">60,720원</li>
                 </ul>  
                 </div>
                  <div class="info02">
                      <ul>
                          <li>1개</li>
                          <li>60,720원</li>
                          <li><a href="#"><img src="/images/x_icon_login.png"></a></li>
                      </ul>
                  </div>
                   
                 </div>    
                </div><!--//같은 회사끼리 묶음-->
       
            <div class="company_product">
               <div class="title">
                <h3 style="margin-top:15.5px">바디나인</h3>
                </div>
                <div class="product_info">
                <div class="info01">
                <img src="/images/dietfarmbread.jpg" style="width:56.25px;height:62px">
                 <ul>
                     <li>(아임월)굿밸런스 라이트밀 도시락</li>
                     <li>라이트밀 도시락 5종</li>
                     <li class="mobile">1개</li>
                     <li class="mobile">60,720원</li>
                 </ul>  
                 </div>
                  <div class="info02">
                      <ul>
                          <li>1개</li>
                          <li>60,720원</li>
                          <li><a href="#"><img src="/images/x_icon_login.png"></a></li>
                      </ul>
                  </div>
                   
                 </div>   
                  <div class="product_info">
                <div class="info01">
                <img src="/images/dietfarmbread.jpg" style="width:56.25px;height:62px">
                 <ul>
                     <li>(아임월)굿밸런스 라이트밀 도시락</li>
                     <li>라이트밀 도시락 5종</li>
                     <li class="mobile">1개</li>
                     <li class="mobile">60,720원</li>
                 </ul>  
                 </div>
                  <div class="info02">
                      <ul>
                          <li>1개</li>
                          <li>60,720원</li>
                          <li><a href="#"><img src="/images/x_icon_login.png"></a></li>
                      </ul>
                  </div>
                   
                 </div>    
                </div><!--//같은 회사끼리 묶음-->
                
                </td>


            </tr>
        </tbody>
      
    </table>
    
    <table>
        <tbody>
            <div class="order_customer">
                <p><img src="/images/asterisk.png" style="width:10px">주문자</p>
            </div>
            <tr class="order_a">
                <td>
                    <div class="order_a_box" >
                        <table class="order_cust_info" style="border:none;">
                            <tr>
                                <td><span>보내는분</span></td>
                                <td>박민지</td>
                            </tr>
                            <tr>
                                <td><span>휴대폰</span></td>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <td><span>이메일</span></td>
                                <td>minji777@dataflow.co.kr</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="change_place_ctn">
        <tbody class="ord_info_del_place">
            <div class="change_place">
                <p><img src="/images/asterisk.png" style="width:10px">배송지</p>
   <div id="wrap">
    <a href="javascript:openModal('modal1');" class="button modal-open">변경</a>
    </div>             
<div id="modal"></div>
<div class="modal-con modal1">
<a href="javascript:;" class="close"><img src="/images/x_icon_login.png"></a>
<div class="title">
  <h2>배송지 관리</h2>
   </div>
  <h3>배송지 변경</h3>

<section class="delivery_manage_list">
   
<input id="check" type="checkbox">

    <div class="del_mng_list_top">
        <ul class="del_mng_type">
            <li class="type_first">회사</li>
            <li class="type_second"><span class="tema">기본배송지</span></li>
        </ul>
        <ul class="edit_remove">
            <li class="edit_first"><a>수정</a></li>
            <li><img src="/images/l_icon_category@2x.png"></li>
            <li class="edit_second"><a>삭제</a></li>
        </ul>
    </div>
    <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
    <p class="customer_info">박민지<img src="/images/l_icon_category@2x.png">010-3288-0568</p>
</section>

<div class="del_line_thick"></div>
<section class="delivery_manage_list">
   <input id="check" type="checkbox">
    <div class="del_mng_list_top">
        <ul class="del_mng_type">
            <li class="type_first">회사</li>
        </ul>
        <ul class="edit_remove">
            <li class="basic"><a>기본배송지로 설정</a><img src="/images/l_icon_category@2x.png"></li>
            <li class="edit_first"><a>수정</a>
                <img src="/images/l_icon_category@2x.png">
            </li>
            <li class="edit_second"><a>삭제</a></li>
        </ul>
    </div>
    <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
    <p class="customer_info">박민지<img src="/images/l_icon_category@2x.png">010-3288-0568</p>
</section>

<div class="del_line_thick"></div>

<section class="delivery_manage_list">
    <input id="check" type="checkbox">
    <div class="del_mng_list_top">
        <ul class="del_mng_type">
            <li class="type_first">회사</li>
        </ul>
        <ul class="edit_remove">
            <li class="basic"><a>기본배송지로 설정</a><img src="/images/l_icon_category@2x.png"></li>
            <li class="edit_first"><a>수정</a></li>
            <li><img src="/images/l_icon_category@2x.png"></li>
            <li class="edit_second"><a>삭제</a></li>
        </ul>
    </div>
    <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
    <p class="customer_info">박민지<img src="/images/l_icon_category@2x.png">010-3288-0568</p>
</section>

<div class="del_line_thick"></div>

<div class="btn_area">
    <button type="button" id="btnRegister">확인</button>
    </div>
    <!--//btnJoin-->
        </div>
        

            <div class="place_addr">
                <ul>
                    <li class="addr_detail">서울 강남구 테헤란로8길 11-4, 2층</li>
                    <li class="order_customer_info"><span>박민지</span>010-1234-5678</li>
                </ul>
            </div>

            <div class="del_memo_wrap">
                <p class="del_memo_tit">배송 메모</p>
                <p>
                <select name="delivery_memo" class="delivery_memo">
                   <option value="#">-</option>
                    <option value="#">조심히 와주세요.</option>
                    <option value="#">조심히 와주세요.</option>
                    <option value="#">조심히 와주세요.</option>
                    <option value="#">조심히 와주세요.</option>
                </select>
                </p>
                <p>
                    <label for="del_memo_ctn"></label>
                    <input type="text" id="del_memo_ctn">
                </p>
            </div>

            <tr class="order_q">
                <td class="title">
                </td>
            </tr>
            <section class="coupon_section">
            <div class="coupon_section_wrap">
                <p>쿠폰</p>
                <div class="coupon_wrap">
                    <select>
                        <option value="*">쿠폰을 선택해 주세요.</option>
                    </select>
                </div>
                <p class="my_coupon">사용 가능 쿠폰 <span>0장</span>/ 전체 <span>0장</span></p>
            </div>

            <p>포인트</p>
            <div class="point_wrap">
                <label for="my_point"></label>
                <input type="text" id="my_point" placeholder="사용할 포인트를 입력하세요.">
                <button class="use_all_point">모두 사용</button>
            </div>
            <p class="my_coupon">사용 가능 포인트 <span>296원</span></p>
        </section>

    </table>
    
    <table class="final_price_web">
        <tbody>
            <div class="final_price">
                <p>최종 결제 금액</p>
            </div>
            <tr class="order_box">
                <td>
                    <table style="border:none;">
                        <tr>
                            <td><span>상품 금액</span></td>
                            <td class="order_info_prc">223,600</td>
                        </tr>
                        <tr>
                            <td><span>상품 할인 금액</span></td>
                            <td class="order_info_prc">-76,400</td>
                        </tr>
                        <tr>
                            <td><span>배송비</span></td>
                            <td class="order_info_prc">+0원</td>
                        </tr>
                        <tr>
                            <td><span>쿠폰 할인</span></td>
                            <td class="order_info_prc">0원</td>
                        </tr>
                        <tr>
                            <td><span>포인트 사용</span></td>
                            <td class="order_info_prc">0원</td>
                        </tr>
                    </table>
                       <table>
                        <tr class="total_price">
                            <td><span>총 결제 금액</span></td>
                            <td class="order_info_prc">147,200</td>
                        </tr>
                        <tr>
                            <td><span>예상 적립금</span></td>
                            <td class="order_info_prc">&nbsp;700원</td>
                        </tr>
                     </table>
                     
                </td>
            </tr>
            <div class="thick_line_web"></div>
        </tbody>
    </table>

    <table>
        <tbody>
            <div class="payment_method">
                <p>결제수단</p>
            </div>
            <td>
                <div class="order_payment">
                    <ul>
                        <li><a href="#"><img src="/images/npay_ico_pay.png"
                                    style="width:60px; height: 22px;"></a>
                        </li>
                        <li><a href="#"><img src="/images/cash_ico2_pay.png"
                                    style="width:56px; height: 22px;"></a>
                        </li>
                        <li><a href="#"><img src="/images/kpay_ico_pay.png"
                                    style="width:55px; height: 22px;"></a>
                        </li>
                        <li><a href="#"><img src="/images/card_ico2_pay.png"
                                    style="width:55px; height: 22px;"></a>
                        </li>
                        <li><a href="#"><img src="/images/phone_ico2_pay.png"
                                    style="width:55px; height: 22px;"></a>
                        </li>
                    </ul>

                </div>
            </td>
        </tbody>
    </table>
    <div class="order_confirm">
    <div class="group">
    <input type="checkbox" id="secret">
    <label for="secret" class="secret" style="font-size:16px;font-weight:bold;">&nbsp;&nbsp;&nbsp;위 구매조건 확인 및 결제진행 동의</label>
    </div>
       <p class="words">주문하는 상품의 품목, 가격, 배송정보 등을 전부 확인, 개인정보 제3자 동의에 관한 내용을 이해하였으며, 이에 동의합니다.</p>
        <div class="agree">
            <p class="agree01">개인정보 수집이용 및 위탁 동의 <span>(필수)</span></p>
            <p class="agree02"><a href="#">약관보기 <img src="/images/arrow_ico_join.png" width="7px" style="position:relative;top:3px"></a></p>
        </div>
        <div class="btn_area">
            <button type="button" id="btnOrder">결제하기</button>
        </div>
    </div>
</div>
</div>
</div>

</div>
<!--//order-->
</main>    
<script type="text/javascript">
jQuery(document).ready(function () {
$("tr.order_q").click(function () {
if ($(this).next('tr').css("display") != "none") {
    $(this).next('tr').hide();
    $(this).removeClass("current");
} else {
    $("tr.order_a").css('display', 'current');
    $("tr.order_q").removeClass("current");
    $(this).next('tr').show();
    $(this).addClass("none");
}
});
});
</script>
<script>
    //웹 햄버거 버튼 
     	$(document).ready(function(){
		$("#gnbAllMenu").hide();
		$("#btnGnbOpen").click(function(){
			$("#gnbAllMenu").slideToggle("fast");
		});
	});

	   $(document).ready(function() {
            $(".m_slides_sub").hide();
            $(".m_ba_slides_n_w li").hover(function(){
                $("ul:not(:animated)",this).slideDown("700");

                $(".m_ba_slides_n_w li a").removeClass("active");
            },
            function() {
                $("ul",this).slideUp("700");
               });

		    $("#memberMenu").bind("moseover mouseenter",function(){
				$("#memMenu").show();
		  });
		   $("#memMenu").bind("moseout mouseleave",function(){
				$("#memMenu").hide();
		  });

		    $("#NotmemberMenu").bind("moseover mouseenter",function(){
				$("#NotmemMenu").show();
		  });
		   $("#NotmemMenu").bind("moseout mouseleave",function(){
				$("#NotmemMenu").hide();
		  });
        });
    </script>
         <script>
   //배송지 변경 모달창
function openModal(modalname){
  document.get
  $("#modal").fadeIn(300);
  $("."+modalname).fadeIn(300);
}

$("#modal, .close").on('click',function(){
  $("#modal").fadeOut(300);
  $(".modal-con").fadeOut(300);
});
        </script>

</body>

</html>