<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <link rel="stylesheet" href="/css/order.css">
    <%-include('general/head') %>
    <style type="text/css">
        @media screen and (min-width:360px)and (max-width:1079px) {.web_order_complete{display:none}}
        @media screen and (min-width:1020px){.mobile_order_complete{display:none} }
        
        </style>
</head>

<body>
    <div class="web_order_complete">
     <header id="header">
      <div id="Wrapper">
          <div id="skip_navi"><a href="#Container">본문바로가기</a></div>
  
          <div id="Header">
              <div class="top_util">
                  <ul class="menu_list" id="menu_list_header">
  
                      <li class="join"><a href="#">회원가입</a></li>
                      <li class="bar"><img src="images/l_icon_category@2x.png"></li>
                      <li class="login"><a href="#">로그인</a></li>
                       <li class="bar"><img src="images/l_icon_category@2x.png"></li>
                      <li class="cs_center"><a href="#">고객센터<span id="cartToCnt"></span></a></li>
                      <li class="cart"><a href="#"><img src="images/cart_ico_main.png" alt="장바구니"></a></li>
                      <li class="mypage"><a href="#"><img src="images/my_icon_menu.png" alt="마이페이지"></a></li>
                      <li class="pick"><a href="#"><img src="images/afterheart_ico_main.png" alt="찜한 메뉴"></a></li>
                 </ul>
              </div>
              <div class="header_inner">
                  <h1><a href="javascript:common.link.moveMainHome();"><img src="images/diet_farm_logo.png" alt="다이어트팜" /></a></h1>
                  </div>
  
              <div class="header_design_area"></div>
  
          </div>
  
  
          <div id="Gnb" class="main gen1">
              <div id="gnbWrap">
                  <a href="#" id="btnGnbOpen">전체카테고리</a>
                  <!-- 전체 카테고리 레이어 -->
                  <div class="layer_all_menu" id="gnbAllMenu">
               
             <div class="m_slides_n_w"> 
              <!--메인배너 좌측 버튼-->
              <div class="m_ba_slides_n_w font_ng" style="top:0px">
                  <ul class="m_ba_slides_n">                  <li class="m_ba_slides_n_li             m_ba_line_n" style="border-top:none;"><a href="#"><img                                               src="images/salad_icon_category.png">도시락/샐러드</a>
                          <ul class="m_slides_sub sub01"  id="sub01" style="display:none">
                              <div class="m_slid_2dep_txt font_ng">
                                  <ul class="mn2dep">
                                      <li><a href="#">전체보기</a></li>
                                      <li><a href="#">바/쿠키</a></li>
                                      <li><a href="#">아이스크림/요거트</a></li>
                                      <li><a href="#">젤리/잼</a></li>
                                      <li><a href="#">고구마/계란/견과</a></li>
                                  </ul>
                              </div>
                          </ul>
                      </li>
                           <li class="m_ba_slides_n_li m_ba_line_n"><a href="#"><img src="images/meal_icon_category.png">간편식</a>
                          <ul class="m_slides_sub sub01"  id="sub01" style="display:none">
                              <div class="m_slid_2dep_txt font_ng">
                                  <ul class="mn2dep">
                                      <li><a href="#">전체보기</a></li>
                                      <li><a href="#">빵/떡/면</a></li>
                                      <li><a href="#">쉐이크/시리얼/두유</a></li>
                                      <li><a href="#">건강반찬/기타</a></li>
                                  </ul>
                              </div>
                          </ul>
                      </li>
                          <li class="m_ba_slides_n_li m_ba_line_n"><a href="#"><img src="images/chicken_icon_category.png">닭가슴살</a>
                          <ul class="m_slides_sub sub01"  id="sub01" style="display:none">
                              <div class="m_slid_2dep_txt font_ng">
                                  <ul class="mn2dep">
                                      <li><a href="#">전체보기</a></li>
                                      <li><a href="#">닭가슴살</a></li>
                                      <li><a href="#">큐브/볼</a></li>
                                      <li><a href="#">소시지</a></li>
                                  </ul>
                              </div>
                          </ul>
                      </li>
                          <li class="m_ba_slides_n_li m_ba_line_n"><a href="#"><img src="images/snack_icon_category.png">건강간식</a>
                          <ul class="m_slides_sub sub01"  id="sub01" style="display:none">
                              <div class="m_slid_2dep_txt font_ng">
                                  <ul class="mn2dep">
                                      <li><a href="#">전체보기</a></li>
                                      <li><a href="#">바/쿠키</a></li>
                                      <li><a href="#">아이스크림/요거트</a></li>
                                      <li><a href="#">젤리/잼</a></li>
                                      <li><a href="#">고구마/계란/견과</a></li>
                                      
                                  </ul>
                              </div>
                          </ul>
                      </li>
                          <li class="m_ba_slides_n_li m_ba_line_n"><a href="#"><img src="images/drink_icon_category.png">음료/소스</a>
                          <ul class="m_slides_sub sub01"  id="sub01" style="display:none">
                              <div class="m_slid_2dep_txt font_ng">
                                  <ul class="mn2dep">
                                      <li><a href="#">전체보기</a></li>
                                      <li><a href="#">티/분말</a></li>
                                      <li><a href="#">주스/즙</a></li>
                                      <li><a href="#">소스/조미료/향신료</a></li>
                                  </ul>
                              </div>
                          </ul>
                      </li>
                           <li class="m_ba_slides_n_li m_ba_line_n"><a href="#"><img src="images/fruit_icon_category.png">신선식품</a>
                          <ul class="m_slides_sub sub01"  id="sub01" style="display:none">
                              <div class="m_slid_2dep_txt font_ng">
                                  <ul class="mn2dep">
                                      <li><a href="#">정육</a></li>
                                      <li><a href="#">수산</a></li>
                                      <li><a href="#">야채</a></li>
                                      <li><a href="#">과일</a></li>
                                      
                                  </ul>
                              </div>
                          </ul>
                      </li>
                         <li class="m_ba_slides_n_li m_ba_line_n"><a href="#"><img src="images/meal_icon_category.png">브랜드</a>
                          <ul class="m_slides_sub sub01"  id="sub01" style="display:none">
                              <div class="m_slid_2dep_brand">
                           <div id="searchUsers" class="instant-search">
                      <div class="instant-search__input-container">
                          <input class="instant-search__input" type="text" spellcheck="false" placeholder="브랜드명을 검색해보세요." style="font-size:14px">
                          <a href="#"><img src="./images/grayx_icon_login.png" alt="취소"></a>
                      </div>
                      <div class="search_box_ico"><a href="#"><img src="./images/searchbox_icon_category.png" alt=""></a></div>
                  </div>
  
                  <section class="brand">
                      <div class="categ">
                          <ul>
                              <li class="all"><a hreef="#">전체</a></li>
                              <li><img src="images/l_icon_category.png"></li>
                              <li><a href="#">인기순</a></li>
                              <li><img src="images/l_icon_category.png"></li>
                              <li><a href="#">좋아요</a></li>
                          </ul>
                      </div>
                      <ul>
                          <li>
                              <ul>
                                  <li><a href="#">해담은</a>
                                  <li><a href="#"><img src="images/heart_icon_menu.png"></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul>
                                  <li><a href="#">파프리카푸드</a>
                                  <li><a href="#"><img src="images/heart_icon_menu.png"></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul>
                                  <li><a href="#">해담은2</a>
                                  <li><a href="#"><img src="images/heart_icon_menu.png"></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul>
                                  <li><a href="#">파프리카푸드2</a>
                                  <li><a href="#"><img src="images/heart_icon_menu.png"></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul>
                                  <li><a href="#">해담은</a>
                                  <li><a href="#"><img src="images/heart_icon_menu.png"></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul>
                                  <li><a href="#">파프리카푸드</a>
                                  <li><a href="#"><img src="images/heart_icon_menu.png"></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul>
                                  <li><a href="#">해담은2</a>
                                  <li><a href="#"><img src="images/heart_icon_menu.png"></a></li>
                              </ul>
                          </li>
                          <li>
                              <ul>
                                  <li><a href="#">파프리카푸드2</a>
                                  <li><a href="#"><img src="images/heart_icon_menu.png"></a></li>
                              </ul>
                          </li>
                      </ul>
                  </section>
                              </div>
                          </ul>
                      </li>
                  </ul>
              </div>
              <!--//메인배너 좌측 버튼-->
          </div>   
       </div>
                  <!--// 전체 카테고리 레이어 -->
  
                  <ul class="gnb_menu_list">
                     
                       <li><a href="new.html">신상</a></li>
  
  
                      <li><a href="best.html">베스트</a></li>
  
  
                      <li><a href="s_price.html">특가</a></li>
  
  
                      <li><a href="d_delivery.html">매일배송</a></li>
                  </ul>
              
              </div>
              <div class="searchbox">
              <form id="search-form">
                  <div class="search">
                <input type="text" name="search" class="round" placeholder="검색해보세요.">
             <img src="images/search_ico_join.png">              </div>
           </form>
              </div>
          </div>
      </div>
    </header>
     <section class="detail_title">
          <h2 style="margin-left:-15px">주문완료</h2>
          <a href="#"><img src="images/leftarrow_ico_my.png" style="width:17px;display:none"></a>
      </section>
  
  
      <main id="content" class="content">
          <div class="order_complete_info">
              <h3>주문이 완료되었습니다.</h3>
              <div class="order_complete_wrap">
                  <table>
                      <tr class="order_no">
                          <td><span>주문번호</span></td>
                          <td>2020101920201019
                          </td>
                      </tr>
                      <tr>
                          <td><span>배송지</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                          <td style="line-height:24px">서울 강남구 테헤란로 8길 11-4 202호<br>박민지 010-1234-5678</td>
  
                      </tr>
                      <tr>
                          <td><span>결제정보</span></td>
                          <td>
                              <ul>
                                  <li>신용카드</li>
                                  <li>우리카드(1234 **** 8888 567*)</li>
                                  <li>일시불</li>
                                  <li>2020-11-12 11:30:39</li>
                              </ul>
                          </td>
                      </tr>
                      <tr>
                          <td><span>결제금액</span></td>
                          <td style="color:#31845B">100,0000원</td>
                      </tr>
                      <tr>
                          <td><span>포인트</span></td>
                          <td style="color:#31845B;">150p</td>
                      </tr>
                  </table>
                  <p style="text-align:center;color:#878787;margin-bottom:38px">- 포인트는 구매확정 후 적립됩니다.</p>
              </div>
          </div>
          <div class="btn_area">
              <a href="index.html"><button type="button" id="btnOrder">홈으로</button></a>
          </div>
      </main>
      </div>
       <div class="mobile_order_complete">
      <section class="detail_title">
          <h2 style="margin-left:-15px">주문완료</h2>
          <a href="#"><img src="images/leftarrow_ico_my.png" style="width:17px"></a>
      </section>
  
  
      <main id="content" class="content">
          <div class="order_complete_info">
              <h3>주문이 완료되었습니다.</h3>
              <div class="order_complete_wrap">
                  <table>
                      <tr class="order_no">
                          <td><span>주문번호</span></td>
                          <td>2020101920201019
                          </td>
                      </tr>
                      <tr>
                          <td><span>배송지</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                          <td style="line-height:24px">서울 강남구 테헤란로 8길 11-4 202호<br>박민지 010-1234-5678</td>
  
                      </tr>
                      <tr>
                          <td><span>결제정보</span></td>
                          <td>
                              <ul>
                                  <li>신용카드</li>
                                  <li>우리카드(1234 **** 8888 567*)</li>
                                  <li>일시불</li>
                                  <li>2020-11-12 11:30:39</li>
                              </ul>
                          </td>
                      </tr>
                      <tr>
                          <td><span>결제금액</span></td>
                          <td style="color:#31845B">100,0000원</td>
                      </tr>
                      <tr>
                          <td><span>포인트</span></td>
                          <td style="color:#31845B;">150p</td>
                      </tr>
                  </table>
                  <p style="text-align:center;color:#878787;margin-bottom:38px">- 포인트는 구매확정 후 적립됩니다.</p>
              </div>
          </div>
          <div class="btn_area">
              <a href="index.html"><button type="button" id="btnOrder">홈으로</button></a>
          </div>
      </main>
     </div>
      <script>
           $(document).ready(function(){
          $("#gnbAllMenu").hide();
          $("#btnGnbOpen").click(function(){
              $("#gnbAllMenu").slideToggle("fast");
          });
      });
  
         $(document).ready(function() {
              $(".m_slides_sub").hide();
              $(".m_ba_slides_n_w li").hover(function(){
                  $("ul:not(:animated)",this).slideDown("700");
  
                  $(".m_ba_slides_n_w li a").removeClass("active");
              },
              function() {
                  $("ul",this).slideUp("700");
                 });
  
              $("#memberMenu").bind("moseover mouseenter",function(){
                  $("#memMenu").show();
            });
             $("#memMenu").bind("moseout mouseleave",function(){
                  $("#memMenu").hide();
            });
  
              $("#NotmemberMenu").bind("moseover mouseenter",function(){
                  $("#NotmemMenu").show();
            });
             $("#NotmemMenu").bind("moseout mouseleave",function(){
                  $("#NotmemMenu").hide();
            });
          });
      </script>
      
      </body></html>