<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>다이어트 Farm</title>
    <link rel="stylesheet" href="./css/order.css">
    <link rel="stylesheet" href="./css/delivery.css">

    <%-include('general/head') %>


</head>

<body>

    <!-- modal -->
    <div id="ex1" class="modal">
        <section class="review_title">
            <h2>배송지 관리</h2>
            <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_icon_join.png" alt=""
            style="width:17px"> </a>
            </div>
        </section>

        <section class="delivery_manage_list">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                    <li class="type_second"><span class="tema">기본배송지</span></li>
                </ul>
                <ul class="edit_remove">
                    <li class="edit_first"><a>수정</a></li>
                    <li><span class="bar">|</span></li>
                    <li class="edit_second"><a>삭제</a></li>
                </ul>
            </div>
            <div class="deliver_place_control_edit_ctn">
                <div class="checkbox_ctn">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox"><span></span></label>
                </div>
                <div class="customer_info_ctn">
                    <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
                    <p class="customer_info">박민지<span class="bar">|</span>010-3288-0568</p>
                </div>
            </div>
        </section>

        <div class="del_line_thick"></div>

        <section class="delivery_manage_list">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                </ul>
                <ul class="edit_remove">
                    <li class="basic"><a>기본배송지로 설정</a><span class="bar">|</span></li>
                    <li class="edit_first"><a>수정</a></li>
                    <li><span class="bar">|</span></li>
                    <li class="edit_second"><a>삭제</a></li>
                </ul>
            </div>
            <div class="deliver_place_control_edit_ctn">
                <div class="checkbox_ctn">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox"><span></span></label>
                </div>
                <div class="customer_info_ctn">
                    <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
                    <p class="customer_info">박민지<span class="bar">|</span>010-3288-0568</p>
                </div>
            </div>
        </section>

        <div class="del_line_thick"></div>

        <section class="delivery_manage_list">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                </ul>
                <ul class="edit_remove">
                    <li class="basic"><a>기본배송지로 설정</a><span class="bar">|</span></li>
                    <li class="edit_first"><a>수정</a></li>
                    <li><span class="bar">|</span></li>
                    <li class="edit_second"><a>삭제</a></li>
                </ul>
            </div>
            <div class="deliver_place_control_edit_ctn">
                <div class="checkbox_ctn">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox"><span></span></label>
                </div>
                <div class="customer_info_ctn">
                    <p class="address">서울 강남구 테헤란로 8길 11-4 202호</p>
                    <p class="customer_info">박민지<span class="bar">|</span>010-3288-0568</p>
                </div>
            </div>
        </section>

        <div class="del_line_thick"></div>

        <section class="delivery_manage_list">
            <div class="del_mng_list_top">
                <ul class="del_mng_type">
                    <li class="type_first">회사</li>
                </ul>
                <ul class="edit_remove">
                    <li class="basic"><a>기본배송지로 설정</a><span class="bar">|</span></li>
                    <li class="edit_first"><a>수정</a></li>
                    <li><span class="bar">|</span></li>
                    <li class="edit_second"><a>삭제</a></li>
                </ul>
            </div>

            <div class="btn_area" style="margin-top:20px">
                <button type="button" class="btnJoin">
                    <span>배송지 등록</span>
                </button>
            </div>
            <!--//btnJoin-->
        </section>
    </div>



<!-- modal -->

<section class="detail_title">
<div class="detail_title_ctn">
<h2>주문하기</h2>
<a href="#"><img src="/images/leftarrow_ico_my.png" style="width:17px"></a>
</div>
</section>


<main id="content" class="content">
<div class="order">
<div class="orderBox">
<div class="order01">
    <div class="innerbox">
        <table>
            <tbody>
                <tr class="order_q">
                    <td class="title">
                        주문상품
                        <img class="downArrow" src="./images/downarrow_ico_main.png" alt="화살표"
                            style="width:14px;height:14px;">
                    </td>
                </tr>

                <tr class="order_a">
                    <td>
                        <div class="distrib_brand">
                            에코맥스 유통
                        </div>
                        <div class="order_info_slim_line"></div>
                        <div class="order_a_box">
                            <a href="#">
                                <div class="order_info_thum"></div>
                            </a>
                            <ul class="order001">
                                <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                <li>60,720원</li>
                                <li class="gray">수량: 3개</li>
                                <li class="gray">옵션: 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                            </ul>
                        </div>

                        <div class="order_info_slim_line"></div>
                        <div class="order_a_box">
                            <a href="#">
                                <div class="order_info_thum"></div>
                            </a>
                            <ul class="order001">
                                <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                <li>60,720원</li>
                                <li class="gray">수량: 3개</li>
                                <li class="gray">옵션: 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                            </ul>
                        </div>
                    </td>


                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <div class="order_customer">
                    <p><span>*</span>주문자</p>
                </div>
                <tr class="order_a">
                    <td>
                        <div class="order_a_box">
                            <table class="order_cust_info" style="border:none;">
                                <tr>
                                    <td><span>보내는분</span></td>
                                    <td>박민지</td>
                                </tr>
                                <tr>
                                    <td><span>휴대폰</span></td>
                                    <td>010-1234-5678</td>
                                </tr>
                                <tr>
                                    <td><span>이메일</span></td>
                                    <td>minji777@dataflow.co.kr</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="change_place_ctn">
            <tbody class="ord_info_del_place">
                <div class="change_place">
                    <p><span>*</span>배송지</p>
                    <p><a href="#ex1" rel="modal:open">변경</a></p>
                </div>

                <div class="place_addr">
                    <ul>
                        <li class="addr_detail">서울 강남구 테헤란로8길 11-4, 2층</li>
                        <li class="order_customer_info"><span>박민지</span>010-1234-5678</li>
                    </ul>
                </div>

                <div class="del_memo_wrap">
                    <p class="del_memo_tit">배송 메모</p>
                    <p>
                        <label for="del_memo_ctn"></label>
                        <input type="text" id="del_memo_ctn">
                    </p>
                </div>

                <tr class="order_q">
                    <td class="title">
                    </td>
                </tr>
            </tbody>

            <div class="thick_line"></div>

            <section class="coupon_section">
                <div class="coupon_section_wrap">
                    <p>쿠폰</p>
                    <div class="coupon_wrap">
                        <select
                            style="width:100%;height:45px;border-radius:7px;border:1px solid #BBBBBB; box-shadow: 0 1px 3px gray;">
                            <option value="*">쿠폰을 선택해 주세요.</option>
                        </select>
                    </div>
                    <p class="my_coupon">사용 가능 쿠폰 <span>0장</span>/ 전체 <span>0장</span></p>
                </div>

                <p>포인트</p>
                <div class="point_wrap">
                    <label for="my_point"></label>
                    <input type="text" id="my_point" placeholder="사용할 포인트를 입력하세요.">
                    <button class="use_all_point">모두 사용</button>
                </div>
                <p class="my_coupon">사용 가능 포인트 <span>296원</span></p>
            </section>

        </table>
        <table>
            <tbody>
                <div class="final_price">
                    <p>최종 결제 금액</p>
                </div>
                <tr class="order_a">
                    <td>
                        <table style="border:none;">
                            <tr>
                                <td><span>상품 금액</span></td>
                                <td class="order_info_prc">223,600</td>
                            </tr>
                            <tr>
                                <td><span>상품 할인 금액</span></td>
                                <td class="order_info_prc">-76,400</td>
                            </tr>
                            <tr>
                                <td><span>배송비</span></td>
                                <td class="order_info_prc">+0원</td>
                            </tr>
                            <tr>
                                <td><span>쿠폰 할인</span></td>
                                <td class="order_info_prc">0원</td>
                            </tr>
                            <tr>
                                <td><span>포인트 사용</span></td>
                                <td class="order_info_prc">0원</td>
                            </tr>
                            <div class="order_info_slim_line"></div>
                            <tr class="total_price">
                                <td><span>총 결제 금액</span></td>
                                <td class="order_info_prc">147,200</td>
                            </tr>
                            <tr>
                                <td><span>예상 적립금</span></td>
                                <td class="order_info_prc">&nbsp;700원</td>
                            </tr>
                            <!-- <div class="total_price_line"></div> -->
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
        </table>
        <table>
            <tbody>
                <div class="payment_method">
                    <p>결제수단</p>
                </div>
                <td>
                    <div class="order_payment">
                        <ul>
                            <li><a href="#"><img src="/images/npay_ico_pay.png"
                                        style="width:55px; height: 22px;"></a>
                            </li>
                            <li><a href="#"><img src="/images/cash_ico2_pay.png"
                                        style="width:55px; height: 22px;"></a>
                            </li>
                            <li><a href="#"><img src="/images/kpay_ico_pay.png"
                                        style="width:55px; height: 22px;"></a>
                            </li>
                            <li><a href="#"><img src="/images/card_ico2_pay.png"
                                        style="width:55px; height: 22px;"></a>
                            </li>
                            <li><a href="#"><img src="/images/phone_ico2_pay.png"
                                        style="width:55px; height: 22px;"></a>
                            </li>
                        </ul>

                    </div>
                </td>
            </tbody>
        </table>
        <div class="order_confirm">
            <div class="order_info_check_box">
                <i class="far fa-check-circle fa-2x"></i>
                <span style="font-size:14px;font-weight:bold;">위 구매조건 확인 및 결제진행 동의</span>
            </div>
            <div class="agree">
                <p>주문하는 상품의 품목, 가격, 배송정보 등을 전부 확인, 개인정보 제3자 동의에 관한 내용을 이해하였으며, 이에 동의합니다.</p>
            </div>
            <div class="btn_area">
                <button type="button" id="btnOrder">결제하기</button>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<!--//order-->
</main>

<script type="text/javascript">
jQuery(document).ready(function () {
$("tr.order_q").click(function () {
if ($(this).next('tr').css("display") != "none") {
    $(this).next('tr').hide();
    $(this).removeClass("current");
} else {
    $("tr.order_a").css('display', 'current');
    $("tr.order_q").removeClass("current");
    $(this).next('tr').show();
    $(this).addClass("none");
}
});
});


</script>

</body>

</html>