<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>포인트</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/myPage.css">

    </head>

    <body>
        <section class="detail_title">
            <h2>포인트</h2>
            <script type="text/javascript">
                function goBack() {
                    window
                        .history
                        .back();
                }
            </script>
            <div class="btnback">
                <a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="뒤로가기" style="width:17px">
                </a>
            </div>

            <div id="cp" class="current_point">
                <p>현재 포인트</p>
                <h2><img
                    src="./images/point_iocn_my.png"
                    style="width: 16px;position:relative;top:3px"
                    alt="">
                    3,000원</h2>
            </div>
        </section>

        <div class="point_line"></div>

        <section class="point_history">
            <div class="point_history_left">
                <ul>
                    <li class="save">적립</li>
                    <li class="amount">+500원</li>
                </ul>
            </div>
            <div class="point_history_right">
                <ul>
                    <li class="date">2020.11.09</li>
                    <li class="type">구매 적립</li>
                    <li class="brand">바디나인</li>
                </ul>
            </div>
        </section>
        <div class="point_history_line"></div>
        <section class="point_history">
            <div class="point_history_left">
                <ul>
                    <li class="save">적립</li>
                    <li class="amount">+500원</li>
                </ul>
            </div>
            <div class="point_history_right">
                <ul>
                    <li class="date">2020.11.09</li>
                    <li class="type">구매 적립</li>
                    <li class="brand">바디나인</li>
                </ul>
            </div>
        </section>
        <div class="point_history_line"></div>
        <section class="point_history">
            <div class="point_history_left">
                <ul>
                    <li class="save">적립</li>
                    <li class="amount">+500원</li>
                </ul>
            </div>
            <div class="point_history_right">
                <ul>
                    <li class="date">2020.11.09</li>
                    <li class="type">구매 적립</li>
                    <li class="brand">바디나인</li>
                </ul>
            </div>
        </section>
        <div class="point_history_line"></div>
        <section class="point_history">
            <div class="point_history_left">
                <ul>
                    <li class="save">적립</li>
                    <li class="amount">+500원</li>
                </ul>
            </div>
            <div class="point_history_right">
                <ul>
                    <li class="date">2020.11.09</li>
                    <li class="type">구매 적립</li>
                    <li class="brand">바디나인</li>
                </ul>
            </div>
        </section>
        <div class="point_history_line"></div>
        <section class="point_history">
            <div class="point_history_left">
                <ul>
                    <li class="save">적립</li>
                    <li class="amount">+500원</li>
                </ul>
            </div>
            <div class="point_history_right">
                <ul>
                    <li class="date">2020.11.09</li>
                    <li class="type">구매 적립</li>
                    <li class="brand">바디나인</li>
                </ul>
            </div>
        </section>
        <div class="point_history_line"></div>
    </body>
</html>