<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <style type="text/css">
    @media screen and (max-width:1079px) {
    .slider_item{width:100%;height:auto;display:flex;justify-content:center;
    align-items:center;color:#fff;position:absolute;top:0;z-index:999;opacity:0;
    transition:opacity 1s ease-in-out}
    .slider{width:100%;height:auto;position:relative;margin-bottom:100px}
    .slider_item img{width:100%;height:100%;background-image:no-repeat}
    .web_product_details{display:none}}
    @media screen and (min-width:1080px){.mobile_product_details{display:none}
    .slider{width:100%;position:relative;margin-bottom:100px} }
    .slider_item{width:694px!important;height:694px!important;display:flex;justify-content:center;
    align-items:center;color:#fff;position:absolute;top:0;z-index:0;opacity:0;
    transition:opacity 1s ease-in-out}
    .showing{z-index:1;opacity:1}
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <%-include('general/head') %>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/product_detail_W.css">
    <link rel="stylesheet" href="/css/style02.css">
    <link rel="stylesheet" href="/css/product_details.css">
</head>

<body>
    <div class="web_product_details">
        <%-include('general/header') %>
    </div>

    <div class="mobile_product_details">
        <section class="detail_title">
            <h2 class="title">{{ product.productName }}</h2>
            <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt=""> </a>
            </div>

            <div class="btncart"><a href="/cart"><img src="/images/cart_ico_main.png" alt="" style="width:22px;height:23px;left:20px"></a>
            </div>
        </section>
    </div><!--//모바일 헤더 끝-->

	<!-- contents-wrap // -->
	<main id="content">
        <input type="hidden" id="productCode" value="<%=productCode %>">
        <div id="contents_wrap">
                                      
                    <div class="product_top">
                        <div class="contents">	
                            
                            <div id="tab1_mobile" class="tab_cont active">
                                <div class="view_wrap">
                                    <!-- 상품navi -->
                                    <div class="view_navi_box">	
                                        <span>도시락/샐러드 <img src="/images/rightarrow_icon_join@2x.png" style="width:9px;position:relative;top:0px"> 도시락</span>
                                    <!-- //상품navi -->
                                    </div>
                                    <!-- 상품설명 -->
                                    <div class="view_top_box">
                                        <div class="view_top_img">
                                            <div id="slider_product" class="slider">
                                                <!-- <div class="slider_item" >
                                                    <img v-for="(image, index) in product.representative" v-bind:src="RESOURCE_SERVER + image.url">
                                                </div> -->
                                        
                                            </div>
                                            
                                </div>
                                    <div class="v_top_txt_box">
                                        <div id="ex1" class="modal">
                                            <p>공유하기</p>
                                            <ul>
                                                <li><a href=""><img src="/images/url_icon_friend@2x.png">카카오톡</a></li>
                                                <li><a href=""><img src="/images/url_icon_friend@2x.png">문자</a></li>
                                                <li><a href=""><img src="/images/url_icon_friend@2x.png">URL 복사</a></li>
                                            </ul>
                                            <a href="#" rel="modal:close"></a>
                                          </div>
                                        <div class="share_img">
                                            <p><a href="#ex1" rel="modal:open"><img src="/images/share_icon_detail.png"></a></p>
                                        </div>
                                        <h1 class="v_top_name">{{ product.productName }}</h1>
                                        <p class="v_top_txt">{{ product.productDesc }}</p>
                                        <div class="price_mobile">
                                            <p class="p1">{{ numberFormat(product.discountPrice) }}원</p>
                                            <p class="p2" v-if="product.discountPrice != product.retailPrice">{{ numberFormat(product.retailPrice) }}원</p>
                                            <p class="p3" v-if="product.discountPrice != product.retailPrice">{{ numberFormat(product.discountRate) }}%</p>
                                        </div> 
                        
                                        <div class="v_n_top_info">
                                            <table>
                                                <tr class="point">
                                                    <td><span>포인트</span></td>
                                                    <td class="ex">로그인, 옵션 선택 후 확인 가능합니다.</td>
                                                </tr>
                                                <tr class="delivery-type">
                                                    <td><span>배송방법</span></td>
                                                    <td class="ex">업체 택배배송</td>
                                                </tr>
                                                <tr class="delivery-cost">
                                                    <td><span>배송비</span></td>
                                                    <td class="ex">
                                                        <template>{{ product.deliveryCostHtml }}</template>
                                                    </td>
                                                </tr>
                                                <tr class="packing-type">
                                                    <td><span>포장타입</span></td>
                                                    <td class="ex">
                                                        <template v-if="product.packingType == 'A'">상온 (종이박스)</template>
                                                        <template v-if="product.packingType == 'B'">냉장 (아이스박스)</template>
                                                    
                                                    </td>
                                                </tr>
                                                <tr class="courier-name">
                                                    <td><span>택배사</span></td>
                                                    <td class="ex">{{ product.deliveryCompany }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--//v_n_top_info2-->
                        
                                        <div class="option_wrap">
                                            <h3><img src="/images/star_icon_join.png">옵션선택(필수)</h3>
                                            <table class="product_option">
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td>
                                                        <select name="products" id="products" style="border-color:#BBBBBB">
                                                            <option value="-1" selected>선택</option>
                                                            <option v-bind:value="index" v-for="(item, index) in product.options">{{ item.optionDesc }}</option>

                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div id="selectedOptionDiv"> 
                                                <div v-for="(item, index) in selectedOptions">
                                                    <div class="product_count">
                                                        <div class="product_title">
                                                            <h4>{{ item.optionDesc }}<h4>
                                                            <ul>
                                                                <li><img src="/images/x_icon_login.png" v-on:click="deleteFromArray(index)" style="width:8px"></li>
                                                            </ul>
                                                        </div>
                                                        <div class="number_price">
                                                            <div class="number-input">
                                                                <button class="minus" v-on:click="changeOptionCount(false, index)"></button>
                                                                <input class="quantity" min="1" name="quantity" v-model="item.optionCount" value="1" type="number">
                                                                <button class="plus" v-on:click="changeOptionCount(true, index)"></button>
                                                            </div>
                                                            <p> {{ numberFormat(item.optionDiscountPrice * item.optionCount) }} 원</p>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="line_w"></div>
                                                <div class="total_price">
                                                    <p>총 상품금액 <span>{{ numberFormat(optionTotalPrice) }}원 </span></p>
                                                </div>
                                                <div class="common_btn_wrap">
                                                    <div class="option_btns">
                                                        <button type="button" class="h_btn">
                                                        <img src="/images/heart_icon_menu.png" ></button>
                                                        <button type="button" class="c_btn">장바구니</button>
                                                        <button type="button" class="p_btn" v-on:click="onSubmit()">구매하기</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                   

                        <div class="pp_wrap">
                            <section class="purchased_products">
                                <h3>이 상품과 같이 구매한 상품들</h3>
                                <ul class="multiple_bxslider">
                                    <li>
                                        <a href="#">
                                            <img src="/images/dietfarmbread.jpg" >
                                            <span class="price">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="/images/dietfarmbread.jpg" >
                                            <span class="price">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="/images/dietfarmbread.jpg" >
                                            <span class="price">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="/images/dietfarmbread.jpg" >
                                            <span class="price">
                                                <p class="title">제품이름</p>
                                                <ul>
                                                    <li class="sale">23,400원</li>
                                                    <li class="cost">26,000원</li>
                                                    <li class="ratio">10%</li>
                                                </ul>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="products_ex_mobile">
                            <img src="">
                        </div>
                    </div>
                </div>
       
				<div class="products_ex_mobile" style="padding:0">
                    <img v-for="image in product.detail" v-bind:src="RESOURCE_SERVER + image.url" style="width:100%; height:100%">
                </div>
                </div>
            </div>
                </div>
				<!-- 상품상세정보 -->
				<div class="product_detail_content">
                    <!--//
			       <div class="w_tabMenu">
                   <div id="detail_info" class="pdt_detai_tab_vn">
                       <div class="pdt_detai_tabinner_vn">
                    <ul class="tab_wrap" id="tab_pc">
                        <li class="active" data-tab="tab1"><a href="javascript:void(0);">상품설명</a></li>
                        <li data-tab="tab2"><a href="javascript:void(0);">상세정보</a></li>
                        <li data-tab="tab3"><a href="javascript:void(0);">리뷰<span class="v_n_numb">(282)</span></a></li>
                        <li data-tab="tab4"><a href="javascript:void(0);">문의<span class="tab_detail_qna_count  v_n_numb">(0)</span></a></li>
                    </ul>
                    </div>
                    </div>
                  </div>-->
                   </div>


                   <div class="v_floating_wrap">
                    <div class="v_floating_opt" id="v_floating_opt">
                        <ul id="v_floating_optul">
                            상세옵션
                            <li>
                                <div class="viw_option_w">
                                    <p class="viw_option_tit">옵션선택</p>
                                    <dl class="viw_option_info">
                                        <dd>
                                            <div class="p_v_option_wrap">
                                                <div class="p_v_opt_listbox">
                        
                                                    <div id="roptcl">
                                                    <p class="p_v_optionmn">선택<span class="ico_select_arrow"><img src="/images/downarrow_icon_category.png"></span></p>
                                                    <ul id="roptop" class="p_v_optlist1" style="display:none;z-index:170;position:absolute;width:258px;">
                                                                <li id="v3opt1">
                                                                    <a data-idx="17626" class="p_o_list_w2"> 
                                                                        <div class="p_o_list_won">
                                                                            <p class="p_o_list_img"><img src="https://data.0app0.com/diet/shop/goods/20210408/20210408161917_5238214314.jpg"></p>
                                                                            <ul class="p_o_list_w_box">                                                              
                                                                                
                                                                                <li>01. *주간핫딜* 1개</li>  
                                                                                
                                                                                <li class="mt7"><strong>990원</strong></li>  
                                                                            </ul>    
                                                                        </div>                       
                                                                    </a>
                                                                </li>
                                                        
                                                                <li id="v3opt2">
                                                                    <a data-idx="17627" class="p_o_list_w2"> 
                                                                        <div class="p_o_list_won">
                                                                            <p class="p_o_list_img"><img src="https://data.0app0.com/diet/shop/goods/20210408/20210408161922_6063584199.jpg"></p>
                                                                            <ul class="p_o_list_w_box">                                                              
                                                                                
                                                                                <li>02. *주간핫딜* 5+1 (총6개)</li>  
                                                                                
                                                                                <li class="mt7"><strong>4,950원</strong></li>  
                                                                            </ul>    
                                                                        </div>                       
                                                                    </a>
                                                                </li>
                                                        

                                                    </ul>
                                                    </div>
                                                <div style="height:493px;">
                                                    <ul class="p_v_optlist2 mt10">
                                                     
                                                        
                                                        <li id="ad3op17626" data-optidx="17626" data-activeyn="N"  data-mlgflg="N" style="display:none;">
                                                            <div class="p_v_opt_mn">
                                                            <a>    
                                                                
                                                                <span class="num">01. </span><span class="txt">*주간핫딜* 1개</span>
                                                                
                                                                <div class="v_opt_box">
                                                                    <a onclick="$.optDel(17626);" style="cursor:pointer;">
                                                                    <p class="del"><img src="/img/ico/ico_del.png"></p>
                                                                    </a>
                                                                    <ul class="v_option1">
                                                                        <li class="price">
                                                                            <span class="price_input" id="curcnt"><input type="number" value="1" class="price_input inputno2" style="outline: none;" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4" data-idx="17626" data-uc="1"/></span>                       
                                                                        </li>
                                                                        <p class="plus" id="plsbtn" onclick="$.plsGoods(17626);"><a><img src="/img/ico/ico_plus.gif"></a></p>
                                                                        <p class="mius" id="minbtn" onclick="$.mnsGoods(17626);"><a><img src="/img/ico/ico_mius.gif"></a></p>
                                                                    </ul>
                                                                    <div class="v_opt_price"><span id="option_price" data-price="990" >990</span>원</div>	
                                                                </div>
                                                            </a>
                                                            </div>
                                                        </li>

                                                        
                                                        <li id="ad3op17627" data-optidx="17627" data-activeyn="N"  data-mlgflg="N" style="display:none;">
                                                            <div class="p_v_opt_mn">
                                                            <a>    
                                                                
                                                                <span class="num">02. </span><span class="txt">*주간핫딜* 5+1 (총6개)</span>
                                                                
                                                                <div class="v_opt_box">
                                                                    <a onclick="$.optDel(17627);" style="cursor:pointer;">
                                                                    <p class="del"><img src="/img/ico/ico_del.png"></p>
                                                                    </a>
                                                                    <ul class="v_option1">
                                                                        <li class="price">
                                                                            <span class="price_input" id="curcnt"><input type="number" value="1" class="price_input inputno2" style="outline: none;" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="4" data-idx="17627" data-uc="1"/></span>                       
                                                                        </li>
                                                                        <p class="plus" id="plsbtn" onclick="$.plsGoods(17627);"><a><img src="/img/ico/ico_plus.gif"></a></p>
                                                                        <p class="mius" id="minbtn" onclick="$.mnsGoods(17627);"><a><img src="/img/ico/ico_mius.gif"></a></p>
                                                                    </ul>
                                                                    <div class="v_opt_price"><span id="option_price" data-price="4950" >4,950</span>원</div>	
                                                                </div>
                                                            </a>
                                                            </div>
                                                        </li>


                                                    </ul>
                                                    </div>
                                                필수옵션 선택후
                                                </div>
                                            </div>

                                        </dd>
                                    </dl>

                                    구매하기, 장바구니담기 영역
                                    <div class="v_opt_btn_w">
                                    <div class="line_w"></div>
                <div class="total_price">
                    <p>총 상품금액 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>8,500원</span></p>
                </div>
                <div class="common_btn_wrap">
                    <div class="option_btns">
                        <button type="button" class="h_btn">
                        <img src="/images/heart_icon_menu.png" ></button>
                        <button type="button" class="c_btn" style="margin-left:4px">장바구니</button>
                        <button type="button" class="p_btn" style="margin-left:4px">구매하기</button>
                    </div>
                </div>	
           </div> -->
                               

                            </div>
                        </li>

                        <!--//상세옵션-->
                    </ul>
                </div>             

                </div>
                  <div id="tab1" class="tab_cont active">
                    <div class="products_ex">
                        <img v-for="image in product.detail" v-bind:src="RESOURCE_SERVER + image.url" style="width:100%; height:100%">
                 </div>
                   </div>
                                     
               <div id="tab2" class="tab_cont">
            <div class="infoDetails">
                <ul>
                    <li>
                        <h3>배송 안내</h3>
                        <ul>
                            <li>- 다신배송, 다신쿨배송, 업체배송 상품에 따라 따로 발송이 될 수 있습니다.</li>
                            <li> - 각 상품 페이지에서 택배사 정보, 배송비, 무료배송비 구매 조건을 확인하실 수 있습니다.</li>
                            <li> - 제주도 및 도서산간 지역은 추가 배송비가 발생할 수 있습니다. </li>
                            <li>- 택배배송 상품으로 출고일로부터 1~3일 정도 소요될 수 있습니다.(주말, 공휴일 제외)</li>
                        </ul>
                    </li>
                    <li>
                        <h3>[교환 및 반품 접수 방법]</h3>
                        <ul>
                            <li>- 다신배송, 다신쿨배송, 업체배송 상품에 따라 따로 발송이 될 수 있습니다.</li>
                            <li> - 각 상품 페이지에서 택배사 정보, 배송비, 무료배송비 구매 조건을 확인하실 수 있습니다.</li>
                            <li> - 제주도 및 도서산간 지역은 추가 배송비가 발생할 수 있습니다. </li>
                            <li>- 택배배송 상품으로 출고일로부터 1~3일 정도 소요될 수 있습니다.(주말, 공휴일 제외)</li>
                        </ul>
                    </li>
                    <li>
                        <h3>[교환 및 반품 처리가 불가한 경우]</h3>
                        <ul>
                            <li> - 식품 특성상, 신선/냉동식품을 포함해 모든 식품은 단순변심에 의한 교환, 반품이 불가합니다. (반품시 무조건 폐기) </li>
                            <li>- 배송지가 직장 주소인 경우, 주문시 토요일 수령 가능 여부를 꼭 확인해주세요. (변질 및 반송시 재발송 불가) 제품별 출고마감시간을 확인하여 금요일 출고인 경우, 꼭 고객센터로 출고일 변경 요청해주세요. </li>
                            <li>- 수령자 부재, 잘못된 주소, 전화번호 결번 등으로 반송, 배송지연된 경우 - 배송요청사항에 출고일 변경을 요청한 경우 (택배기사님들이 보시는 항목으로 요청사항이 반영되지 않습니다.) </li>
                            <li>- 고객님 부주의로 인해 상품 포장 훼손 및 오염된 경우 - 수령일로부터 교환, 반품 가능 기간 (7일)이 경과된 경우 </li>
                            <li> - 판매자와 협의없이 임의로 제품을 폐기하시거나 반송한 경우 - 구매확정(자동 구매확정 포함) 이후에는 제품의 오배송, 교환, 환불, 반품 불가</li>
                        </ul>
                    </li>
                    <li>
                        <h3>환불정보 안내</h3>
                        <ul>
                            <li>① 교환/반품은 배송완료후 7일 이내에만 요청 가능합니다. </li>
                            <li>② 결제하신 금액의 환불은 반품할 상품이 입고된 후, 7영업일 이내에 처리됩니다. </li>
                            <li>③ 쿠폰이나 적립금으로 결제하신 경우, 주문취소 또는 반품 요청시 할인받으신 금액을 제외하고 환불처리됩니다. </li>
                            <li>④ 무통장입금(가상계좌)으로 결제하셨거나, 계좌로 환불처리되는 경우에는 주문자 본인 계좌로만 환불처리됩니다.</li>
                            <li>⑤ 신용카드, 휴대폰, 실시간계좌이체를 통해 결제하신 경우 승인을 취소하여 결제 대금이 청구되지 않게 합니다. (신용카드나 휴대폰은 결제일자에 따라 대금이 청구될 수 있으며, 익월 대금 청구시 카드사에서 환급처리 됩니다.)</li>
                        </ul>
                    </li>



                </ul>
            </div>
        </div>
        <div id="tab3" class="tab_cont">
         <!--//  <script>
                function myFunction() {
                    document.getElementById(".products_ex_mobile").style = "display:none";
                }
                </script>
                --> 
   <div class="review_btn">

                <button type="button" style="width:90%;height:45px;">리뷰쓰기</button>
            </div>
                   <div class="review_list_null" style="display:none">
                <img src="/images/note_icon_review.png">
                <p class="no_review">아직 작성된 리뷰가 없습니다.</p>
        <!--// <div class="btn_area">
               <button type="button" id="btnRW_null">리뷰쓰기</button> -->
              
        <div id="wrap">
        <a href="javascript:openModal('modal1');" class="button modal-open">리뷰쓰기</a>
        </div>
          <!--//모달 안 내용 시작 -->
<div id="modal"></div>
  <div class="modal-con modal1">
    <a href="javascript:;" class="close"><img src="/images/x_icon_login.png"></a>
    <div class="title">
        <h2>리뷰쓰기</h2>
     </div>
      <div class="reviewModifyBox">
            <div class="review01">
                <table>
                    <tbody>
                        <tr class="reviewProduct">
                            <td>
                                <div class="detailBox">
                                    <a href="#"><img src="/images/dietfarmbread.jpg" align="left" style="width:90px;margin-right:15px"></a>
                                    <ul class="reviewProductInfo">
                                        <li><span>디어썸라이프</span></li>
                                        <li>[디어썸1]간편하고 든든한 고구마스틱 300g</li>
                                        <li><span>간편하고 든든한 고구마스틱 300g (20g*15개입)</span></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="star_grade" class="star_grade">
                <p>별점으로 만족도를 알려주세요</p>

                <div class="starRev">
                    <span class="starR1 on">별1_왼쪽</span>
                    <span class="starR2">별1_오른쪽</span>
                    <span class="starR1">별2_왼쪽</span>
                    <span class="starR2">별2_오른쪽</span>
                    <span class="starR1">별3_왼쪽</span>
                    <span class="starR2">별3_오른쪽</span>
                    <span class="starR1">별4_왼쪽</span>
                    <span class="starR2">별4_오른쪽</span>
                    <span class="starR1">별5_왼쪽</span>
                    <span class="starR2">별5_오른쪽</span>
                </div>
            </div>

            <ul>
                <li>
                    <form>
                        <p><textarea style="border-radius:5px;width:100%;height:153px;border-color:#BBBBBB;padding:15px;margin-top:20px"></textarea></p>
                    </form>
                </li>
            </ul>
            <div class="filebox">
                <label for="upload">사진 (선택)</label>
                <input type="file" id="upload" name="upload">
                <div id="preview">
                    <div class="previewBox">
                        <ul>
                            <li></li>
                            <li class="p2"></li>
                        </ul>
                    </div>
                    <!-- 미리보기 공간 -->
                </div>

               
                <p style="clear:both;">상품과 관련없거나 부적절한 리뷰는 포인트가 지급되지 않으며 앱 내에 등록되지 않습니다.</p>
            </div>
        </div>

        <div class="btn_area">
            <button type="button" id="btnModify">확인</button>
        </div>
  </div> <!--//모달 끝-->
           </div>
        
        <div class="reviews">
                <p class="num">리뷰 8,171개</p>
                <div class="product_review01">
                    <div class="review_info01">
                        <ul>
                            <li class="myInquiry"><span>내글</span></li>
                            <li class="line"><img src="/images/l_icon_category@2x.png" alt="구분라인"></li>
                            <li>2020.10.21</li>
                        </ul>
                        <ul>
                            <li><a href="#">수정</a></li>
                            <li class="line"><img src="/images/l_icon_category@2x.png" alt="구분라인"></li>
                            <li><a href="#">삭제</a></li>
                        </ul>
                    </div>
                    <div class="review_info02">
                        <p class="option">옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</p>
                        <div id="star_grade" class="star_grade">
                            <div class="starRev">
                                <span class="starR1 on">별1_왼쪽</span>
                                <span class="starR2">별1_오른쪽</span>
                                <span class="starR1">별2_왼쪽</span>
                                <span class="starR2">별2_오른쪽</span>
                                <span class="starR1">별3_왼쪽</span>
                                <span class="starR2">별3_오른쪽</span>
                                <span class="starR1">별4_왼쪽</span>
                                <span class="starR2">별4_오른쪽</span>
                                <span class="starR1">별5_왼쪽</span>
                                <span class="starR2">별5_오른쪽</span>
                            </div>
                            <p class="review_summ" style="font-size:14px;">배송 빠르게 받아봤고 혼합100팩으로 시켰는데 전라인이기본적으로 훈제향이 베이스라 부담없이 맛나고 먹기도 간편하네요. 해동 후 전자렌지 30초면 딱 부드럽게 먹기 좋습니다. 같이 보내주신 곤약젤리와 스파클링도 맛있네요!</p>
                        <div class="review_img01">
                            <img src="/images/dietfarmbread.jpg">
                        </div>
                            
                      <span id="toc-toggle" onclick="openCloseToc()" >더보기<img src="/images/downarrow_ico_main.png" style="width:11px;height:11px;position:relative;top:2px;left:4px"></span>
                        <div id="toc-content" style="display:none">
                          <li>글 이어서 어쩌구</li>
                          <li><img src="/images/dietfarmbread.jpg" style="width:605px"></li>
                          </div>
            <div class="line_review"></div>
                    </div>
                </div>
            </div>
                <!--//product_review01-->
                    <div class="product_review02">
                    <div class="review_info01">
                        <ul>
                            <li>박*지</li>
                            <li class="line"><img src="/images/l_icon_category@2x.png" alt="구분라인"></li>
                            <li>2020.10.21</li>
                        </ul>
                        <ul>
                            <li><a href="#">신고</a></li>

                        </ul>
                    </div>
                    <div class="review_info02">
                        <p class="option" style="font-size:13px">옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</p>
                        <div id="star_grade" class="star_grade">
                            <div class="starRev">
                                <span class="starR1 on">별1_왼쪽</span>
                                <span class="starR2">별1_오른쪽</span>
                                <span class="starR1">별2_왼쪽</span>
                                <span class="starR2">별2_오른쪽</span>
                                <span class="starR1">별3_왼쪽</span>
                                <span class="starR2">별3_오른쪽</span>
                                <span class="starR1">별4_왼쪽</span>
                                <span class="starR2">별4_오른쪽</span>
                                <span class="starR1">별5_왼쪽</span>
                                <span class="starR2">별5_오른쪽</span>
                            </div>
                               </div>
                           <p class="review_summ" style="font-size:14px;">배송 빠르게 받아봤고 혼합100팩으로 시켰는데 전라인이기본적으로 훈제향이 베이스라 부담없이 맛나고 먹기도 간편하네요. 해동 후 전자렌지 30초면 딱 부드럽게 먹기 좋습니다. 같이 보내주신 곤약젤리와 스파클링도 맛있네요!</p>
                        <div class="review_img02">
                            <img src="/images/dietfarmbread.jpg">
                        </div>
                           <span id="toc-toggle" onclick="openCloseToc()">더보기<img src="/images/downarrow_ico_main.png" style="width:11px;height:11px;position:relative;top:2px;left:4px"></span>
                        <div id="toc-content" style="display:none">
                          <li>글 이어서 어쩌구</li>
                          <li><img src="/images/dietfarmbread.jpg" style="width:605px"></li>
                          </div>
                    </div>
                    <div class="line_review"></div>
                </div>
                 <div class="product_review02">
                    <div class="review_info01">
                        <ul>
                            <li>박*지</li>
                            <li class="line"><img src="/images/l_icon_category@2x.png" alt="구분라인"></li>
                            <li>2020.10.21</li>
                        </ul>
                        <ul>
                            <li><a href="#">신고</a></li>

                        </ul>
                    </div>
                    <div class="review_info02">
                        <p class="option" style="font-size:13px">옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</p>
                        <div id="star_grade" class="star_grade">
                            <div class="starRev">
                                <span class="starR1 on">별1_왼쪽</span>
                                <span class="starR2">별1_오른쪽</span>
                                <span class="starR1">별2_왼쪽</span>
                                <span class="starR2">별2_오른쪽</span>
                                <span class="starR1">별3_왼쪽</span>
                                <span class="starR2">별3_오른쪽</span>
                                <span class="starR1">별4_왼쪽</span>
                                <span class="starR2">별4_오른쪽</span>
                                <span class="starR1">별5_왼쪽</span>
                                <span class="starR2">별5_오른쪽</span>
                            </div>
                               </div>
                           <p class="review_summ" style="font-size:14px;">배송 빠르게 받아봤고 혼합100팩으로 시켰는데 전라인이기본적으로 훈제향이 베이스라 부담없이 맛나고 먹기도 간편하네요. 해동 후 전자렌지 30초면 딱 부드럽게 먹기 좋습니다. 같이 보내주신 곤약젤리와 스파클링도 맛있네요!</p>
                        <div class="review_img02">
                            <img src="/images/dietfarmbread.jpg">
                        </div>
                           <span id="toc-toggle" onclick="openCloseToc()">더보기<img src="/images/downarrow_ico_main.png" style="width:11px;height:11px;position:relative;top:2px;left:4px"></span>
                        <div id="toc-content" style="display:none">
                          <li>글 이어서 어쩌구</li>
                          <li><img src="/images/dietfarmbread.jpg" style="width:605px"></li>
                          </div>
                    </div>
                    <div class="line_review"></div>
                </div>
                                    <div class="product_review02">
                    <div class="review_info01">
                        <ul>
                            <li>박*지</li>
                            <li class="line"><img src="/images/l_icon_category@2x.png" alt="구분라인"></li>
                            <li>2020.10.21</li>
                        </ul>
                        <ul>
                            <li><a href="#">신고</a></li>

                        </ul>
                    </div>
                    <div class="review_info02">
                        <p class="option" style="font-size:13px">옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</p>
                        <div id="star_grade" class="star_grade">
                            <div class="starRev">
                                <span class="starR1 on">별1_왼쪽</span>
                                <span class="starR2">별1_오른쪽</span>
                                <span class="starR1">별2_왼쪽</span>
                                <span class="starR2">별2_오른쪽</span>
                                <span class="starR1">별3_왼쪽</span>
                                <span class="starR2">별3_오른쪽</span>
                                <span class="starR1">별4_왼쪽</span>
                                <span class="starR2">별4_오른쪽</span>
                                <span class="starR1">별5_왼쪽</span>
                                <span class="starR2">별5_오른쪽</span>
                            </div>
                               </div>
                           <p class="review_summ" style="font-size:14px;">배송 빠르게 받아봤고 혼합100팩으로 시켰는데 전라인이기본적으로 훈제향이 베이스라 부담없이 맛나고 먹기도 간편하네요. 해동 후 전자렌지 30초면 딱 부드럽게 먹기 좋습니다. 같이 보내주신 곤약젤리와 스파클링도 맛있네요!</p>
                        <div class="review_img02">
                            <img src="/images/dietfarmbread.jpg">
                        </div>
                           <span id="toc-toggle" onclick="openCloseToc()">더보기<img src="/images/downarrow_ico_main.png" style="width:11px;height:11px;position:relative;top:2px;left:4px"></span>
                        <div id="toc-content" style="display:none">
                          <li>글 이어서 어쩌구</li>
                          <li><img src="/images/dietfarmbread.jpg" style="width:605px"></li>
                          </div>
                    </div>
                    <div class="line_review"></div>
                </div>
        <div id="wrap">
        <a href="javascript:openModal('modal1');" class="button modal-open" style="float:right;margin-left:200px;position:relative;;left:50px;top:30px;margin-bottom:30px">리뷰쓰기</a>
        </div>
          <!--//모달 안 내용 시작 -->
<div id="modal"></div>
  <div class="modal-con modal1">
    <a href="javascript:;" class="close"><img src="/images/x_icon_login.png"></a>
    <div class="title">
        <h2>리뷰쓰기</h2>
     </div>
      <div class="reviewModifyBox">
            <div class="review01">
                <table>
                    <tbody>
                        <tr class="reviewProduct">
                            <td>
                                <div class="detailBox">
                                    <a href="#"><img src="/images/dietfarmbread.jpg" align="left" style="width:90px;margin-right:15px"></a>
                                    <ul class="reviewProductInfo">
                                        <li><span>디어썸라이프</span></li>
                                        <li>[디어썸1]간편하고 든든한 고구마스틱 300g</li>
                                        <li><span>간편하고 든든한 고구마스틱 300g (20g*15개입)</span></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="star_grade" class="star_grade">
                <p>별점으로 만족도를 알려주세요</p>

                <div class="starRev">
                    <span class="starR1 on">별1_왼쪽</span>
                    <span class="starR2">별1_오른쪽</span>
                    <span class="starR1">별2_왼쪽</span>
                    <span class="starR2">별2_오른쪽</span>
                    <span class="starR1">별3_왼쪽</span>
                    <span class="starR2">별3_오른쪽</span>
                    <span class="starR1">별4_왼쪽</span>
                    <span class="starR2">별4_오른쪽</span>
                    <span class="starR1">별5_왼쪽</span>
                    <span class="starR2">별5_오른쪽</span>
                </div>
            </div>

            <ul>
                <li>
                    <form>
                        <p><textarea style="border-radius:5px;width:100%;height:153px;border-color:#BBBBBB;padding:15px;margin-top:20px"></textarea></p>
                    </form>
                </li>
            </ul>
            <div class="filebox">
                <label for="upload">사진 (선택)</label>
                <input type="file" id="upload" name="upload">
                <div id="preview">
                    <div class="previewBox">
                        <ul>
                            <li></li>
                            <li class="p2"></li>
                        </ul>
                    </div>
                    <!-- 미리보기 공간 -->
                </div>

                
                <p style="clear:both;">상품과 관련없거나 부적절한 리뷰는 포인트가 지급되지 않으며 앱 내에 등록되지 않습니다.</p>
            </div>
        </div>

        <div class="btn_area">
            <button type="button" id="btnModify">확인</button>
        </div>
  </div> <!--//모달 끝-->
                <div class="page_wrap">
   <div class="page_nation">
      <a class="arrow pprev" href="#"></a>
      <a class="arrow prev" href="#"></a>
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
      <a href="#">10</a>
      <a class="arrow next" href="#"></a>
      <a class="arrow nnext" href="#"></a>
   </div>
</div>
          <div class="common_btn_wrap" style="padding-left:15px" id="btn_mobile" >
                    <div class="option_btns">
                        <button type="button" style="width:18%;background-color:#fff;border:1px solid #EFA543">
                            <img src="/images/heart_icon_menu.png"></button>
                        <button type="button" style="width:39%">장바구니</button>
                        <button type="button" style="width:39%">구매하기</button>
                    </div>
                </div>          
 </div>                
 </div>  
    <div id="tab4" class="tab_cont">
          <!--//review_btn-->
            <div class="review_btn">
                <button type="button" style="width:90%;height: 45px;">문의하기</button>
            </div>
           <p class="inquiry">문의 571개</p>
            <div class="qna">
                <div class="myReview">
                    <p>내 문의 보기</p>
                    <input type="checkbox" id="prod_detail_toggle"><label for="prod_detail_toggle"><span>아이콘</span></label>
                </div>
                <div class="reveiw01">
                    <div class="review_edit">
                        <p><span>답변완료</span></p>
                        <ul>
                            <li class="myInquiry"><span>내글</span> <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li>2020.10.21 <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">수정</a><span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">삭제</a></li>
                        </ul>
                    </div>

                    <div class="bbsFaq01">
                        <div class="innerbox">
                            <table>
                                <tbody>
                                    <tr class="faq_q">
                                        <td class="title">
                                            언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                        </td>
                                    </tr>
                                    <tr class="faq_a faq_a01">
                                        <td>
                                            <div class="faq_a_box">
                                                <p>안녕하세요&nbsp;</p>
                                                <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                <p></p>
                                                <ul>
                                                    <li>판매자</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>2020.10.21</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>신고</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="reveiw01">
                    <div class="review_edit">
                        <p><span>답변완료</span></p>
                        <ul>
                            <li class="myInquiry"><span>내글</span> <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li>2020.10.21 <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">수정</a><span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">삭제</a></li>
                        </ul>
                    </div>

                    <div class="bbsFaq01">
                        <div class="innerbox">
                            <table>
                                <tbody>
                                    <tr class="faq_q">
                                        <td class="title">
                                            언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                        </td>
                                    </tr>
                                    <tr class="faq_a faq_a01">
                                        <td>
                                            <div class="faq_a_box">
                                                <p>안녕하세요&nbsp;</p>
                                                <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                <p></p>
                                                <ul>
                                                    <li>판매자</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>2020.10.21</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>신고</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="reveiw01">
                    <div class="review_edit">
                        <p><span>답변완료</span></p>
                        <ul>
                            <li class="myInquiry"><span>내글</span> <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li>2020.10.21 <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">수정</a><span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">삭제</a></li>
                        </ul>
                    </div>

                    <div class="bbsFaq01">
                        <div class="innerbox">
                            <table>
                                <tbody>
                                    <tr class="faq_q">
                                        <td class="title">
                                            언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                        </td>
                                    </tr>
                                    <tr class="faq_a faq_a01">
                                        <td>
                                            <div class="faq_a_box">
                                                <p>안녕하세요&nbsp;</p>
                                                <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                <p></p>
                                                <ul>
                                                    <li>판매자</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>2020.10.21</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>신고</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="reveiw01">
                    <div class="review_edit">
                        <p><span>답변완료</span></p>
                        <ul>
                            <li class="myInquiry"><span>내글</span> <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li>2020.10.21 <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">수정</a><span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">삭제</a></li>
                        </ul>
                    </div>

                    <div class="bbsFaq01">
                        <div class="innerbox">
                            <table>
                                <tbody>
                                    <tr class="faq_q">
                                        <td class="title">
                                            언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                        </td>
                                    </tr>
                                    <tr class="faq_a faq_a01">
                                        <td>
                                            <div class="faq_a_box">
                                                <p>안녕하세요&nbsp;</p>
                                                <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                <p></p>
                                                <ul>
                                                    <li>판매자</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>2020.10.21</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>신고</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="reveiw01">
                    <div class="review_edit">
                        <p><span>답변완료</span></p>
                        <ul>
                            <li class="myInquiry"><span>내글</span> <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li>2020.10.21 <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">수정</a><span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                            <li><a href="#">삭제</a></li>
                        </ul>
                    </div>

                    <div class="bbsFaq01">
                        <div class="innerbox">
                            <table>
                                <tbody>
                                    <tr class="faq_q">
                                        <td class="title">
                                            언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                        </td>
                                    </tr>
                                    <tr class="faq_a faq_a01">
                                        <td>
                                            <div class="faq_a_box">
                                                <p>안녕하세요&nbsp;</p>
                                                <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                <p></p>
                                                <ul>
                                                    <li>판매자</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>2020.10.21</li>
                                                    <li><img src="/images/l_icon_category.png"></li>
                                                    <li>신고</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              <div id="wrap_qna">
                  <a href="javascript:openModal('modal1');" class="button modal-open">문의하기</a>
           </div>
<!--//모달 안 내용 시작 -->
<div id="modal"></div>
  <div class="modal-con modal1">
     <a href="javascript:;" class="close"><img src="/images/x_icon_login.png"></a>
     <div class="title">
        <h2>상품 문의</h2>
     </div>
           <div class="productInquiryBox" style="padding-right:20px">
            <h3>(아임월) 굿밸런스 라이트밀 도시락</h3>
            <form>
                <p><textarea style="border-radius:5px;width:800px;height:200px;padding:10px;font-size:14px" placeholder="문의하실 내용을 입력해주세요"></textarea></p>

            </form>
            <div class="group">
                <input type="checkbox" id="secret">
                <label for="secret" class="secret">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비밀글 선택시 작성자만 조회 가능합니다.</label>
            </div>
        </div>
        <div class="btn_area">
            <button type="button" id="btnInquiry">등록</button>
        </div>
    
     </div><!--//문의 모달 끝-->
     
     
     
   <div class="page_wrap">
   <div class="page_nation">
      <a class="arrow pprev" href="#"></a>
      <a class="arrow prev" href="#"></a>
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
      <a href="#">10</a>
      <a class="arrow next" href="#"></a>
      <a class="arrow nnext" href="#"></a>
   </div>
</div>

    <button type="button"  class="more_inq">
        <div class="more_btn_ctn">
            <p>더보기
                <img src="/images/downarrow_icon_category.png" alt="화살표">
            </p>
        </div>
    </button> `
             <div class="common_btn_wrap" style="padding-left:15px" id="btn_mobile">
                    <div class="option_btns">
                        <button type="button" style="width:18%;background-color:#fff;border:1px solid #EFA543">
                            <img src="/images/heart_icon_menu.png"></button>
                        <button type="button" style="width:39%">장바구니</button>
                        <button type="button" style="width:39%">구매하기</button>
                    </div>
                </div>  
               </div>
			   </div>


	<!-- // contents-wrap  -->
	</div>
	</div>
</main>
    <script>
        const SHOWING_CLASS = "showing";
        const firstSlide = document.querySelector(".slider_item:first-child");
        function slide(){
            const currentSlide = document.querySelector(`.${SHOWING_CLASS}`);
            if(currentSlide){
                currentSlide.classList.remove(SHOWING_CLASS);
                const nextSlide = currentSlide.nextElementSibling;
                if(nextSlide){
                    nextSlide.classList.add(SHOWING_CLASS);
                } else {
                    firstSlide.classList.add(SHOWING_CLASS);
                }
            } else {
                firstSlide.classList.add(SHOWING_CLASS);
            }
        }
        slide();
        setInterval(slide, 4000);
    </script>
     <script>
        var upload = document.querySelector('#upload');
        var preview = document.querySelector('#preview');

        upload.addEventListener('change', function(e) {
            var get_file = e.target.files;

            var image = document.createElement('img');

            var reader = new FileReader();

            reader.onload = (function(aImg) {
                console.log(1);

                return function(e) {
                    console.log(3);
                    aImg.src = e.target.result
                }
            })(image)

            if (get_file) {                  
                reader.readAsDataURL(get_file[0]);
                console.log(2);
            }

            preview.appendChild(image);
        })
    </script>
    <script>
        var upload = document.querySelector('#upload');
        var preview = document.querySelector('#preview');

        upload.addEventListener('change', function(e) {
            var get_file = e.target.files;

            var image = document.createElement('img');

            var reader = new FileReader();

            reader.onload = (function(aImg) {
                console.log(1);

                return function(e) {
                    console.log(3);
                    aImg.src = e.target.result
                }
            })(image)

            if (get_file) {                  
                reader.readAsDataURL(get_file[0]);
                console.log(2);
            }

            preview.appendChild(image);
        })
    </script>
    <script src="/js/orderDTO/DeliveryGroupDTO.js"></script>
    <script type="text/javascript" src="/js/product.js"></script>

</body></html>