<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트팜:: 건강부터 쇼핑까지, 다이어트 토탈서비스</title>
        <link rel="stylesheet" href="/css/product_review.css">
        <link rel="stylesheet" href="/css/product.css">

        <%-include(webroot + 'views/general/head') %>
        </head>

        <body>
            <main id="content" class="content">
                <section class="detail_title">
                    <h2>상품 리뷰</h2>

                    <div class="btnback">
                        <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px;top:1px">
                        </a>
                    </div>
                </section>

                <div class="tabMenu_review" style="margin-top:-20px">
                    <ul
                        class="tab_wrap">
                <li class="
                        active" data-tab="
                        tab1"="tab1"">
                        <a href="javascript:void(0);">작성 가능한 리뷰 (3)</a>
                    </li>
                    <li data-tab="tab2">
                        <a href="javascript:void(0);">작성한 리뷰 (9)</a>
                    </li>
                </ul>
            </div>
            <div id="tab1" class="tab_cont active">
                <div class="tab1_active" style="display:none">
                    <section class="review_list_ctn">
                        <template v-for="(review, index) in reviewList">
                            <div class="review_prod">
                                <div class="review_img"></div>
                                <ul class="review_detail">
                                    <li class="review_brand">[{{ review.product.companyName }}]</li>
                                    <li class="review_prod_name">굿밸런스 라이트밀 도시락</li>
                                    <li class="review_option">옵션: 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                                </ul>

                                <div class="btn_area_2" style="margin-top:20px">
                                    <button type="button" class="btnJoin_2">
                                        <span>리뷰쓰기</span>
                                    </button>
                                </div>
                                <!--//btnJoin-->
                            </div>

                            <div class="reviewview_line_wrap">
                                <div class="review_line"></div>
                            </div>
                        </template>

                    </section>
                </div>
                <div class="tab1_null" style="display:none"></div>
            </div>
            <div id="tab2" class="tab_cont">
                <div class="reviews">
                    <div class="review_complete">
                        <table class="orderbox">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="order_a_box">
                                            <a href="#"><img
                                                src="/"
                                                align="left"
                                                style="width:20%;margin-right:20px;margin-left:15px"></a>
                                            <ul class="order001">
                                                <li>(아임월)</li>
                                                <li style="color:#000">굿밸런스 라이트밀 도시락</li>
                                                <li>옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="product_review01">
                            <div class="review_info02">
                                <p style="font-size:13px">2020.10.21</p>
                                <div id="star_grade" class="star_grade">
                                    <div class="starRev">
                                        <span class="starR1 on">별1_왼쪽</span>
                                        <span class="starR2">별1_오른쪽</span>
                                        <span class="starR1">별2_왼쪽</span>
                                        <span class="starR2">별2_오른쪽</span>
                                        <span class="starR1">별3_왼쪽</span>
                                        <span class="starR2">별3_오른쪽</span>
                                        <span class="starR1">별4_왼쪽</span>
                                        <span class="starR2">별4_오른쪽</span>
                                        <span class="starR1">별5_왼쪽</span>
                                        <span class="starR2">별5_오른쪽</span>
                                    </div>
                                    <p style="font-size:14px">좋아요좋아요좋아요좋아요</p>
                                </div>

                                <p><img src="/" style="width:30%"></p>
                            </div>
                        </div>
                        <!--//product_review01-->
                    </div>
                    <!--//review_complete-->
                    <div class="review_complete">
                        <table class="orderbox">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="order_a_box">
                                            <a href="#"><img
                                                src="/"
                                                align="left"
                                                style="width:20%;margin-right:20px;margin-left:15px"></a>
                                            <ul class="order001">
                                                <li>(아임월)</li>
                                                <li style="color:#000">굿밸런스 라이트밀 도시락</li>
                                                <li>옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                                            </ul>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="product_review01">
                            <div class="review_info02">
                                <p style="font-size:13px">2020.10.21</p>
                                <div id="star_grade" class="star_grade">
                                    <div class="starRev">
                                        <span class="starR1 on">별1_왼쪽</span>
                                        <span class="starR2">별1_오른쪽</span>
                                        <span class="starR1">별2_왼쪽</span>
                                        <span class="starR2">별2_오른쪽</span>
                                        <span class="starR1">별3_왼쪽</span>
                                        <span class="starR2">별3_오른쪽</span>
                                        <span class="starR1">별4_왼쪽</span>
                                        <span class="starR2">별4_오른쪽</span>
                                        <span class="starR1">별5_왼쪽</span>
                                        <span class="starR2">별5_오른쪽</span>
                                    </div>
                                    <p style="font-size:14px">좋아요좋아요좋아요좋아요</p>
                                </div>

                                <p><img src="/" style="width:30%"></p>
                            </div>
                        </div>
                        <!--//product_review01-->
                    </div>
                    <!--//review_complete-->
                    <div class="review_complete">
                        <table class="orderbox">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="order_a_box">
                                            <a href="#"><img
                                                src="/"
                                                align="left"
                                                style="width:20%;margin-right:20px;margin-left:15px"></a>
                                            <ul class="order001">
                                                <li>(아임월)</li>
                                                <li style="color:#000">굿밸런스 라이트밀 도시락</li>
                                                <li>옵션 : 한입닭&amp;큐브닭 9종 혼합 36팩</li>
                                            </ul>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="product_review01">
                            <div class="review_info02">
                                <p style="font-size:13px">2020.10.21</p>
                                <div id="star_grade" class="star_grade">
                                    <div class="starRev">
                                        <span class="starR1 on">별1_왼쪽</span>
                                        <span class="starR2">별1_오른쪽</span>
                                        <span class="starR1">별2_왼쪽</span>
                                        <span class="starR2">별2_오른쪽</span>
                                        <span class="starR1">별3_왼쪽</span>
                                        <span class="starR2">별3_오른쪽</span>
                                        <span class="starR1">별4_왼쪽</span>
                                        <span class="starR2">별4_오른쪽</span>
                                        <span class="starR1">별5_왼쪽</span>
                                        <span class="starR2">별5_오른쪽</span>
                                    </div>
                                    <p style="font-size:14px">좋아요좋아요좋아요좋아요</p>
                                </div>

                                <p><img src="/" style="width:30%"></p>
                            </div>
                        </div>
                        <!--//product_review01-->
                    </div>
                    <!--//review_complete-->
                </div>
                <!--//reviews-->
            </div>
        </main>
        <script src="/js/mypage/product_review.js"></script>
    </body>
</html>