<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>
        
        <title>다이어트팜:: 다이어트 건강식단 플랫폼</title>
        <style type="text/css">
     
        @media screen and (min-width:500px) and (max-width:1079px){
  .like {top:0px;margin-right:-12px}
  .like-yes { background: url("/images/afterheart_icon_main.png") no-repeat}
}
@media screen and (min-width:1080px){
.like {top: 3px !important;right:5px !important;}
/*(like-no { background: url("/images/beforeheart_ico_main.png") no-repeat;}*/
.like-yes { background: url("/images/afterheart_icon_main.png") no-repeat}
}
    @media screen and (max-width:1079px) {
        .web_product_details {display: none}
        .sidebar{display:none}
        .modal_wrap{
        display: none;
        width: 370px;
        height: auto;
        position: absolute;
        top:50%;
        left: 50%;
        margin: -160px 0 0 -180px;
        background:#fff;
        z-index:9999;
        padding:15px
       }
       .modal_wrap02{display: none;
        width: 370px;
        height: 500px;
        position: absolute;
        top:50%;
        left: 50%;
        margin: -160px 0 0 -180px;
        background:#fff;
        z-index:9999;
        }
    .black_bg, .black_bg02{
        display: none;
        position: absolute;
        content: "";
        width:1090px;
        height:1200px;
        background-color:rgba(0, 0,0, 0.5);
        top:-100px;
        left: 0;
        z-index:1000;
    }
    .modal_close, .modal_close02{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
    }
    .modal_close> a, .modal_close02> a{
        display: block;
        width: 100%;
        height: 100%;
        background:url(/images/x_icon_login.png)no-repeat;
        text-indent: -9999px;
        position:relative;
        top:42px
    }
     }
      @media screen and (min-width:1080px) {
        #content{max-width:1080px;margin:0 auto;width:1080px}
        .slick-prev{top:660px!important}
        .slick-next{top:-300px!important}
        .slick-slider{position:relative;display:block;top:-500px;margin-bottom:-660px}
        .modal_wrap, .modal_wrap02{
        display: none;
        width: 500px;
        height: auto;
        position: absolute;
        top:40%;
        left: 50%;
        margin: -250px 0 0 -250px;
        background:#eee;
        z-index: 2;
       }
    .black_bg, .black_bg02{
        display: none;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0, 0.5);
        top:0;
        left: 0;
        z-index: 1;
    }
    .modal_close, .modal_close02{
        width: 26px;
        height: 26px;
        position: absolute;
        top: -30px;
        right: 0;
    }
    .modal_close> a, .modal_close02 a{
        display: block;
        width: 100%;
        height: 100%;
        background:url(/images/x_icon_login.png)no-repeat;
        text-indent: -9999px;
        position:relative;
        top:42px
    }
   .mobile_product_details { display: none}                       
     }
        /* The Close Button */
        .product_close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .product_close:hover,
        .product_close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }  
        .fixed { position: fixed; top:0; left:0; }
        .sidebar{width:270px;height:928px;background-color:#FFFFFF; border:1px solid #BBBBBB;float:right;
                margin-top:-68px;position:sticky;top:0}
        /* swiper bundle */
        .swiper-container { min-width: 360px;height: 373px; z-index: 0}
        .swiper-slide {text-align: center; font-size: 18px; background: #fff;
            /* Center slide text vertically */
            display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
            -webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;
            justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;
            align-items: center
        } 
        .swiper-slide img {display: block;width: 100%;height: 100%;object-fit: cover}
        .swiper-pagination {width: 64px; height: 26px;border-radius: 13px;background: #fff;line-height: 26px; 
          left: 1000px; bottom: 25px}
        .swiper-pagination {font-size: 16px; font-weight: 500; font-family: 'Noto Sans KR', sans-serif;}
        
        @media screen and (max-width:1079px) {
            .swiper-container {
                margin-top: 11px !important;
                height: 373px !important;
            }
            .swiper-slide {height: 373px !important;}
            .swiper-slide img {
                height: 373px !important;
            }
            .swiper-wrapper {height: 373px !important;}
            .swiper-pagination {left: 72% !important;}
        }
        @media screen and (min-width:1080px) {
            .swiper-container {
                margin-left: 0 !important;
                position: relative;
                width: 694px; height: 694px;
            }
            .swiper-container {
                height: 694px;
            }
            }
        
        
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <%-include('general/head') %>
        <link rel="stylesheet" href="/css/product.css">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
                <!-- 공유하기 모달 -->
                    <div id="share_modal" class="share_modal modal-overlay">
                        
                        <!-- Modal content -->
                        <div class="modal-content">
                            
                            <div class="share_header">
                                <h2>공유하기</h2>
                                <span class="close" onclick="closeShareModal()">&times;</span>
                            </div>

                            <div class="share_body">
                                <div class="kakaoTalk">
                                    <p ><a id="kakao-link-btn" href="javascript:sendLink()"><img src="/images/shareKakao@2x.png" alt="url"></a></p>
                                    <p>카카오톡</p>
                                </div>
                                <div class="sms">
                                    <p><a href="javascript:void(0);"><img src="/images/shareSMS@2x.png" alt="url"></a></p>
                                    <p>문자</p>
                                </div>
                                <div class="copyUrl">
                                    <p><a href="javascript:void(0);"><img src="/images/url_icon_friend@2x.png" alt="url"></a></p>
                                    <p>url 복사</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                <!-- 공유하기 모달 끝 -->
                
                <div class="web_product_details">
                    <%-include('general/header') %>
                </div>

                <div class="mobile_product_details">
                    <section class="detail_title">
                        <h2 class="title">{{ product.productName }}</h2>
                        <div class="btnback">
                            <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="">
                            </a>
                        </div>

                        <div class="btncart">
                            <a href="/cart"><img
                                src="/images/cart_icon_main@2x.png"
                                alt=""
                                style="width:21px;height:21px;left:10px"></a>
                        </div>
                    </section>
                </div>
                <!--//모바일 헤더 끝-->

                <!-- contents-wrap // -->
                <input type="hidden" id="productCode" value="<%=productCode %>">
                <main id="content">
                    <div class="product_top">
                        <div class="tabMenu">
                            <div id="detail_info" class="pdt_detai_tab_vn">
                                <div class="pdt_detai_tabinner_vn">
                                    <ul class="tab_wrap" id="tab">
                                        <li class="active onTab mobile_tab" onclick="changeTab('tab1')" data-tab="tab1">
                                            <span>상품설명</span>
                                        </li>
                                        <li class="mobile_tab"  onclick="changeTab('tab2')" data-tab="tab2">
                                            <span>상세정보</span>
                                        </li>
                                        <li class="mobile_tab"  onclick="changeTab('tab3')" data-tab="tab3">
                                            <span>리뷰</span><span class="v_n_numb"></span>
                                        </li>
                                        <li class="mobile_tab"  onclick="changeTab('tab4')" data-tab="tab4">
                                            <span>문의</span><span class="tab_detail_qna_count  v_n_numb">(0)</span>
                                        </li>
                                        <span></span>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="contents other_cont active">
                            <div id="tab1_mobile">
                                <div class="view_wrap">
                                    <!-- 상품navi -->
                                    <div class="view_navi_box">
                                        <span>도시락/샐러드
                                            <img
                                                src="/images/rightarrow_icon_join@2x.png"
                                                style="width:9px;position:relative;top:3px">
                                    도시락</span>
                                        <!-- //상품navi -->
                                    </div>
                                    <!-- 상품설명 -->
                                    <div class="view_top_box">
                                        <div class="swiper-container productSwiper">
                                            <div class="swiper-wrapper product_slider">
                                                    <!-- <div class="swiper-slide" v-for="image in product.representative"><img v-bind:src="RESOURCE_SERVER + image.url" alt=""></div> -->
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                        <!-- <div class="view_top_img">-
                                            <img
                                            v-for="(image, index) in product.representative"
                                            v-bind:src="RESOURCE_SERVER + image.url" style="width:694px">
                                        </div> -->
                                    </div>
                                </div>
                                    <div class="v_top_txt_box">
                                        
                                        <!-- <div class="modal" id="ex">
                                            <p>공유하기</p>
                                            <ul>
                                                <li>
                                                    <a href=""><img src="/images/url_icon_friend@2x.png">카카오톡</a>
                                                </li>
                                                <li>
                                                    <a href=""><img src="/images/url_icon_friend@2x.png">문자</a>
                                                </li>
                                                <li>
                                                    <a href=""><img src="/images/url_icon_friend@2x.png">URL 복사</a>
                                                </li>
                                            </ul>
                                            <a href="#" rel="modal:close"></a>
                                        </div> -->

                                        <div class="share_img">
                                            <p>
                                                <a href="#" onclick="openShareModal();"><img src="/images/share_icon_detail.png"></a>
                                            </p>
                                        </div>
                                        <h1 class="v_top_name">{{ product.productName }}</h1>
                                        <p class="v_top_txt">{{ product.productDesc }}</p>
                                        <div class="price_mobile">
                                            <p class="p1">{{ numberFormat(product.discountPrice) }}원</p>
                                            <p class="p2" v-if="product.discountPrice != product.retailPrice">{{ numberFormat(product.retailPrice) }}원</p>
                                            <p class="p3" v-if="product.discountPrice != product.retailPrice">{{ numberFormat(product.discountRate) }}%</p>
                                        </div>

                                        <div class="v_n_top_info">
                                            <table>
                                                <tr class="delivery-type">
                                                    <td>
                                                        <span>배송방법</span></td>
                                                    <td class="ex">업체 택배배송</td>
                                                </tr>
                                                <tr class="delivery-cost">
                                                    <td>
                                                        <span>배송비</span></td>
                                                    <td class="ex">
                                                        <template>{{ product.deliveryCostHtml }}</template>
                                                    </td>
                                                </tr>
                                                <tr class="packing-type">
                                                    <td>
                                                        <span>포장타입</span></td>
                                                    <td class="ex">
                                                        <template v-if="product.packingType == 'A'">상온 (종이박스)</template>
                                                        <template v-if="product.packingType == 'B'">냉장 (아이스박스)</template>

                                                    </td>
                                                </tr>
                                                <tr class="courier-name">
                                                    <td>
                                                        <span>택배사</span></td>
                                                    <td class="ex">{{ product.deliveryCompany }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--//v_n_top_info2-->

                                        <div class="option_wrap">
                                            <h3><img src="/images/star_icon_join.png">옵션선택(필수)</h3>
                                            <table class="product_option">
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td>
                                                        <template v-if="product.options != undefined">
                                                            <template v-if="product.options.length > 1">
                                                                <select name="products" id="products" onchange="onOptionSelected(this)" style="border-color:#BBBBBB">
                                                                    <option value="-1" selected="selected">선택</option>
                                                                    <option v-bind:value="index" v-for="(item, index) in product.options">{{ item.optionDesc }}</option>
                                                                </select>
                                                            </template>
                                                            <template v-if="product.options.length == 1">
                                                                <select name="products" id="product" style="border-color:#BBBBBB" readonly="readonly">
                                                                    <option v-bind:value="index" v-for="(item, index) in product.options">{{ item.optionDesc }}</option>
                                                                </select>
                                                            </template>
                                                        </template>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div id="selectedOptionDiv">
                                                <div v-for="(item, index) in selectedOptions">
                                                    <div class="product_count">
                                                        <div class="product_title">
                                                            <h4>{{ item.optionDesc }}
                                                                <h4>
                                                                    <ul v-if="product.options.length > 1">
                                                                        <li><img
                                                                            src="/images/x_icon_login.png"
                                                                            v-on:click="deleteFromArray(index)"
                                                                            style="width:8px;cursor:pointer;"></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="number_price">
                                                                    <div class="number-input">
                                                                        <button class="minus" v-on:click="changeOptionCount(false, index)"></button>
                                                                        <input
                                                                            class="quantity"
                                                                            min="1"
                                                                            name="quantity"
                                                                            v-model="item.optionCount"
                                                                            value="1"
                                                                            type="number"
                                                                            readonly>
                                                                        <button class="plus" v-on:click="changeOptionCount(true, index)"></button>
                                                                    </div>
                                                                    <p>
                                                                        {{ numberFormat(item.optionDiscountPrice * item.optionCount) }}
                                                                        원</p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="line_w"></div>
                                                    <div class="total_price">
                                                        <p>총 상품금액
                                                            <span>{{ numberFormat(optionTotalPrice) }}원
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="common_btn_wrap">
                                                        <div class="option_btns">
                                                            <button type="button" class="h_btn" v-on:click="zzimProduct()">
                                                                <img v-if="product.zzimYn == 'Y'" class="like like-yes">
                                                                <img v-if="product.zzimYn == 'N'" class="like like-no">
                                                            </button>
                                                            <button type="button" class="c_btn">장바구니</button>
                                                            <button type="button" class="p_btn" v-on:click="onSubmit()">구매하기</button>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                            </div>
                            <div class="r_products">
                            <h2 class="mtpSlideTit1">이 상품과 같이 구매한 상품들</h2>
                            <div class="responsive">
                             </div>
                            </div>
                            <div class="products_ex_mobile" style="padding:0">
                                <img
                                    v-for="image in product.detail"
                                    v-bind:src="RESOURCE_SERVER + image.url"
                                    style="width:100%; height:100%">
                            </div>
                                    <!-- 모바일 제품상세 끝나는 자리 -->
                        </div>
                    </div>
                              <!--//product_top-->   
                              
            <div id="sidebar" class="sidebar">
                <div class="sidebar__inner">
                    <div class="floating">
                        <div class="option_wrap">
                            <h3><img src="/images/star_icon_join.png">옵션선택(필수)</h3>
                            <table class="product_option">
                                <tr>
                                    <th scope="row"></th>
                                    <td>
                                        <select name="products" id="products" onchange="onOptionSelected(this)" style="border-color:#BBBBBB">
                                            <option value="-1" selected="selected">선택</option>
                                            <option v-bind:value="index" v-for="(item, index) in product.options">{{ item.optionDesc }}</option>

                                        </select>
                                    </td>
                                </tr>
                            </table>

                            <div id="selectedOptionDiv">
                                <div v-for="(item, index) in selectedOptions">
                                    <div class="product_count" style="margin-right:12px">
                                        <div class="product_title">
                                            <h4>{{ item.optionDesc }}
                                                <h4>
                                                    <ul>
                                                        <li><img
                                                            src="/images/x_icon_login.png"
                                                            v-on:click="deleteFromArray(index)"
                                                            style="width:8px"></li>
                                                    </ul>
                                                </div>
                                                <div class="number_price">
                                                    <div class="number-input">
                                                        <button class="minus" v-on:click="changeOptionCount(false, index)"></button>
                                                        <input
                                                            class="quantity"
                                                            min="1"
                                                            name="quantity"
                                                            v-model="item.optionCount"
                                                            value="1"
                                                            type="number"
                                                            readonly>
                                                        <button class="plus" v-on:click="changeOptionCount(true, index)"></button>
                                                    </div>
                                                    <p>
                                                        {{ numberFormat(item.optionDiscountPrice * item.optionCount) }}
                                                        원</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="v_opt_btn_w">
                                        <div class="line_w"></div>
                                        <div class="total_price">
                                            <button type="button" class="h_btn" v-on:click="zzimProduct()">
                                                <img v-if="product.zzimYn == 'Y'" class="like like-yes">
                                                <img v-if="product.zzimYn == 'N'" class="like like-no">
                                            </button>
                                            <div>
                                                <p class="left">총 금액</p> <span class="price">{{ numberFormat(optionTotalPrice) }}<span>원</span></span>
                                            </div>
                                        </div>
                                        <div class="float_btns">
                                            <button class="cart" @click="updateOrderInfo()">장바구니</button>
                                            <button class="buy" @click="onSubmit()">구매하기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
            </div>
                                       
                    <!--//플로팅 박스-->
                     
                    <div id="tab1" class="tab_cont Mtab_cont active">
                        <div class="products_ex">
                            <img
                                v-for="image in product.detail"
                                v-bind:src="RESOURCE_SERVER + image.url"
                                >
                        </div>
                    </div>

                        <div id="tab2" class="tab_cont Mtab_cont">
                            <div class="infoDetails">
                                <ul>
                                    <li>
                                        <h3>[배송 가이드]</h3>
                                        <ul>
                                            <li>- 업체 배송상품은 업체별로 개별적으로 발송이 됩니다.</li>
                                            <li>
                                                - 각 상세페이지에서 배송관련 정보및 상품별 옵변정보, 가격정보등이 확인 가능합니다.</li>
                                            <li>
                                                - 추가 배송료가 발생하는 지역이 있을 수 있습니다. 
                                            </li>
                                            <li>- 배송은 업체별, 상품별로 상이하며, 보통 몇일정도 소요됩니다. (1-5일이내)</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>[교환/반품 정책]</h3>
                                        <ul>
                                            <li>- 하자 반품건은 상품 수령후 10일이내에 판매자문의(주문건) 게시판 및 전화로 해당내</li>
                                            <li>
                                                - 교환, 반품 시 왕복 배송비는 업체별로 상이합니다.</li>
                                            <li>
                                                * 교환/반품 불가능한 상황
                                            </li>
                                            <li>- 식품특성상, 신선/냉동식품을 포함해 모든 식품은 단순변심에 의한 교환, 반품이 불가</li>
                                            <li>- 반품시 정확한 배송주소를 꼭 확인하여 주세요.</li>
                                            <li>- 부재중, 주소오류, 전화 미연결 등의 문제로 배송이 잘못된 경우</li>
                                            <li>- 고객측의 귀책사유로 물건이 파손된 경우</li>
                                            <li>- 수령일로부터 교환, 반품가능기간 (10일)이 경과된 경우</li>
                                            <li>- 판매자와 협의가 진행되지 않은상태에서 반품한 경우</li>
                                            <li>- 구매확정(자동구매 확정 포함)우에는 교환 반품 불가</li>
                                        </ul>

                                    </li>
                                    <li>
                                        <h3>[환불 정책]</h3>
                                        <ul>
                                            <li>
                                                ① 교환/반품은 배송완료 후 10일이내에만 허용됩니다.
                                            </li>
                                            <li>② 상품이 반환된후, 10영업일 이내에 환불됩니다.
                                            </li>
                                            <li>③ 무통장입금(가상계좌)의 경우에는, 주문자 명의의 계좌로 환불됩니다.
                                            </li>
                                            <li>④ 신용카드, 휴대폰, 실시간 계좌이체, 네이버페이, 카카오페이등을 통해 결제하신 경우 승인을 취소합니다. 
                                            </li>
                                         </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div id="tab3" class="tab_cont Mtab_cont">
                            <div class="review_btn">
                                <button type="button" id="modal_btn" style="width:90%;height:45px;">리뷰쓰기</button>
                            </div>
                              <div class="black_bg"></div>
                              <div class="modal_wrap">
                                  <div class="modal_close"><a href="#">close</a></div>
                                  <div>
                                             <div class="reviewModifyBox">
                                                 <h2>리뷰쓰기</h2>
                                          <div class="review01">
                                              <table>
                                                  <tbody>
                                                      <tr class="reviewProduct">
                                                          <td>
                                                              <div class="detailBox">
                                                                  <a href="#"><img src="images/dietfarmbread.jpg" align="left" style="width:90px;margin-right:15px"></a>
                                                                  <ul class="reviewProductInfo">
                                                                      <li>디어썸라이프</li>
                                                                      <li>[디어썸1]간편하고 든든한 고구마스틱 300g</li>
                                                                      <li>간편하고 든든한 고구마스틱 300g (20g*15개입)</li>
                                                                  </ul>
                                                              </div>
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                          <div id="star_grade" class="star_grade">
                                              <p>별점으로 만족도를 선택해주세요</p>
                              
                                              <div class="starRev">
                                                  <span class="starR1 on">별1_왼쪽</span>
                                                  <span class="starR2">별1_오른쪽</span>
                                                  <span class="starR1">별2_왼쪽</span>
                                                  <span class="starR2">별2_오른쪽</span>
                                                  <span class="starR1">별3_왼쪽</span>
                                                  <span class="starR2">별3_오른쪽</span>
                                                  <span class="starR1">별4_왼쪽</span>
                                                  <span class="starR2">별4_오른쪽</span>
                                                  <span class="starR1">별5_왼쪽</span>
                                                  <span class="starR2">별5_오른쪽</span>
                                              </div>
                                          </div>
                              
                                          <ul>
                                              <li>
                                                  <form>
                                                      <p><textarea style="border-radius:5px;width:100%;height:153px;border-color:#BBBBBB;padding:15px"></textarea></p>
                                                  </form>
                                              </li>
                                          </ul>
                                          <div class="filebox">
                                              <label for="upload">사진 (선택)</label>
                                              <input type="file" id="upload" name="upload">
                                              <div id="preview">
                                                  <div class="previewBox">
                                                      <ul>
                                                          <li></li>
                                                          <li class="p2"></li>
                                                      </ul>
                                                  </div>
                                                  <!-- 미리보기 공간 -->
                                              </div>
                              
                                             
                                              <p style="clear:both;">상품과 관련없거나 부적절한 리뷰는 포인트가 지급되지 않으며 앱 내에 등록되지 않습니다.</p>
                                          </div>
                                      </div>
                              
                                      <div class="btn_area">
                                          <button type="button" id="btnSaveProduct">저장</button>
                                      </div>
                                  </div>
                              </div>
                            <p class="num">리뷰 {{ reviewList.length }}개</p>
                            <div class="review_list_null" v-if="reviewList == undefined || reviewList.length == 0">
                                <img src="/images/note_icon_review.png">
                                <p class="no_review">아직 작성된 리뷰가 없습니다.</p>
                                <!--// <div class="btn_area"> <button type="button"
                                id="btnRW_null">리뷰쓰기</button> -->
                            </div>

                            <div class="reviews" v-if="reviewList != undefined || reviewList.length > 0">
                               
                                <div class="product_review01" v-for="(review, index) in reviewList">
                                    <div class="review_info01">
                                        <ul>
                                            <template v-if="reviewList.updateYn == 'Y'">    
                                                <li class="myInquiry">
                                                    <span>내글</span></li>
                                                <li class="line"><img src="/images/l_icon_category@2x.png" alt="구분라인"></li>
                                            </template>
                                            <template v-else>    
                                                <li class="">{{ review.userId }}</li>
                                                <li class="line"><img src="/images/l_icon_category@2x.png" alt="구분라인"></li>
                                            </template>
                                            <li>{{ formatDate(review.createDate) }}</li>
                                        </ul>
                                        <ul v-if="reviewList.updateYn == 'Y'">
                                            <li>
                                                <a href="#">수정</a>
                                            </li>
                                            <li class="line"><img src="/images/l_icon_category@2x.png" alt="구분라인"></li>
                                            <li>
                                                <a href="#">삭제</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="review_info02">
                                        <p class="option">옵션 : {{ review.product.options[0].optionDesc}} <template v-if="review.product.options.length > 1">외 {{review.product.options.length - 1}} 건</template></p>
                                        <div id="star_grade" class="star_grade">
                                            <div class="starRev">
                                                <template v-for="count in (review.gpa * 2)">
                                                    <span class="starR1 on" v-if="count % 2 == 1">별1_왼쪽</span>
                                                    <span class="starR2 on" v-if="count % 2 == 0">별1_오른쪽</span>
                                                    
                                                </template>
                                                <template v-for="count in (10 - (review.gpa * 2))">
                                                    <template v-if="(10 - (review.gpa * 2)) % 2 == 1">
                                                        <span class="starR1" v-if="count % 2 == 0">별1_왼쪽</span>
                                                        <span class="starR2" v-if="count % 2 == 1">별1_오른쪽</span>
                                                    </template>
                                                    <template v-if="(10 - (review.gpa * 2)) % 2 == 0">
                                                        <span class="starR2" v-if="count % 2 == 0">별1_오른쪽</span>
                                                        <span class="starR1" v-if="count % 2 == 1">별1_왼쪽</span>
                                                    </template>
                                                        
                                                </template>
                                            </div>
                                            <p class="review_summ" style="font-size:14px;margin-top:10px">{{ review.content }}</p>
                                            <div class="review_img01" v-if="review.contentType == 'I'">
                                                <img v-bind:src="RESOURCE_SERVER + image.url" style="width:104px;height:104px" v-for="image in review.files">

                                            </div>

                                            <span id="toc-toggle" onclick="openCloseToc()">더보기<img
                                                src="/images/downarrow_ico_main.png"
                                                style="width:11px;height:11px;position:relative;top:2px;left:4px"></span>
                                            <div id="toc-content" style="display:none">
                                                <li>글 이어서 어쩌구</li>
                                                <li><img src="/images/dietfarmbread.jpg" style="width:605px"></li>
                                            </div>
                                            <div class="line_review"></div>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="review_btn_web">
                                    <button type="button" id="modal_btn">리뷰쓰기</button>
                                     </div>
                       
                                <div class="page_wrap">
                                    <div class="page_nation">
                                        <a class="arrow pprev" href="#"></a>
                                        <a class="arrow prev" href="#"></a>
                                        <a href="#" class="active">1</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">5</a>
                                        <a href="#">6</a>
                                        <a href="#">7</a>
                                        <a href="#">8</a>
                                        <a href="#">9</a>
                                        <a href="#">10</a>
                                        <a class="arrow next" href="#"></a>
                                        <a class="arrow nnext" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab4" class="tab_cont Mtab_cont">
                            <!--//review_btn-->
                            <div class="review_btn">
                                <button type="button" id="modal_btn02" style="width:90%;height:45px;">문의하기</button>
                                 </div>
                              <div class="black_bg02"></div>
                              <div class="modal_wrap02">
                                  <div class="modal_close02"><a href="#">close</a></div>
                                  <div>
                                 <div class="productInquiryBox">
                                          <h3>(아임월) 굿밸런스 라이트밀 도시락</h3>
                                          <form>
                                              <p><textarea style="border-radius:5px;width:330px;height:153px; border: 1px solid #BBBBBB;" placeholder="문의하실 내용을 입력해주세요"></textarea></p>
                              
                                          </form>
                                          <div class="group">
                                              <input type="checkbox" id="secret">
                                              <label for="secret" class="secret">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비밀글 선택시 작성자만 조회 가능합니다.</label>
                                          </div>
                                      </div>
                                      <div class="btn_area">
                                          <button type="button" id="btnInquiry">등록</button>
                                      </div>
                                  </div>
                              </div>
                            <p class="inquiry">문의 {{questionList.length}}개</p>
                                    <div class="myReview">
                                        <p style="margin-right:10px">내 문의 보기</p>
                                        <input type="checkbox" id="prod_detail_toggle">
                                        <label for="prod_detail_toggle">
                                            <span>아이콘</span></label>
                                    </div>
                      
                          
                            <!-- <div class="review_list_null" v-if="reviewList == undefined || reviewList.length == 0">
                                <img src="/images/note_icon_review.png">
                                <p class="no_review">아직 작성된 리뷰가 없습니다.</p>
                                <div class="btn_area"> <button type="button"
                                id="btnRW_null">리뷰쓰기</button>
                            </div> -->
                            
                         <div class="qna">
                                   
                               
                                <div class="reveiw01" v-for="(question, index) in questionList" v-bind:key="index">
                                    <div class="review_edit">
                                        <p>
                                            <span v-if="question.answerState == 'N'">미답변</span>
                                            <span v-if="question.answerState == 'Y'">답변완료</span>
                                        </p>
                                        <ul v-if="question.updateYn == 'Y'">
                                            <li class="myInquiry">
                                                <span>내글</span>
                                                <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                                            <li>{{formatDate(question.createDate)}}
                                                <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                                            <li>
                                                <a href="#">수정</a>
                                                <span class="bar"><img src="/images/l_icon_category.png" alt="구분라인"></span></li>
                                            <li>
                                                <a href="#">삭제</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="bbsFaq01">
                                        <div class="innerbox">
                                            <table>
                                                <tbody>
                                                    <tr class="faq_q">
                                                        <td class="title">
                                                            {{question.content}}
                                                        </td>
                                                    </tr>
                                                    <tr class="faq_a faq_a01" v-if="question.answerState == 'Y'">
                                                        <td>
                                                            <div class="faq_a_box">
                                                                <p v-html="question.answer"></p>
                                                                <ul>
                                                                    <li>판매자</li>
                                                                    <li><img src="/images/l_icon_category.png"></li>
                                                                    <li>{{formatDate(question.updateDate)}}</li>
                                                                    <li><img src="/images/l_icon_category.png"></li>
                                                                    <li>신고</li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="wrap_qna">
                                    <a href="javascript:openModal('modal1');" class="button modal-open">문의하기</a>
                                </div>
                                <!--//모달 안 내용 시작 -->
                                <div id="modal"></div>
                                <div class="modal-con modal1">
                                    <a href="javascript:;" class="close"><img src="/images/x_icon_login.png"></a>
                                    <div class="title">
                                        <h2>상품 문의</h2>
                                    </div>
                                    <div class="productInquiryBox" style="padding-right:20px">
                                        <h3>(아임월) 굿밸런스 라이트밀 도시락</h3>
                                        <form>
                                            <p>
                                                <textarea
                                                    style="border-radius:5px;width:800px;height:200px;padding:10px;font-size:14px"
                                                    placeholder="문의하실 내용을 입력해주세요"></textarea>
                                            </p>

                                        </form>
                                        <div class="group">
                                            <input type="checkbox" id="secret">
                                            <label for="secret" class="secret">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;비밀글 선택시 작성자만 조회 가능합니다.</label>
                                        </div>
                                    </div>
                                    <div class="btn_area">
                                        <button type="button" id="btnInquiry">등록</button>
                                    </div>

                                </div>
                                <!--//문의 모달 끝-->

                                <div class="page_wrap">
                                    <div class="page_nation">
                                        <a class="arrow pprev" href="#"></a>
                                        <a class="arrow prev" href="#"></a>
                                        <a href="#" class="active">1</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">5</a>
                                        <a href="#">6</a>
                                        <a href="#">7</a>
                                        <a href="#">8</a>
                                        <a href="#">9</a>
                                        <a href="#">10</a>
                                        <a class="arrow next" href="#"></a>
                                        <a class="arrow nnext" href="#"></a>
                                    </div>
                                </div>

                                <button type="button" class="more_inq">
                                    <div class="more_btn_ctn">
                                        <p>더보기
                                            <img src="/images/downarrow_icon_category.png" alt="화살표">
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </main>
                    <script>
                        var upload = document.querySelector('#upload');
                        var preview = document.querySelector('#preview');
    
                        upload.addEventListener('change', function(e) {
                            var get_file = e.target.files;
    
                            var image = document.createElement('img');
    
                            /* FileReader 객체 생성 */
                            var reader = new FileReader();
    
                            /* reader 시작시 함수 구현 */
                            reader.onload = (function(aImg) {
                                console.log(1);
    
                                return function(e) {
                                    console.log(3);
                                    /* base64 인코딩 된 스트링 데이터 */
                                    aImg.src = e.target.result
                                }
                            })(image)
    
                            if (get_file) {
                                /* 
                                    get_file[0] 을 읽어서 read 행위가 종료되면 loadend 이벤트가 트리거 되고 
                                    onload 에 설정했던 return 으로 넘어간다.
                                    이와 함게 base64 인코딩 된 스트링 데이터가 result 속성에 담겨진다.
                                */
                                reader.readAsDataURL(get_file[0]);
                                console.log(2);
                            }
    
                            preview.appendChild(image);
                        })
                    </script>
                    <!-- Swiper JS -->
                    <script>
                        var swiper = new Swiper(".productSwiper", {
                            pagination: {
                                el: ".swiper-pagination",
                                type: "fraction"
                            },
                            navigation: {
                                nextEl: ".swiper-button-next",
                                prevEl: ".swiper-button-prev"
                            }
                        });
                    </script>
                    <script>
                        var upload = document.querySelector('#upload');
                        var preview = document.querySelector('#preview');
                        upload.addEventListener('change', function (e) {
                            var get_file = e.target.files;
                            var image = document.createElement('img');
                            var reader = new FileReader();
                            reader.onload = (function (aImg) {
                                console.log(1);
                                return function (e) {
                                    console.log(3);
                                    aImg.src = e.target.result
                                }
                            })(image)
                            if (get_file) {
                                reader.readAsDataURL(get_file[0]);
                                console.log(2);
                            }
                            preview.appendChild(image);
                        })
                    </script>
                    <script>
                        var upload = document.querySelector('#upload');
                        var preview = document.querySelector('#preview');
                        upload.addEventListener('change', function (e) {
                            var get_file = e.target.files;
                            var image = document.createElement('img');
                            var reader = new FileReader();
                            reader.onload = (function (aImg) {
                                console.log(1);
                                return function (e) {
                                    console.log(3);
                                    aImg.src = e.target.result
                                }
                            })(image)
                            if (get_file) {
                                reader.readAsDataURL(get_file[0]);
                                console.log(2);
                            }
                            preview.appendChild(image);
                        })
                        window.onload = function() {
 
                        function onClick() {
                            document.querySelector('.modal_wrap').style.display ='block';
                            document.querySelector('.black_bg').style.display ='block';
                            document.querySelector('.modal_wrap02').style.display ='block';
                            document.querySelector('.black_bg02').style.display ='block';
                        }   
                        function offClick() {
                            document.querySelector('.modal_wrap').style.display ='none';
                            document.querySelector('.black_bg').style.display ='none';
                            document.querySelector('.modal_wrap02').style.display ='none';
                            document.querySelector('.black_bg02').style.display ='none';
                        }

                        document.getElementById('modal_btn').addEventListener('click', onClick);
                        document.querySelector('.modal_close').addEventListener('click', offClick);
                        document.getElementById('modal_btn02').addEventListener('click', onClick);
                        document.querySelector('.modal_close02').addEventListener('click', offClick);

                        };
                    </script>
                    <!-- 공유하기 카카오톡 api -->
                    <script type="text/javascript">
                        function sendLink() {
                            console.log('rr')
                          Kakao.Link.sendDefault({
                            objectType: 'feed',
                            content: {
                              title: '다이어트 식품',
                              description: '...',
                              imageUrl:
                                'http://13.209.123.102:8000/representative/076c22a7679141346852332fdc987558_1624262108770.png',
                              link: {
                                mobileWebUrl: 'http://dietfarm.co.kr',
                                webUrl: 'http://dietfarm.co.kr',
                              },
                            },
                            social: {
                              likeCount: 286,
                              commentCount: 45,
                              sharedCount: 845,
                            },
                            buttons: [
                              {
                                title: '웹으로 보기',
                                link: {
                                  mobileWebUrl: 'http://dietfarm.co.kr',
                                  webUrl: 'http://dietfarm.co.kr',
                                },
                              },
                              {
                                title: '앱으로 보기',
                                link: {
                                  mobileWebUrl: 'http://dietfarm.co.kr/product/',
                                  webUrl: 'http://dietfarm.co.kr/product/',
                                },
                              },
                            ],
                          })
                        }
                      </script>
                    <script src="/js/orderDTO/OrderDTO.js"></script>
                    <script src="/js/orderDTO/DeliveryGroupDTO.js"></script>
                    <script type="text/javascript" src="/js/product.js"></script>
                    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


                </body>
                <%-include('general/footer') %>
            </html>