<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>

        <title>다이어트 Farm</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/myPage.css">

        <style type="text/css">
            @media screen and (max-width:1079px) {
                .web_benefits {
                    display: none;
                }
                .mobile_benefits{position: fixed;
                            min-width: 360px;
                            width: 100%;
                            height: 80px;
                            top: 0;
                            background-color: #fff;
                            z-index: 9999;
                            margin-bottom: 20px;}
                 .event_content{padding-top:80px}
            }
            @media screen and (min-width:1080px) {
                .mobile_benefits {
                    display: none;
                }
            }
            .kakao_event img {
                width: 100%;
                height: auto;
            }
        </style>
        <%-include('general/head') %>
        </head>

        <body>
            <div class="web_benefits">
                <%-include('general/header') %>
                </div>
                <!--//web_invite-->
                <div class="mobile_benefits">
                    <section class="detail_title">
                        <h2>리뷰 적립 이벤트</h2>
                        <script type="text/javascript">
                            function goBack() {
                                window
                                    .history
                                    .back();
                            }
                        </script>
                        <div class="btnback">
                            <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px"></a>
                        </div>
                    </section>
                </div>
                <main id="content" class="event_content">
                    <div class="membership">
                        <img src="/images/review_event@2x.png">
                    </div>
                </main>
                <%-include('general/footer') %>
                </body>
            </html>