<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <style type="text/css">
        .filebox label {
            display: inline-block;
            padding: .5em .75em;
            color: #999;
            font-size: inherit;
            line-height: normal;
            vertical-align: middle;
            background-color: #fdfdfd;
            cursor: pointer;
            border: 1px solid #ebebeb;
            border-bottom-color: #e2e2e2;
            border-radius: .25em;
        }
    </style>
    <link rel="stylesheet" href="/css/faq.css">
    <%-include('general/head') %>

</head>

<body>

    <section class="detail_title">
        <h2>판매자 문의하기 (주문건)</h2>
        <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px"> </a>
        </div>
    </section>

    <main id="content" class="content">
        <div class="inquiryBox">
            <ul>
                <li>
                    <h3>주문번호</h3>
                    <ul>
                        <li>2020101920201019</li>
                    </ul>
                </li>
                <li>
                    <h3>상품</h3>
                    <ul>
                        <li>(아임월)굿밸런스 라이트밀 도시락</li>
                    </ul>
                </li>
                <li>
                    <h3>옵션</h3>
                    <ul>
                        <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                    </ul>
                </li>
                <li>
                    <h3>문의유형</h3>
                    <ul>
                        <li>
                            <select style="width:100%;
padding:12px 10px;
border: 1px solid #999;
font-family: inherit;
border-color:#BBBBBB;
background: url('images/downarrow_icon_category.png') no-repeat 96% 50%;
border-radius: 5px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;">
                                <option value="*">선택</option>
                                <option value="01">상품</option>
                                <option value="02">배송</option>
                                <option value="03">반품</option>
                                <option value="04">교환</option>
                                <option value="05">기타</option>
                            </select>
                        </li>
                    </ul>
                </li>
                <li class="words">
                    <h3>내용</h3>
                    <ul>
                        <li>
                            <form>
                                <p><textarea style="border-radius:5px;width:100%;height:153px;border-color:#BBBBBB;padding:15px;font-size:14px" placeholder="문의하실 내용을 입력해주세요"></textarea></p>
                            </form>
                        </li>
                    </ul>
                </li>
                <div class="filebox">
                    <label for="upload">사진</label>
                    <input type="file" id="upload" name="upload">
                    <div id="preview">
                        <div class="previewBox">
                            <ul>
                                <li></li>
                                <li class="p2"></li>
                            </ul>
                        </div>
                        <!-- 미리보기 공간 -->
                    </div>
                    <script>
                        var upload = document.querySelector('#upload');
                        var preview = document.querySelector('#preview');

                        upload.addEventListener('change', function(e) {
                            var get_file = e.target.files;

                            var image = document.createElement('img');

                            /* FileReader 객체 생성 */
                            var reader = new FileReader();

                            /* reader 시작시 함수 구현 */
                            reader.onload = (function(aImg) {
                                console.log(1);

                                return function(e) {
                                    console.log(3);
                                    /* base64 인코딩 된 스트링 데이터 */
                                    aImg.src = e.target.result
                                }
                            })(image)

                            if (get_file) {
                                /* 
                                    get_file[0] 을 읽어서 read 행위가 종료되면 loadend 이벤트가 트리거 되고 
                                    onload 에 설정했던 return 으로 넘어간다.
                                    이와 함게 base64 인코딩 된 스트링 데이터가 result 속성에 담겨진다.
                                */
                                reader.readAsDataURL(get_file[0]);
                                console.log(2);
                            }

                            preview.appendChild(image);
                        })
                    </script>

                    <p>문의하신 내용에 대한 답변은 <span>마이>판매자문의</span>에서 확인하실 수 있습니다.</p>
                </div>
            </ul>
        </div>

        <div class="btn_area">
            <button type="button" id="btnInquiry">등록</button>
        </div>
    </main>

</body></html>