<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <meta name="format-detection" content="no" />

    <title>다이어트 Farm</title>
    <link rel="stylesheet" href="/css/qna.css">
    <%-include('general/head') %>
</head>

<body>

    <main id="content" class="content">

        <section class="detail_title">
            <h2>판매자 문의 (주문건)</h2>
            <script type="text/javascript">
                function goBack() {
                    window.history.back();
                }
            </script>
            <div class="btnback"><a href="#" value="취소" onclick="goBack()"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px;top:3px"> </a>
            </div>
        </section>
        <div class="tabMenu_sInquiry" style="border-bottom:2px solid #E6E6E6">
            <ul class="tab_wrap">
                <li class="active" data-tab="tab1"><a href="javascript:void(0);">진행중인 문의</a></li>
                <li data-tab="tab2"><a href="javascript:void(0);">완료된 문의</a></li>
            </ul>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                $("tr.faq_q").click(function() {
                    if ($(this).next('tr').css("display") != "none") {
                        $(this).next('tr').hide();
                        $(this).removeClass("current");
                    } else {
                        $("tr.faq_a").css('display', 'none');
                        $("tr.faq_q").removeClass("current");
                        $(this).next('tr').show();
                        $(this).addClass("current");
                    }
                });
            });
        </script>
        <div id="tab1" class="tab_cont active">
            <div class="inquiry">
                <div class="inquiryBox">
                    <div class="faq_title">
                        <p><span>아임월</span></p>
                        <ul>
                            <li><a href="tel:010-4431-4548">전화걸기</a></li>
                        </ul>
                    </div>
                    <table style="clear:both">
                        <tbody>
                            <tr class="order_a">
                                <td>
                                    <div class="order_a_box">
                                        <a href="product_details.html"><img src="/images/dietfarmbread.jpg" align="left"></a>
                                        <ul class="order001">
                                            <li style="margin-bottom:10px"><span>주문번호 2020101920201019</span></li>
                                            <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                            <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inquiry01">
                        <div class="inquiry_edit">
                            <p><span>미답변</span></p>
                            <ul>
                                <li>2020.10.21</li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">수정</a></li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">삭제</a></li>
                            </ul>
                        </div>

                        <div class="bbsFaq01">
                            <div class="innerbox">
                                <p style="margin-top:20px;padding-left:15px">상품</p>
                                <table>
                                    <tbody>
                                        <tr class="faq_q">
                                            <td class="title">
                                                언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                                <p><img src="/images/dietfarmbread.jpg" style="width:20%;margin-top:10px"></p>
                                            </td>
                                        </tr>
                                        <tr class=" faq_a01">
                                            <td>
                                                <div class="faq_a_box">
                                                    <p>안녕하세요&nbsp;</p>
                                                    <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inquiryBox">
                    <div class="faq_title">
                        <p><span>아임월</span></p>
                        <ul>
                            <li><a href="tel:010-4431-4548">전화걸기</a></li>
                        </ul>
                    </div>
                    <table style="clear:both">
                        <tbody>
                            <tr class="order_a">
                                <td>
                                    <div class="order_a_box">
                                        <a href="product_details.html"><img src="/images/dietfarmbread.jpg" align="left"></a>
                                        <ul class="order001">
                                            <li style="margin-bottom:10px"><span>주문번호 2020101920201019</span></li>
                                            <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                            <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inquiry01">
                        <div class="inquiry_edit">
                            <p><span>미답변</span></p>
                            <ul>
                                <li>2020.10.21</li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">수정</a></li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">삭제</a></li>
                            </ul>
                        </div>

                        <div class="bbsFaq01">
                            <div class="innerbox">
                                <p style="margin-top:20px;padding-left:15px">상품</p>
                                <table>
                                    <tbody>
                                        <tr class="faq_q">
                                            <td class="title">
                                                언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                                <p><img src="/images/dietfarmbread.jpg" style="width:20%;margin-top:10px"></p>
                                            </td>
                                        </tr>
                                        <tr class=" faq_a01">
                                            <td>
                                                <div class="faq_a_box">
                                                    <p>안녕하세요&nbsp;</p>
                                                    <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inquiryBox">
                    <div class="faq_title">
                        <p><span>아임월</span></p>
                        <ul>
                            <li><a href="tel:010-4431-4548">전화걸기</a></li>
                        </ul>
                    </div>
                    <table style="clear:both">
                        <tbody>
                            <tr class="order_a">
                                <td>
                                    <div class="order_a_box">
                                        <a href="product_details.html"><img src="/images/dietfarmbread.jpg" align="left"></a>
                                        <ul class="order001">
                                            <li style="margin-bottom:10px"><span>주문번호 2020101920201019</span></li>
                                            <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                            <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inquiry01">
                        <div class="inquiry_edit">
                            <p><span>미답변</span></p>
                            <ul>
                                <li>2020.10.21</li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">수정</a></li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">삭제</a></li>
                            </ul>
                        </div>

                        <div class="bbsFaq01">
                            <div class="innerbox">
                                <p style="margin-top:20px;padding-left:15px">상품</p>
                                <table>
                                    <tbody>
                                        <tr class="faq_q">
                                            <td class="title">
                                                언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                                <p><img src="/images/dietfarmbread.jpg"></p>
                                            </td>
                                        </tr>
                                        <tr class=" faq_a01">
                                            <td>
                                                <div class="faq_a_box">
                                                    <p>안녕하세요&nbsp;</p>
                                                    <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inquiryBox">
                    <div class="faq_title">
                        <p><span>아임월</span></p>
                        <ul>
                            <li><a href="tel:010-4431-4548">전화걸기</a></li>
                        </ul>
                    </div>
                    <table style="clear:both">
                        <tbody>
                            <tr class="order_a">
                                <td>
                                    <div class="order_a_box">
                                        <a href="product_details.html"><img src="/images/dietfarmbread.jpg" align="left"></a>
                                        <ul class="order001">
                                            <li style="margin-bottom:10px"><span>주문번호 2020101920201019</span></li>
                                            <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                            <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inquiry01">
                        <div class="inquiry_edit">
                            <p><span>미답변</span></p>
                            <ul>
                                <li>2020.10.21</li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">수정</a></li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">삭제</a></li>
                            </ul>
                        </div>

                        <div class="bbsFaq01">
                            <div class="innerbox">
                                <p style="margin-top:20px;padding-left:15px">상품</p>
                                <table>
                                    <tbody>
                                        <tr class="faq_q">
                                            <td class="title">
                                                언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                                <p><img src="/images/dietfarmbread.jpg"></p>
                                            </td>
                                        </tr>
                                        <tr class=" faq_a01">
                                            <td>
                                                <div class="faq_a_box">
                                                    <p>안녕하세요&nbsp;</p>
                                                    <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//inquiry-->
        </div>
        <!--//tab1-->
        <div id="tab2" class="tab_cont">
            <div class="inquiry">
                <div class="inquiryBox">
                    <div class="faq_title">
                        <p><span>아임월</span></p>
                        <ul>
                            <li><a href="tel:010-4431-4548">전화걸기</a></li>
                        </ul>
                    </div>
                    <table style="clear:both">
                        <tbody>
                            <tr class="order_a">
                                <td>
                                    <div class="order_a_box">
                                        <a href="product_details.html"><img src="/images/dietfarmbread.jpg" align="left"></a>
                                        <ul class="order001">
                                            <li style="margin-bottom:10px"><span>주문번호 2020101920201019</span></li>
                                            <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                            <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inquiry01">
                        <div class="inquiry_edit">
                            <p><span>답변완료</span></p>
                            <ul>
                                <li>2020.10.21</li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">수정</a></li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">삭제</a></li>
                            </ul>
                        </div>

                        <div class="bbsFaq01">
                            <div class="innerbox">
                                <p style="margin-top:20px;padding-left:15px">상품</p>
                                <table>
                                    <tbody>
                                        <tr class="faq_q">
                                            <td class="title">
                                                언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                                <p><img src="/images/dietfarmbread.jpg"></p>
                                            </td>
                                        </tr>
                                        <tr class=" faq_a01">
                                            <td>
                                                <div class="faq_a_box">
                                                    <p>안녕하세요&nbsp;</p>
                                                    <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inquiryBox">
                    <div class="faq_title">
                        <p><span>아임월</span></p>
                        <ul>
                            <li><a href="tel:010-4431-4548">전화걸기</a></li>
                        </ul>
                    </div>
                    <table style="clear:both">
                        <tbody>
                            <tr class="order_a">
                                <td>
                                    <div class="order_a_box">
                                        <a href="product_details.html"><img src="/images/dietfarmbread.jpg" align="left"></a>
                                        <ul class="order001">
                                            <li style="margin-bottom:10px"><span>주문번호 2020101920201019</span></li>
                                            <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                            <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inquiry01">
                        <div class="inquiry_edit">
                            <p><span>답변완료</span></p>
                            <ul>
                                <li>2020.10.21</li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">수정</a></li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">삭제</a></li>
                            </ul>
                        </div>

                        <div class="bbsFaq01">
                            <div class="innerbox">
                                <p style="margin-top:20px;padding-left:15px">상품</p>
                                <table>
                                    <tbody>
                                        <tr class="faq_q">
                                            <td class="title">
                                                언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                                <p><img src="/images/dietfarmbread.jpg"></p>
                                            </td>
                                        </tr>
                                        <tr class=" faq_a01">
                                            <td>
                                                <div class="faq_a_box">
                                                    <p>안녕하세요&nbsp;</p>
                                                    <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inquiryBox">
                    <div class="faq_title">
                        <p><span>아임월</span></p>
                        <ul>
                            <li><a href="tel:010-4431-4548">전화걸기</a></li>
                        </ul>
                    </div>
                    <table style="clear:both">
                        <tbody>
                            <tr class="order_a">
                                <td>
                                    <div class="order_a_box">
                                        <a href="product_details.html"><img src="/images/dietfarmbread.jpg" align="left"></a>
                                        <ul class="order001">
                                            <li style="margin-bottom:10px"><span>주문번호 2020101920201019</span></li>
                                            <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                            <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inquiry01">
                        <div class="inquiry_edit">
                            <p><span>답변완료</span></p>
                            <ul>
                                <li>2020.10.21</li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">수정</a></li>
                                <li><img src="/images/l_icon_category.png"></li>
                                <li><a href="#">삭제</a></li>
                            </ul>
                        </div>

                        <div class="bbsFaq01">
                            <div class="innerbox">
                                <p style="margin-top:20px;padding-left:15px">상품</p>
                                <table>
                                    <tbody>
                                        <tr class="faq_q">
                                            <td class="title">
                                                언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                                <p><img src="/images/dietfarmbread.jpg"></p>
                                            </td>
                                        </tr>
                                        <tr class=" faq_a01">
                                            <td>
                                                <div class="faq_a_box">
                                                    <p>안녕하세요&nbsp;</p>
                                                    <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inquiryBox">
                    <div class="faq_title">
                        <p><span>아임월</span></p>
                        <ul>
                            <li><a href="tel:010-4431-4548">전화걸기</a></li>
                        </ul>
                    </div>
                    <table style="clear:both">
                        <tbody>
                            <tr class="order_a">
                                <td>
                                    <div class="order_a_box">
                                        <a href="product_details.html"><img src="/images/dietfarmbread.jpg" align="left"></a>
                                        <ul class="order001">
                                            <li style="margin-bottom:10px"><span>주문번호 2020101920201019</span></li>
                                            <li>(아임월) 굿밸런스 라이트밀 도시락</li>
                                            <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="inquiry01">
                        <div class="inquiry_edit">
                            <p><span>답변완료</span></p>
                            <ul>
                                <li>2020.10.21</li>
                                <li><a href="#">수정</a></li>
                                <li><a href="#">삭제</a></li>
                            </ul>
                        </div>

                        <div class="bbsFaq01">
                            <div class="innerbox">
                                <p style="margin-top:20px;padding-left:15px">상품</p>
                                <table>
                                    <tbody>
                                        <tr class="faq_q">
                                            <td class="title">
                                                언제 배송되나요? 일요일날 주문해서 아직도 안왔어요. 확인 부탁드립니다.
                                                <p><img src="/images/dietfarmbread.jpg"></p>
                                            </td>
                                        </tr>
                                        <tr class=" faq_a01">
                                            <td>
                                                <div class="faq_a_box">
                                                    <p>안녕하세요&nbsp;</p>
                                                    <p>너그러운 마음으로 기다려 주시면 안전하게 배송해드리겠습니다.</p>
                                                    <p></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//inquiry-->
        </div>

    </main>
</body></html>