<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport"
         content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no, address=no, email=no"/>
        <meta name="format-detection" content="no"/>
        <meta name="description" content="페이지 설명">

    <title>다이어트팜:: 건강부터 쇼핑까지, 다이어트팜</title>
    <%-include(webroot + 'views/general/head') %>
    <%-include(webroot + 'views/general/openGraph.ejs') %>
    <style>
        div.sitemap_title {
            max-width: 954px;
            width: 100%; height: 38px;
            margin: 0 auto;
            margin-top: 54px;
            margin-bottom: 28px;
            border-bottom: 2px solid #E6E6E6;
        }
        div.sitemap_title {
            display: flex;
            font-size: 20px; font-weight: 700;
            align-items: center;
        }
        div.sitemap_title > p {padding: 0 8px;}
        div.sitemap_content_wrapper {
            max-width: 954px; width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            flex-flow: wrap;
            padding-bottom: 66px;
        }

        div.sitemap_box {
            width: 234px; height: 502px;
            background: #f8f8f8 0% 0% no-repeat padding-box;
            border-right: 1.5px solid #e6e6e6;
            border-bottom: 1.5px solid #e6e6e6;
            margin-bottom: 20px;
        }
        
        .sitemap_content_type {
            width: 183px; height: 33px;
            border-bottom: 2px solid #F99319;
            margin-top: 32px;
            padding-left: 13.5px;
        }
        .sitemap_content_type > h3 {
            font-size: 18px;
            color: #000;
        }
        .sitemap_content_type span {
            font-size: 20px;
            margin-right: 8px;
            color: #F99319;
        }
        .sitemap_menuList div {
            display: flex;
        }
        .sitemap_menuList li > a {
            display: flex;
        }
        .sitemap_menuList li img {padding: 0 8px 0 25.5px;}
        .sitemap_menuList div img {margin-right: 8.5px; margin-left: 25.5px;}
        .sitemap_menuList > ul > li {
            margin-top: 20px;
            font-size: 16px;
        }
        .sitemap_menuList > ul li:not(:first-child) {
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <main id="content" class="content_main">
        <div id="app">
            <%-include(webroot + 'views/general/header') %>

            <div class="sitemap_title">
                <p><img src="/images/square.png" alt="사이트맵 네모" style="padding-bottom: 4px;"></p>
                <h3>사이트맵</h3>
            </div>

            <div class="sitemap_content_wrapper">

                <div class="sitemap_categ sitemap_box">
                    <div class="sitemap_content_type"><h3><span>01</span>카테고리</h3></div>

                    <div class="sitemap_menuList">
                        <ul>
                            <li>
                                <a href="/products/CA1_001/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>도시락/샐러드</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/CA1_002/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>간편식</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/CA1_003/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>닭가슴살</p>
                                </a>
                            </li>
                            <li>
                                </products/CA1_004/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>건강간식</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/CA1_005/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>음료/소스</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/CA1_006/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>신선식품</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/CA1_007/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>비건</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/CA1_008/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>베이비/키즈</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/CA1_009/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>나의 반려</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/CA1_010/category/ALL"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>주방용품</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sitemap_evnet sitemap_box">
                    <div class="sitemap_content_type"><h3><span>02</span>이벤트</h3></div>
                    <div class="sitemap_menuList">
                        <ul>
                            <li>
                                <a href="/products/SALES_007/event"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>신상품</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/SALES_008/event"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>베스트</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/SALES_009/event"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>특가</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/SALES_011/event"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>최저가</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/SALES_004/event"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>단백질이 필요할때</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/SALES_005/event"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>당충전이 필요할때</p>
                                </a>
                            </li>
                            <li>
                                <a href="/products/SALES_006/event"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>수분이 필요할때</p>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="#"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>검색</p>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>

                <div class="sitemap_companyInfo sitemap_box">
                    <div class="sitemap_content_type"><h3><span>03</span>회사정보</h3></div>
                    <div class="sitemap_menuList">
                        <ul>
                            <li>
                                <a href="/notice"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>공지사항</p>
                                </a>
                            </li>
                            <li>
                                <a href="/faq"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>FAQ</p>
                                </a>
                            </li>
                            <li>
                                <a href="/cs-center"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>고객센터</p>
                                </a>
                            </li>
                            <li>
                                <a href="/alarm"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>알림설정</p>
                                </a>
                            </li>
                            <li>
                                <a href="/privacypolicy"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>개인정보처리방침</p>
                                </a>
                            </li>
                            <li>
                                <a href="/terms"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>이용약관</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sitemap_myFarm sitemap_box">
                    <div class="sitemap_content_type"><h3><span>04</span>마이팜</h3></div>
                    <div class="sitemap_menuList">
                        <ul>
                            <li>
                                <a href="/login-form"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>로그인</p>
                                </a>
                            </li>
                            <li>
                                <a href="/benefits"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>이벤트</p>
                                </a>
                            </li>
                            <li>
                                <a href="/invite"><p><img src="/images/sitemap_arrow.png" alt="화살표"></p>
                                    <p>친구초대</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <%-include(webroot + 'views/general/footer') %>
    </main>

    <script src="/js/sitemap.js"></script>
</body>
</html>