<!DOCTYPE html > <html lang="ko">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>다이어트팜:: 건강부터 쇼핑까지, 다이어트 토탈서비스</title>
    <style>
        @media screen and (max-width:1079px) {
            .web_s_inquiry {
                display: none;
            }
        }
        @media screen and (min-width:1080px) {
            .mobile_s_inquiry {
                display: none;
            }
        }
    </style>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/myPage.css">
    <link rel="stylesheet" href="/css/style_web.css">
<!-- main.js -->
    <script src="/js/main.js"></script>
    <script src="/js/common.js"></script>
</head>

<body>
    <div class="mobile_s_inquiry">
    <section class="detail_title">
        <h2>판매자 문의하기 (주문건)</h2>
        <a href="#">
            <img src="./images/leftarrow_ico_my.png"></a>
        </section>
    </div>
    <div class="web_s_inquiry">
        <%-include(webroot + 'views/general/header') %>
    </div>
    <%-include(webroot + 'views/general/mypage') %>
    <div class="mypage_content_wrap">
    <nav class="content_lnb">
        <ul>
            <li>
                <a href="/orderlist">주문내역</a>
            </li>
            <li style="white-space:nowrap">
                <a href="/delivery-management">배송지 관리</a>
            </li>
            <li>
                <a href="/p_review">상품 리뷰</a>
            </li>
            <li>
                <a href="/p_inquiry">상품 문의</a>
            </li>
            <li class="on" style="white-space:nowrap;">
                <a href="/s_inquiry">판매자 문의</a>
            </li>
            <li>
                <a href="/point">포인트</a>
            </li>
            <li>
                <a href="/coupon">쿠폰</a>
            </li>
        </ul>
    </nav>
    <div class="contents">
        <h3 class="web_title">판매자 문의(주문건)</h3>
        <div class="inquiryBox">
            <ul>
                <li>
                    <h3>주문번호</h3>
                    <ul>
                        <li>2020101920201019</li>
                    </ul>
                </li>
                <li>
                    <h3>상품</h3>
                    <ul>
                        <li>(아임월)굿밸런스 라이트밀 도시락</li>
                    </ul>
                </li>
                <li>
                    <h3>옵션</h3>
                    <ul>
                        <li>1번 바질 닭가슴살 + 구운야채 도시락</li>
                    </ul>
                </li>
                <li>
                    <h3>문의유형</h3>
                    <ul>
                        <li>
                            <select>
                                <option value="*">선택</option>
                                <option value="01">상품</option>
                                <option value="02">배송</option>
                                <option value="03">반품</option>
                                <option value="04">교환</option>
                                <option value="05">기타</option>
                            </select>
                        </li>
                    </ul>
                </li>
                <li class="words">
                    <h3>내용</h3>
                    <ul>
                        <li>
                            <form>
                                <p>
                                    <textarea
                                        style="border-radius:5px;width:100%;height:153px;border:1px solid #BBBBBB;padding:15px;font-size:14px"
                                        placeholder="문의하실 내용을 입력해주세요"></textarea>
                                </p>
                            </form>
                        </li>
                    </ul>
                </li>
                <div class="filebox">
                    <label for="upload">사진</label>
                    <input type="file" id="upload" name="upload">
                        <div id="preview">
                            <div class="previewBox">
                                <ul>
                                    <li></li>
                                    <li class="p2"></li>
                                </ul>
                            </div>
                            <!-- 미리보기 공간 -->
                        </div>
                    

                        <p>문의하신 내용에 대한 답변은
                            <span>마이>판매자문의</span>에서 확인하실 수 있습니다.</p>
                    </div>
                </ul>
            </div>
            <div class="thick_line"></div>
            <div class="btn_area sellerInq_regist">
                <button type="button" id="btnModify" style="margin: 0;">등록</button>
            </div>
        </div>
        <!--//order-->
    </div>
    <script>
        var upload = document.querySelector('#upload');
        var preview = document.querySelector('#preview');

        upload.addEventListener('change', function (e) {
            var get_file = e.target.files;

            var image = document.createElement('img');

            /* FileReader 객체 생성 */
            var reader = new FileReader();

            /* reader 시작시 함수 구현 */
            reader.onload = (function (aImg) {
                console.log(1);

                return function (e) {
                    console.log(3);
                    /* base64 인코딩 된 스트링 데이터 */
                    aImg.src = e.target.result
                }
            })(image)

            if (get_file) {
                                                                    /*
                get_file[0] 을 읽어서 read 행위가 종료되면 loadend 이벤트가 트리거 되고
                onload 에 설정했던 return 으로 넘어간다.
                이와 함게 base64 인코딩 된 스트링 데이터가 result 속성에 담겨진다.
            */
                reader.readAsDataURL(get_file[0]);
                console.log(2);
            }

            preview.appendChild(image);
        })
    </script>
    <script src="/js/mypage/mypageComponent.js"></script>
    </body>

</html>