@media screen and (max-width: 630px) {  
    .timedeal-wrapper .product .thum img{
      height: 310px;
    }
  
  }
  
  @media screen and (min-width:630px) and (max-width:1079px){
  .slick-slider{margin-bottom:40px}
  }
  
  @media screen and (max-width:460px){
    .web_login_title{display:none}
    .signup_top .box{width:90%;margin:0 auto}
    .signup_top p, .signup_top h3, .signup_top span{padding-left:15px;padding-right:15px}
    .signup_top p{margin-top:10px}
    .terms{padding-left:15px;padding-right:15px}
    .id_check{margin-left:15px}
    .id_check .box.int_id {width:73%!important}
    .web_login_title{display:none}
  
    }
  
    @media screen and (min-width:461px) and (max-width:1079px){
    p.confirm_mag{margin-top:10px;margin-bottom:18px}
    div.box.int_id{width:350px}
    .web_login_title{display:none}
    .box{width:100%}
    .confirm_mag{clear:both}
    .signup_wrap{margin:0 auto}
    }
  
  @media screen and (max-width: 670px) {
    .orderDetail ul li{max-width: 210px;}
  }
  @media screen and (min-width: 671px) {
    .orderDetail ul li{max-width: 100%}
  }