@font-face{
	font-family: "TmoneyRound";
	src:url(../font/TmoneyRoundWindExtraBold.ttf); /* 500 */
	font-weight: 500;
}
@font-face{
	font-family: "TJSArirang";
	src:url(../font/JSArirang.ttf); /* 500 */
	font-weight: 500;
}