*{font-family:'나눔고딕';font-weight:400}

body{min-width:360px;max-width:100%}
.mypage_title{margin:40px 10px 20px 10px;width:100%;}
.detail_title h2{text-align:center;position:relative;font-weight:bold;font-size:16px;margin-top:-10px}
.detail_title a img{position:absolute;top:42px}
/*.btncart{position:absolute;right:45px;top:-2px;padding:15px 0}*/

/*마이페이지*/
#header{height: 60px !important;padding-top:10px !important;}
.myPage{letter-spacing:0.2px;margin-bottom:-42px;padding-top:90px}
.myPage_title h2{font-weight:bold;font-size:16px}
.mypage a{display:block}
.myPage01{width:100%;padding-top:10px;padding-bottom:12px}
.myPage01 h3{font-size:16px}
.myPage01_2 .invite a{color:#fff;background-color:#F99319;border:1px solid #F99319;border-radius:30px;width:88px;height:22px;padding:2px 11px 2px 11px;letter-spacing:1px;}
.myPage01_2 .benefits a{color:#fff;background-color:#FF475E;border:1px solid #FF475E;border-radius:30px;width:88px;height:22px;padding:2px;padding:2px 11px 2px 11px;letter-spacing:1px;}
.myPage01,.myPage01_2, .myPage02, .myPage03, .myPage04, myPage05{width:100%;border-bottom:8px solid #F1F1F1}
.myPage ul{width:100%;padding:0;clear:both;display:flex;
justify-content: space-between;border-bottom:0.5px solid #bbbbbb}
.myPage ul li{float:left;font-size:14px;justify-content:space-between;padding:20px 15px 17px 15px}
.myPage06 li, .myPage06 li a{color:#6B6B6B;}
.myPage06 ul{background-color:#F5F5F5;padding-top:10px;padding-bottom:10px}

/*마이페이지(로그인전)*/
.myPage01 h3{padding-left:20px;text-align:left;margin-bottom:20px;font-size:16px;font-weight:normal;margin-top:-10px}
.myPage01 h4{padding-left:20px;}
.buttons{padding-left:15px;padding-right:15px;width:100%;margin: 0 auto;display: flex;justify-content: space-between;}
.btnLogin, .btnSignup{width: 48%;height:45px;text-align:center;border:0;display:inline-block;
background-color:#F99319;border-radius:5px;
;font-size:14px;font-weight:bold;color:#fff;padding-top:4px}

/*포인트*/
ul, li, p{list-style:none}

/* 현재 포인트 */
.current_point > p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 4px 0;
}
.current_point h2 {
    font-weight: 800;
}

.point_line {
    width: 100%; height: 4px;
    background: #F1F1F1;
}

.point_history {
    position: relative;
    right: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.point_history_left {
    text-align: right;
    padding: 8px 0 8px 0;
}
.point_history_right {
    text-align: left;
    padding: 8px 0 8px 0;
}
.point_history_line {
    width: 100%; height: 1px;
    background: #bbb;
    opacity: 0.4;
}

/* point history design */

.point_history > .point_history_left .save {
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 400;
}
.point_history > .point_history_left .amount {
    font-size: 14px;
    font-weight: 700;
    color: #31845B;
}

.point_history .point_history_right .date {
    font-size: 12px;
    color: #878787;
}
.point_history .point_history_right .type {
    font-size: 14px;
    color: #000000;
    padding: 4px 0;
}
.point_history .point_history_right .brand {
    font-size: 12px;
}

/*친구 추천*/
@media screen and (max-width:1079px){
    .detail_title{width:100%;}
    .detail_title h2{text-align:center;position:relative;font-weight:bold;font-size:16px;top:10px;padding-bottom:12px}
    .detail_title a img{position:absolute;top:42px}
    .myPage01_2 ul li img{width:18px;height:18px;margin-right:13.5px}
    .f_recommd{width:100%;height:330px;background-color:#FFF4E8;text-align:center;margin-bottom:27px;padding-top:21px}
    .f_recommd h3{width:80px;height:24px;margin:0 auto;padding-top:3px;color:#6A3F0B;font-size:14px;font-weight:bolder;background-color:#00000014;border-radius:10px;}
    .f_recommd h4{margin-top:19px;font-size:14px;color:#F99319;font-weight:bold}
    .f_recommd p{font-size:14px;line-height:20px}
    .f_recommd p span{font-weight:bold}
    #btnKakao{width:80%;height:45px;margin:auto;padding: 13px 0 13px;border:0;cursor: pointer;color:#000;background-color:#FFEB3B;font-size: 14px;font-weight: bold;font-family: '나눔고딕';border-radius:5px;}
    .buttons{padding-top:27px;}
    #btnURL{width:80%;height:45px;margin:auto;padding: 13px 0 13px;border:0;cursor: pointer;color:#fff;background-color:#6A6A6A;font-size: 14px;font-weight: bold;font-family: '나눔고딕';border-radius:5px;margin-left:11px;}
    #btnURL img, #btnKakao img{position:relative;right:17px}}
    
    @media screen and (min-width:1080px){
    #content{width:1080px;margin:0 auto}
    .f_recommd{width:1080px;height:330px;background-color:#FFF4E8;text-align:center;margin-bottom:27px;padding-top:21px}
    .f_recommd h3{width:80px;height:24px;margin:0 auto;padding-top:3px;color:#6A3F0B;font-size:14px;font-weight:bolder;background-color:#00000014;border-radius:10px;}
    .f_recommd h4{margin-top:19px;font-size:14px;color:#F99319;font-weight:bold}
    .f_recommd p{font-size:14px;line-height:20px}
    .f_recommd p span{font-weight:bold}
    #btnKakao{width:80%;height:45px;margin:auto;padding: 13px 0 13px;border:0;cursor: pointer;color:#000;background-color:#FFEB3B;font-size: 14px;font-weight: bold;font-family: '나눔고딕';border-radius:5px;}
    .buttons{padding-top:27px;}
    #btnURL{width:80%;height:45px;margin:auto;padding: 13px 0 13px;border:0;cursor: pointer;color:#fff;background-color:#6A6A6A;font-size: 14px;font-weight: bold;font-family: '나눔고딕';border-radius:5px;margin-left:11px;}
    #btnURL img, #btnKakao img{position:relative;right:17px}}

/*쿠폰*/
.coupons_y, .coupons_g{padding-left:15px;padding-right:15px;margin-top:35px}
.coupons_y h3, .coupons_g h3{font-size:16px;font-weight:bold;margin-bottom:10px}
.coupons_y ul{border:1.5px solid #EFA543;border-radius:5px;padding-bottom:14px;padding-top:12px;padding-left:14px;}
.coupons_g ul{border:1.5px solid #31845B;border-radius:5px;padding-bottom:14px;padding-top:12px;padding-left:14px;}
.coupons_y .title , .coupons_g .title{margin-bottom:10px}
.coupons_y p span, .coupons_g p span{color:#878787;}
.download{float:right}
.download img{position:relative;top:20px;right:14px}
.download p{position:relative;top:30px;right:22px;color:#EFA543;font-weight:bold}
.download .y_line{height:111px;border-left:1px solid #EFA543;position:relative;top:-52px;right:50px}
.download .g_line{height:111px;border-left:1.5px solid #31845B;position:relative;top:-52px;right:50px}
.btn_area_c{padding-left:15px;padding-right:15px;}
#btnCoupon{width:100%;height:45px;text-align:center; border:0;cursor: pointer;color:#fff;background-color:#EFA543;font-size:14px;font-weight: bold;font-family: '나눔고딕';border-radius:5px;margin-bottom:15px}

/*상품문의*/

/*이벤트*/
.benefits img{width:100%}
.benefits p{font-size:14px;font-weight:bold;margin-top:10px;margin-bottom:18px;margin-left:15px}

