.mypage_title{margin:40px 10px 20px 10px;width:100%;}

.btncart{position:absolute;right:45px;top:-2px;padding:15px 0}



/*마이페이지 로그인 버튼 모달창*/
/* The Modal (background) */
.mypage_modal {
display: none;
position: fixed; /* Stay in place */
z-index: 10000; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.mypage_modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    height:500px;
    
                       
}
/* The Close Button */
.mypage_modal .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    left:280px;
    margin-top:10px;
    margin-right:20px

}
.mypage_modal .modal-content .close:hover,
.mypage_modal .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.mypage_modal .modal-content .login-list{text-align:center;padding-top:131px}
.mypage_modal .modal-content .login-list ul li{margin-bottom:13px}
.mypage_modal .modal-content .login-list ul li button,
.mypage_modal .modal-content .login-list ul li a
{width:90%;height:40px;border:none;border-radius:5px; text-align: center;display: inline-block;
line-height: 40px; font-size: 14px;}
.mypage_modal .modal-content .login-list .naver{color:#fff;background-color:#1FBE02}
.mypage_modal .modal-content .login-list .naver a{color: #FFFFFF}
.mypage_btn{padding-left:15px;padding-right:15px}
.mypage_modal .modal-content .login-list .kakao{color:#000;background-color:#F9E50C}
.mypage_modal .modal-content .login-list .id_comp{color:#fff;background-color:#B4B4B4}
.review_list_null{text-align: center;
padding-top: 120px;}

/*마이페이지*/
#header{height: 60px !important;padding-top:10px !important;}
.myPage{letter-spacing:0.2px;margin-bottom:-42px;padding-top:60px}
.myPage_title h2{font-weight:bold;font-size:16px}
.mypage a{display:block}
.myPage01{width:100%;padding-top:14px;padding-bottom:12px}
.myPage01 h3{font-size:16px}
.myPage01_2 .invite ul li a:last-child {color:#fff;background-color:#F99319;border:1px solid #F99319;border-radius:30px;width:88px;height:22px;padding:2px 11px 2px 11px;letter-spacing:1px;}
.myPage01_2 .benefits ul li {color:#fff;background-color:#FF475E;border:1px solid #FF475E;border-radius:30px;width:88px;height:22px;padding:2px;padding:2px 11px 2px 11px;letter-spacing:1px;}
.myPage01,.myPage01_2, .myPage02, .myPage03, .myPage04{width:100%;border-bottom:8px solid #F1F1F1}
.myPage ul{width:100%;padding:0;clear:both;display:flex;
justify-content: space-between;border-bottom:0.5px solid #bbbbbb}
.myPage ul li{float:left;font-size:14px;justify-content:space-between;padding-left:15px;padding-right:15px;padding-top:16.17px;padding-bottom:15px}
.myPage06 li, .myPage06 li a{color:#6B6B6B;}
.myPage06 ul{background-color:#F5F5F5;padding-top:10px;padding-bottom:10px}

/*마이페이지(로그인전)*/
.myPage01 h3{padding-left:20px;text-align:left;margin-bottom:20px;font-size:16px;font-weight:normal;margin-top:-10px}
.myPage01 h4{padding-left:20px;}
.btnLogin, .btnSignup{width:50%;height:45px;text-align:center;border:0;display:inline-block;
background-color:#F99319;border-radius:5px;
;font-size:14px;font-weight:bold;color:#fff;padding-top:4px;margin-top:14px}
.myPage .buttons{display:flex;margin-left:15px;margin-right:15px; flex-wrap: nowrap}
.myPage .btnSignup{margin-left:10px}
@media screen and (max-width:1079px){
/*친구 추천*/
    .myPage01_2 ul li img{width:18px;height:18px;margin-right:13.5px}
    .f_recommd{width:100%;height:330px;background-color:#FFF4E8;text-align:center;margin-bottom:27px;padding-top:21px}
    .f_recommd h3{width:80px;height:24px;margin:0 auto;padding-top:3px;color:#6A3F0B;font-size:14px;font-weight:bolder;background-color:#00000014;border-radius:10px;}
    .f_recommd h4{margin-top:19px;font-size:14px;color:#F99319;font-weight:bold}
    .f_recommd p{font-size:14px;line-height:20px}
    .f_recommd p span{font-weight:bold}
    #btnKakao{width:100%;height:45px;margin:auto;padding: 13px 0 13px;border:0;cursor: pointer;background-color:#FFEB3B;border-radius:5px;}
    .f_recommd .buttons{padding-top:27px;display:flex;padding-right:15px;padding-left:15px}
    .btnURL{width:100%;height:45px;margin:auto;padding: 13px 0 13px;border:0;cursor: pointer;color:#fff;background-color:#6A6A6A;font-size: 14px;font-weight: bold;font-family: 'Nanum Gothic', sans-serif; border-radius:5px;margin-left:11px;}
    .btnURL img, #btnKakao img{position:relative;right:17px}
    #btnKakao a{color:#000;font-size: 14px;font-weight: bold;font-family: 'Nanum Gothic', sans-serif;}
    .btnURL a{color:#fff;font-size: 14px;font-weight: bold;font-family: 'Nanum Gothic', sans-serif;}
/*쿠폰*/

.coupon_list p span{padding-bottom:10px;color:#000000;}
.coupon_list img{width:38px;height:38px;margin-bottom:7px;margin-top:10px}
.coupon_list p{color:#878787}
.coupon_list{padding-left:15px;padding-right:15px;padding-top:20px}
.coupon_list ul li{display:flex;margin-bottom:15px}
.y_coupon, .g_coupon{cursor: pointer;}
.y_coupon .couponBox01{width:70%;border-right:1.5px dashed #F99319!important;border:1.5px solid #F99319;padding-top:13px;padding-left:14px;padding-bottom:13px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.y_coupon h3{color:#F99319;font-size:20px;font-weight:bolder;}
.y_coupon .couponBox01 .sale{margin-bottom:10px;margin-top:6px}
.y_coupon .couponBox02{width:30%;border-left:0!important;border:1.5px solid #F99319;background-color:#EFA543;padding-top:18px
;border-top-right-radius: 10px;
border-bottom-right-radius: 10px;}
.y_coupon .couponBox02{text-align:center}
.y_coupon .couponBox02 .download{color:#fff}


.coup_point .couponBox01 h3 {
    margin-top: 0px;
}
.coup_point .couponBox02 p{
    margin-left: 0px;
}
.g_coupon .couponBox01{width:70%;border-right:1.5px dashed #31845B!important;border:1.5px solid #31845B;padding-top:13px;padding-bottom:13px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
padding-left:12px
}
.g_coupon h3{font-size:20px;font-weight:bolder;}
.g_coupon .couponBox01 .sale{margin-bottom:10px;margin-top:6px}
.g_coupon .couponBox02{width:30%;border-left:0!important;border:1.5px solid #31845B;background-color:#389667;padding-top:18px
;border-top-right-radius: 10px;
border-bottom-right-radius: 10px;}
.g_coupon .couponBox02{text-align:center}
.g_coupon .couponBox02 .download{color:#fff}
.couponBtn{margin-left:15px;margin-right:15px;margin-top:6px}
.couponBtn button{width:100%;height:45px;background-color:#EFA543;text-align:center;border:0;border-radius:5px;color:#fff;margin-bottom:10px}
.coupon h2{display:none}
.coupon_web_top, .coupon_table_top{display:none}
.modal_wrap{
    display: none;
    width: 340px;
    height: 175px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -120px 0 0 -160px;
    background:#fff;
    border-radius:5px;
    z-index: 2;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}
.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url('/images/x_icon_login.png')no-repeat;
    text-indent: -9999px;
    position:relative;
    top:45px;
    right:10px
}
#cBtn{border: 1px solid #BBBBBB;
    width: 96%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    height: 45px;
    border-radius: 5px;}
#modal_coupon input{width:92%;height:43px;margin:0 auto;border:1px solid #BBBBBB;border-radius:5px;margin-left:12px;margin-top:15px}
.btn_enroll{width:92%;height:43px;background-color:#EFA543;text-align:center;color:#fff;border-radius:5px;border:0;margin-left:12px;margin-top:25px}
.coupon_modal_tit{font-size:16px;font-weight:bold;margin-top:15px;margin-left:12px}
/*판매자문의 추가 06/04*/
.inquiry_product{margin-left:15px;margin-right:15px;
border-bottom:1px solid #E6E6E6;margin-top:20px;padding-bottom:15px}
.inquiry_product h4{font-weight:bold;margin-bottom:15px}
.inquiry_product .inquiry_detail{
display:inline-block
}
.inquiry_product_head{display:flex;justify-content:space-between;}
.inquiry_product .inquiry_detail ul {
display:flex;
align-content: flex-start;
flex-direction: column;
flex-wrap:wrap;
overflow:auto;
margin-left:14px
}
.inquiry_product .inquiry_detail ul li{margin-bottom:7px}

}

@media screen and (min-width:1080px){
    .mypage_content_wrap{display:flex;justify-content: space-between;}
.orderlist_btn{margin-top:24px}
.orderlist_btn ul li{margin-left:10px}
        /*판매자문의 추가 06/04*/
.inquiry_product{margin-left:15px;margin-right:15px;
    border-bottom:1px solid #E6E6E6;padding-bottom:15px;margin-top:14px}
    .inquiry_product h4{font-weight:bold;margin-bottom:15px}
    .inquiry_product .inquiry_detail{
    display:inline-block
    }
    .inquiry_product_head{display:flex;justify-content:space-between;}
    .inquiry_product .inquiry_detail ul {
    display:flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap:wrap;
    overflow:auto;
    margin-left:14px
    }
    .inquiry_product .inquiry_detail ul li{margin-bottom:7px}
    .web_coupon_tit{margin-bottom:20px}
    #content{margin:0 auto}
    #cBtn{border: 1px solid #BBBBBB;
        width:330px;
        background-color: #fff;
        height: 45px;
        border-radius: 5px;}
    
    .modal_wrap{display:none}
    .f_recommd{width:1080px;height:330px;background-color:#FFF4E8;text-align:center;margin-bottom:27px;padding-top:21px}
    .f_recommd h3{width:80px;height:24px;margin:0 auto;padding-top:3px;color:#6A3F0B;font-size:14px;font-weight:bolder;background-color:#00000014;border-radius:10px;}
    .f_recommd h4{margin-top:19px;font-size:14px;color:#F99319;font-weight:bold}
    .f_recommd p{font-size:14px;line-height:20px}
    .f_recommd p span{font-weight:bold}
    #btnKakao{width:80%;height:45px;margin:auto;padding: 13px 0 13px;border:0;cursor: pointer;color:#000;background-color:#FFEB3B;font-size: 14px;font-weight: bold;font-family: 'Nanum Gothic', sans-serif; border-radius:5px;}
    .buttons{padding-top:27px;}
    .btnURL{width:80%;height:45px;margin:auto;padding: 13px 0 13px;border:0;cursor: pointer;color:#fff;background-color:#6A6A6A;font-size: 14px;font-weight: bold; font-family: 'Nanum Gothic', sans-serif; border-radius:5px;margin-left:11px;}
    .btnURL img, #btnKakao img{position:relative;right:17px}
/*쿠폰*/
.coupon_web_top input{width:271px;height:45px;border-radius:5px;border:1px solid #BBBBBB}
.coupon_web_top button{width:91px;height:45px;color:#fff;background-color:#F99319;border:0;border-radius:5px}
.coupon_web_top{margin-bottom:26px}
.couponBtn{display:none}
.coupon_table_top ul{display: flex;
                     justify-content: space-between;
                     padding-left: 54px;
                     padding-right: 54px;
                     border-top: 1px solid #000;
                     padding-top: 17px;
                     border-bottom: 1px solid #000;
                     padding-bottom: 17px;}
.coupon_list ul{flex-flow:row-reverse}
.coupon_list .sale{position:absolute;left:150px}
.coupon_list h3{font-size: 12px !important;font-weight:normal!important;position:absolute;left:600px}
.coupon_list .range{margin-bottom:20px;margin-top:20px;padding-bottom:20px;border-bottom:1px solid #BBBBBB}
.coupon_list .condition{position:absolute;left:380px}
.coupon_list img{width:20px;position:relative;right:60px;top:-54px}
.coupon_list .couponBox02{position:absolute;left:800px}
.coupon_list .download{position:relative;top:-75px;right:20px}
}
/*상품문의*/

/*이벤트*/
.benefits img{width:100%}
.benefits p{font-size:14px;font-weight:bold;margin-top:10px;margin-bottom:18px}
.event_content img{width:100%}

.point_current_situation {
    padding-bottom: 18px;
    border-bottom: 6px solid #F1F1F1;
}

.point_content {
    padding: 10px 15px;
    
    border-top: 1px solid #E6E6E6;
}

.point_content:first-child{
    border-top: none;
}
.point_content .mobile_left {
    min-width: 38%;
    text-align: right;
    margin-right: auto
}

.point_content .mobile_right {
    min-width: 54%;
    text-align: left;
}


@media screen and (min-width:1000px) {
    .del_inq_info {
        display: flex;
        width: 90%;
        margin: 0 auto;
        padding: 18px 0 14px 0;
        font-size: 14px; 
        justify-content: space-evenly;
    }
}

/* 모바일 화면 대응 orderdelist */
@media screen  and (max-width:1079px) {
    .box_top{display:flex}
    .box_top ul{margin-left:20px}
    .box_wrap{display:flex;margin-top:15px}
    .box_wrap ul{margin-left:20px}
    .wide_line {display: none;}
    header#wheader {display: none;}
    body {
        min-width: 360px;
    }
    #header {
        display: none;
    }
        .content_lnb {
        display: none;
    }
    .order_detail_top {
        padding: 8px 12px;
    }
    #web_contents {
        padding-top: 0; min-width: 360px;
    }
    .detail_title {display: block !important;} 
    /* 주문 상세 타이틀 */
    .detail_title h2{text-align:center;position:relative;font-weight:bold;font-size:16px;}
}


/* 모바일 화면 대응 deliverymanage */
@media screen and (min-width:1080px) {
    section.detail_title, section.delivery_manage_list {display: none;}
    div.del_line_thick{display: none;}
    .delivery_manage_list p img{margin-left:10px;margin-right:10px}
    .delivery_manage_list .edit_remove li {
        font-size: 12px;
        padding: 2px;
        }
        .forCouponPage {width: 1080px; margin: 0 auto;}
        .mypage_content_wrap {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom:100px;
            width:1080px;
            margin: 0 auto;
        }
        .box_top{display:flex}
        .box_top ul{margin-left:20px}
        .box_wrap{display:flex;margin-top:15px;border-bottom:1px solid #E6E6E6;padding-bottom:15px}
        .box_wrap ul{margin-left:20px}
        .box_wrap ul li{padding-bottom:7px}
        .editBtn_click{display:none}
}

/* 포인트 테이블 개발 */
@media screen and (min-width:1080px) {
    .point_info_content {
        margin-left:50px
    }
    .point_info_content ul  {
        display: flex;
        justify-content: space-between;
    }
    .point_list_header {
        border-top: 1px solid #000; 
        border-bottom: 1px solid #000;
    }
    .point_list_header li {
        padding: 17px 0; 
        font-size: 14px;
        font-weight: 700;
    }
    ul.point_list_body {
        display: block;
    }
    .point_content {

        font-size: 12px;
        font-weight: 400;
        padding: 14px 0;
        border-bottom: 1px solid #BBB;
        display: flex;
        flex-flow: row;
    }
    .point_info_content ul li {text-align: center;}
    .headerName_date {width: 114px;}
    .headerName_content {width: 264px;}
    .headerName_validity {width: 133px;}
    .headerName_price {width: 117px;}
    .content_date {width: 133px;}
    .content_content {width: 448px;}
    .content_validity {width: 133px;}
    .content_price {width: 117px;}

    .point_current_situation {
        display: none;
    }

    .thick_line {display: none;}
    .point_content .savePoint_brand {display: none;}
    .point_content .point_sortation {display: none;}
}


.point_content .content_price.minus { color: red}
@media screen and (max-width:1079px) {
    .point_list {
        width: 100%; min-width: 360px;
        padding-top: 18px;
    }
    .point_current_situation {
        text-align: center;
    }
    .point_current_situation > h3 {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 8px;
    }
    .point_current_situation h4 {
        font-size: 16px;
        font-weight: 800;
    }
    .point_list_header {display: none;}
    .point_content .content_validity {display: none;}
    .point_content {
        display: flex;
        flex-direction: row-reverse;
    }
    .point_content li:not(:last-child) {padding-bottom: 6px;}
    .point_content > li.mobile_right {width: 52%;}
    .point_content > li.mobile_left {text-align: right;;}

    .mobile_left li {font-size: 14px;}
    .mobile_left li.point_sortation {color:#6B6B6B; font-weight: 400;}
    .mobile_left li.content_price {color: #31845B; font-weight: 700;}
    .mobile_right li.content_date {font-size: 12px; font-weight: 400; color: #878787;}
    .mobile_right li.content_content {font-size: 14px; font-weight: 400; color: #000;}
    .mobile_right li.savePoint_brand {color: #000;}
}
