.orderer_info input, .deliver_info input, .coup_point input{width:100%;height:45px;border-radius:5px;border:1px solid #BBBBBB;margin-bottom:18px;padding:10px}
.orderer_info select, .deliver_info select, .coup_point select{width:100%; height:40px;border-radius:5px;border-color:#BBBBBB;padding:10px;margin-bottom: 10px;}

@media screen and (max-width:1079px){
.web_order_info{display:none}
.detail_title h2{font-size:16px;text-align:center;margin-top:42px} 
.btnback img{width:17px;position:relative;top:-18px;left:5px}
.order_title {font-size:14px;font-weight:bold;padding-left:15px}
.order_product{border-bottom:8px solid #f1f1f1;}
.order_product h4{font-size:14px;margin-top:20px;padding-bottom:10px;padding-left:15px;font-weight:normal}
.order_product img{width:50px;height:62px;margin-right:15px}
.order_product ul{font-size:12px;}
.order_product ul li{margin-bottom:2px}
.order_product ul li span{color:#878787}
.item{border-top:1px solid #BBBBBB;padding-left:15px; padding-right: 15px}
.item{display:flex;padding-top:15px;padding-bottom:13px}
.orderer_info, .deliver_info, .coup_point, .final_price, .payment_method{
    padding:0px 15px;border-bottom:8px solid #f1f1f1;
    position: relative;
    
}
.orderer_info img{width:8px;position:relative;top:-2px}
.deliver_info h3 img{width:8px;position:relative;top:-2px}
.deliver_info p{position: absolute; top: 22px; right: 15px;font-size:14px;font-weight:bold}
.deliver_info p img{width:12px;position:relative;left:-2px}
.orderer_info h3, .deliver_info h3, .final_price h3{padding-top:22px;font-size:14px;margin-bottom:18px}
.orderer_info .members table{font-size:14px}
.members table{width:70%;}
.members tr td{padding-bottom:18px}
.deliver_info .members{margin-bottom:20px}
.members .addr{padding-bottom:18px;font-size:14px;}
.members .name, .members .num{font-size:12px;color:#6B6B6B}
.orderer_info h4, .deliver_info h4{font-size:14px;font-weight:bold;margin-bottom:4px}
.coup_point .members{
    margin-bottom: 10px;
}
.coup_point h3{font-size:14px;font-weight:bold;margin-top:23px;margin-bottom:10px}
.coup_point p{font-size:12px;}
.coup_point input{width:70%;height:45px;border-radius:5px;border:none;border:1px solid #BBBBBB; margin-bottom: 0px;}
.coup_point #btnUse{width:28%;height:45px;border:0;border:1px solid #EFA543;color:#EFA543;background-color:#fff;border-radius:5px}
.final_price{border-bottom:8px solid #f1f1f1;padding-bottom:20px}
.final_price table{width:100%;}
.final_price td{margin-top:15px}
 .final01 tr, .final02 tr{display:flex;justify-content:space-between;margin-bottom:4px;font-size:14px}
.final01, .final02{border-top:1px solid #bbbbbb;}
.final02{margin-top:20px}
.total_price .total{font-size:16px;font-weight:bold}
.order_info_prc{font-size:16px;font-weight:bold}
.payment_method h3{font-size:16px;font-weight:bold;margin-top:24px;margin-bottom:10px}
.order_payment{border-bottom:8px solid #f1f1f1;padding-bottom:18px}
.order_payment ul{display:grid;grid-template-columns: repeat(2, 2fr);align-items: center;justify-self: center;margin:0 auto;padding-left:15px;padding-right:15px}
.order_payment ul li{width:95%;height:45px;border:1px solid #BBBBBB;border-radius:5px;padding:5px;margin-bottom:10px}
.order_payment img 
{width:55px;height:22px;position:relative;left:65px;top:6px}
.agreement h3{font-size:14px;font-weight:bold;margin-top:25px;padding-left:15px}
.agreement h3 img{position:relative;top:4px;padding-right:10px}
.agreement p{margin-left:44px;margin-right:44px;font-weight:normal;color:#6B6B6B;line-height:18px;font-size:12px;margin-top:11px;margin-bottom:25px}
.order_btn{width:100%;padding-left:15px;margin-bottom:25px}
#orderBtn{width:95%;height:45px;color:#fff;border:0;background-color:#EFA543;border-radius:5px}
.web_num{display:none}
.order_payment_point{padding-top:20px;width:92%;height:80px;margin-left:14.5px;background-color:#F1F1F1;border-radius:5px;border:none;margin-bottom:24px}
.order_payment_point p{text-align:center;color:#000;font-size:14px}
.order_payment_point span{font-size:12px;color:#6B6B6B;padding-top:10px}

}
/*주문하기 웹*/
@media screen and (min-width:1080px){
.detail_title{width:1080px;margin:0 auto;padding-top:200px}
.detail_title .btnback{display:none}
.detail_title h2{text-align:center;margin-top:55px;margin-bottom:40px}
.order{width:1080px;margin: 0 auto}
.order_title{width:1080px;font-size:18px;font-weight:bold;border-bottom:8px solid #f1f1f1;padding-bottom:20px}
.order_title .web_num{color:#F99319;font-size:14px;margin-left:3px;position:relative;top:-4px}
.order_product{border-bottom:8px solid #f1f1f1;}
.order_product h4{font-size:14px;font-weight:bold;margin-top:15px;padding-bottom:15px}
.order_product img{width:56.25px;height:62px;margin-top:16px;margin-left:10px;margin-bottom:15px}
.item{display:flex;font-size:14px;margin-bottom:10px;border-top:1px solid #f5f5f5}
.order_product ul{margin-top:20px;margin-left:13.5px}
.orderer_info h3, .deliver_info h3{font-size:18px;font-weight:bold;margin-top:15px;padding-bottom:15px}
.orderer_info, .deliver_info, .coup_point{border-bottom:8px solid #f1f1f1}
.orderer_info .members table{font-size:14px}
.members table{width:70%;}
.members tr td{padding-bottom:18px}
.deliver_info .members{margin-bottom:20px}
.deliver_info select{width:394px!important}
.members .addr{padding-bottom:18px;font-size:14px;}
.members .name, .members .num{font-size:12px;color:#6B6B6B}
.orderer_info h4, .deliver_info h4{font-size:14px;font-weight:bold;margin-bottom:4px}
.orderer_info input, .deliver_info input{width:400px;height:45px;border-radius:5px;border:1px solid #BBBBBB;margin-bottom:18px;padding:10px}
.orderer_info select{width:200px;height:30px}
.coup_point h3{font-size:14px;font-weight:bold;margin-top:20px;margin-bottom:10px;}
.coup_point{padding-bottom:20px}
.coup_point select{width:394px!important}
.coup_point p{font-size:12px;;margin-top:10px}
.coup_point input{width:308px;height:45px;border-radius:5px;border:none;border:1px solid #BBBBBB}
.coup_point #btnUse{width:76px;height:45px;border:0;border:1px solid #EFA543;color:#EFA543;background-color:#fff;border-radius:5px}
.final_price h3{font-size:16px;font-weight:bold;margin-top:20px;margin-bottom:18px;}
.final_price table{width:100%;}
.final_price td{margin-top:15px}
 .final01 tr, .final02 tr{display:flex;justify-content:space-between;padding-left:15px;padding-right:15px;margin-bottom:14px;font-size:14px}
.final01{background-color:#F8F8F8}
.final01, .final02{border-top:1px solid #E4E4E4}
.final02{border-bottom:8px solid #f1f1f1}
.total_price .total{font-size:16px;font-weight:bold}
.order_info_prc{font-size:16px;font-weight:bold}
.payment_method h3{font-size:16px;font-weight:bold;margin-top:24px;margin-bottom:10px}
.order_payment{border-bottom:8px solid #f1f1f1;padding-bottom:18px}
.order_payment ul{display:grid;grid-template-columns: repeat(5, 1fr);align-items: center;justify-self: center;margin:0 auto;}
.order_payment ul li{width:95%;height:45px;border:1px solid #BBBBBB;border-radius:5px;padding:5px;margin-left: 2.5%;margin-bottom:10px}
.order_payment img 
{width:55px;height:22px;position:relative;left:65px;top:6px}
.agreement h3{font-size:14px;font-weight:bold;margin-top:25px;padding-left:15px}
.agreement h3 img{position:relative;top:4px;padding-right:10px}
.agreement p{margin-left:44px;margin-right:44px;font-weight:normal;color:#6B6B6B;line-height:18px;font-size:12px;margin-top:11px;margin-bottom:25px}
.order_btn{width:100%;text-align:center;margin-bottom:25px}
#orderBtn{width:330px;height:45px;color:#fff;border:0;background-color:#EFA543;border-radius:5px;}
}