/* 수량 선택 버튼 */

input[type="number"] {-webkit-appearance: textfield;-moz-appearance: textfield;appearance: textfield;  }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
  }
  
  .number-input {
    border: 1px solid #BBBBBB;
    background: #F5F5F5;
    display: inline-flex;
    border-radius: 5px;
    margin-left:15px;
    margin-top:11.5px;
    margin-bottom:15px;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 25px;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:after {
    display: inline-block;
    position: absolute;
    font-weight: 900;
    content: '\002D';
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .number-input button.plus:after {
    content: '\002B';
    transform: translate(-50%, -50%) rotate(180deg);
  }
  
  .number-input input[type=number] {
    max-width: 5rem;
    padding: .5rem;
    border: 1px solid #BBBBBB;
    /* border-width: 0 2px; */
    font-size: 14px;
    height: 27px;
    text-align: center;
    /* outline: 2px solid red; */
  }
#tab ul li{cursor: pointer;}
/*products_mobile*/


@media screen and (max-width:1079px){
.line{position:relative;margin-top:10px}
.view_top_img img{width:100%!important;height:100%!important}
.view_navi_box{display:none}
.v_top_txt_box{margin-top:13px}
.qna, .reviews{width: 100% !important;}

/* 모바일 반응형 */
.Mtab_cont {display: none}
.Mtab_cont.active {display: block;}
.other_cont {display: none;}
.other_cont.active {display: block;}


/* 토글 버튼 디자인 */

.myReview input {position: absolute; left: -9999px;}
.myReview  label{
    position: relative;
    display: block; 
    width: 33px; height: 20px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 13px;
    transition: ease-in .1s;
}
.myReview label:after {
    content: ""; 
    position: absolute; 
    left: 2px; top: 50%;
    width: 16px; height: 16px;
    border-radius: 100%;
    background: #bbb;
    transform: translateY(-50%);
    transition: all .4s;
}

.myReview input:checked + label {background: #fff; border: 1px solid #F99319; }
.myReview input:checked + label:after { left: calc(100% - 18px); right: 2px; background: #F99319;}
.myReview label > span {display: none;}

.myReview input {position: absolute; left: -9999px;}
.myReview label {
    position: relative;
    display: block; 
    width: 33px; height: 20px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 13px;
    transition: ease-in .1s;
}
.myReview label label:after {
    content: ""; 
    position: absolute; 
    left: 2px; top: 50%;
    width: 16px; height: 16px;
    border-radius: 100%;
    background: #bbb;
    transform: translateY(-50%);
    transition: all .4s;
}
.myReview input:checked + label {background: #fff; border: 1px solid #F99319; }
.myReview input:checked + label:after {
    left: calc(100% - 18px); right: 2px; background: #F99319;
}
.myReview label > span {display: none;}
.tabMenu{margin-bottom:-4px}

#content .tabMenu{margin-top:22px;width:100%;text-align:center}
#content .tabMenu ul{padding-left:25px;padding-right:25px;border-bottom:2px solid #f1f1f1}
#content .tabMenu li{float:left;width:25%;height:35px;font-size:14px;text-align:center;padding:10px}
#content .tabMenu li{color:#878787;}
#content .tabMenu li.active > a {color: #F99319; font-weight: 700;}

/* #content .tabMenu li:hover{color:#F99319;border-bottom:3px solid #F99319; padding-bottom:11px;} */
.v_top_name{font-size:16px;font-weight:bold;margin-bottom:7px;padding-left:15px}
.v_top_txt{font-size:12px;color:#6B6B6B;line-height:normal;padding-left:15px;margin-bottom:5px}
.price_mobile .p1{font-size:16px;font-weight:bold;margin-top:12px;margin-bottom:6px;padding-left:15px}
.price_mobile .p2{color:#BBBBBB;font-size:14px;text-decoration:line-through;margin-bottom:7px;padding-left:15px}

.price_mobile .p3{color:#F32525;font-size:16px;font-weight:bold;padding-left:15px}
.price_mobile{border-bottom:8px solid #F1F1F1;padding-bottom:19px}
.v_n_top_info table tr{width:100%;display:flex;justify-content:space-between}
#content .v_n_top_info{width:100%;border-bottom:8px solid #f1f1f1;}
#content .v_n_top_info{margin-top:20px;padding-left:15px;padding-right:15px}
#content .v_n_top_info tr td span{color:#878787;}
#content .v_n_top_info .ex{position:absolute;left:120px}
#content .v_n_top_info tr td{font-size:13.4px;padding-bottom:20px}
.product_option select{width:100%;height:36px;border-radius:5px;padding:5px}
.product_count{border:1px solid #BBBBBB;margin-top:11px;border-radius:5px;}
.product_count h4{font-size:14px;margin-left:15px;}
.product_title{display:flex;justify-content:space-between;padding-right:15px;padding-top:10px}
.product_count .result{padding:2px 21px 2px 20px;border:1px solid #BBBBBB;font-size:14px;font-weight:normal}
.number_price p{float:right;position:relative;left:-15px;top:20px;font-size:14px}
.t_price ul{display:flex;justify-content:space-between;margin-left:15px;margin-right:15px;margin-top:20px;margin-bottom:4px}
.t_price li{font-size:14px;}
.t_price p{float:right;margin-right:15px;margin-top:20px;margin-bottom:10px}
.total{font-weight:normal}
.total_price{display:none}
.common_btn_wrap{width:100%;}
.option_btns{float:left;}
.option_btns button{height:45px;
font-size:16px;border:none;border-radius:5px}
.h_btn{width:10%;background-color:transparent;border:1px solid #F99319;position:relative}
.c_btn{width:44%}
.p_btn{width:44%}
.pp_wrap{margin-bottom:-50px;}
.purchased_products h3{margin-top:20px;margin-bottom:10px;font-size:14px;font-weight:bold}
.purchased_products .title{font-size:12px;margin-top:15px;width:120px;white-space: nowrap;
overflow:hidden;text-overflow: ellipsis;margin:10px auto;margin-left:-1px}
.purchased_products .price ul{margin-top:7px;margin-left:-4px}
.purchased_products .price ul li{float:left;margin-left:4px}
.purchased_products .cost{color:#BBBBBB;text-decoration:line-through}
.purchased_products .ratio{color:#F32525}
.infoDetails{
    width:100%;
    clear:both;
    border-top:2px solid #E6E6E6;
    padding-top:48px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
}
.infoDetails h3{padding-bottom:10px;font-size:14px;font-weight:bold}
.infoDetails ul{margin-bottom:20px}
.infoDetails ul li{font-size:12px;line-height:20px}
.infoDetails .title{font-weight:bold;}
.page_wrap{display:none}
 #wrap{display:none}
.modal-con{display:none}
/* contents Mtab_cont active 요소에 처음엔 display block, 다른 메뉴 누르면 display none 다시 누르면 display block이 반복돼야함 */
.inquiry{display:none}
.modal-open{display:none}
.option{font-size:12px;color:#878787;margin-left:15px}
.review_img01 img{width:100px;height:60px;margin-left:13px}
.review_img02 img{width:100px;height:60px;margin-left:13px}
.review_summ{clear:both;font-size:14px;line-height:18px;margin-top:10px;padding-left:10px;padding-right:10px;margin-bottom:10px}
.review_info02{border-bottom:8px solid #F1F1F1;padding-bottom:20px}
 #toc-toggle{display:none}
.floating{display:none}

}

/*products_web*/
@media screen and (min-width:1080px){
#tab1_mobile {height: 769px;}
.swiper-pagination {
    width: 10%;
    left: 88%;
}

/* 상품상세 멀티슬라이드 */
.responsive1 div img {
    width: 294px; height: 353px;
}

.other_cont{display:block;}
#tab li.onTab > span {color: #F99319;}
.tab_wrap{width:75%;border-bottom: none; display: flex; background: #fff;}
.tab_wrap li {flex: 1;display: block;height: 16px;font-size: 14px;line-height: 16px;
    text-align: center;cursor: pointer;color: #878787}
/* 토글 버튼 디자인 */

.myReview input {position: absolute; left: -9999px;}
.myReview  label{
    position: relative;
    display: block; 
    width: 33px; height: 20px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 13px;
    transition: ease-in .1s;
}
label:after {
    content: ""; 
    position: absolute; 
    left: 2px; top: 50%;
    width: 16px; height: 16px;
    border-radius: 100%;
    background: #bbb;
    transform: translateY(-50%);
    transition: all .4s;
}

.myReview input:checked + label {background: #fff; border: 1px solid #F99319; }
.myReview input:checked + label:after { left: calc(100% - 18px); right: 2px; background: #F99319;}
.myReview label > span {display: none;}

.myReview input {position: absolute; left: -9999px;}
.myReview label {
    position: relative;
    display: block; 
    width: 33px; height: 20px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 13px;
    transition: ease-in .1s;
}
.myReview label label:after {
    content: ""; 
    position: absolute; 
    left: 2px; top: 50%;
    width: 16px; height: 16px;
    border-radius: 100%;
    background: #bbb;
    transform: translateY(-50%);
    transition: all .4s;
}
.myReview input:checked + label {background: #fff; border: 1px solid #F99319; }
.myReview input:checked + label:after {
    left: calc(100% - 18px); right: 2px; background: #F99319;
}
.myReview label > span {display: none;}
.products_ex_mobile{display:none}
.tabMenu ul li{
border-top:1px solid #BBBBBB;border-bottom:1px solid #BBBBBB;border-left:1px solid #BBBBBB;
text-align:center;padding-top:24px;width:204px;height:68px;font-size:18px;color: #707070 !important;font-weight:bold}
#btn_mobile{display:none}
.common_btn_wrap{margin-left:-10px}
button.h_btn {width:51px;height:45px;background-color:#fff;border:1px solid #F99319;border-radius:5px;position:relative;top:7px}
button.h_btn img{width:26px;height:21px;}
button.c_btn{width:120px;height:45px;border-radius:5px}
button.p_btn{width:120px;height:45px;border:0;border-radius:5px}
.product_option select{padding:5px 10px;
background: url('/images/downarrow_icon_category.png') no-repeat 96% 50%;
border-radius: 5px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-color:#BBBBBB;
cursor:pointer;
width:310px;
height:40px;
margin-left:-18px
}
.price_mobile{display:none}
.view_navi_box {display:block;position:relative;background:none;padding-top:30px;text-align:left;color:#4d4d4d;font-weight:600;letter-spacing:-0.05em;}
.view_navi_tit {display:inline;padding-bottom:30px;text-align:left;color:#4d4d4d;font-size:18px}

.view_navi {float:left;padding-top:0px}
.view_navi li{float:left;padding-right:20px;margin-right:14px;background:url('/img/ico/bar_16.gif') no-repeat right 2px}
.view_navi li.last {background:none;color:#000}
.view_navi li a{float:left;color:#777;font-family: 'Noto sans',sans-serif;font-size:14px;font-weight:600}
.view_navi_box{margin-bottom:21px; margin-top:44px}
.view_navi_box span{font-size:18px;font-weight:bold;}
.infoDetails{width:74%;margin-top:40px}
.infoDetails ul li h3{font-size:18px;font-weight:bold;margin-bottom:10px}
.infoDetails ul li ul li{font-size:18px;line-height:30px}
.infoDetails ul li ul{margin-bottom:33px}   
#modalInquiry, #modalReview{left:-40px;float:right;position:relative;margin-bottom:30px;width:168px;height:45px;border-radius:5px;background-color:#F99319;color:#fff;font-size:18px;font-weight:bold;text-align:center;padding-top:10px}
.bx-wrapper {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important}
.purchased_products ul li{float:left}
.purchased_products img{border-radius:5px; width: 294px;}
.view_wrap {margin:0px auto;width:1068px;font-family:'Noto sans',sans-serif;margin-top:100px}
.view_top_img {float:left}

.ico_v_dsd_box {padding:0px 0 10px}
.ico_v_dsd {padding:3px 8px 4px;background:#aaacaf;color:#fff;font-size:12px;letter-spacing:-0.05em}

/* 제품상세 우측 설명박스*/
.v_top_txt_box {position:relative;width:364px;height:694px;background:#F8F8F8;padding:58px 29px 147px; left: 704px; top: -694px;} 
.v_top_name {padding:5px 0 0 0;color:#000;font-size:16px;font-weight:800;letter-spacing:-0.08em; font-family: 'Nanum Gothic', sans-serif; line-height:24px}
.v_top_txt {color:#6B6B6B;font-size:12px;line-height:18px;padding:10px 0 15px;border-bottom:1px solid #e1e1e1} 
.v_n_top_info .ex{padding-left:20px}
.option_wrap h3{margin-left:-15px}
.option_wrap #products{border:1px solid #424242;margin-left:-15px;width:305px;height:36px}
.product_detail_content {position:relative;margin-top:54px;font-family:'Noto sans',sans-serif}
.pdt_detail_tab {position:relative;background:#fff; width:800px;z-index:10; }
.pdt_detail_tab_inner {display:inline;float:left;height:61px;width:801px;border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;background-color:#fff;}
.pdt_detail_tab_inner .pdt_item {position:relative;display:block;width:201px;height:61px; line-height:61px;float:left;margin-right:-1px;}
.pdt_detail_tab_inner a {display: block;width:200px;height:61px; line-height:63px;color:#767676;font-size:1.48em;text-align:center; letter-spacing:-0.01em;-webkit-text-stroke-width:0.001em;font-family:'Noto sans'}
.pdt_detail_tab_inner .fir a {width:200px;border-left:none;border-right:none;}
.pdt_detail_tab_inner .last a {width:200px;border-left:none;border-right:none;}
.pdt_detail_tab_inner .fir a:hover{width:199px;border-left:none;border-left:none;}
.pdt_detail_tab_inner a:hover{width:199px;background:#fff;color:#151516;border-bottom:1px solid #151516;border-left:none;font-weight:600;font-family:'Noto sans'}
.pdt_detail_tab_inner .on a {width:199px;background:#fff;color:#151516;border-bottom:1px solid #151516;border-left:none;font-weight:600;font-family:'Noto sans'}
.pdt_detail_tab_inner .on a:hover {width:199px;border-left:none;border-left:none;font-weight:600;color:#151516;font-family:'Noto sans'}
.pdt_detail_tab_inner .num {font-family:Vernada;font-weight:bold;color:#F99319; margin-left:3px; font-size:0.85em}
.pdt_detail_section {position:relative; width:1100px;}
.pdt_detail_section img {display:block;margin:0 auto;max-width: 100%;}

.pdt_detail_title {display: block;height:61px; line-height:63px;color:#000;font-size:2em;text-align:left; letter-spacing:-0.01em;-webkit-text-stroke-width:0.001em;font-family:'Noto sans',sans-serif}

/* 연관 상품 bxslider */
.pp_wrap h3{font-size:18px;padding-top:20px;margin-bottom:10px;margin-left:5px}
.purchased_products ul{margin-left:10px}
.pp_wrap .price .title{font-size:16px;margin-bottom:5px;margin-left:10px}
.pp_wrap .price .sale{font-size:16px;}
.pp_wrap .price .cost{margin-left:7px;color:#BBBBBB;text-decoration:line-through;font-size:14px}
.pp_wrap .price .ratio{color:red;margin-left:7px;font-size:15px}

/*옵션선택 버튼*/
.common_btn_wrap{width:100%}
.common_btn_wrap.h_btn{width:51px;height:45px;background-color:#fff;border:1px solid #F99319;border-radius:5px}
.common_btn_wrap .h_btn img{width:25px;height:25px}
.common_btn_wrap_main .c_btn{width:120px;height:45px;background-color:#fff;border:1px solid #F99319;border-radius:5px;color:#F99319}
.common_btn_wrap.p_btn{width:120px;height:45px;background-color:#F99319;border:0;color:#fff;border-radius:5px}
.common_btn_wrap .option_btns{float:left;white-space:nowrap;margin-top:25px;margin-left:-10px}


.ico_select_arrow {float:right; position:relative;top:-2px;right:0px;}
.ico_select_arrow img {border:none;vertical-align:middle}

.p_option_lisbox {position:relative;padding:0px;margin:0;background:#fff}
.p_option_list_on {display:block;padding:10px 14px;background:fff;border:1px solid #c8c8c8;border-top:none;font-size:1em;color:#000;}

.p_option_list {display:block;padding:10px 14px;background:fff;border:1px solid #c8c8c8;border-top:none;font-size:1em;color:#555;cursor:pointer}
.ico_money_op {display:inline;background:#f1f1f1;position:relative;top:-1px;margin-left:10px;padding:0px 8px;text-align:center;border:1px solid #d1d1d1;color:#666;vertical-align:middle;font-size:11px;letter-spacing:-0.05em}

.opt_p_box {position:relative;display:block;margin:20px 0 0px;font-family: Verdana, "NanumBold", "Malgun Gothic", sans-serif;}
.opt_p_box .tbl tr {position:relative;display:inline-block;background:#e7e8e9;padding:11px 15px 4px;margin-bottom:10px;border:1px solid #ddd;width:483px;vertical-align:middle} 
.opt_p_box .tbl td {overflow:hidden;color:#333;text-align:left;vertical-align:middle}

.preview_wrap {display:block;margin:10px auto 0px; background:#fff;}
.preview_box {display:block;width:500px; padding:8px 0px 0px; margin-bottom:10px; text-align:center}
.preview_box li {width:70px;display:inline-block; }
.preview_box li.last {margin-right:0px;width:64px;}
.preview_box img {width:64px;height:64px;vertical-align:middle;border:1px solid #dedede}

.pdt_detail_n {position:relative}
.pdt_details {position:relative;display: inline-block;width:1080px;}
.pdt_details li {float:left;}
.pdt_details li img {width:1080px}


#detail_purchase_info{margin-top:100px}


.product_count{border:1px solid #BBBBBB;margin-top:11px;border-radius:5px;margin-left:-18px;margin-right:-14px}
.product_count h4{font-size:14px;margin-left:15px;}
.product_count li img {
  cursor: pointer;
}
.floating .option_wrap #products{border:1px solid #424242;margin-left:4px;width:224px;height:36px}
.floating .option_wrap{margin-bottom:40px;padding-right:15px;margin-top:33px}
  

.floating .option_wrap h3{margin-bottom:8px;font-size:14px;margin-left:4px}
.floating .product_option select{width:305px;height:36px;border-radius:5px;margin-top:20px}
.floating .common_btn_wrap{margin-left:14px}
.product_title{display:flex;justify-content:space-between;padding-right:15px;padding-top:10px;}
.t_price{border-top:1px solid #F1F1F1;padding-top:5px;}
.t_price ul{display:flex;justify-content:space-between;margin-left:15px;margin-right:15px;padding-bottom:14px}
.t_price li{font-size:14px;}
.floating #selectedOptionDiv{margin-left:24px}
.floating .line_w{
    width:100%; 
    border-bottom:1px solid #E4E4E4;
    min-height: 220px;
}

/* floating tab bottom jgpark 작업 */

.total_price {
    margin-top: 9px;
    display: flex;
    
}
.total_price button.h_btn {
    margin-right: 11px;
}
.total_price div {
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;  
}

.total_price div p, 
.total_price div span{
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
}

.total_price div {
    margin-top: 8px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.total_price div span.price {
    font-size: 20px;
    font-weight: bold;
}
.total_price div span.price span {
    
    margin-left: 5px;
}


.float_btns {
    margin-top: 9px;
}
.float_btns button {
    width: 100%;
    height: 45px;
    
    border-radius: 5px;
}

.float_btns button.cart {
    background-color: #FFF;
    color: #F99319;
    border: 1px solid #F99319;
    margin-bottom: 15px;
}

.float_btns button.buy {
    background-color: #F99319;
    border: 1px solid #F99319;
    color: #FFFFFF;
}

#content .tabMenu_qna{width:75%;}
#content .tabMenu_sInquiry ul, #content .tabMenu_qna ul{padding-left:40px;padding-right:20px;margin-top:12px}
#content .tabMenu_sInquiry li, #content .tabMenu_qna ul li{float:left;width:50%;font-size:14px;line-height:18px;text-align:center;font-weight:bold;padding:10px 20px 10px 0px}
#content .tabMenu_sInquiry li a, #content .tabMenu_qna li a{color:#878787;}
#content .tabMenu_sInquiry li a:hover, #content .tabMenu_qna li a:hover{color:#F99319;padding-bottom:13px;border-bottom:3px solid #F99319}


/*문의*/
.qna{width:75%;}
.myReview{width:100%;border-bottom:2px solid #E6E6E6;padding-bottom:20px}
.qna p{font-size:14px;padding-left:15px;padding-right:15px}
.review_edit ul li img{margin-top:4px}
.qna ul li{float:left;}
.review_edit {width:100%;display:flex;justify-content: space-between;margin-top:20px;padding-right:20px}
.review_edit p span{font-size:12px;color:#F99319;font-weight:bold;}
.review_edit ul li{font-size:12px;margin-left:8px;line-height:14px;}
.review_q{border-bottom:2px solid #E6E6E6}
.review_q p{width:100%;margin-top:18px;line-height:20px;margin-bottom:20px;}
.bbsFaq01 table{width:100%;}
.bbsFaq01 td{padding:15px 15px 20px;font-size:14px;line-height:22px;min-height:51px}
.bbsFaq01 tr.faq_q td{cursor:pointer;border-bottom:1px solid #E6E6E6}
.bbsFaq01 button{border:0;font-size:12px;background-color:transparent;margin:0;padding:0}
.faq_a01{background-color:#F6F8F9;border-bottom:1px solid #E6E6E6}
.faq_a_box ul{float:left;padding-left:15px;margin-top:15px}
.faq_a_box ul li{margin-right:5px;font-size:12px}
.faq_a_box ul li img{margin-top:8px}
.bbsFaq01 tr.faq_a .faq_a faq_a01{width:100%;clear:both;border-bottom:2px solid #E6E6E6;}

/*판매자 문의(주문건)*/
.review_edit ul li{float:left;}
.seller_content .myInquiry{width:100%;border-bottom:2px solid #E6E6E6;padding-bottom:20px}
.inquiry_product{font-size:18px;font-weight:bold}
.inquiry01 ul li{float:left;}
.inquiry_edit {width:100%;display: flex;justify-content: space-between;margin-top:20px;padding-right:20px}
.inquiry_edit p span{font-size:12px;color:#EFA543;font-weight:bold;padding-left:15px}
.inquiry_edit ul li{font-size:12px;margin-left:14px;line-height:14px;}
.inquiry_edit ul li img{position:relative;top:4px}
.faq_title {width:100%;display:flex;justify-content: space-between;margin-top:30px;padding-right:20px;margin-bottom:20px;padding-left:15px}
.faq_title span{font-weight:bold}
.inquiry_top{margin-top:34px;margin-left:15px;}
.inquiry_top ul{float:left;display:flex; justify-content:space-between;}
.order001 li{width:100%;white-space:nowrap}
@media screen and (min-width:360px) and (max-width:1079px){
.order_a_box {display: flex;margin-bottom:20px;margin-left:20px}
.review_complete{padding-left:20px}
}
@media screen and (max-width:1080px){
.order_a_box {display: flex;margin-bottom:20px}

}

.order_a_box > .web_prod_info_ctn{margin-top:14px;padding-left:15px; display: flex;}
.order_a_box .edit_del_icon {position: absolute; right: 10px; cursor: pointer; text-align: right;}
.order_a_box a img {margin-bottom:18px;width:50px;height:90px;margin-right:20px}
.title p img{margin-bottom:18px;width:50px;height:90px;margin-right:20px;margin-top:10px}
.order_a_box ul li{margin-bottom:2px; font-size: 12px;}

.web_innerbox > p {
    padding:6px 0 0 15px;
    text-align: left;
}
table.web_qna {padding: 12px 0;}
.web_qna td.title {
    font-size: 14px; font-weight: 500;
    text-align: left;
}
.faq_a_box p {
    text-align: left;
    font-size: 14px;
}
.faq_a_box p.web_qna_report {font-size: 12px;margin-top:17px}
.faq_a_box p.web_qna_report span {position: relative; top: 8px; padding: 0 4px;}


/* 상품 리뷰 */
.review_edit_del_btn_ctn {display: none;}
.review_edit_del_btn_ctn button {
    width: 89px; height: 35px;
    background: #fff;
    border: 1px solid #BBBBBB;
    font-size: 14px; font-weight: 500;
    color: #000;
}
.review_edit_del_btn_ctn > .review_editBtn {border-radius: 5px 5px 0 0;}
.review_edit_del_btn_ctn .review_delBtn {border-radius: 0 0 5px 5px; border-top: 0;}
.review_info02 {text-align: left;border-bottom:1px solid #E6E6E6;padding-bottom:20px;}
/* 상품 리뷰 web */
.starRev{display:inline-block;margin:0 auto;margin-top:10px} 
.starRev span{padding:5px}
.starR1{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer
}
.starR2{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}

/* 상품 리뷰 mobile */
.mobile_review_complete {
    width: 100%;
}
.mobile_order_a_box > .mobile_prod_info_ctn {
    display: flex;
}
.mobile_orderbox {
    width: 100%;
    margin: 0 10px;
}
.mobile_prod_review01 {
    width: 90%;
    margin: 0 10px;
}
/* select design css */

/* 판매자문의모바일 css */
#toc-toggle{cursor:pointer;}
#toc-content{margin-left:10px}
.btn_area {width:100%;clear:both; padding-right:38px;}
#btnInquiry{width:96%;height:45px;border: 0;cursor: pointer;color: #fff;background-color: #F99319;font-size: 14px;
font-weight: 400;border-radius:5px;margin:24px  15px 10px 15px;}
.inquiryBox{padding-left:20px;padding-right:20px;margin-bottom:20px;margin-top:30px}
.inquiryBox > ul {color: #000;}
.inquiryBox ul li form p textarea{border-radius:5px;width:100%;height:153px}
.inquiryBox h3{font-size:12px;font-weight:bold;margin-bottom: 20px;}
.inquiryBox ul li ul{margin-bottom:13px;font-weight:normal;margin-top:5px}
.inquiryBox ul li ul li{line-height:14px}
.inquiryBox .words form{margin-top:-20px}
.filebox label{width:100%;height:45px;color:#000; display: inline-block;padding-top:14px;
text-align:center;line-height:17px;
font-weight:bold;vertical-align: middle; background-color:transparent;cursor: pointer;
border: 1px solid #BBBBBB;border-radius:5px;font-size:15px;font-weight:bold}
.filebox input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.filebox p{color:#878787;line-height:20px;font-weight:normal;margin-top:20px}
.filebox p span{text-decoration:underline
}
.tab_cont{display:none; min-height:360px;}
.tab_cont.active{display:block; width:1040px;}
.tab_wrap li.active a {
    font-weight: 700; color: #F99319;
}


.filebox label {
    display: inline-block;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #BBBBBB;
    border-radius: .25em;
}



/*문의*/
.qna{width:75%;}
#wrap_qna{margin-top:40px}
/* 토글 버튼 디자인 */
.myReview input {position: absolute; left: -9999px;}
.myReview label {
    position: relative;
    display: block; 
    width: 33px; height: 20px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 13px;
    transition: ease-in .1s;
}
.myReview label label:after {
    content: ""; 
    position: absolute; 
    left: 2px; top: 50%;
    width: 16px; height: 16px;
    border-radius: 100%;
    background: #bbb;
    transform: translateY(-50%);
    transition: all .4s;
}
.myReview input:checked + label {background: #fff; border: 1px solid #F99319; }
.myReview input:checked + label:after {
    left: calc(100% - 18px); right: 2px; background: #F99319;
}
.myReview label > span {display: none;}
/*문의하기(상품문의)*/


/*문의-모달*/
.productInquiryBox{width:1068px;height:auto;}
.btn_area {width:340px;margin:0 auto}
#btnInquiry{width:330px;height:45px;border: 0;cursor: pointer;color: #fff;background-color: #F99319;font-size: 14px;
font-weight: 400;border-radius:5px;margin:24px  10px 0px;margin-bottom:25px}
.productInquiryBox{padding-left:20px;padding-right:20px;margin-bottom:20px;margin-top:24px}
.productInquiryBox h3{font-size:14px;font-weight:bold;margin-bottom:16px}
.productInquiryBox form{margin-bottom:18px;}

input[type="checkbox"] {display: none;}

.secret{position: relative;margin-left:15px;}

.secret::before {background: url("../images/aftercheck_icon_join@2x.png");
 background-position: center;background-size: contain;width: 19px;height: 19px;
 position: absolute;left: -12px;top: 9px;
 transform: scale(0) rotateZ(180deg);}

input#secret[type="checkbox"]:checked + .secret::before {transform: scale(1) rotateZ(0deg);}

.secret::after {content: "";border: 2px solid #F99319;width: 16px;height: 16px;position: absolute;left: -12px;top: 9px;border-radius: 50%;}
}
/*페이징 버튼*/
.page_nation .none {display:none;}
.page_nation a {display:block;margin:0 3px;float:left;width:28px;
height:28px;line-height:28px;text-align:center;background-color:#fff;font-size:13px;color:#000;text-decoration:none;}
.page_nation .pprev {background:url('/images/page_pprev.png') no-repeat center center;margin-left:0;}
.page_nation .prev {background: url('/images/page_prev.png') no-repeat center center;margin-right:7px;}
.page_nation .next {background:url('/images/page_next.png') no-repeat center center;margin-left:7px;}
.page_nation .nnext {background:url('/images/page_nnext.png') no-repeat center center;margin-right:0;}
.page_nation a.active {background-color:#fff;color:#F99319;}


.v_top_txt_box {
    position: relative;
}

.share_img {
    position: absolute;
    top: 0px;
    right: 15px;
}

@media screen and (min-width:1080px){
 .product_top{display:flex;flex-flow:column-reverse}
 .review_img{float:right;margin-right:50px;margin-top:-120px}
}

/*상품설명*/
#content .product_wrap{width:100%;border-bottom:8px solid #f1f1f1;margin-top:-41px}
#content .product{overflow:hidden;margin:0 auto ;width:100%;}
#content .infoArea01{padding-left:15px;padding-right:15px}
#content .infoArea02_wrap{width:100%;border-bottom:8px solid #f1f1f1;}
#content .infoArea02{margin-top:20px;padding-left:15px;padding-right:5px}
#content .infoArea02 tr td span{color:#878787}
#content .infoArea02 tr td{font-size:13.4px;padding-bottom:20px;font-weight:bold;}

@media screen and (max-width:1079px){
/*div #ex1.modal p{text-align:center;}*/
div #ex1.modal ul li {float:left}
.option_wrap{margin-bottom:40px;padding-left:15px;padding-right:15px}
.option_wrap h3{font-size:12px;font-weight:bold;margin-top:21px}

/*제품상세페이지 리뷰 모달 css*/
.review_write_modal_header{text-align:center;}
.review_write_modal_header h2{padding-bottom:36px;margin:0 auto}
.review_write_modal_header ul{display:flex;justify-content:space-between;}
.product_modal03 .star_grade{text-align:center;margin-top:23px;border-top:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;padding-top:20px;padding-bottom:20px;margin-bottom:15px}
.product_modal03 .star_grade p{font-size:16px;font-weight:bold}
.product_modal03 .red{color:#D62828;text-align:left}
.product_modal03 .modal_line{border-top:8px solid #F1F1F1;margin-top:25px;width:100%}
.product_modal03 #btnEnroll{width:100%;height:45px;color:#fff;font-size:14px;font-weight:bold;background-color:#F99319;border-radius:5px;border:none}
}

@media screen and (min-width:1080px){
    .products_ex {width: 780px;}
    .products_ex img {width: 810px;}
    .delivery-cost td p{
        position: relative;
        left: 138px;
        top: 12px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1px;
        padding-bottom: 2px;
        font-size: 11px;
    }
}
@media screen and (max-width:1079px) {
    .products_ex {display: none;}
    .delivery-cost td p{
        position: relative;
        left: 104px;
        top: 7px;
        font-size: 12px;
        border: 1px solid #bbbbbb;
        border-radius: 5px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 1px;
        padding-bottom: 2px;
        }
}
.option_wrap h3{margin-bottom:8px;font-size:12px;}
.product_option{width:100%;margin:0 auto;}
.product_count{border:1px solid #BBBBBB;margin-top:11px;border-radius:5px;background-color:#fff;}
.product_count h4{font-size:14px;margin-left:15px;}
.product_title{display:flex;justify-content:space-between;padding-right:15px;padding-top:10px}
.product_count .result{padding:2px 21px 2px 20px;border:1px solid #BBBBBB;font-size:14px;font-weight:normal}
.number_price p{float:right;position:relative;left:-15px;top:20px;font-size:14px}
.t_price ul{display:flex;justify-content:space-between;margin-left:15px;margin-right:15px;margin-top:20px;margin-bottom:4px}
.t_price li{font-size:14px;position:relative;top:-10px}
.t_price p{float:right;margin-right:15px;margin-top:20px;margin-bottom:10px}
.total{font-weight:normal}


@media screen and (max-width:1079px){

.v_top_txt_box .modal p{text-align:center}
.products_ex{width:100%;border-top:8px solid #f1f1f1;}
.purchased_products{clear:both;width:100%;border-top:8px solid #f1f1f1;padding-left:15px;padding-right:15px}

.purchased_products{clear:both;width:100%;padding-bottom:70px}
.purchased_products .title{font-size:12px}
.purchased_products .price{font-size:12px;font-weight:bold}
#btnSaveProduct{width:100%;    height: 45px;
    color: #fff;
    background-color: #EFA543;
    border-radius: 5px;
    border: none;}

.review_btn{display:flex;justify-content:center; padding-bottom:21px;border-bottom:8px solid #f1f1f1;border-top:2px solid #E6E6E6;padding-top:28px}
.review_btn button{border:2px solid #F99319;background-color:#fff;color:#F99319;font-weight:bold;border-radius:5px}
.v_floating_wrap{display:none}
.review_info01 ul li span{border:1px solid #BBBBBB;background-color:#BBBBBB;color:#FFFFFF;border-radius:5px;padding-left:2px;padding-right:2px;padding-bottom:1px}
.reviews{width:100%;}
.num{width:100%;font-weight:bold;border-bottom:2px solid #E6E6E6;margin-top:10px;padding-bottom:18px
;padding-left:10px;padding-top:4px;font-size:18px;font-weight:bold;}
.product_review01{width:100%;}
.review_info01 ul li{float:left;font-size:13px;padding-left:15px}
.review_info01 {width:100%;display: flex;justify-content: space-between;margin-top:20px;padding-right:20px;}
.review_info02 ul li{float:left;}
.starRev{display:inline-block;margin:0 auto;margin-top:10px;margin-left:14px} 
.starRev span{padding:5px}
.starR1{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer
}
.starR2{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}
.review_info02 ul li{float:left;font-size:13px;padding-left:15px}
/*.review_img{border-bottom:8px solid #E6E6E6;padding-bottom:90px}*/
.line{position:relative;margin-top:9px}
.starRev{display:inline-block;margin:0 auto;margin-top:10px;margin-left:10px} 
}
@media screen and (min-width:1080px){
    .reviews p{padding:0px 10px 10px 10px}
    .review_img01, .review_img02{padding-left:15px;margin-bottom:10px}
    /*.review_summ{width:600px}*/
    .starRev{display:inline-block;margin:0 auto;margin-top:10px;margin-left:14px}
    .review_btn_web #modal_btn{width:168px;height:45px;background-color:#F99319;border-radius:5px;border:0;font-size:18px;color:#fff;font-weight:bold;float:right;margin-top:30px;margin-right:20px} 
}
/*리뷰*/
.review_info01 ul li span{border:1px solid #BBBBBB;background-color:#BBBBBB;color:#FFFFFF;border-radius:5px;padding-left:2px;padding-right:2px;padding-bottom:1px}
.reviews{width:100%;}
.review_info01 ul li{float:left;font-size:13px;padding-left:15px;top:-5px}
.review_info01 {width:100%;display: flex;justify-content: space-between;margin-top:20px;padding-right:20px;margin-bottom:10px}
.review_info02 ul li{float:left;}
.starRev span{padding:5px}
.starR1{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer
}
.starR2{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}
.review_info02 ul li{float:left;font-size:13px;padding-left:15px}
/*.review_img{border-bottom:8px solid #E6E6E6;padding-bottom:90px}*/



/*리뷰 없을 때*/
.review_list_null{width:70%; text-align:center; margin:66px auto;}
.review_list_null .null{font-size:16px;color:#878787;margin-top:21px}

/*문의*/
.qna{width:75%;}
.myReview{
    width:100%;padding-right:5px;
    border-bottom:2px solid #E6E6E6;
    padding-bottom:20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: center;
    padding-right:15px
    /* outline: 2px solid red; */
    
}

/* 토글 버튼 디자인 */
.myReview input {position: absolute; left: -9999px;}
.myReview label {
    position: relative;
    display: block; 
    width: 33px; height: 20px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 13px;
    transition: ease-in .1s;
}
.myReview label label:after {
    content: ""; 
    position: absolute; 
    left: 2px; top: 50%;
    width: 16px; height: 16px;
    border-radius: 100%;
    background: #bbb;
    transform: translateY(-50%);
    transition: all .4s;
}
.myReview input:checked + label {background: #fff; border: 1px solid #F99319; }
.myReview input:checked + label:after {
    left: calc(100% - 18px); right: 2px; background: #F99319;
}
.myReview label > span {display: none;}

#toc-toggle{margin-left:10px}

.qna p{
    font-size:14px;
    padding-left:15px;
    padding-right:10px;
    /* margin-top:20px; */
}
.qna ul li{float:left;}
.review_edit {width:100%;display: flex;justify-content: space-between;margin-top:20px;padding-right:20px}
.review_edit p span{font-size:12px;color:#F99319;font-weight:bold;}
.review_edit ul li{font-size:12px;margin-left:20px;line-height:14px;}
.review_edit .bar{position:relative;left:10px;top:4px}
.review_q{border-bottom:2px solid #E6E6E6}
.review_q p{width:100%;margin-top:18px;line-height:20px;margin-bottom:20px;}
.bbsFaq01 table{width:100%;}
.bbsFaq01 td{padding:15px 15px 20px;font-size:14px;line-height:22px;min-height:51px}
.bbsFaq01 tr.faq_q td{cursor:pointer;border-bottom:2px solid #E6E6E6}
.bbsFaq01 tr.faq_a .faq_a faq_a01{width:100%;clear:both;border-bottom:2px solid #E6E6E6;}
.faq_a01{background-color:#F6F8F9;border-bottom:2px solid #E6E6E6;}
.faq_a_box ul{float:left;padding-left:15px;margin-top:15px}
.faq_a_box ul li{margin-right:5px;font-size:12px;font-weight:normal}
.faq_a_box ul li img{position:relative;top:7px}
.more_btn_ctn img{position:relative;top:5px}
.more_inq{
width:100%;height:45px;background-color:#F1F1F1;border-radius:0px;border:0;border-bottom:2px solid #E6E6E6}

/* 하단 버튼 세 개 */
@media screen and (max-width:499px){
.common_btn_wrap > .option_btns button:nth-child(1) {background-color:#F99319; border: 1px solid #F99319; position: relative; text-align: center;top:5px}
}
.common_btn_wrap{width:100%}
.common_btn_wrap > .option_btns {
    width: 100%; margin: 0 auto; height: 45px;
    padding: 0;
    margin: 20px 0;
    white-space:nowrap;
}
@media screen and (min-width:500px){.common_btn_wrap > .option_btns button:nth-child(1) {background-color:#F99319; border: 1px solid #F99319; position: relative; text-align: center;top:-5px}}
.common_btn_wrap > .option_btns button:nth-child(2) {
    background: #fff;
    border: 1px solid #F99319;
    color: #F99319;
    font-weight:700
}
.common_btn_wrap > .option_btns button:nth-child(3) {
    background: #F99319;
    color: #fff;
    font-weight: 700;
}
/* 문의 목록 */
.review_edit ul > .myInquiry{
    padding-left:6px;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:3px;
    background: #bbb;
    border-radius:5px;
    color: #fff;
    margin-right: -4px;
    position:relative;
    top:-4px;
}

/*상품리뷰*/
.reviews{width:75%}
.reviews table{padding-left:15px;padding-right:15px}
.order_a_box{padding-top:18px;margin:0;border-bottom:2px solid #E6E6E6;padding-bottom:10px}
.order001 {margin-top:10px}
.order001 li{font-size:12px;margin-bottom:13px;font-weight:normal;color:#878787}

/* 주문 상세 부제 */
.prod_rev_menu_nav {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
}
.prod_rev_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.prod_rev_menu > .left {
    color: #F99319;
    font-weight: 700;
    padding-left: 24px;
}
.prod_rev_menu > .right {
    color: #878787;
    padding-right: 46px;
}
.nav_underline {
    width: 100%;
    display: flex;
}
.nav_underline > .nav_color_underline {
    width: 50%; height: 2px;
    background-color: #F99319;
    margin-top: 5px;
}
.nav_underline .nav_gray_underline {
    width: 50%; height: 2px;
    background-color: #E6E6E6;
    margin-top: 5px;
}

/* 리뷰상품 리스트 */

.review_list_ctn {width: 100%;margin: 0 auto;}

.review_line {width: 100%; height: 1px;   margin: 0 auto;background: #BBBBBB;opacity: 0.4;
margin: 10px 0 10px 0;}
.review_prod {width: 90%;margin: 0 auto;    padding-top: 16px;display: flex;justify-content: space-between;align-items: center;}
.review_prod .review_detail > li {padding: 4px 0 4px 0;font-size: 12px;}
.review_prod .review_detail > .review_brand {
color: #878787; font-size: 12px;}

.review_prod > .review_img {width: 50px; height: 62px;background: #ccc;background-image: url();background-size: cover; background-position: center;}

.review_prod .review_option {color: #878787;}


/*3번째 탭 리뷰쓰기 모달창*/
/* The Modal (background) */
.productReview_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.productReview_modal .modal-content {
    background-color: #fefefe;
    margin:4% auto; /* 15% from the top and centered */
    height:auto;
    width:90%;
    padding:10px
            
}
/* The Close Button */
.productReview_modal .modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    left:280px;
    margin-top:10px;
    margin-right:20px
}
.productReview_modal .modal-content .close:hover,
.productReview_modal .modal-content .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*네번째 탭 문의하기 모달창 css*/

@media screen and (min-width:1080px){
    .line{position:relative;margin-top:4px}
    .share_img img{ float:right;position:relative;top:-40px;left:4px}
    .option_wrap{margin-bottom:40px;padding-left:15px;padding-right:15px}
    .reviews .num{width:100%;font-size:18px;font-weight:bold;border-bottom:2px solid #E6E6E6;margin-top:14px;padding-bottom:18px}
    #tab3 .num{width:780px;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        position: relative;
        top: 10px;
        padding-bottom:20px;
        border-bottom:1px solid #E6E6E6}
    #tab4 .inquiry{width:100%;font-size:18px;font-weight:bold;margin-top:10px;position:relative;top:10px}
    .myReview{width:75%;padding-right:5px;
        border-bottom:2px solid #E6E6E6;
        padding-bottom:20px;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        align-items: center;
        padding-right:15px
        /* outline: 2px solid red; */
        
    }
    .common_btn_wrap > .option_btns button:nth-child(1) {
        top: 8px;
    }
}