/*상품설명*/
#content .product_wrap{width:100%;border-bottom:8px solid #f1f1f1;margin-top:-41px}
#content .product{overflow:hidden;margin:0 auto ;width:100%;}
#content .infoArea01{padding-left:15px;padding-right:15px}
#content .infoArea02_wrap{width:100%;border-bottom:8px solid #f1f1f1;}
#content .infoArea02{margin-top:20px;padding-left:15px;padding-right:5px}
#content .infoArea02 tr td span{color:#878787}
#content .infoArea02 tr td{font-size:13.4px;padding-bottom:20px;font-weight:bold;}

@media screen and (max-width:1079px){
/*div #ex1.modal p{text-align:center;}*/
div #ex1.modal ul li {float:left}
.share_img img{float:right;position:relative;top:55px;left:-24px}
.option_wrap{margin-bottom:40px;padding-left:15px;padding-right:15px}
.option_wrap h3{font-size:12px;font-weight:bold;margin-top:21px}

/*제품상세페이지 리뷰 모달 css*/
.review_write_modal_header{text-align:center;}
.review_write_modal_header h2{padding-bottom:36px;margin:0 auto}
.review_write_modal_header ul{display:flex;justify-content:space-between;}
.product_modal03 .star_grade{text-align:center;margin-top:23px;border-top:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6;padding-top:20px;padding-bottom:20px;margin-bottom:15px}
.product_modal03 .star_grade p{font-size:16px;font-weight:bold}
.product_modal03 .red{color:#D62828;text-align:left}
.product_modal03 .modal_line{border-top:8px solid #F1F1F1;margin-top:25px;width:100%}
.product_modal03 #btnEnroll{width:100%;height:45px;color:#fff;font-size:14px;font-weight:bold;background-color:#EFA543;border-radius:5px;border:none}




}
@media screen and (min-width:1080px){
.share_img img{ float:right;position:relative;top:-40px;left:4px}
.option_wrap{margin-bottom:40px;padding-left:15px;padding-right:15px}
}

.option_wrap h3{margin-bottom:8px;font-size:12px;}
.product_option{width:100%;margin:0 auto;}
.product_count{border:1px solid #BBBBBB;margin-top:11px;border-radius:5px;background-color:#fff;}
.product_count h4{font-size:14px;margin-left:15px;}
.product_title{display:flex;justify-content:space-between;padding-right:15px;padding-top:10px}
.product_count .result{padding:2px 21px 2px 20px;border:1px solid #BBBBBB;font-size:14px;font-weight:normal}
.number_price p{float:right;position:relative;left:-15px;top:20px;font-size:14px}
.t_price ul{display:flex;justify-content:space-between;margin-left:15px;margin-right:15px;margin-top:20px;margin-bottom:4px}
.t_price li{font-size:14px;position:relative;top:-10px}
.t_price p{float:right;margin-right:15px;margin-top:20px;margin-bottom:10px}
.total{font-weight:normal}

.pp_wrap{margin-bottom:-50px;padding-top:40px}

@media screen and (max-width:1079px){
.v_top_txt_box .modal p{text-align:center}
.products_ex{width:100%;border-top:8px solid #f1f1f1;padding-left:20px}
.purchased_products{clear:both;width:100%;border-top:8px solid #f1f1f1;padding-left:15px;padding-right:15px}

.purchased_products{clear:both;width:100%}
.purchased_products .title{font-size:12px}
.purchased_products .price{font-size:12px;font-weight:bold}


/*상세정보
.infoDetails{width:100%;clear:both;border-top:2px solid #E6E6E6;padding-top:40px;padding-bottom:20px;border-bottom:8px solid #f1f1f1;padding-left:20px;padding-right:20px;margin-top:-4px}
.infoDetails h3{padding-bottom:10px;font-size:14px}
.infoDetails ul{margin-bottom:20px}
.infoDetails ul li{font-size:12px;line-height:20px}
.infoDetails .title{font-weight:bold;}
.footer_bottom ul li{font-size:12px;text-align:left;}*/
}
@media screen and (max-width:1079px){
    .review_btn{display:flex;justify-content:center; padding-bottom:21px;border-bottom:8px solid #f1f1f1;border-top:2px solid #E6E6E6;padding-top:18px}
    .review_btn button{border:2px solid #EFA543;background-color:#fff;color:#EFA543;font-weight:bold;border-radius:5px}
    .v_floating_wrap{display:none}
}
    /*리뷰*/
.review_info01 ul li span{border:1px solid #BBBBBB;background-color:#BBBBBB;color:#FFFFFF;border-radius:5px;padding-left:2px;padding-right:2px;padding-bottom:1px}
.reviews{width:100%;}
.reviews .num{width:100%;font-weight:bold;border-bottom:2px solid #E6E6E6;margin-top:10px;padding-bottom:18px}
.reviews p{padding:10px 10px 10px 10px}
.product_review01{width:100%;clear:both;}
.review_info01 ul li{float:left;font-size:13px;padding-left:15px}
.review_info01 {width:100%;display: flex;justify-content: space-between;margin-top:20px;padding-right:20px;}
.review_info02 ul li{float:left;}
.starRev{display:inline-block;margin:0 auto;margin-top:10px;margin-left:14px} 
.starRev span{padding:5px}
.starR1{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer
}
.starR2{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}
.review_info02 ul li{float:left;font-size:13px;padding-left:15px}
/*.review_img{border-bottom:8px solid #E6E6E6;padding-bottom:90px}*/
.line{position:relative;margin-top:9px}

/*리뷰 없을 때*/
.review_list_null{width:70%; text-align:center; margin:180px auto;}
.review_list_null .null{font-size:16px;color:#878787;margin-top:21px}

/*문의*/
.qna{width:100%;}
.myReview{
    width:100%; margin: 0 auto;padding-right:5px;
    border-bottom:2px solid #E6E6E6;
    padding-bottom:20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: center;
    padding-right:15px
    /* outline: 2px solid red; */
    
}

/* 토글 버튼 디자인 */
.myReview input {position: absolute; left: -9999px;}
.myReview label {
    position: relative;
    display: block; 
    width: 33px; height: 20px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 13px;
    transition: ease-in .1s;
}
.myReview label label:after {
    content: ""; 
    position: absolute; 
    left: 2px; top: 50%;
    width: 16px; height: 16px;
    border-radius: 100%;
    background: #bbb;
    transform: translateY(-50%);
    transition: all .4s;
}
.myReview input:checked + label {background: #fff; border: 1px solid #EFA543; }
.myReview input:checked + label:after {
    left: calc(100% - 18px); right: 2px; background: #EFA543;
}
.myReview label > span {display: none;}



.qna p{
    font-size:14px;
    padding-left:15px;
    padding-right:10px;
    /* margin-top:20px; */
}
.qna ul li{float:left;}
.review_edit {width:100%;display: flex;justify-content: space-between;margin-top:20px;padding-right:20px}
.review_edit p span{font-size:12px;color:#EFA543;font-weight:bold;}
.review_edit ul li{font-size:12px;margin-left:20px;line-height:14px;}
.review_edit .bar{position:relative;left:10px;top:4px}
.review_q{border-bottom:2px solid #E6E6E6}
.review_q p{width:100%;margin-top:18px;line-height:20px;margin-bottom:20px;}
.bbsFaq01 table{width:100%;}
.bbsFaq01 td{padding:15px 15px 20px;font-size:14px;line-height:22px;min-height:51px}
.bbsFaq01 tr.faq_q td{cursor:pointer;border-bottom:2px solid #E6E6E6}
.bbsFaq01 tr.faq_a .faq_a faq_a01{width:100%;clear:both;border-bottom:2px solid #E6E6E6;}
.faq_a01{background-color:#F6F8F9;border-bottom:2px solid #E6E6E6;}
.faq_a_box ul{float:left;padding-left:15px;margin-top:15px}
.faq_a_box ul li{margin-right:5px;font-size:12px;font-weight:normal}
.faq_a_box ul li img{position:relative;top:7px}
.more_btn_ctn img{position:relative;top:5px}
.more_inq{
width:100%;height:45px;background-color:#F1F1F1;border-radius:0px;border:0;border-bottom:2px solid #E6E6E6}

/* 하단 버튼 세 개 */
.common_btn_wrap{width:100%}
.common_btn_wrap > .option_btns {
    width: 100%; margin: 0 auto; height: 45px;
    padding: 0;
    margin-top: 20px;
    white-space:nowrap;
}
.common_btn_wrap > .option_btns > button {
font-size: 14px;
/*position:fixed;*/
top: 20px;
}
.common_btn_wrap > .option_btns button:nth-child(1) {background-color:#fff; border: 1px solid #EFA543;position:relative;top:-1px}
.common_btn_wrap > .option_btns button:nth-child(2) {
    background: #fff;
    border: 1px solid #EFA543;
    color: #EFA543;
    font-weight:700
}
.common_btn_wrap > .option_btns button:nth-child(3) {
    background: #EFA543;
    color: #fff;
    font-weight: 700;
}
/* 문의 목록 */
.review_edit ul > .myInquiry{
    padding-left:6px;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:3px;
    background: #bbb;
    border-radius:5px;
    color: #fff;
    margin-right: -4px;
    position:relative;
    top:-4px;
}

/*상품리뷰*/
.reviews{width:100%}
.reviews table{padding-left:15px;padding-right:15px}
.order_a_box{padding-top:18px;margin:0;border-bottom:2px solid #E6E6E6;padding-bottom:10px}
.order001 {margin-top:10px}
.order001 li{font-size:12px;margin-bottom:13px;font-weight:normal;color:#878787}

/* 주문 상세 부제 */
.prod_rev_menu_nav {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
}
.prod_rev_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.prod_rev_menu > .left {
    color: #EFA543;
    font-weight: 700;
    padding-left: 24px;
}
.prod_rev_menu > .right {
    color: #878787;
    padding-right: 46px;
}
.nav_underline {
    width: 100%;
    display: flex;
}
.nav_underline > .nav_color_underline {
    width: 50%; height: 2px;
    background-color: #EFA543;
    margin-top: 5px;
}
.nav_underline .nav_gray_underline {
    width: 50%; height: 2px;
    background-color: #E6E6E6;
    margin-top: 5px;
}

/* 리뷰상품 리스트 */

.review_list_ctn {width: 100%;margin: 0 auto;}

.review_line {width: 100%; height: 1px;   margin: 0 auto;background: #BBBBBB;opacity: 0.4;
margin: 10px 0 10px 0;}
.review_prod {width: 90%;margin: 0 auto;    padding-top: 16px;display: flex;justify-content: space-between;align-items: center;}
.review_prod .review_detail > li {padding: 4px 0 4px 0;font-size: 12px;}
.review_prod .review_detail > .review_brand {
color: #878787; font-size: 12px;}

.review_prod > .review_img {width: 50px; height: 62px;background: #ccc;background-image: url(../images/dietfarmbread.jpg);background-size: cover; background-position: center;}

.review_prod .review_option {color: #878787;}






















