/* 장바구니 헤더 */
*{font-family:'나눔고딕';font-weight:400}
html, body {max-width: 100%;overflow-x: hidden}

.detail_title{margin:40px 10px 20px 10px;width:100%;}
.detail_title h2{text-align:center;position:relative;font-weight:bold;font-size:16px;margin-right:10p;margin-bottom:20px;margin-top:2px}
.detail_title a img{position:absolute;top:42px}
.btncart{position:absolute;right:45px;top:-2px;padding:15px 0}
#shpcart_header {display: flex;background: #fff;justify-content: space-between;   padding: 8px 12px;margin-top: 20px;align-items: center;}

.shpcart_cancel {font-size: 14px;padding: 0 14px;}
.shpcart_title > h1 {font-size: 16px;}
.line {width: 100%; height: 8px;background: #F1F1F1;}
/* 장바구니 선택 섹션 */
#shpcart_select {position: relative;   display: flex;background: #fff;justify-content: space-between;align-items: center;
font-size: 14px;padding: 4px 20px;margin-top: 20px;margin-bottom: 10px;}
#shpcart_select .shpcart_select_del button {
border-radius: 5px;border: 1px solid #BBBBBB;
background: #fff;padding: 4px 6px;}

.shpcart_select input[type="radio"] {    position: absolute;width: 1px; height: 1px;    padding: 0; margin: -1px;overflow: hidden;    clip: rect(0,0,0,0);border: 0;}
.shpcart_select input[type="radio"] + label {  display: inline-block;position: relative;   padding-left: 30px;cursor: pointer;-webkit-user-select: none; -moz-user-select: none;   -ms-user-select: none;}
.shpcart_select input[type="radio"] + label:before {content: '';position: absolute; left: 0; top: -4px;width: 21px; height: 21px; text-align: center;background: #fff;border: 1px solid #cacece;border-radius: 100%;}

.shoplist_info {
  flex-flow: column;
}
.brand_1 .shoplist_info .shopcart_thum {min-width: 62px; background: #abc;background-image:url(../images/dietfarmbread.jpg);
background-size: cover;background-position: center;}


/* 장바구니 목록S */
.brand_1 {margin: 0 15px 0 15px;}
.brand_1 > h3 {width: 100%;float: left;   padding: 12px 12px;border-bottom: 1px solid #BBBBBB;font-weight: 700; font-size: 14px;}
.shoplist_ctn {
  padding: 20px 0 20px 0;
  position:relative;
 }
.shoplist-null{
  width: 100%;
  padding: 50px 0px;
  text-align: center;
}

.shoplist_ctn div{display: flex; }
.shoplist_ctn>div:first-child {
  width: 8.78%;
  max-width: 29px;
}

.shoplist_ctn>div:last-child{
  width: 100%;
}

.shoplist_ctn .shopcart_info {
  width: 100%;
}

.flow-column {
  flex-flow: column;
}

.shopcart_info>div:last-child p {
  width: 208px;
}
.shopcart_product {
  width: 100%;
}
.shopcart_product>div:first-child{
  padding-right: 20px;
}

.shopcart_product .price_web{
  margin-top: 12px;
}

.shoplist_ctn .shopcart_thum {width: 62px; height: 62px;background-image: url(../images/shopcart_thum.jpg);margin-right: 12px; background-size: cover;background-position: center;}
.shoplist_ctn .shopcart_thum img{width: 100%}


.shoplist_price {margin-bottom: 20px;}
.shoplist_count {
  display: flex; justify-content: space-between; font-size: 14px;
  position:relative; left: 0px;
}
.shoplist_ctn a {position: absolute;right: 0;}

.price_info {display: flex;justify-content: space-between;margin-left: 40px;font-size: 14px;}
.price_info > p:last-child {font-weight: 700;}

.line_2 {width: 100%; height: 0.6px;   padding: 0 15px 0 15px;background: #864848;
opacity: 0.8;}
/* 총 결제 금액 섹션 */
#shoplist_total_price {width: 90%; margin: 0 auto;font-size: 14px;}

.prod_price, .prod_discount, .deliver_price {
display: flex;justify-content: space-between; padding: 8px 12px;}

.total_price {display: flex;padding: 12px 12px;justify-content: space-between;font-size: 16px;font-weight: 700;}

/* 수량 선택 버튼 */

input[type="number"] {-webkit-appearance: textfield;-moz-appearance: textfield;appearance: textfield;}
  
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}
  
  .number-input {
    border: 1px solid #BBBBBB;   background: #F5F5F5;display: inline-flex;
    border-radius: 5px;
    margin-right: 0px;
    margin-left: auto;
  }
  
  .number-input,
  .number-input * {box-sizing: border-box;}
  
  .number-input button {outline:none;-webkit-appearance: none;background-color: transparent;border: none;align-items: center;justify-content: center;width: 20px;
  height: 26px;cursor: pointer;margin: 0;
  position: relative;}
  
  .number-input button:after {display: inline-block;position: absolute;font-weight: 900;
  content: '\002D';transform: ranslate(-50%, -50%) rotate(180deg);  }
  .number-input button.plus:after {
    content: '\002B';transform: translate(-50%, -50%) rotate(0deg);}
  
  .number-input input[type=number] {max-width: 5rem;padding: .5rem;border: 1px solid #bbb;
  font-size: 14px;height: 27px;font-weight: 400;text-align: center;}

  /* 장바구니 비었을 때 */
  .no_product {width: 100%; height: 200px;      text-align: center;font-size: 14px; font-weight: 500;line-height: 200px;}


/* 주문하기 버튼 */
.btn_area {margin:10px 10px}

#btnOrder{width:100%;margin:auto;padding: 21px 0 17px;border: 0;cursor: pointer;color: #fff;
    background-color: #EFA543;font-size: 14px;
    font-weight: 400;border-radius:5px;}

.p_price {display:flex;justify-content:space-between; padding-top:10px}
.p_price p{color:#000;font-weight:bold}

.final .price{float:right}
/*장바구니 모바일*/
@media screen and (max-width:1079px){
  
.shoplist_ctn {width: 100%;display: flex;  font-size: 14px;letter-spacing: 0.8px;border-bottom:1px solid #BBBBBB }
input#shoplist_part_selt {margin-right: 10px;}
#content{width:100%;}
.deleteselectBtn{border-radius:5px;border:1px solid #BBBBBB;background-color:#fff;padding:5px}
 .product_name{text-overflow: ellipsis;white-space:nowrap;overflow:hidden}
 .option_desc { margin-top: 6px;}
.detail_price{width:100%;}
.detail_price .price{float:right}
.detail_price{border-collapse: separate;
border-spgacing: 0 10px;font-size:14px}
.shopBox01{display:none}
.shopBox02 table{border-collapse: separate;
border-spacing: 0 20px;font-size:14px}
.final{width:100%;padding-left:15px;padding-right:15px;border-bottom:1px solid #bbbbbb}
.final .total{display:none}
.btn_area_web .total{display:flex;justify-content:space-between;padding-left:15px;padding-right:15px;font-size:14px;font-weight:bold;padding-top:20px;padding-bottom:20px}
.purchaseBtn{width:96%;margin:0 auto;margin-left:10px;height:45px;color:#fff;background-color:#F99319;border-radius:5px;margin-bottom:20px;}
.total_mobile ul li {font-size:16px;font-weight:bold;float:left;padding-left:15px;padding-top:20px;padding-bottom:20px}
.total_mobile .price{float:right;padding-right:15px}
}

/*장바구니 웹 */
@media screen and (min-width:1080px){

  .shoplist_ctn {width: 100%;display: flex;  font-size: 14px;letter-spacing: 0.8px;}
  input#shoplist_part_selt {margin-right: 10px;}
.shoplist_ctn{max-width:1080px; position: relative}
.shoplist_ctn img{position:relative;}
.total_mobile{display:none}
#content {width:1080px;margin:0 auto;padding-bottom:361px}
.detail_price{display:none}
.p_price{display:none}
.btnback{display:none}
.btn_area_web .total{display:none}
.detail_title h2{margin-left:-15px;margin-bottom:44px;margin-top:55px;font-size:30px;color:#000;}
.shpcart_select_del_web button{margin-left:-930px;margin-top:14px;border:1px solid #BBBBBB;font-size:12px;font-weight:normal;border-radius:2px}

#shoplist_t_price_web{margin-top:25.5px}
.shopBox01, .shopBox02{float:left;width:540px;height:177px;border:1px solid #BBBBBB;border-radius:5px}
.shopBox01 h3{font-size:16px;font-weight:bold;padding-top:18px;padding-left:15.5px;color:#000}
.shopBox01 p{margin-top:15.5px;padding-left:15.5px}
.shopBox01 p span{font-size:14px;color:#878787;}
.shopBox01 button{float:right;margin-right:15px;width:120px;height:45px;color:#F99319;border:1px solid #F99319;border-radius:5px;background-color:#fff}
.shopBox02 {background-color:#F8F8F8}
.shopBox02 table{margin-left:44px;margin-top:20px}
.shopBox02 .t1{padding-right:301px}
.shopBox02 td{padding-bottom:17px}
.shopBox02 table .total{border-top:1px solid #BBBBBB;}
.shopBox02 table .total td{font-weight:bold;padding-top:12px;color:#000}
.purchaseBtn{float:right;margin-top:20px;width:282px;height:45px;background-color:#F99319;color:#fff;border-radius:5px}

.shop_null{width:1080px;height:682.5px;}
.shop_null p{text-align:center;padding-top:331px}

/*배송지 변경 모달창*/
#element_to_pop_up {background-color:#fff;    border-radius:5px;color:#000;display:none;    padding:20px;width:380px;height:auto;}
.b-close{cursor:pointer;position:absolute;
right:25px;top:25.8px;}

/* 배송지 변경 리스트 */
#element_to_pop_up h2{font-size:18px;font-weight:bold}
#element_to_pop_up h3{font-size:16px;font-weight:bold;margin-top:18px;text-align:center;padding-bottom:20px;border-bottom:1px solid #f1f1f1}
.delivery_manage_list {width: 90%;margin: 0 auto;padding: 16px 0 12px 0;margin-left:30px;border-bottom:1px solid #f1f1f1
}
.delivery_manage_list .del_mng_type {align-items: center;}
.delivery_manage_list .del_mng_type,
.delivery_manage_list .edit_remove {
display: flex;
}
.customer_info img{position:relative;top:4px}
.edit_remove li img{position:relative;top:4px;left:2px}
.del_mng_list_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 0;
}
.del_mng_list_top li {
    padding: 4px 4px 4px 0;
}
.del_mng_list_top .type_first {
    font-size: 14px; font-weight:bold;
}
.del_mng_list_top .type_second > .tema {
    font-size: 12px;
    color: #fff;
    background: #BBBBBB;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    margin-left:8px;

}
.del_mng_list_top ul li img{margin-left:5px;margin-right:5px}
.delivery_manage_list p img{margin-left:10px;margin-right:10px}
.delivery_manage_list .edit_remove li {
    font-size: 12px;
    padding: 2px;
}
.bar {
    width: 0.1px; height: 0.1px;
    background: #bbb;
    color: #bbb;
    font-size: 0.5px;
    opacity: 0.4;
}
.delivery_manage_list p {padding: 4px 0 4px 0;}
.delivery_manage_list .address {
    width: 60%;
    font-size: 14px;
}
.delivery_manage_list .customer_info {
    font-size: 12px;
    color: #878787;
}
.customer_info > span {margin: 0 2px 0 2px;}
.basic > .bar {
    margin-left: 3px;
}
.del_mng_list_top a {cursor: pointer;}

/* 버튼 */
.btn_area {margin-top:25px;width:100%;padding-right:15px}
#btnRegister{width:100%;margin:0 auto;padding: 15px 0 15px;border:0;cursor: pointer;color:#fff;background-color:#EFA543;font-size: 14px;font-weight: bold;font-family: '나눔고딕';border-radius:5px;}
#check{position:relative;top:70px;right:30px}


input#secret[type="checkbox"]:checked + .secret::before {
  transform: scale(1) rotateZ(0deg);
}

}
