/*coupon web*/
@media screen and (max-width:1079px){

.contents h2{display:none} 
.coupon_code{display:none}
}
@media screen and (min-width:1080px){
.coupon-input-wrap{width:271px;height:45px;border:1px solid #BBBBBB;margin-bottom:25px;margin-top:20px;border-radius:5px}
.coupon-input-wrap input{padding:10px;margin-top:4px;width:251px;border:0;font-size:14px}
#btnCoupon{width:91px;height:45px;background-color:#F99319;border:0;color:#FFF;position:relative;left:272px;top:-41px;border-radius:5px}
}

/*point web*/
@media screen and (min-width:1080px){
.contents .point_title_web{margin-bottom:20px}
.point_history_web ul{display:flex;justify-content:space-between;padding-left:54px;padding-right:54px;border-top:1px solid #000;padding-top:17px;border-bottom:1px solid #000;padding-bottom:17px}
.point_history_web ul li{float:left;font-size:14px;font-weight:bold;}
.point_history{flex-direction:row-reverse}
.save, .brand{display:none}
.point_history_right ul li{float:left;}
.point_history_left ul li{float:left;}
.date{position:relative;left:-20px;top:5px}
.type{position:relative;left:155px}
.due{position:relative;left:130px}
.amount{position:relative;left:325px;color:#fff}
}

@media screen and (max-width:1079px){
.point_history_web{display:none}
.point_title_web{display:none}
.due{display:none}
}

/*seller_inquiry mobile & web*/
@media screen and (min-width:360px) and (max-width:1079px){#btnModify{width:100%;}
.web_title{display:none}
.inquiryBox select{width:100%;
height:40px;
font-size:12px;
padding:10px 10px;
border: 1px solid #999;
font-family: inherit;
border-color:#BBBBBB;
background: url('/images/downarrow_icon_category.png') no-repeat 96% 50%;
border-radius: 5px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;}
}
@media screen and (min-width:1080px){
.inquiryBox{margin-left:-20px}
.inquiryBox h3{font-size:12px!important;font-weight:bold;margin-bottom:-20px!important}
.inquiryBox select{width:330px!important;height:36px;border-radius:5px;border: 1px solid #BBBBBB;font-size:12px;padding:5px}
.inquiryBox .filebox label{width:330px;height:45px;}
#btnModify{position:relative;left:-15px}
}



/*마이페이지 공통영역*/
/*모바일*/
@media screen and (max-width:1079px){
.main_contents{display:none}
.page_nation{display:none}
.order_list_box h3, .order_list_box table{display:none}
div.dateNo{padding-left:15px}
div.dateNo p.no{margin-top:7px}
}
/*PC*/
@media screen and (min-width:1080px){
.contents{width:860px;margin:0 auto;position:relative;left:100px;top:-320px} .contents h3:first-child{font-size:20px;font-weight:bold;line-height:23px;margin-bottom:20px}
#main {width: 100%; height: 218px;background-color:#F5F5F5;color: #000;}
.main_contents h3 img{position:relative;left:10px}
.main_contents > .left {width: 16%;color: #000; margin-right: 36px}
.main_contents .main_contents h3 {padding: 12px 0;font-weight: 800}
.main_contents .left h3{font-size:18px;font-weight:bold;position:relative;top:-17px}
.main_contents .left .left_ctn {width: 137px; height: 147px;background: #fff;    text-align: center;
font-size: 14px;position:relative;top:-5px}
.main_contents .left_ctn li {padding: 2px 0}
.main_contents .left_ctn li:nth-child(1) {font-size: 48px;padding: 12px 0}
.main_contents .left_ctn li:nth-child(2) {font-weight:bold;margin-top:-10px;font-size:16px;margin-bottom:13px
}
.main_contents .left_ctn li:nth-child(3) > span {align-items: center; font-size: 14px;
padding-left: 4px}

/* main > center */
.main_contents{width:100%;background-color:#F5F5F5}
.web_contents .center{position:relative;left:81px;top:-25px}
.web_contents .right{position:relative;left:81px;top:-25px}
.main_contents .center, .main_contents .right {
width: 400px; height: 147px;color: #000; background: #fff;margin: 44px 40px 0 0px}
.main_contents .center > h3, .main_contents .right > h3 {padding: 12px 10px;font-weight: 500}
.main_contents .center p, .main_contents .right p {font-size: 32px; font-weight: 700;text-align: center;margin-top:7px;color: #F99319}
.main_contents .center p > span, .main_contents .right p > span {font-size: 20px; font-weight: 100; color: #ccc;padding: 12px 0 0 12px}
.main_contents .center p, .main_contents .right p {line-height:49px;}

/* contents */
.main_contents {width:100%;height:218px}
.web_contents{width: 1080px; margin:0 auto;display:flex; padding-top: 30px}
.content_lnb {width:1080px;text-align: center;position:relative;padding-top:30px;margin:0 auto}
.content_lnb a {color:#000}
.content_lnb li {width:138px;padding: 16px 0;    border: 1px solid #F5F5F5;height: 50px}
.content_lnb li.on {background: #F99319}
.content_lnb li.on > a {font-size: 14px; font-weight: 700;color: #fff}
.content_lnb li a{padding: 16px 35px}

.contents h3 {font-size: 20px; font-weight: 700;padding-bottom:16px;color: #000}
.web_body{width:1080px;margin:0 auto}
.orderHistory_wrap{width:870px}
.orderHistory{position:relative;left:205px;top:-290px;}
.order_list_box_w{float:left;position:relative;left:220px;top:-320px}
.order_list_box_w h3{font-size:20px;font-weight:bold;margin-bottom:20px}
.order_list_box_w .cell {width:300px;border: 2px solid #32845B}
.order_list_box_w th {background: #32845B;color: #fff;padding: 10px 10px;font-size: 14px; font-weight: 500;letter-spacing: 0.6px}
.order_list_box_w tr > td {text-align: left;
padding: 12px 16px;font-size: 12px; font-weight: 700;color: #000}
.order_list_box_w table.cell td {text-align: center;padding: 12px 16px;font-size: 25px; font-weight: 700;color: #000}
.grayLine{display:none}
.order_a{border-bottom:1px solid #f1f1f1}
}



/* 주문내역 없을 때 */
.body_contents .order_none {position: absolute;left: 36%; transform: translateX(-36%);
top: 130%; transform: translateY(-130%);text-align: center}

/*product_review mobile&web */
@media screen and (max-width:1079px){
.orderList_detail{display:none}
.page_nation{display:none}    
}

/* orderlist */
.ord_detail_btn {cursor: pointer;}
.order_list_ctn {width: 100%;padding: 12px 0;font-size: 14px;color: #000;align-items: center;}
.order_list_top {width: 100%;display: flex;justify-content: space-between;align-items: center;}
.order_list_top > p:nth-child(1) > span {font-weight: 700;color: #000;align-items: center;}   
.order_list_top > p:nth-child(1) {color: #ccc;font-size: 14px}
.order_list_top p:nth-child(2) {padding-right: 16px;}
.order_list_top p:nth-child(2) img {vertical-align: middle; padding-left: 2px;}
.order_list_top p.moveToDetail img {vertical-align: middle;padding: 0 3px}


.order_list .thum {width: 50px; height: 62px; background: #ccc;margin-right: 10px;}
.order_list > .order_info_ctn {display: flex}
.order_info_ctn ul {text-align: left}
.order_list ul > li {font-size: 12px;padding: 1px 0}
.order_list ul > li:nth-child(3) {color: #F99319;}

.order_list {display: flex;justify-content: space-between}

/*.buttons li > button, .buttons li {width: 58px; height: 26px;border-radius: 5px;text-align: center;
line-height: 26px;margin-bottom: 8px}*/
.buttons .buy {background: #F99319;color: #fff;font-size: 12px;font-weight: 500;
font-family: 'Nanum Gothic', sans-serif;}
.buttons .inquiry {color: rgb(128, 128, 128);border-radius: 5px;font-weight: 500;}

.thick_line {width: 100%; height: 6px;background: #ccc; opacity: 0.6;margin: 12px 0 18px 0;}


/* 리뷰쓰기 헤더 */

.review_title p {font-size: 14px;color: #878787;text-align: center;}

.del_line_thick {position: relative;width: 100%; height: 8px;background: #F1F1F1;
opacity: 1} 

/* 배송조회 부제 */
.delivery_inquiry_subtitle > .del_inq_sub_ctn {text-align: center;padding: 8px 0 16px}
.delivery_inquiry_subtitle > .del_inq_sub_ctn > li {padding: 4px}
.delivery_inquiry_subtitle .ord_sub_date > h2 {font-size: 16px; font-weight: 700}
.delivery_inquiry_subtitle .ord_sub_txt {font-size: 14px;color: #878787}

/* 배송 정보 */

.del_inq_info {display: flex;width: 90%;margin: 0 auto;padding: 18px 0 14px 0;font-size: 14px}
.del_inq_info > .del_inq_info_tit {color: #6B6B6B;padding-right: 28px;}
.del_inq_info .del_inq_info_ctt {font-weight: 700;color: #000;}
.del_inq_info li { padding-bottom: 10px; text-transform: uppercase;}

/* 배송지 관리 리스트 */

.delivery_manage_list p {padding: 4px 0 4px 0;}
.delivery_manage_list .address { width: 60%;font-size: 14px;}
.delivery_manage_list .customer_info {
    font-size: 12px;
    color: #878787;
}
.customer_info > span {margin: 0 2px 0 2px;}
.basic > .bar {
    margin-left: 3px;
}
.del_mng_list_top a {cursor: pointer;}

/* 버튼 */
.btn_area {margin-top:10px;width:100%}
#btnRegister{width:100%;margin:auto;padding: 15px 0 15px;border:0;cursor: pointer;color:#fff;background-color:#F99319;font-size: 14px;font-weight: bold;font-family: '나눔고딕';border-radius:5px;}

/*배송정보*/
.detail_title01{overflow:hidden; width:100%;}
.detail_title01{margin: 0 auto; margin: 16px 0; width:100%;}
.detail_title01 h2:first-child {text-align: left;}
    .detail_title01 h2{text-align:center; font-weight: 700; font-size:16px; padding: 4px;}
.detail_title01 .title{width:200px;white-space: nowrap;
overflow:hidden;text-overflow: ellipsis;margin:0 auto}
.detail_title01 a img{position:absolute;top:53px;width:17px}
header.orderlistModal > ul {display: flex; justify-content: space-between; align-items: center;}
header.orderlistModal > ul li.ordlist_clsWindow {margin-right: 10px; cursor: pointer; font-size: 18px; font-weight: 700;}
.line2{border-top:2px solid #F99319;position:relative;top:12px}
.circle_line ul{display:flex;justify-content:space-around;}
.circle_line ul li > img {vertical-align: middle;}
.d_state ul, .d_date ul{display:flex;justify-content:space-around;}
.d_state ul li, .d_date ul li{font-size:10px;float:left;color:#6B6B6B}

.addr ul{float:left;padding-bottom:10px;padding-top:10px;}
.addr01 ul{margin-right:75px;}
.addr01 ul li, .addr02 ul li{float:left;}
.addr .p{padding-left:15px;color:#6B6B6B;font-size:12px}
.addr .a{margin-left:20px;font-size:12px}
.d_num ul{display:flex;border-bottom:0.5px solid #BBBBBB;padding-bottom:10px;padding-top:10px;border-top:0.5px solid #BBBBBB;clear:both;}
.d_num ul li{float:left;}
.d_num .d{padding-left:15px;color:#6B6B6B;font-size:12px}
.d_num .num{margin-left:20px;font-size:12px}

/*배송 준비중 일때*/
.delivery_list_null{width:70%; text-align:center; margin:180px auto;}
.order_list_null img{width:100px;height:75px}
.no_list{font-size:16px;color:#878787;margin-top:21px}

/* order detail */
.body_contents > h3 {font-size: 20px;text-align: left;}
.body_contents > .orderList {text-align: left;}
.order_detail_top {text-align: left;}
.order_detail_top > p:nth-child(1){font-size: 12px;color: #878787;}
.order_detail_top > p:nth-child(2){font-size: 14px; font-weight: 700;color: #000;}

.order_detail_list > .brand_info_liq {display: flex;justify-content: space-between;
    font-size: 14px;padding-bottom: 18px}
.brand_info_liq li {align-items: center}
.brand_info_liq > li:nth-child(1) {font-weight: 700}
.brand_info_liq > li:nth-child(1) > span {color: #32845B;padding-left: 6px}
.brand_info_liq > li:nth-child(2) {font-size: 12px; font-weight: 600}
.brand_info_liq > li:nth-child(2) img {padding-left: 4px;vertical-align: middle}
.order_detail_list_btn {display: flex}
.order_detail_list_btn button {width: 116px; height: 30px;border-radius: 5px; margin: 0 6px 6px 0}

.order_info_ctn .state {font-weight: 700}
.order_info_ctn .name_price {color: #000}
.order_info_ctn .quan_option {color: #878787}
.orderList_detail_list li {padding: 0}
.orderList_detail_list .thum {width: 50px; height: 62px;background: #ccc;margin-right: 10px;
    background: url(../images/dietfarmbread.jpg);background-size: cover;background-position: center}
.orderList_detail_list > .order_info_ctn {display: flex;text-align: left}

/* order_detail table */ 
.info_customer_first > h3 {text-align: left;}
.info_customer_first, .info_customer_second, .info_customer_third, .info_customer_fourth {
    padding: 12px 0;border-bottom: 1px solid #F1F1F1}
.info_customer_first > h3, .info_customer_second h3, .info_customer_third h3, .info_customer_fourth h3 {
    font-size: 16px; font-weight: 700;padding: 8px 0; color: #000;}
.web_del_info_title {display: flex;justify-content: space-between;align-items: center}
.first_subtitle, .second_subtitle {float: left; width: 85px;margin-right: 40px;
    text-align: left;color: #878787}
.info_customer_third .third_subtitle_ctn, .info_customer_fourth .fourth_subtitle_ctn {
    display: flex;justify-content: space-between}
ul.result {text-align: right; color: #000;}
.first_subtitle_cts {text-align: left;}
.sub_title_cts {text-align: left;}
.second_subtitle, .third_subtitle, .fourth_subtitle {text-align: left;}
.first_subtitle_cts, .second_subtitle_cts, .third_subtitle_cts, .fourth_subtitle_cts {
    color: #000;}
.first_subtitle_ctn, .second_subtitle_ctn, .third_subtitle_ctn, .fourth_subtitle_ctn {
    padding: 8px 0;}
.first_subtitle_ctn li, .second_subtitle_ctn li, .third_subtitle_ctn li, .fourth_subtitle_ctn li {
padding: 4px 0;}
.third_subtitle, .fourth_subtitle {color: #878787;}
.web_del_info_title {cursor: pointer;}
.second_subtitle_ctn {display: none;}
.total_price {color: #000}

/* button */
.btn_area > button {
    width: 330px; height: 45px;
    margin: 0 auto;
    background: #fff;
    font-weight: 14; font-weight: 500;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}

/*주문하기*/
@media screen and (min-width:1080px){
.dateNo .date{margin-left:20px}
#order_detail .order01 tr.order_q td{padding-top:15px;font-weight:bold;font-size:16px}
}
.order{margin-top:20px;width:100%;}
.order p{font-size:14px}
.downArrow{position:absolute;right:20px;}
.order_q .title{font-size:14px;font-weight:bold;}
.order01 table{width:100%;border-bottom:1px solid #E6E6E6;margin-top:5px;padding:0}
.order01_1{width:100%;border-top:8px solid #E6E6E6}
.order01 tr.order_q td{cursor:pointer;padding-top:10px}
.order01 tr.faq_a{display:none;}
.ship_list p{font-size:14px;font-weight:bold;;display:flex;position:relative;left:-100px}
.ship_list{display:flex;justify-content: space-between}
.ship_list button{font-size:12px;background-color:transparent;border:0;}
.ship_list ul li{font-size:12px;float:left;}
.shipping_box{position:relative;left:-70px}
.order_title ul li a{font-size:14px}
.order001 li{margin-bottom:11px}
.src_icon{position:absolute;right:10px;top:15px}
.order_price{float:right;}
.order_b_box{width:100%;margin:auto}
.order_rewards{margin-left:-40px}
.coupon_option{margin-top:-20px}
.order_payment ul{display:grid;grid-template-columns: repeat(2, 3fr);
;align-items: center;
justify-self: center;width: 100%;margin: 0 auto;}
.order_payment ul li{border:1px solid #E6E6E6;border-radius:10px;text-align:center;margin:5px}
.order_payment ul li.border-orange{
    border: 1px solid orange;
}
.order_payment ul li label {
    display: block;
    height: 100%;
}

.order_confirm{width:100%;margin:auto;padding:20px 15px 15px;}
.agree ul{float:left;width:100%;display: flex;justify-content: space-between;}
.order_confirm ul li{font-size:12px;margin-left:5px;color:#6B6B6B;margin-top:10px;margin-bottom:20px;}
.agree ul li{float:left;}
.order_a_box tr td:last-child{text-align:right;}

/* 버튼 */

.btn_area {margin:10px 10px}

#btnOrder{width:100%;margin:auto;padding: 21px 0 17px;border: 0;cursor: pointer;color: #fff;
    background-color: #F99319;font-size: 14px;
    font-weight: 400;font-family: '나눔고딕';border-radius:5px;}

/*주문 완료*/
#web_content .order_complete_info{margin-top:20px;}
#web_content .order_complete_info h3{width:100%;text-align:center;margin-top:35px;margin-bottom:36px;font-size:16px;font-weight:bold}

.order_complete_wrap{width:100%;border-top:8px solid #F1F1F1;padding-top:38px;margin-bottom:30px}
.order_complete_wrap table tr td{padding-left:20px}
#web_content .order_complete_info tr td span{color:#878787}

#web_content .order_complete_info tr td{font-size:14px;padding-bottom:20px;font-weight:bold;letter-spacing:0.2px}

/* 적립금 */
.total_price {font-weight: 700;
}


/* 배송지 변경 */

.ord_info_del_place {
    width: 90%;
}

.change_place {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 700;
}
.change_place span {color: red; font-size: 14px;}

.place_addr {
    width: 90%; margin: 0 auto;
}
.place_addr li {
    padding: 8px 0;
}
.place_addr .addr_detail {
    font-size: 14px;
}
.place_addr .order_customer_info {
    font-size: 12px;
    color: #6B6B6B;
}
.place_addr .order_customer_info > span {padding-right: 10px;}

/* 배송 메모 */

.del_memo_wrap {
    width: 90%; margin: 0 auto;
}
.del_memo_wrap > p {padding: 10px 0 10px 0;}
.del_memo_tit {font-weight: 700;}
#del_memo_ctn {
    width: 100%; height: 45px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

/* 쿠폰 포인트 */

.coupon_section {
    width: 90%; margin: 0 auto;
    padding: 12px 0;
}

.coupon_section p {
    font-size: 14px;
    font-weight: 700;
    padding: 12px 0;
}
.coupon_section_wrap {
    width: 100%;
}

.coupon_section .my_coupon {
    font-size: 12px;
    font-weight: 400;
}
.coupon_section .my_coupon > span {
    font-weight: 700;
}

.point_wrap {
    width: 100%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.point_wrap > #my_point {
    width: 70%; height: 45px; 
    border: 1px solid #BBB;
    border-radius: 5px;
}
.use_all_point {
    width: 30%; height: 45px;
    border: 1px solid #F99319;
    background: #fff;
    color: #F99319;
    border-radius: 5px;
    font-size: 14px; font-weight: 700;
    margin-left: 4%;
}

/* 최종 결제 금액 */
.order_info_prc {
    float: right;
}

.thick_line {
    width: 100%; height: 8px; background: #F1F1F1;
}

/*주문 상세*/

.orderDetails .orderBox02 {display: flex;}
.orderDetails .orderBox02 li {font-size: 12px;}
.orderDetails .orderBox02 li.product,
.orderDetails .orderBox02 li.price {color: #000;}
.orderDetails .orderBox02 li.quantitiy,
.orderDetails .orderBox02 li.option {color: #878787;}
.orderDetails{border-bottom:8px solid #F1F1F1;padding-left:15px;padding-right:15px}
.buttons{
    width:100%;margin: 0 auto;
    justify-content: space-between;
    /* padding: 0 15px 14px 15px;
    height: 60px;*/
    }
@media screen and (min-width:1080px){
.btnConfirm, .btnTracking{width:116px;height:30px;text-align:center; border:1px solid #E6E6E6;display:inline-block;border-radius:5px;
 color:#000;font-size:12px;background-color:#F1F1F1}

}
@media screen and (max-width:1079px){
.btnConfirm, .btnTracking{width:100%;height:45px;text-align:center; border:1px solid #E6E6E6;display:inline-block;border-radius:5px;
color:#000;font-size:14px;background-color:#F1F1F1;}
.order_detail_btn:first-child{margin-right:10px}
}
@media screen and (max-width:1079px){
div.order_detail_btn ul{display:flex;}
.btnConfirm, .btnTracking{width:50%;height:45px;text-align:center; border:1px solid #E6E6E6;display:inline-block;border-radius:5px;
color:#000;font-size:14px;background-color:#F1F1F1;margin-right:10px}

.dateNo{border-bottom:8px solid #F1F1F1}
.date{margin-bottom:3px;color:#878787}
.no{margin-bottom:14px}
.ship_state{color:#F99319;font-weight:bold}
.quantity, .option{color:#878787}
.order_title {width:100%;display:flex;justify-content: space-between;margin-top:30px;margin-bottom:20px}
.order_title p span{font-size:14px;font-weight:bold}
.orderDetails{padding-left:15px;padding-right:15px;}
.orderBox02{margin-top:19px;padding-top:18px;border-top:1px solid #BBBBBB;margin-bottom:14px}
.order00 li{margin-bottom:5px;}
.order_q .title00{padding-top:10px;padding-bottom:10px;padding-left:15px;font-size:16px;font-weight:bold;}
.order_a_box td{padding-bottom:5px}
.order_a_box td span{color:#878787}
.btn_area {margin:20px 15px;}
#btnReorder{
        width:100%; height: 45px; 
    line-height: 0px; 
    margin:auto;
    padding: 21px 0 17px;
    border:1px solid #BBBBBB;
    cursor: pointer;color:#000;
    background-color:transparent;
    font-size: 14px;
    font-weight: 400;
    font-family: '나눔고딕';
    border-radius:5px;
    margin-top: 20px;
    padding-bottom: 20px;
}
    
/*주문 내역*/
.orderHistory{width:100%;padding-left:15px;padding-right:15px;margin-bottom:-10px}
.order_list_title {width:100%;display:flex;justify-content:space-between;margin-top:20px}
.order_a{margin-bottom:-25px}
.orderBox tr {padding-top:10px}
.order_a .order_add{font-size:14px;font-weight:bold}
.orderDetail li {font-size: 12px;}
.orderDetail a img{margin-left:-14px}
.orderDetail ul li{width:176px;white-space: nowrap;
    overflow:hidden;text-overflow: ellipsis;font-size:11px;}
.orderDetail ul li span{color:#F99319}
.t1{font-size:14px;font-weight:bold;letter-spacing:0.1px}
.t1 span{font-size:12px;color:#BBBBBB;font-weight:normal}
.t2{font-size:12px;line-height:14px;margin-top:5px;}
.order_list_box{display:flex;justify-content:flex-start;margin-bottom:10px;margin-top:10px}
.order ul li{white-space:nowrap}
.order0{margin-top:-10px}
.order_list_btn{width: 58px; float:right;padding-right: 0;}
.btnA{width:100%;height:26px;background-color:#F99319;border:0;font-size:11px;color:#fff;border-radius:5px;margin-bottom:8px;white-space:nowrap;}
.btnB{width:100%;height:26px;background-color:#fff;border:1px solid #6B6B6B;color:#6B6B6B;border-radius:5px;font-size:12px;white-space:nowrap;padding:1px}
.grayLine{width:100%;margin-bottom:10px;border-top:8px solid #E6E6E6;margin-top:20px}

/*주문 내역 없을때*/
.body_contents > .orderList_none_tit {
    font-size: 20px; font-weight: 700;
    text-align: left;
}
.order_list_null{width:70%; text-align:center; margin:197px auto;}
.order_list_null img{width:100px;height:75px}
.no_list{font-size:16px;color:#878787;margin-top:15px}
}

/* 마이 페이지 > 정보 > 비밀번호 확인 */

.pwCheck_contents_header h2 {
    font-size: 20px; font-weight: 700;
    color: #000;
    padding: 0 0 20px 0;
    text-align: left;
}
.pwCheck_contents_header > .pwCheck_subtitle {font-size: 18px;}
.pwCheck_contents_header p {color: #000; text-align: left;}

.mayinfo_pw1_main_contents {padding: 50px 120px;}

.mayinfo_pw1_main_contents > .pw1_ctt_id,
.mayinfo_pw1_main_contents > .pw1_ctt_pw {
    display: flex;
    padding: 10px 0;
    align-items: center;
}
.mayinfo_pw1_main_contents > .pw1_ctt_id input,
.mayinfo_pw1_main_contents > .pw1_ctt_pw input {
    width: 330px; height: 45px;
    border: 1px solid #BBBBBB; border-radius: 5px;
    margin-left: 50px;
}

.pwcheck_logIn_btn {
    position: absolute;
    left: 220px;
    margin: 30px 0px;
    width: 330px; height: 45px;
    border: 0; border-radius: 5px;
    background: #F99319;
    color: #fff;
}

/* 내 정보 */
.myInfo_contents_header > h2 {
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    font-weight: 700;
    color: #000;
}
.my_info_line {
    width: 84%; height: 2px;
    background: #BBBBBB;
}
.widthValue {
    width: 100px; 
    text-align: left;
    margin-right: 30px;
    color: #000;
}

.mayinfo_pw1_main_contents p {
    font-size: 14px; font-weight: 700;
}

.gender {
    display: flex;
    align-items: center;
    margin-top: 26px;
}
.body_contents ul.myInfo_ask {
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 176px;
}
.mebership_wid {border-bottom: 1px solid #6B6B6B;}

.myInfo_edit_btn {
    position: absolute;
    left: 300px;
    margin: 30px 0;
    width: 330px; height: 45px;
    border: 0; border-radius: 5px;
    background: #F99319;
    color: #fff;
}

.gender input {
    margin-right: 6px;
    margin-left: 50px;
}
.genderT {margin-right: 10px; font-weight: 500 !important;}

/* 회원 탈퇴 */
#web_contents {width: 1080px; margin: 0 auto;}
.body_contents_header > h1 {
    font-weight: 700; color: #000;
    padding: 20px 0;
} 
.body_contents_header p {
    font-weight: 700; color: #000;
} 
.body_contents_main > ul {
    position: relative;
    width: 100%;
    padding-top: 10px;
    color: #000;
    left: 78%; transform: translateX(-50%);
    text-align: left;
    display: block;
}

.body_contents_main > ul li {
    padding: 10px 0 20px 0;
}
.body_contents_main > ul li.checkbox > input {
    vertical-align: middle;
    margin-right: 4px;
}
.membershipWid_logIn_btn {
    position: relative;
    left: -10px;
    margin: 30px 0;
    width: 330px; height: 45px;
    border: 0; border-radius: 5px;
    background: #F99319;
    color: #fff;
}

/* mypage > orderlist > point */

.body_contents .cell {
    width: 300px;
    border: 2px solid #32845B;
    height: 53px;
}
.body_contents th {font-weight: 700;}
.body_contents th.curPoint {
    background: #32845B;
    color: #fff;
    padding: 10px 10px;
    font-size: 14px;
    letter-spacing: 0.6px;
}
.body_contents th.curPoint_value {
    background: #fff;
    color: #000;
    padding: 10px 10px;
    font-size: 14px;
    letter-spacing: 0.6px;
}
/* .body_contents tr > td {
    text-align: center;
    padding: 12px 16px;
    font-size: 18px; font-weight: 700;
    color: #000;
} */

table.pointList {
    width: 100%;
    padding: 20px 0 30px 0;
}

table.pointList th {
    background: #fff;
    color: #000;
    font-weight: 700;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
table.pointList td {
    font-size: 12px; font-weight: 500;
}
table.pointList tr.pointList_ctt td {
    border-bottom: 1px solid #bbb; text-align: center;
}

/* mypage > orderlist > point_none */
.order_list_ctn > .none_list {
    height: 400px; line-height: 400px;
    color: #878787;
    border-bottom: 1px solid #bbb;
}


/*배송지 관리*/

@media screen and (max-width:1079px){
.web_delivery_manage_list {
width: 90%;
margin: 0 auto;
margin-left: 0;
}
.web_delivery_manage_list .del_mng_type {align-items: center; padding-left: 60px;}

.web_delivery_manage_list .del_mng_type,
.web_delivery_manage_list .edit_remove {
    display: flex;
}
.small_line > img {margin-top: 8px;}


.del_mng_list_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 0;
}
.del_mng_list_top li {
    padding: 4px 4px 4px 0;
}
.del_mng_list_top .type_first {
    font-size: 14px; font-weight:bold;
}
.del_mng_list_top .type_second > .tema {
    font-size: 12px;
    color: #fff;
    background: #BBBBBB;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    margin-left:8px;

}
.del_mng_list_top ul li img{margin-left:5px;margin-right:5px}
.web_delivery_manage_list p img{margin-left:10px;margin-right:10px}
.web_delivery_manage_list .edit_remove{margin-right:-25px}
.web_delivery_manage_list .edit_remove li {
    font-size: 12px;
    padding: 2px;
}
.del_web_title {display:none}
.top_checkBox{display:none}
.top_checkBox_piece{position:relative;top:-20px;left:10px}
.bar {
    width: 0.1px; height: 0.1px;
    background: #bbb;
    color: #bbb;
    font-size: 0.5px;
    opacity: 0.4;
}
delivery_manage_list p {padding: 4px 0 4px 0;}
delivery_manage_list .address {
    width: 60%;
    font-size: 14px;
}
delivery_manage_list .customer_info {
    font-size: 12px;
    color: #878787;
}
.customer_info > span {margin: 0 2px 0 2px;}
.basic > .bar {
    margin-left: 3px;
}
.del_mng_list_top a {cursor: pointer;}

.web_delivery_manage_list .address,
.web_delivery_manage_list .customer_info
{text-align: left}
.btn_area_d{width:90%;margin:0 auto}
}


@media screen and (min-width:1080px){
.top_checkBox_piece{position:relative;top:-20px;left:10px}
.btn_area_d{width: 330px; margin:20px auto}
.web_delivery_manage_list {
width: 90%;
margin: 0 auto;
margin-left: 0;
}
.web_delivery_manage_list .del_mng_type {align-items: center; padding-left: 60px;}

.web_delivery_manage_list .del_mng_type,
.web_delivery_manage_list .edit_remove {
    display: flex;
}
.small_line > img {margin-top: 8px;}


.del_mng_list_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 0;
}
.del_mng_list_top li {
    padding: 4px 4px 4px 0;
}
.del_mng_list_top .type_first {
    font-size: 14px; font-weight:bold;
}
.del_mng_list_top .type_second > .tema {
    font-size: 12px;
    color: #fff;
    background: #BBBBBB;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    margin-left:8px;

}
.del_mng_list_top ul li img{margin-left:5px;margin-right:5px}
.web_delivery_manage_list p img{margin-left:10px;margin-right:10px}
.web_delivery_manage_list .edit_remove{margin-right:-60px}
.web_delivery_manage_list .edit_remove li {
    font-size: 12px;
    padding: 2px;
}
.bar {
    width: 0.1px; height: 0.1px;
    background: #bbb;
    color: #bbb;
    font-size: 0.5px;
    opacity: 0.4;
}
delivery_manage_list p {padding: 4px 0 4px 0;}
delivery_manage_list .address {
    width: 60%;
    font-size: 14px;
}
delivery_manage_list .customer_info {
    font-size: 12px;
    color: #878787;
}
.customer_info > span {margin: 0 2px 0 2px;}
.basic > .bar {
    margin-left: 3px;
}
.del_mng_list_top a {cursor: pointer;}

.web_delivery_manage_list .address,
.web_delivery_manage_list .customer_info {
    text-align: left;
}
}
    
    
/* 버튼 */
.btn_area {margin-top:10px;width:100%;}
.sellerInq_regist > button {border: 0; color: #fff;background: #F99319; font-size: 14px; letter-spacing: 2px;}
.mBtnArea > button {
    padding: 15px 0 15px; outline: 2px solid red;
    border:0;
    cursor: pointer;
    color:#fff;
    background-color:#F99319;
    font-size: 14px;
    font-weight: 700;
    border-radius:5px;
}
.one{margin-bottom: 0;}

.web_del_mag_list_info {
    display: flex;
}

.btn_area_modal {margin-top:10px;width:100%;}
#btnRegister_modal {
    width: 100%; 
    margin:0 auto;
    padding: 15px 0 15px;
    border:0;
    cursor: pointer;
    color:#fff;
    background-color:#F99319;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nanum Gothic', sans-serif;
    border-radius:5px;
}

/* checkbox 디자인 */

.top_checkBox input[type="checkbox"] {
    position: relative;
    width: 1px; height: 1px;
    padding: 0; margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.top_checkBox input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top_checkBox input[type="checkbox"] + label:before {
    content: '\2713';
    color: #BBBBBB;
    display: inline-block;
    width: 19px; height: 19px;
    line-height: 19px;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 100%;
}


.top_checkBox input[type="checkbox"]:checked + label:before {
    content: '\2713';
    color: #fff;
    background: #F99319;
    border-color: #adb8c0;
}

.top_checkBox button {
    height: 26px;
    border: 1px solid #bbb;
    border-radius: 5px;
    background: #fff;
    margin-left: 6px;
}
.top_checkBox {
    position: relative;
    width: 20%;
    left: 0;
    vertical-align: middle;
}

/* 낱개 체크박스 */
.top_checkBox_piece input[type="checkbox"] {
    position: relative;
    width: 1px; height: 1px;
    padding: 0; margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.top_checkBox_piece input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top_checkBox_piece input[type="checkbox"] + label:before {
    content: '\2713';
    color: #BBBBBB;
    display: inline-block;
    width: 19px; height: 19px;
    line-height: 19px;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 100%;
}

.top_checkBox_piece input[type="checkbox"]:checked + label:before {
    content: '\2713';
    color: #fff;
    background: #F99319;
    border-color: #adb8c0;
}

.top_checkBox_piece {
    margin: 8px 20px 0 8px;
}


/* web_mypage_deliver_mag modal */

.modal a.close-modal {display: none !important;}
.deliver_mag_modal {width: 380px;}
.deliver_magHeader {padding: 12px 0;}
.deliver_mag_modal > header > ul {
    display: flex;
    justify-content: space-between;
    }
.deliver_mag_modal > header li > h2 {
    font-size: 14px; font-weight: 700;
    color: #000;
    padding: 0;
}
.deliver_mag_modal > header li i {
    color: #6B6B6B;
    font-size: 18px; font-weight: 500; 
    cursor: pointer;
}

.deliver_mag_modal > header h3 {
    text-align: center;
    font-size: 16px; font-weight: 700; 
    color: #000;
    padding: 16px 0;
    margin-top:-40px
}

.deliver_mag_modal_ctt input {
    width: 100%; height: 45px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-bottom: 14px;

}
.deliver_mag_modal p {
    font-weight: 700;
    color: #000;
    padding-bottom: 6px;
}
.deliver_mag_modal_ctt input::placeholder {
    padding-left: 14px;
}






/* 상품 리뷰 web */
    @media screen and (min-width:360px) and (max-width:1079px){
    .review_complete {padding-top: 16px;}
.review_complete td {padding: 0 !important;}
.review_complete .web_prod_info_ctn {padding-left: 0 !important;}
.web_prod_info_ctn .order001 li {font-size: 12px;}
.web_prod_info_ctn .order001 li.web_brandName,
.web_prod_opt {color: #878787;}
.review_complete .web_prod_info_ctn img {margin: 0; margin-left: 0 !important;}


.tabMenu_review {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    padding: 16px 0;
}
.tab_wrap {
    display: flex;
    width: 100%; 
    margin: 0 auto;
    position: relative;
}
.tabMenu_review .tab_wrap li {
    flex: 1;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #878787;
    cursor: pointer;
}
.tabMenu_review .tab_wrap > span {
    position: absolute; left: 0; bottom: 0; height: 3px;
    background: #F99319;
    width: 50%; margin: -12px 0;
    opacity: 0;
    transition: all .3s;
}

.tabMenu_review .tab_wrap > li.on {color: #F99319; font-weight: 700;}
.tabMenu_review .tab_wrap > li.on > a {color: #F99319; font-weight: 700;}

.tabMenu_review .tab_wrap > li.on > span {font-weight: 700;}
.tabMenu_review .tab_wrap > li:nth-child(1).on ~ span {left: 0; opacity: 1;}
.tabMenu_review .tab_wrap > li:nth-child(2).on ~ span {left: 50%; opacity: 1;}


/* 리뷰쓰기 헤더 */
.review_title{                            
    overflow-x:hidden;
    margin:50px 10px 10px 10px;
    width:90%;
}
    .review_title h2{
        text-align:center;
        position:relative;
        font-weight:700;
        font-size:16px;
        margin-right:10px
}
.review_title a img{
    position:absolute;
    top:50px
}


/* 주문 상세 부제 */
.prod_rev_menu_nav {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
}
.prod_rev_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.prod_rev_menu > .left {
    color: #F99319;
    font-weight: 700;
    padding-left: 24px;
}
.prod_rev_menu > .right {
    color: #878787;
    padding-right: 46px;
}
.nav_underline {
    width: 100%;
    display: flex;
}
.nav_underline > .nav_color_underline {
    width: 50%; height: 2px;
    background-color: #F99319;
    margin-top: 5px;
}
.nav_underline .nav_gray_underline {
    width: 50%; height: 2px;
    background-color: #E6E6E6;
    margin-top: 5px;
}

/* 리뷰상품 리스트 */

.review_list_ctn {
    width: 100%;
    margin: 0 auto;
}

.review_line {
    width: 100%; height: 1px;
    margin: 0 auto;
    background: #E6E6E6;
    margin: 14px 0;
    /* opacity: 0.4; */
}
.review_prod {
    width: 90%;
    margin: 0 auto;
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review_prod .review_detail {
    /* padding-left: 10px; */
    text-align: left;
}
.review_prod .review_detail > li {
    font-size: 12px;
}
.review_prod .review_detail > .review_brand {
    color: #878787; font-size: 12px;
}

.review_prod > .img_detail_ctn {
    display: flex;
}
.review_prod .review_img {
    width: 50px; height: 62px;
    background: #ccc;
    background-image: url(../images/dietfarmbread.jpg);
    background-size: cover; background-position: center;
    margin-right: 8px;
}

.review_prod .review_option {
    color: #878787;
}


/* 하단 버튼 */
.btn_area_2 {
    padding-bottom: 18px;
}

.btn_area_2 > .btnJoin_2 {
    font-size: 14px;
    color: #fff;
    background: #F99319;
    border: 0;
    cursor: pointer;
    padding: 10px 6px ;
    border-radius: 5px;
}


/* 판매자 문의 */
.order_detail_top {
    text-align: left;
}
.web_sellerInquiry_top > p {
    font-size: 12px;
    color: #000;
    text-align: left;
    padding: 2px 0;
}
.web_sellerInquiry_top p span {
    font-weight: 700; padding-right: 6px;
}
.web_sellerInquiry_ctt {
    text-align: left;
    padding-top: 10px;
}
.web_sellerInquiry_ctt select {
    width: 330px; height: 45px;
    border: 1px solid #BBBBBB;
    margin: 4px 0;
    border-radius: 5px;
    /* 네이티브 외형 감추기 */
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
    background: url(/images/downarrow_icon_category.png) no-repeat 95% 50%;
}

.web_sellerInquiry_ctt > p.inqType,
.web_sellerInquiry_ctt p.inq_ctt {
    font-size: 12px; font-weight: 700;
}
.web_sellerInquiry_ctt input {
    width: 84%; height: 153px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}
.web_sellerInquiry_ctt button.photo {
    width: 330px; height: 45px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px 0;
    background: #fff;
}
.seller_inq_btn_area .announce {
    font-size: 12px; font-weight: 500;
}
.seller_inq_btn_area .seller_inq_btn_area {
    width: 70%; margin: 0 auto;
}
.seller_inq_btn_area .ragistration_btn {
    width: 330px; height: 45px;
    border-radius: 5px;
    margin: 0 auto;
    background: #F99319;
    border: 0;
    color: #fff;
}

/*option tag design */
.web_sellerInquiry_ctt option {
    width: 1000px;
}

/* 작성할 리뷰 없을 때 */
.body_contents .review_none {
    position: absolute;
    bottom: 0;
    left: 50%; transform: translateX(-50%);
    text-align: center;
}
.body_contents .review_none p.order_none_txt {
    position: relative;

    text-align: center;
    padding-top: 30px;
    color: #878787;
    font-size: 16px;
}

/* 상품문의 */

#content .tabMenu_qna{width:100%;}
#content .tabMenu_sInquiry ul, #content .tabMenu_qna ul{padding-left:40px;padding-right:20px;margin-top:12px}
#content .tabMenu_sInquiry li, #content .tabMenu_qna ul li{float:left;width:50%;font-size:14px;line-height:18px;text-align:center;font-weight:bold;padding:10px 20px 10px 0px}
#content .tabMenu_sInquiry li a, #content .tabMenu_qna li a{color:#878787;}
#content .tabMenu_sInquiry li a:hover, #content .tabMenu_qna li a:hover{color:#F99319;padding-bottom:13px;border-bottom:3px solid #F99319}


    }
.review_complete {padding-top: 16px;}
.review_complete td {padding: 0 !important;}
.review_complete .web_prod_info_ctn {padding-left: 0 !important;}
.web_prod_info_ctn .order001 li {font-size: 12px;}
.web_prod_info_ctn .order001 li.web_brandName,
.web_prod_opt {color: #878787;}
.review_complete .web_prod_info_ctn img {margin: 0;}


.tabMenu_review {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    padding: 16px 0;
}
.tab_wrap {
    display: flex;
    width: 100%; 
    margin: 0 auto;
    position: relative;
}
.tabMenu_review .tab_wrap li {
    flex: 1;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #878787;
    cursor: pointer;
}
.tabMenu_review .tab_wrap > span {
    position: absolute; left: 0; bottom: 0; height: 3px;
    background: #F99319;
    width: 50%; margin: -16px 0;
    opacity: 0;
    transition: all .3s;
}

.tabMenu_review .tab_wrap > li.on {color: #F99319; font-weight: 700;}
.tabMenu_review .tab_wrap > li.on > a {color: #F99319; font-weight: 700;}

.tabMenu_review .tab_wrap > li.on > span {font-weight: 700;}
.tabMenu_review .tab_wrap > li:nth-child(1).on ~ span {left: 0; opacity: 1;}
.tabMenu_review .tab_wrap > li:nth-child(2).on ~ span {left: 50%; opacity: 1;}


/* 리뷰쓰기 헤더 */
.review_title{                            
    overflow-x:hidden;
    margin:50px 10px 10px 10px;
    width:90%;
}
    .review_title h2{
        text-align:center;
        position:relative;
        font-weight:700;
        font-size:16px;
        margin-right:10px
}
.review_title a img{
    position:absolute;
    top:50px
}


/* 주문 상세 부제 */
.prod_rev_menu_nav {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
}
.prod_rev_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.prod_rev_menu > .left {
    color: #F99319;
    font-weight: 700;
    padding-left: 24px;
}
.prod_rev_menu > .right {
    color: #878787;
    padding-right: 46px;
}
.nav_underline {
    width: 100%;
    display: flex;
}
.nav_underline > .nav_color_underline {
    width: 50%; height: 2px;
    background-color: #F99319;
    margin-top: 5px;
}
.nav_underline .nav_gray_underline {
    width: 50%; height: 2px;
    background-color: #E6E6E6;
    margin-top: 5px;
}

/* 리뷰상품 리스트 */

.review_list_ctn {
    width: 100%;
    margin: 0 auto;
}
.modal deliver_mag_modal{width:350px}
.review_line {
    width: 100%; height: 1px;
    margin: 0 auto;
    background: #E6E6sE6;
    margin-top: 14px;
}
.review_prod {
    width: 90%;
    margin: 0 auto;
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review_prod .review_detail {
    padding-left: 10px;
    text-align: left;
}
.review_prod .review_detail > li {
    font-size: 12px;
    padding-bottom:4px
}
.review_prod .review_detail > .review_brand {
    color: #878787; font-size: 12px;
}

.review_prod > .img_detail_ctn {
    display: flex;
    margin-top:5px
}
.review_prod .review_img {
    width: 50px; height: 62px;
    background: #ccc;
    background-image: url(../images/dietfarmbread.jpg);
    background-size: cover; background-position: center;
    margin-right: 8px;
}

.review_prod .review_option {
    color: #878787;
}


/* 하단 버튼 */
.btn_area_2 {
    padding-bottom: 18px;
}

.btn_area_2 > .btnJoin_2 {
    font-size: 14px;
    color: #fff;
    background: #F99319;
    border: 0;
    cursor: pointer;
    padding: 10px 6px ;
    border-radius: 5px;
}


/* 판매자 문의 */
.order_detail_top {
    text-align: left;
}
.web_sellerInquiry_top > p {
    font-size: 12px;
    color: #000;
    text-align: left;
    padding: 2px 0;
}
.web_sellerInquiry_top p span {
    font-weight: 700; padding-right: 6px;
}
.web_sellerInquiry_ctt {
    text-align: left;
    padding-top: 10px;
}
.web_sellerInquiry_ctt select {
    width: 330px; height: 45px;
    border: 1px solid #BBBBBB;
    margin: 4px 0;
    border-radius: 5px;
    /* 네이티브 외형 감추기 */
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none; 
    background: url(/images/downarrow_icon_category.png) no-repeat 95% 50%;
}

.web_sellerInquiry_ctt > p.inqType,
.web_sellerInquiry_ctt p.inq_ctt {
    font-size: 12px; font-weight: 700;
}
.web_sellerInquiry_ctt input {
    width: 84%; height: 153px;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}
.web_sellerInquiry_ctt button.photo {
    width: 330px; height: 45px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px 0;
    background: #fff;
}
.seller_inq_btn_area .announce {
    font-size: 12px; font-weight: 500;
}
.seller_inq_btn_area .seller_inq_btn_area {
    width: 70%; margin: 0 auto;
}
.seller_inq_btn_area .ragistration_btn {
    width: 330px; height: 45px;
    border-radius: 5px;
    margin: 0 auto;
    background: #F99319;
    border: 0;
    color: #fff;
}

/*option tag design */
.web_sellerInquiry_ctt option {
    width: 1000px;
}

/* 작성할 리뷰 없을 때 */
.body_contents .review_none {
    position: absolute;
    bottom: 0;
    left: 50%; transform: translateX(-50%);
    text-align: center;
}
.body_contents .review_none p.order_none_txt {
    position: relative;

    text-align: center;
    padding-top: 30px;
    color: #878787;
    font-size: 16px;
}

/* 상품문의 */

#content .tabMenu_qna{width:100%;}
#content .tabMenu_sInquiry ul, #content .tabMenu_qna ul{padding-left:40px;padding-right:20px;margin-top:12px}
#content .tabMenu_sInquiry li, #content .tabMenu_qna ul li{float:left;width:50%;font-size:14px;line-height:18px;text-align:center;font-weight:bold;padding:10px 20px 10px 0px}
#content .tabMenu_sInquiry li a, #content .tabMenu_qna li a{color:#878787;}
#content .tabMenu_sInquiry li a:hover, #content .tabMenu_qna li a:hover{color:#F99319;padding-bottom:13px;border-bottom:3px solid #F99319}


/*문의*/
.qna{width:100%;}
.myReview{width:100%;border-bottom:2px solid #E6E6E6;padding-bottom:20px}
.qna p{font-size:14px;padding-left:15px;padding-right:15px}
.review_edit ul li img{margin-top:4px}
.qna ul li{float:left;}
.review_edit {width:100%;display:flex;justify-content: space-between;margin-top:20px;padding-right:20px}
.review_edit p span{font-size:12px;color:#F99319;font-weight:bold;}
.review_edit ul li{font-size:12px;margin-left:8px;line-height:14px;}
.review_q{border-bottom:2px solid #E6E6E6}
.review_q p{width:100%;margin-top:18px;line-height:20px;margin-bottom:20px;}
.bbsFaq01 table{width:100%;}
.bbsFaq01 td{padding:15px 15px 20px;font-size:14px;line-height:22px;min-height:51px}
.bbsFaq01 tr.faq_q td{cursor:pointer;border-bottom:1px solid #E6E6E6}
.bbsFaq01 button{border:0;font-size:12px;background-color:transparent;margin:0;padding:0}
.faq_a01{background-color:#F6F8F9;border-bottom:1px solid #E6E6E6}
.faq_a_box ul{float:left;padding-left:15px;margin-top:15px}
.faq_a_box ul li{margin-right:5px;font-size:12px}
.faq_a_box ul li img{margin-top:8px}
.bbsFaq01 tr.faq_a .faq_a faq_a01{width:100%;clear:both;border-bottom:2px solid #E6E6E6;}

/*판매자 문의(주문건)*/
.review_edit ul li{float:left;}
.inquiry{width:100%;}
.seller_content .myInquiry{width:100%;border-bottom:2px solid #E6E6E6;padding-bottom:20px}
.inquiry01 ul li{float:left;}
.inquiry_edit {width:100%;display: flex;justify-content: space-between;margin-top:20px;padding-right:20px}
.inquiry_edit p span{font-size:12px;color:#F99319;font-weight:bold;padding-left:15px}
.inquiry_edit ul li{font-size:12px;margin-left:14px;line-height:14px;}
.inquiry_edit ul li img{position:relative;top:4px}
.faq_title {width:100%;display:flex;justify-content: space-between;margin-top:30px;padding-right:20px;margin-bottom:20px;padding-left:15px}
.faq_title span{font-weight:bold}
.inquiry_top{margin-top:34px;margin-left:15px;}
.inquiry_top ul{float:left;display:flex; justify-content:space-between;}
.order001 li{width:100%;white-space:nowrap}
@media screen and (max-width:1079px){
.order_a_box {display: flex;margin-bottom:20px}
.review_conplete{padding-left:20px}
.order_a_box tr td:last-child{text-align:right;}
}
@media screen and (max-width:1080px){
.order_a_box {display: flex;margin-bottom:20px}

}

.order_a_box > .web_prod_info_ctn{margin-top:14px;padding-left:15px; display: flex;}
.order_a_box .edit_del_icon {position: absolute; right: 10px; cursor: pointer; text-align: right;}
.order_a_box a img {margin-bottom:18px;width:50px;height:90px;margin-right:20px}
.title p img{margin-bottom:18px;width:50px;height:90px;margin-right:20px;margin-top:10px}
.order_a_box ul li{margin-bottom:2px; font-size: 12px;}
.tab_cont{display:none;min-height:360px;}
.tab_cont.active{display:block;}

.web_innerbox > p {
    padding:6px 0 0 15px;
    text-align: left;
}
table.web_qna {padding: 12px 0;}
.web_qna td.title {
    font-size: 14px; font-weight: 500;
    text-align: left;
}
.faq_a_box p {
    text-align: left;
    font-size: 14px;
}
.faq_a_box p.web_qna_report {font-size: 12px;margin-top:17px}
.faq_a_box p.web_qna_report span {position: relative; top: 8px; padding: 0 4px;}


/* 상품 리뷰 */
.review_edit_del_btn_ctn {display: none;}
.review_edit_del_btn_ctn button {
    width: 89px; height: 35px;
    background: #fff;
    border: 1px solid #BBBBBB;
    font-size: 14px; font-weight: 500;
    color: #000;
}
.review_edit_del_btn_ctn > .review_editBtn {border-radius: 5px 5px 0 0;}
.review_edit_del_btn_ctn .review_delBtn {border-radius: 0 0 5px 5px; border-top: 0;}
.review_info02 {
    text-align: left;
}
/* 상품 리뷰 web */
.starRev{display:inline-block;margin:0 auto;margin-top:10px} 
.starRev span{padding:5px}
.starR1{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer
}
.starR2{
    background: url(../images/star_ico_reviewxxhdpi.png) no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}

/* 상품 리뷰 mobile */
.mobile_review_complete {
    width: 100%;
}
.mobile_order_a_box > .mobile_prod_info_ctn {
    display: flex;
}
.mobile_orderbox {
    width: 100%;
    margin: 0 10px;
}
.mobile_prod_review01 {
    width: 90%;
    margin: 0 10px;
}
.star_grade {margin-bottom: 16px;}
/* select design css */

/* 판매자문의모바일 css */
.btn_area {width:100%;clear:both; padding-right:38px;}
#btnInquiry{width:96%;height:45px;border: 0;cursor: pointer;color: #fff;background-color: #F99319;font-size: 14px;
font-weight: 400;border-radius:5px;margin:24px  15px 10px 15px;}
.inquiryBox{padding-left:20px;padding-right:20px;margin-bottom:20px;margin-top:30px}
.inquiryBox > ul {color: #000;}
.inquiryBox ul li form p textarea{border-radius:5px;width:100%;height:153px}
.inquiryBox h3{font-size:12px;font-weight:bold;margin-bottom: 20px;}
.inquiryBox ul li ul{margin-bottom:13px;font-weight:normal;margin-top:5px}
.inquiryBox ul li ul li{line-height:14px}
.inquiryBox .words form{margin-top:-20px}
.filebox label{width:100%;height:45px;color:#000; display: inline-block;padding-top:14px;
text-align:center;line-height:17px;
font-weight:bold;vertical-align: middle; background-color:transparent;cursor: pointer;
border: 1px solid #BBBBBB;border-radius:5px;font-size:15px;font-weight:bold}
.filebox input[type="file"] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.filebox p{color:#878787;line-height:20px;font-weight:normal;margin-top:20px}
.filebox p span{text-decoration:underline
}
.tab_cont{display:none;min-height:360px;}
.tab_cont.active{display:block;}
.filebox label {
    display: inline-block;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #BBBBBB;
    border-radius: .25em;
}

/*포인트*/


/* 현재 포인트 */
.current_point > p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 4px 0;
}
.current_point h2 {
    font-weight: 800;
}

.point_line {
    width: 100%; height: 4px;
    background: #F1F1F1;
}

.point_history {
    position: relative;
    right: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.point_history_left {
    text-align: right;
    padding: 8px 0 8px 0;
}
.point_history_right {
    text-align: left;
    padding: 8px 0 8px 0;
}
.point_history_line {
    width: 100%; height: 1px;
    background: #bbb;
    opacity: 0.4;
}

/* point history design */

.point_history > .point_history_left .save {
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 400;
}
.point_history > .point_history_left .amount {
    font-size: 14px;
    font-weight: 700;
    color: #31845B;
}

.point_history .point_history_right .date {
    font-size: 12px;
    color: #878787;
}
.point_history .point_history_right .type {
    font-size: 14px;
    color: #000000;
    padding: 4px 0;
}
.point_history .point_history_right .brand {
    font-size: 12px;
}
.point_history_right > ul .brand {
    margin-top: 0;
}
/*문의하기(상품문의) 모바일 */
.productInquiryBox{padding-left:20px;padding-right:20px;margin-bottom:20px;margin-top:24px}
.productInquiryBox h3{font-size:14px;font-weight:bold;margin-bottom:16px}
.productInquiryBox form{margin-bottom:18px;}

input[type="checkbox"] {
    display: none;
}

.secret{
    position: relative;margin-left:15px;
}

.secret::before {
    content: "";
    background: url("../images/aftercheck_icon_join@2x.png");
    background-position: center;
    background-size: contain;
    width: 19px;
    height: 19px;
    position: absolute;
    left: -12px;
    top: -2px;
    transform: scale(0) rotateZ(180deg);
    }

input#secret[type="checkbox"]:checked + .secret::before {
    transform: scale(1) rotateZ(0deg);
}

.secret::after {
    content: "";
    border: 2px solid #F99319;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -12px;
    top: -3px;
    border-radius: 50%;
}


/*정보 확인하기 위한 비밀번호 입력란*/
@media screen and (max-width:1079px){
    .main-wrap{width:100%;text-align:left}
    .main-wrap .p1{font-size:14px;font-weight:bold;margin-bottom:10px;margin-left:220px} 
    .main-wrap .p2{width:330px;font-size:14px;margin-left:220px}
    .contents h2{display:none}
    .main-wrap h4{display:none}
    .content_lnb{display:none}
}

@media screen and (min-width:1080px){
    .main_ontents .center p a{color:#F99319}

    .main-wrap .p1{margin-left:-46px;font-size:18px;font-weight:bold;}
    .main-wrap .p2{margin-left:-46px;margin-top:15px;margin-bottom:30px}
    .main-wrap h4{position:relative;top:35px;left:-260px}
    .password-wrap{position:relative;top:-7px}
}

        
/* 입력폼 */
@media screen and (min-width:360px) and (max-width:1079px){#wrapper{padding-left:15px;padding-right:15px}}
@media screen and (min-width:1080px){
#wrapper{width:330px;margin-left:280px}
#wrapper h3{font-size:14px;font-weight:bold;margin-bottom:-15px}
.info_title{font-size:20px;font-weight:bold;border-bottom:2px solid #BBBBBB;padding-bottom:20px}
}
input:focus {outline: none;}


h3 {font-size: 14px;font-weight:700;}


.box {display: block;width: 100%;height: 51px;
    border: solid 1px #dadada;padding: 10px 14px 10px 14px;box-sizing: border-box;   background: #fff;position: relative;
    border-radius:8px;}

.int {display: block;position: relative;
    width: 100%;height: 29px;border: none;
    background: #fff;font-size: 15px;}

.join_title01{margin-top:32px}

.box.int_id {padding-right: 110px;}

.box.int_pass {padding-right: 40px;}

.box.int_pass_check {padding-right: 40px;}

.step_url {/*@naver.com*/position: absolute;
    top: 16px;right: 13px;font-size: 15px;
    color: #8e8e8e;}

.pswdImg {width: 18px;height: 20px;
    display: inline-block;position: absolute;
    top: 50%;right: 16px;margin-top: -10px;
    cursor: pointer;}

#bir_wrap {display: table;width: 100%;}

#bir_yy {display: table-cell;width: 147px;   
}

#bir_mm {display: table-cell;width: 147px;
    vertical-align: middle}

#bir_dd {display: table-cell;width: 147px;}

#bir_mm, #bir_dd {padding-left: 10px;}

select { width: 100%;height: 29px;font-size: 15px;background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;-webkit-appearance: none;display: inline-block;
    text-align: start;border: none;
    cursor: default;font-family:'나눔고딕'}

.member_delete{display:flex;justify-content:space-between;color:#6B6B6B;margin-top:28px}
.member_delete ul li a{text-decoration:underline;}
#fMale{margin-left:42px}
.join_title label{font-weight:bold}

/* 에러메세지 */

.error_next_box {margin-top: 9px;font-size: 12px;color: red;display: none;}

#alertTxt {position: absolute; top: 19px;
right: 38px;font-size: 12px;color: red;display: none;}

/* 버튼 */

.btn_area {margin-bottom:20px;margin-top:30px;text-align:center}

#btnModify{width:100%;height:45px;border: 0;cursor: pointer;color: #fff;background-color: #F99319;font-size: 14px;
font-weight: 400;border-radius:5px;}
    
@media screen and (min-width:1080px){
    #btnModify{width:330px;height:45px;border:0;cursor: pointer;color: #fff;background-color: #F99319;font-size: 14px;
    font-weight:400;border-radius:5px;margin-top:-10px}
    .join_title label{position:relative;left:-114px;top:35px}
    #gender input{margin-top:15px}

}