<a href="" id="goingTo_top"><i class="fal fa-arrow-up" style="font-size: 16px; text-align: center"></i></a>
<footer id="footer" class="footer">
    
    <div class="footer-top-buttons only-pc">
        <ul class="footer-buttons black">
            <li><a href="https://ftc.go.kr/bizCommPop.do?wrkr_no=5098105501">사업자정보확인</a></li>
            <li class="divider"></li>
            <li><a href="/privacypolicy">개인정보처리방침</a></li>
            <li class="divider"></li>
            <li><a href="/terms">이용약관</a></li>
        </ul>

    </div>
    <div>
        
        <div class="footer-top-area">
            <div>
                <div class="footer-item customer-center align-center">
                    <p class="title">고객센터</p>
                    <p class="text-regular bold">
                        070-4366-3299
                    </p>
                    <p>
                        월~금 10:00~17:00<br>
                        점심시간 12:00~13:00<br>
                        토,일,공휴일 휴무
                    </p>
                </div>
                <div class="footer-item footer-notice align-center">
                    <p class="title">공지사항</p>
                    <ul class="">
                        <li><a>1월 연휴 배송안내</a></li>
                        <li><a>1월 연휴 배송안내</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="footer-item accounts align-center">
                    <p class="title">계좌번호</p>
                    <p class="text-regular bold">
                        농협<br class="only-mobile"> 317-0021-9321-31
                    </p>
                    <p>
                        예금주 (주)데이터플로
                    </p>
                </div>
                <div class="footer-item ask-buttons align-center">
                    <button><img src="/images/talk_icon1_footer@2x.png" style="width:17px">채널톡 문의</button>
                    <a href="/s_inquiry"><button><img src="/images/talk_icon2_footer@2x.png" style="width:17px">판매자 문의 (주문건)</button></a>
                </a></div>
            </div>
        </div>
        
        <div class="footer-bottom-area">
            <div class="footer_sns">
                <ul>
                    <li><a href="https://www.facebook.com/dietfarm/"><img src="/images/facebook_ico3_footer@2x.png"></a></li>
                    <li><a href="https://www.instagram.com/diet_farm/
                        "><img src="/images/insta_ico3_footer@2x.png"></a></li>
                    <li><a href="https://blog.naver.com/diet_farm"><img src="/images/blog_ico3_footer@2x.png"></a></li>
                </ul>
            </div>
            <div class="bottom-buttons only-mobile">
                
                <ul class="footer-buttons">
                    <li><a href="https://ftc.go.kr/bizCommPop.do?wrkr_no=5098105501">사업자정보확인</a></li>
                    <li class="divider"></li>
                    <li><a href="/privacypolicy">개인정보처리방침</a></li>
                    <li class="divider"></li>
                    <li><a href="/terms">이용약관</a></li>
                </ul>
            </div>
            <div class="footer-item dietfarm-info">
                <p class="company-name"><span class="black bold">(주)데이터플로</span>대표 : 유승열</p>
                <div>
                    <p>사업자등록번호 : 509-81-05501</p>
                    <p>통신판매업 신고번호 : 제 2021-서울강남-00471 호</p>
                    <p>건강기능 식품 판매업 : 제 2021-0105159 호</p>
                    <p>개인정보보호책임자 : 유승열</p>
                    <p>주소 : 서울시 강남구 테헤란로 8길 11-4 신도빌딩, 2층 202호</p>
                    <p>팩스 : 070-7500-7691</p>
                    <p>이메일 : <span class="orange">dietfarm119@gmail.com</span></p>
                </div>
                <div>
                    <p><a href="https://docs.google.com/forms/d/1UTYtvw_KOKximrLZnCrRznXiF8jBMFXpDFjH-06taqo/edit?ts=5ffe5d24">입점문의 : <span class="orange">입점문의하기</span></a></p>
                    <p>제휴문의 : <span class="orange">dietfarm119@gmail.com</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="pages shadow">
    <ul>
        <li><a href="/"><img src="/images/home_ico_menu.png" style="width: 34px; height: 40px;"></a></li>
        <li><a href="/search-form"><img src="/images/search_ico_menu.png"
        style="width: 34px; height: 40px;"></a></li>
        <li><a href="/pick-product"><img src="/images/heart_ico_menu.png" style="width: 34px; height: 40px;"></a></li>
        <li><a href="/mypage"><img src="/images/myfarm_ico.png" style="width: 34px; height: 40px;"></a></li>
    </ul>
</div>

<script src="/js/footer.js"></script>