<div class="wide_line"></div>
    <ul class="footer_top">
        <li>사업자정보확인 <span><img src="./images/l_icon_category@2x.png" alt="|"></span></li>
        <li>이용약관 <span><img src="./images/l_icon_category@2x.png" alt="|"></span></li>
        <li>개인정보처리방침</li>
    </ul>
    <footer id="footer">

        <div class="footer_btm">
            <ul class="dietFarm_info">
                <li>다이어트팜 정보</li>
                <li>(주)데이터플로 대표: 유승열</li>
                <li>사업자등록번호 : 509-81-05501</li>
                <li>통신판매업 신고번호 :</li>
                <li>건강기능식품 판매업 : 제 2021-0105159 호</li>
                <li>개인정보보호책임자 : 유승열</li>
                <li>주소 : 서울시 강남구 테헤란로8길 11-4 신도빌딩,2층 202호</li>
                <li>팩스 :070-7500-7691</li>
                <li>이메일 : <span>dietfarm119@gmail.com</span></li>
                <li>입점문의 : <span>입점문의하기</span></li>
                <li>제휴문의 : <span>dietfarm119@gmail.com</span></li>
            </ul>

            <ul class="account">
                <li>계좌번호</li>
                <li>농협 317-0021-9321-31</li>
                <li>예금주 (주)데이터플로</li>
                <li>공지사항</li>
                <li>1월 연휴 배송안내</li>
                <li>주석 연휴 배송안내</li>
            </ul>

            <ul class="customer_center">
                <li>고객센터</li>
                <li>070-4366-3299</li>
                <li>월~금 10:00~17:00</li>
                <li>점심시간 12:00~13:00</li>
                <li>토,일,공휴일 휴무</li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </footer>