<style type="text/css">
    html, body, body div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
        margin:0;
        padding:0;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    ol,ul,li {
        list-style:none;
    }
    
    i,em,address{
        font-style:normal
    }
    
    /* Hand cursor on clickable input elements */
    label, input[type="button"],
    input[type="submit"],
    input[type="image"],
    button,
    img.btn{ 
        cursor: pointer;
    }
    
    @media screen and (min-width:1080px){
    .pages{display:none}
    .customer_center{position:absolute;top:120px;left:350px}
    .account{position:absolute;top:120px;left:140px}
    .notice{position:absolute;top:240px;left:140px}
    .channelTalk{position:absolute;top:260px;left:370px}
    .grand_title{position:absolute;top:30px;}
    .grand_title img{position:relative;left:-4px;top:-2px}
    .footer_bottom_ctt{position:relative;top:20px}
    }
    .footer_inq_info>.top_wrap {width: 90%;margin: 0 auto;display: flex;padding-top: 30px}
    .footer_inq_info .bottom_wrap {width: 90%;margin: 0 auto;display: flex;padding-top: 30px;
    }
    .footer_inq_info ul {width: 50%}
    .footer ul>li {padding: 2px 0}
    .footer ul>li>.top {font-size:12px;font-weight: 700;color: #6B6B6B;padding-bottom: 10px}
    .footer ul li .middle {font-size: 15px;font-weight: 700;color: #000;padding-bottom: 10px}
    .footer ul li .bottom {font-size: 12px;font-weight: 500;color: #6B6B6B}
    .channelTalk {font-size: 10px;font-weight: 500;color: #000}
    .channelTalk>li {width: 144px;height: 27px;margin: 0 auto;border: 1px solid #878787;
      line-height: 27px;border-radius: 5px;margin-bottom: 6px}
    .channelTalk>li>img {margin-right: 4px;vertical-align: middle}
    
    /* footer bottom */
    .footer_bottom {width: 100%;margin: 0 auto;font-size: 12px;background: #F4F4F4; margin-top: 20px;padding-bottom:70px}
    .footer_bottom>.footer_bottom_wrap {width: 90%;margin: 0 auto}
    .footer_bottom .grand_title {display: flex;padding-top: 20px}
    .grand_title li {font-weight: 700;color: #878787;padding-right: 10px}
    .grand_title li>span {margin-left: 5px}
    .footer_bottom_ctt {padding-top: 20px}
    .footer_bottom_ctt ul li {text-align:left}
    .represent {display: flex}
    .footer_bottom_ctt .companyName {font-weight: 700;}
    .top_wrap li {text-align: center;}
    .bottom_wrap li {text-align: center;}
    .company_info span.point {color: #EFA543; font-weight: 700;}
    .importPoint span.point {color: #EFA543; font-weight: 700;}
    .importPoint {margin-top: 10px;}
    
    /* 하단 버튼 */
    #footer .pages ul {width: 100%;display: flex;flex: 1;justify-content: space-between;
      padding: 0 30px;position: fixed;bottom:0;background: #fff;z-index: 99}
    </style>
    </head>
    <body>
        <footer id="footer" class="footer">
        <div id="scroll_wrap">
            <a href="" id="goingTo_top"><i class="fal fa-arrow-up" style="font-size: 16px; text-align: center"></i></a>
            <div class="footer_inq_info">
                <div class="top_wrap">
                    <ul class="customer_center">
                        <li>
                            <p class="top">고객센터</p>
                        </li>
                        <li>
                            <p class="middle">070-4366-3299</p>
                        </li>
                        <li>
                            <p class="bottom">월~금 10:00~17:00</p>
                        </li>
                        <li>
                            <p class="bottom">점심시간 12:00~13:00</p>
                        </li>
                        <li>
                            <p class="bottom">토,일,공휴일 휴무</p>
                        </li>
                    </ul>
                    <ul class="account">
                        <li>
                            <p class="top">계좌번호</p>
                        </li>
                        <li>
                            <p class="middle">농협<br>317-0021-9321-31</p>
                        </li>
                        <li>
                            <p class="bottom">예금주 (주)데이터플로</p>
                        </li>
                    </ul>
                </div>
    
                <div class="bottom_wrap">
                    <ul class="notice">
                        <li>
                            <p class="top">공지사항</p>
                        </li>
                        <li>
                            <p class="bottom">1월 연휴 배송안내</p>
                        </li>
                        <li>
                            <p class="bottom">추석 연휴 배송안내</p>
                        </li>
                    </ul>
    
                    <ul class="channelTalk">
                        <li><img src="/images/talk_icon1_footer.png" alt="채널톡1">채널톡 문의</li>
                        <li><img src="/images/talk_icon2_footer.png" alt="채널톡2">판매자 문의 (주문건)</li>
                    </ul>
                </div>
            </div>
    
            <section class="footer_bottom">
                <div class="footer_bottom_wrap">
                    <ul class="grand_title">
                        <li>사업자정보확인 <span><img src="/images/l_icon_category.png" alt="구분바"></span></li>
                        <li>개인정보처리방침 <span><img src="/images/l_icon_category.png" alt="구분바"></span></li>
                        <li>이용약관</li>
                    </ul>
    
                    <div class="footer_bottom_ctt">
                        <ul class="represent">
                            <li class="companyName">(주)데이터플로&nbsp;</li>
                            <li>대표 : 유승열</li>
                        </ul>
                        <ul class="company_info">
                            <li>사업자등록번호 : 509-81-05501</li>
                            <li>통신판매업 신고번호 :</li>
                            <li>건강기능식품 판매업 : 제 2021-0105159 호</li>
                            <li>개인정보보호책임자 : 유승열</li>
                            <li>주소 : 서울시 강남구 테헤란로8길 11-4 신도빌딩, 2층 202호</li>
                            <li>팩스 : 070-7500-7691</li>
                            <li>이메일 : <span class="point">dietfarm119@gmail.com</span></li>
                        </ul>
                        <ul class="importPoint">
                            <li>입점문의 : <span class="point">입점문의하기</span></li>
                            <li>제휴문의 : <span class="point">dietfarm119@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </section>
            <article class="pages">
                <ul>
                    <li><a href="/"><img src="/images/home_ico_menu.png" style="width: 34px; height: 40px;"></a></li>
                    <li><a href="/search-form"><img src="/images/search_ico_menu.png"
                                style="width: 34px; height: 40px;"></a></li>
                    <li><a href="/zzim"><img src="/images/heart_ico_menu.png" style="width: 34px; height: 40px;"></a></li>
                    <li><a href="/mypage"><img src="/images/my_ico_menu.png" style="width: 34px; height: 40px;"></a></li>
                </ul>
            </article>
        </div>
    </footer>