<a href="" id="goingTo_top"><i class="fal fa-arrow-up" style="font-size: 16px; text-align: center"></i></a>
<footer id="footer" class="footer">
    <div class="footer_top">
        <ul>
            <li>사업자정보확인</li>
            <li><img src="../images/l_icon_category.png" alt="구분바"></li>
            <li>이용약관</li>
            <li><img src="../images/l_icon_category.png" alt="구분바"></li>
            <li>개인정보처리방침</li>
        </ul>
    </div>
    <div class="footer_ctt">

    </div>
</footer>