<footer id="footer">
    <div id="scroll_wrap">
        <a href="" id="goingTo_top"><i class="fal fa-arrow-up" style="font-size: 16px; text-align: center;"></i></a>
        <div class="footer_inq_info">
            <div class="top_wrap">
                <ul class="customer_center">
                    <li>
                        <p class="top">고객센터</p>
                    </li>
                    <li>
                        <p class="middle">070-4366-3299</p>
                    </li>
                    <li>
                        <p class="bottom">월~금 10:00~17:00</p>
                    </li>
                    <li>
                        <p class="bottom">점심시간 12:00~13:00</p>
                    </li>
                    <li>
                        <p class="bottom">토,일,공휴일 휴무</p>
                    </li>
                </ul>
                <ul class="account">
                    <li>
                        <p class="top">계좌번호</p>
                    </li>
                    <li>
                        <p class="middle">농협<br>317-0021-9321-31</p>
                    </li>
                    <li>
                        <p class="bottom">예금주 (주)데이터플로</p>
                    </li>
                </ul>
            </div>

            <div class="bottom_wrap">
                <ul class="notice">
                    <li>
                        <p class="top">공지사항</p>
                    </li>
                    <li>
                        <p class="bottom">1월 연휴 배송안내</p>
                    </li>
                    <li>
                        <p class="bottom">추석 연휴 배송안내</p>
                    </li>
                </ul>

                <ul class="channelTalk">
                    <li><img src="/images/talk_icon1_footer.png" alt="채널톡1">채널톡 문의</li>
                    <li><img src="/images/talk_icon2_footer.png" alt="채널톡2">판매자 문의 (주문건)</li>
                </ul>
            </div>
        </div>

        <section class="footer_bottom">
            <div class="footer_bottom_wrap">
                <ul class="grand_title">
                    <li>사업자정보확인 <span><img src="/images/l_icon_category.png" alt="구분바"></span></li>
                    <li>개인정보처리방침 <span><img src="/images/l_icon_category.png" alt="구분바"></span></li>
                    <li>이용약관</li>
                </ul>

                <div class="footer_bottom_ctt">
                    <ul class="represent">
                        <li class="companyName">(주)데이터플로&nbsp;</li>
                        <li>대표 : 유승열</li>
                    </ul>
                    <ul class="company_info">
                        <li>사업자등록번호 : 509-81-05501</li>
                        <li>통신판매업 신고번호 :</li>
                        <li>건강기능식품 판매업 : 제 2021-0105159 호</li>
                        <li>개인정보보호책임자 : 유승열</li>
                        <li>주소 : 서울시 강남구 테헤란로8길 11-4 신도빌딩, 2층 202호</li>
                        <li>팩스 : 070-7500-7691</li>
                        <li>이메일 : <span class="point">dietfarm119@gmail.com</span></li>
                    </ul>
                    <ul class="importPoint">
                        <li>입점문의 : <span class="point">입점문의하기</span></li>
                        <li>제휴문의 : <span class="point">dietfarm119@gmail.com</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <article class="pages">
            <ul>
                <li><a href="/"><img src="/images/home_ico_menu.png" style="width: 34px; height: 40px;"></a></li>
                <li><a href="/search-form"><img src="/images/search_ico_menu.png"
                            style="width: 34px; height: 40px;"></a></li>
                <li><a href="/zzim"><img src="/images/heart_ico_menu.png" style="width: 34px; height: 40px;"></a></li>
                <li><a href="/mypage"><img src="/images/my_ico_menu.png" style="width: 34px; height: 40px;"></a></li>
            </ul>
        </article>
    </div>
</footer>