<footer id="footer">
  <div class="footer_container">
      <div class="footer_links">
        <div class="footer_link--wrapper">
          <div class="footer_link--items1">
            <h2>고객센터</h2>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;070-4366-3299</span>
        <p class="p1">&nbsp;&nbsp;월~금 10:00~17:00</p>
        <p>점심시간 12:00~13:00</p>
        <p>&nbsp;&nbsp;토,일,공휴일 휴무</p>
          </div>
          <div class="footer_link--items">
            <a href="#"><img src="/images/talk_ico_footer.png" style="width:55%;margin-left:15px;margin-top:50px"></a>
          </div>
        </div>
        <div class="footer_link--wrapper">
          <div class="footer_link--items2">
            <h2>계좌번호</h2>
          <span>&nbsp;예금주 (주)데이터플로</span>
        <p>농협 317-0021-9321-31</p>
        <p>우리 333-3333-3333-33</p>
        <p>국민 333-3333-3333-33</p>
        <p>신한 333-3333-3333-33</p>
        <p>기업 333-3333-3333-33</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;토,일,공휴일 휴무</p>
          </div>
          <div class="footer_link--items3">
            <h2>공지사항</h2>
            <p><a href="#">&nbsp;&nbsp;1월 연휴 배송안내</a> </p>
            <p><a href="#">&nbsp;추석 연휴 배송안내</a></p>
          </div>
        </div>
      </div>
      <section class="footer_bottom">
        <ul class="menu">
                <li><a href="">사업자정보확인</a></li>
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
            </ul>
            <ul class="addr">
                <li>(주)데이터플로 대표 : 유승열</li>
                <li>사업자등록번호 : 509-81-05501</li>
                <li>통신판매업 신고번호 : </li>
                <li>건강기능식품 판매업 : 제 2021-0105159 호</li>
                <li>개인정보보호책임자 : 유승열</li>
                <li class="addr01">주소 : 서울시 강남구 테헤란로8길 11-4 신도빌딩, 2층 202호</li>
                <li>팩스 : 070-7500-7691</li>
                <li>이메일 : <span>dietfarm119@gmail.com</span></li>
                <li>입점문의 : <span>입점문의하기</span></li>
                <li>제휴문의 : <span>dietfarm119@gmail.com</span></li>				
                
            </ul>
            
      <article class="pages">
        <ul>
            <li><a href="/"><img src="/images/home_ico_menu.png"></a></li>
            <li><a href="/search-form"><img src="/images/search_ico_menu.png"></a></li>
            <li><a href="/zzim"><img src="/images/heart_ico_menu.png"></a></li>
            <li><a href="/my"><img src="/images/my_ico_menu.png"></a></li>
        </ul>
      </article>
      </section>

  </div> 
</footer>