
<header id="header_common" 
    class="<% if(currentPage != 'main' && currentPage != 'products') { %>sub<% } else { %>main<% } %>" >

    <div class="top_util">
        <ul class="menu_list" id="menu_list_header">
            <% if(isLoggedIn != true) { %>
                <!-- <li class="join" style="color:#F99319">
                    <a href="/sign-up-form">회원가입</a>
                </li>
                <li class="bar"><img src="/images/l_icon_category@2x.png"></li> -->
                <li class="login_top">
                    <a href="/login-form">로그인</a>
                </li>
                <li class="bar"><img src="/images/l_icon_category@2x.png"></li>
            <% } %>
            <li class="cs_center">
                <a href="/cs-center">고객센터</a>
            </li>
            <% if(isLoggedIn != true) { %>
                <li class="cart">
                    <a href="/cart"><img src="/images/cart_icon_main@2x.png" alt="장바구니"></a>
                </li>
                <li class="mypage">
                    <a href="/orderlist"><img src="/images/dietfarm_mypage.png" alt="마이페이지" style="width:15px"></a>
                </li>
                <li class="pick">
                    <a href="/pick-product"><img src="/images/afterheart_ico_main.png" alt="찜한 메뉴"></a>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="main_banner">
        <a href="/product/P00879"><img src="/images/doctor_banner@2x.png" alt="배너" style="width:100%;height:42px"></a>
    </div>
    <div class="menu_btns">
        <div class="btnMenu  <% if(currentPage == 'category' ) { %> hide-mobile <% } %>">
            <a href="#">
                <img
                    src="/images/category_ico_main.png"
                    alt="메뉴 아이콘"
                    style="width: 19px; height: 14px;">
            </a>
        </div>
        <% if (currentPage != 'main' && currentPage != 'products' && currentPage != '마이팜' && currentPage != '찜한 상품' && currentPage != '검색') { %>
        <div class="detail_title_header">
           <script type="text/javascript">
                function goBack() {
                    window
                        .history
                        .back();
                }
            </script>
            <div class="btnback">
                <a href="#" value="취소"  onClick="history.back(); return false"><img src="/images/leftarrow_ico_my.png" alt="" style="width:17px"></a>
            </div>
        </div>
        <% } %>
        <div class="comp_logo <% if(currentPage != 'main' && currentPage != 'products' ) { %> hide-mobile <% } %>">
            <a href="/"><img src="/images/logo_new@2x.png"></a>
        </div>
        <% if (currentPage != 'main' && currentPage != 'products') { %>
            <div class="myPage_title" style="font-size:16px;font-weight:bold">
                <h2><%=currentPage %></h2>
            </div>
        <% } %> 
        <div class="btnCart">
            <a href="/cart" onclick="mCart('on');">
                <img
                    src="/images/cart_icon_main@2x.png"
                    alt="장바구니 아이콘"
                    style="width: 21px; height: 21px;">
                <div class="count_num"></div>
            </a>
        </div>
    </div>
    <div class="header_wrap">
    <div class="nav_wrap <% if(currentPage != 'main' && currentPage != 'products' && currentPage != 'category') { %> hide-mobile <% } %>" >
        <nav id="nav">
            
        </nav>
       
        <div class="searchbox">
            <form id="search-form" action="/search-list">
                <div class="search">
                    <input type="text" name="keyword" class="round" placeholder="검색해보세요.">
                    <a href="#"><img src="/images/search_ico.png"></a>
                </div>
            </form>
        </div>
    
    </div>
</div>
    <script>
            /* 모바일 제품상세 탭메뉴 lnb 언더바 애니메이션 */
            $(function() { 
                $('#nav a').on('click',function(){
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
            });
        });
    </script>
    
</header>
<div class="sideMenu">
    <div class="sideMenu_Header">
        <div class="slideMenu_top">
            <div class="slideMenu_close">
                <a href="#"><img src="/images/category_ico_main.png" alt="메뉴 아이콘"></a>
            </div>
            <div class="slideMenu_title">
                <h2>카테고리</h2>
            </div>
            <div class="slideMenu_cart">
                <a href="/cart"><img src="/images/cart_ico_main.png" alt="카트 아이콘"></a>
            </div>
        </div>
        <div class="tabMenu">
            <ul class="tab_wrap">
                <li class="active on" data-tab="tab1">
                    <span>품목</span>
                </li>
                <li data-tab="tab2" class="" id="possible">
                    <span>브랜드</span>
                </li>
                <span></span>
            </ul>
        </div>
    </div>
    <div class="sideMenu_ctt">
        <div id="tab1" class="tab_cont active">
            <ul class="mDepth01">
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q">
                            <span><img src="/images/salad_icon_category.png" alt="#"/>도시락/샐러드</span>
                            <img class="downArrow" src="/images/downarrow_ico_main.png"
                                alt="화살표" style="width:11px;height:11px">
                        </dt>
                        <dd class="subMenu faq_a" style="top: 0;">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>다이어트도시락</li>
                                </a>
                                <a href="#">
                                    <li>건강도시락</li>
                                </a>
                                <a href="#">
                                    <li>샐러드</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                
            </ul>
            <div class="side_banner">
             <img src="/images/doctor_banner.png" style="width:100%">
             <img src="/images/event_icon_banner@2x.png" style="width:100%">   
            </div>
        </div>
        <div id="tab2" class="tab_cont" style="display: none">
            <div class="brandCate_top">
                <div id="searchUsers" class="instant-search">
                    <div class="instant-search__input-container">
                        <input
                            class="instant-search__input"
                            type="text"
                            spellcheck="false"
                            placeholder="브랜드명을 검색해보세요."
                            style="font-size:14px;width:90%">
                        <a href="#"><img src="/images/grayx_icon_login.png" alt="취소"></a>
                    </div>
                    <div class="search_box_ico">
                        <a href="#"><img src="/images/searchbox_icon_category.png" alt=""></a>
                    </div>
                </div>
                <div class="categ">
                    <ul>
                        <li class="all">
                            <a hreef="#">전체</a>
                        </li>
                        <li><img src="/images/l_icon_category@2x.png"></li>
                        <li>
                            <a href="#">인기순</a>
                        </li>
                        <li><img src="/images/l_icon_category@2x.png"></li>
                        <li>
                            <a href="#">좋아요</a>
                        </li>
                    </ul>
                </div>
            </div>
            <section class="brand">
                <ul class="mDepth01">
                    <li>
                        <a href="">해담은</a>
                        <button class="favorite-btn"><img class="like like-yes"></button>
                    </li>
                    
                </ul>
            </section>
        </div>
    </div>
</div>
<!-- //sideMenu -->
<script src="/js/header.js"></script>