
<div id="headerwrap">
    <div id="header">
        <h1><a href="/"><img src="/images/diet_farm_logo.png" alt="다이어트 팜"></a></h1>
        <nav id="gnb" class="gnb">
            <!-- <a href="index.html" class="is-current">홈</a> -->
        </nav>
    </div>
    <!--header-->
</div>
<div id="mHeader">
    <h1><a href="/"><img src="/images/diet_farm_logo.png" alt="다이어트 Farm"></a></h1>
    <div class="btn_ctn">
        <div class="btnMenu">
            <a href="#">
                <img src="/images/category_ico_main.png" alt="메뉴 아이콘">
            </a>
        </div>
    </div>
    <div class="btnCart"><a href="/cart" onclick="mCart('on');"><img src="/images/cart_ico_main.png" alt="장바구니 아이콘" style="width:27px;height:27px"></a></div>
    <div id="m_cart">
        <a href="#"></a>
    </div>

    <div class="sideMenu">
       <div class="sideMenu_ctt">
           <div>
                <div class="slideMenu_top">
                    <div class="slideMenu_close">
                        <a href="#"><img src="/images/category_ico_main.png" alt="메뉴 아이콘"></a>
                    </div>
                    <div class="slideMenu_title">
                        <h2>카테고리</h2>
                    </div>
                    <div class="slideMenu_cart">
                        <a href="/cart"><img src="/images/cart_ico_main.png" alt="카트 아이콘"></a>
                    </div>
                    
                </div>
                <div class="tabMenu">
                    <ul class="tab_wrap">
                        <li class="active on" data-tab="tab1"><a href="javascript:void(0);">품목</a></li>
                        <li data-tab="tab2" class="" id=""><a href="javascript:void(0);">브랜드</a></li>
                        <span></span>
                    </ul>
                </div>
            </div>
        

        <div id="tab1" class="tab_cont active">
            <ul class="mDepth01">
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/salad_icon_category.png" alt="#" />도시락/샐러드
                            </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a>
                        </dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>다이어트도시락</li>
                                </a>
                                <a href="#">
                                    <li>건강도시락</li>
                                </a>
                                <a href="#">
                                    <li>샐러드</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/meal_icon_category.png" alt="#" />간편식
                            </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a>
                        </dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>빵/ 떡/ 면</li>
                                </a>
                                <a href="#">
                                    <li>쉐이크/ 시리얼/ 두유</li>
                                </a>
                                <a href="#">
                                    <li>건강반찬/ 기타</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/chicken_icon_category.png" alt="#" />닭가슴살 </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a>
                        </dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>닭가슴살</li>
                                </a>
                                <a href="#">
                                    <li>큐브/ 볼</li>
                                </a>
                                <a href="#">
                                    <li>소시지</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/snack_icon_category.png" alt="#">건강간식
                            </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a>
                        </dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>바/ 쿠키</li>
                                </a>
                                <a href="#">
                                    <li>아이스크림/ 요거트</li>
                                </a>
                                <a href="#">
                                    <li>젤리/ 잼</li>
                                </a>
                                <a href="#">
                                    <li>고구마/ 계란/ 견과</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/drink_icon_category.png" alt="#" />음료/소스 </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a></dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>티/ 분말</li>
                                </a>
                                <a href="#">
                                    <li>주스/ 즙</li>
                                </a>
                                <a href="#">
                                    <li>소스/ 조미료/ 향신료</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/fruit_icon_category.png" alt="#" />신선식품 </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a>
                        </dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>정육</li>
                                </a>
                                <a href="#">
                                    <li>수산</li>
                                </a>
                                <a href="#">
                                    <li>야채</li>
                                </a>
                                <a href="#">
                                    <li>과일</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/chicken_icon_category.png" alt="#" />닭가슴살 </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a>
                        </dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>닭가슴살</li>
                                </a>
                                <a href="#">
                                    <li>큐브/ 볼</li>
                                </a>
                                <a href="#">
                                    <li>소시지</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/chicken_icon_category.png" alt="#" />닭가슴살 </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a>
                        </dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>닭가슴살</li>
                                </a>
                                <a href="#">
                                    <li>큐브/ 볼</li>
                                </a>
                                <a href="#">
                                    <li>소시지</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class="sideMenu_detail faq_q"><a href="#"><img src="/images/chicken_icon_category.png" alt="#" />닭가슴살 </a><a href="#"><img class="downArrow" src="/images/downarrow_ico_main.png" alt="화살표" style="width:11px;height:11px"></a>
                        </dt>
                        <dd class="subMenu faq_a">
                            <ul class="gnb_depth02">
                                <a href="#">
                                    <li>전체보기</li>
                                </a>
                                <a href="#">
                                    <li>닭가슴살</li>
                                </a>
                                <a href="#">
                                    <li>큐브/ 볼</li>
                                </a>
                                <a href="#">
                                    <li>소시지</li>
                                </a>
                            </ul>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div id="tab2" class="tab_cont">
            <div id="searchUsers" class="instant-search">
                <div class="instant-search__input-container" style="width:90%">
                    <input class="instant-search__input" type="text" spellcheck="false" placeholder="브랜드명을 검색해보세요." style="font-size:14px;width:90%">
                    <a href="#"><img src="/images/grayx_icon_login.png" alt="취소"></a>
                </div>
                <div class="search_box_ico"><a href="#"><img src="/images/searchbox_icon_category.png" alt=""></a></div>
            </div>

            <section class="brand">
                <div class="categ">
                    <ul>
                        <li class="all"><a hreef="#">전체</a></li>
                        <li><img src="/images/l_icon_category@2x.png"></li>
                        <li><a href="#">인기순</a></li>
                        <li><img src="/images/l_icon_category@2x.png"></li>
                        <li><a href="#">좋아요</a></li>
                    </ul>
                </div>
                <ul>
                    <li>
                        <ul>
                            <li><a href="#">해담은</a>
                            <li><a href="#"><img src="/images/heart_icon_menu.png"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">파프리카푸드</a>
                            <li><a href="#"><img src="/images/heart_icon_menu.png"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">해담은2</a>
                            <li><a href="#"><img src="/images/heart_icon_menu.png"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">파프리카푸드2</a>
                            <li><a href="#"><img src="/images/heart_icon_menu.png"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">해담은</a>
                            <li><a href="#"><img src="/images/heart_icon_menu.png"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">파프리카푸드</a>
                            <li><a href="#"><img src="/images/heart_icon_menu.png"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">해담은2</a>
                            <li><a href="#"><img src="/images/heart_icon_menu.png"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="#">파프리카푸드2</a>
                            <li><a href="#"><img src="/images/heart_icon_menu.png"></a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
      </div>
    </div><!-- //sideMenu -->
</div>
<!--//모바일헤더-->

<script src="/js/header.js"></script>