<!-- web main -->
<main id="main">
    <div class="main_contents">

        <div class="left">
            <h3>마이팜</h3>
            <div class="left_ctn">
                <ul>
                    <li><img src="/images/basket_ico.png"></li>
                    <li><span>김수아님</span></li>
                    <li>내정보 <span><i class="fas fa-chevron-right"></i></span></li>
                </ul>
            </div>
        </div>

        <div class="center">
            <h3>포인트</h3>
            <p>1000 원 <span><i class="fas fa-chevron-right"></i></span></p>
        </div>

        <div class="right">
            <h3>쿠폰</h3>
            <p>3개 <span><i class="fas fa-chevron-right"></i></span></p>
        </div>

    </div>
</main>

<section id="web_contents">
    <div class="contents_ctn">

        <nav class="content_lnb">
            <ul>
                <li><a href="http://localhost:3000/orderlist">주문내역</a></li>
                <li><a href="http://localhost:3000/mypagedelivery-management">배송지 관리</a></li>
                <li><a href="http://localhost:3000/mypageproductreview">상품 리뷰</a></li>
                <li><a href="http://localhost:3000/mypageproductinquiry">상품 문의</a></li>
                <li><a href="http://localhost:3000/mypagesellerinquiry">판매자 문의</a></li>
                <li class="on"><a href="javascript:void(0);">포인트</a></li>
                <li><a href="javascript:void(0);">쿠폰</a></li>
            </ul>
        </nav>

        <div class="body_contents">
            <h3 class="orderList">포인트</h3>

            <div class="order_list_ctn">
                <!-- 여기에 컨텐츠 넣으면 됨 -->

                <!-- 컨텐츠 끝 -->
                <ul class="pager">
                    <li><i class="fas fa-chevron-left"></i></li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li><i class="fas fa-chevron-right"></i></li>
                </ul>
            </div> <!-- order_list_ctn -->

        </div> <!-- body_contents -->
    </div> <!-- contents_ctn -->
</section> <!-- content -->