<div class="main_contents_wrap">
    <div class="main_contents mypage_myinfo">
        <h3>마이팜</h3>
        <div class="main_contents_elements_wrap">
            <div class="mypage_member_info">
            <% if (!isLoggedIn) { %>
            <img src="/images/basket_ico.png" alt="바구니 아이콘">
                   <h3><%=sessionUser.userName %>님</h3>
                   <p><a href="/myinfo-usercheck">내정보<span><i class="fas fa-chevron-right"></i></span></a></p> 
            <% } %>
           </div>
           <div class="mypage_point_info frame400">
                <h3>포인트<img src="/images/point.png" alt="포인트 아이콘"></h3>
                <% if (isLoggedIn) { %>
                    <p v-if="">{{ totalPointAmount }}원<span><i class="fas fa-chevron-right"></i></span></p>
                <% } %>
            
             </div>
         
            <div class="mypage_coupon_info frame400">
                <h3>쿠폰<img src="/images/coupon_ico.png" alt="쿠폰 아이콘"></h3>
                <p>0개<span><i class="fas fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</div>
